<a href="https://colab.research.google.com/github/Pdugovich/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

##Converting 'term' column from string to integer

In [0]:
#Getting expected imports out of the way
import pandas as pd
#didn't end up needing these two
# import numpy as np
# import matplotlib.pyplot as plt

In [0]:
#pulling the zip file from website
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [8]:
#unzipping file to get csv
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [9]:
#Getting a parserwarning for using skipfooter, but it seems to be working
df = pd.read_csv('LoanStats_2018Q4.csv',header=1,skipfooter=2)
#Checked header and footer, and it seems good

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [18]:
#I see there are only two unique values and no null values. Great!
df['term'].value_counts(dropna=False)

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [26]:
#making an example list to make sure my .strip() and casting to int code works
examples = ['36 months','36 months','60 months']
#made sure to include leading white space in ' months'
cleaned_examples = [int(item.strip(' months')) for item in examples]
print(cleaned_examples)
#list comprhension worked as expected on example data

[36, 36, 60]

In [0]:
#creating a function to use with .apply()
def remove_months_to_int(item):
  return int(item.strip(' months'))

In [0]:
#replacing the term column with the cleaned version
df['term'] = df['term'].apply(remove_months_to_int)

In [0]:
#Checking to make sure it looks like I expect
df['term']

##Creating 'loan_status_is_great' column

In [39]:
df.head()
df.describe(exclude='number')

       int_rate   grade  ... settlement_status settlement_date
count    128412  128412  ...               111             111
unique       46       7  ...                 3               7
top      13.56%       A  ...            ACTIVE        Jul-2019
freq       6974   38011  ...                99              43

[4 rows x 35 columns]

In [0]:
#creates column where 'Current' or 'Fully Paid' = True
df['loan_status_is_great'] = df['loan_status'].str.contains('Current','Fully Paid')

In [0]:
#replaces those T/F values with 1/0
df['loan_status_is_great'] = df['loan_status_is_great'].replace(False,0).replace(True,1)

In [50]:
#Checking to make sure everything looks good
df['loan_status_is_great']

0         1.0
1         1.0
2         0.0
3         1.0
4         1.0
5         1.0
6         1.0
7         1.0
8         0.0
9         1.0
10        1.0
11        1.0
12        1.0
13        1.0
14        1.0
15        1.0
16        1.0
17        1.0
18        1.0
19        0.0
20        1.0
21        1.0
22        1.0
23        1.0
24        1.0
25        1.0
26        1.0
27        1.0
28        1.0
29        1.0
         ...
128382    1.0
128383    1.0
128384    1.0
128385    1.0
128386    1.0
128387    1.0
128388    1.0
128389    0.0
128390    0.0
128391    0.0
128392    1.0
128393    1.0
128394    1.0
128395    1.0
128396    1.0
128397    0.0
128398    1.0
128399    1.0
128400    1.0
128401    1.0
128402    1.0
128403    1.0
128404    0.0
128405    1.0
128406    1.0
128407    0.0
128408    1.0
128409    1.0
128410    1.0
128411    1.0
Name: loan_status_is_great, Length: 128412, dtype: float64

## Creating 'last_pymnt_d_month' and 'last_pymnt_d_year' columns

In [42]:
df['last_pymnt_d'].value_counts(dropna=False)

Aug-2019    105424
Jul-2019      8087
May-2019      2575
Jun-2019      2372
Apr-2019      2358
Mar-2019      1984
Feb-2019      1915
Jan-2019      1561
Dec-2018      1054
Nov-2018       679
Oct-2018       234
NaN            159
Sep-2019        10
Name: last_pymnt_d, dtype: int64

In [0]:
#I figured I could do it all in one line and I was correct
#Creates a new column for month that converts last_pymnt_d to dt format, 
#then pulls the month into last_pymnt_d_month
df['last_pymnt_d_month'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True).dt.month

In [0]:
#Same code as above but for year
df['last_pymnt_d_year'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True).dt.year

In [0]:
df['last_pymnt_d_year'].value_counts(dropna=False)

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01