_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [55]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-07-18 20:48:50--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.3’

LoanStats_2018Q4.cs     [                <=> ]  21.51M   812KB/s    in 28s

2019-07-18 20:49:19 (796 KB/s) - ‘LoanStats_2018Q4.csv.zip.3’ saved [22559146]

In [56]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: /bin/bash: y: command not found

In [57]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4456.17","4456.17","895.96","895.96","543.83","352.13","0.0","0.0","0.0","Jun-2019","180.69","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 14.47%","587.82","C","C2","teacher","10+ years","OWN","110000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","117xx","NY","26.43","1","Jan-1997","0","7","","23","0","39053","45.7%","49","w","23533.24","23533.24","2908.95","2908.95","1466.76","1442.19","0.0","0.0","0.0","May-2019","587.82","Jul-2019","Jun-2019","0","7","1","Individual","","","","0","0","95648","0","3","0","0","35","54716","23","1","2","8422","39","85500","0","1","0","2","4159","34837","44.5","0","0","263","246","10","10","0","48","","","","0","9","13","10","14","21","19","27","13","23","0","0","1","1","98","10","0","0","179321","95648","62800","91424","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","8788.59","8788.59","1612.54","1612.54","1211.41","401.13","0.0","0.0","0.0","May-2019","324.23","Jul-2019","Jun-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3596.15","3596.15","770.6","770.60","403.85","366.75","0.0","0.0","0.0","May-2019","155.68","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","31450","31450","31450"," 36 months","  7.56%","979.16","A","A3","Construction Manager","7 years","MORTGAGE","130000","Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","895xx","NV","9.29","0","Jul-1997","0","","","11","0","65911","63.1%","17","w","26689.41","26689.41","5802.32","5802.32","4760.59","1041.73","0.0","0.0","0.0","Jun-2019","979.16","Jul-2019","Jun-2019","0","","1","Joint App","239000","12.77","Verified","0","0","422806","0","0","0","0","75","0","","0","0","18962","63","104400","0","2","1","0","42281","29007","53.5","0","0","89","257","28","28","3","28","","11","","0","4","6","6","6","2","10","12","6","11","0","0","0","0","100","33.3","0","0","519900","65911","62400","0","64367","Jul-1997","0","3","14","60.9","1","19","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","15500","15500","15500"," 36 months"," 10.72%","505.4","B","B2","Administrative Assistant ","10+ years","RENT","52000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","925xx","CA","16.66","0","Oct-2007","0","","","13","0","13496","33.9%","16","w","13632.26","13632.26","2513.15","2513.15","1867.74","645.41","0.0","0.0","0.0","May-2019","505.4","Jul-2019","Jun-2019","1","","1","Individual","","","","0","349","19386","1","1","0","1","15","5890","59","3","4","6061","39","39800","0","2","1","5","1491","14251","47.4","0","0","60","134","6","6","0","6","","11","","0","6","8","7","9","2","12","14","8","13","0","0","0","3","100","0","0","0","49742","19386","27100","9942","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6000","6000","6000"," 36 months"," 14.47%","206.44","C","C2","","< 1 year","OWN","300000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","068xx","CT","17.43","1","Apr-2002","1","17","","38","0","65950","49.8%","58","w","5313.18","5313.18","1024.96","1024.96","686.82","338.14","0.0","0.0","0.0","May-2019","206.44","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","349502","1","4","1","3","7","39961","45","1","12","15926","48","132500","2","2","2","15","9197","38683","60.6","0","0","166","200","4","4","1","4","","4","17","0","16","20","19","26","9","33","48","20","38","0","0","0","2","100","26.3","0","0","477390","105911","98300","89600","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6500","6500","6500"," 36 months"," 17.97%","234.9","D","D1","Quality Field Engineer","4 years","MORTGAGE","154000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","278xx","NC","28.78","2","Oct-2008","0","6","","27","0","23754","60.4%","41","w","5791.28","5791.28","1164.77","1164.77","708.72","456.05","0.0","0.0","0.0","May-2019","234.9","Jul-2019","Jun-2019","0","6","1","Individual","","","","0","0","116747","2","8","3","5","1","92993","78","1","6","3943","72","39300","3","3","3","11","4324","4578","62.8","1","0","122","74","11","1","0","13","","4","","1","5","19","5","8","17","19","24","19","27","0","0","1","4","90.2","20","0","0","169160","116747","12300","129860","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [58]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [59]:
print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [60]:
df.isna().sum()

id                                            128412
member_id                                     128412
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      20947
emp_length                                     11704
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           128412
desc                                          128412
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              237
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         72196
mths_since_last_record                        112962
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       156
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     159
last_pymnt_amnt                                    0
next_pymnt_d                                   10813
last_credit_pull_d                                 1
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    99232
policy_code                                        0
application_type                                   0
annual_inc_joint                              111630
dti_joint                                     111630
verification_status_joint                     113564
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                              4478
total_bal_il                                       0
il_util                                        20274
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          37
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                       13
bc_open_to_buy                                  1691
bc_util                                         1754
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              4478
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1591
mths_since_recent_bc_dlq                      103243
mths_since_recent_inq                          16047
mths_since_recent_revol_delinq                 91630
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                2859
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1692
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
sec_app_mths_since_last_major_derog           123258
hardship_flag                                      0
hardship_type                                 128411
hardship_reason                               128411
hardship_status                               128411
deferral_term                                 128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
hardship_dpd                                  128411
hardship_loan_status                          128411
orig_projected_additional_accrued_interest    128411
hardship_payoff_balance_amount                128411
hardship_last_payment_amount                  128411
debt_settlement_flag                               0
debt_settlement_flag_date                     128374
settlement_status                             128374
settlement_date                               128374
settlement_amount                             128374
settlement_percentage                         128374
settlement_term                               128374
dtype: int64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

Apply the function to the `int_rate` column

### Clean `emp_title`

Look at top 20 titles

How often is `emp_title` null?

Clean the title and handle missing values

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [61]:
df['term'].head()

0     36 months
1     60 months
2     36 months
3     36 months
4     36 months
Name: term, dtype: object

In [62]:
df['term'].nunique() #checking the number of unique values in that col

2

In [0]:
df['term'] = df['term'].str.strip(' months').astype(int) #using the strip function to remove the ' months' part of the string, then using the astype func to set the remaining 60 str to an int

In [64]:
df['term'].head(10)

0    36
1    60
2    36
3    36
4    36
5    36
6    36
7    36
8    60
9    36
Name: term, dtype: int64

In [65]:
df['loan_status'].head(10)

0    Current
1    Current
2    Current
3    Current
4    Current
5    Current
6    Current
7    Current
8    Current
9    Current
Name: loan_status, dtype: object

In [66]:
df['loan_status'].unique()

array(['Current', 'Fully Paid', 'Late (31-120 days)', 'In Grace Period',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

In [0]:
df['loan_status_is_great'] = [1 if (x == 'Current') or (x == 'Fully Paid') else 0 for x in df['loan_status']]

In [68]:
pd.options.display.max_rows = 150
df[['loan_status','loan_status_is_great']].head(100)

           loan_status  loan_status_is_great
0              Current                     1
1              Current                     1
2              Current                     1
3              Current                     1
4              Current                     1
5              Current                     1
6              Current                     1
7              Current                     1
8              Current                     1
9              Current                     1
10          Fully Paid                     1
11          Fully Paid                     1
12             Current                     1
13             Current                     1
14             Current                     1
15             Current                     1
16             Current                     1
17             Current                     1
18             Current                     1
19             Current                     1
20  Late (31-120 days)                     0
21             Current                     1
22             Current                     1
23             Current                     1
24             Current                     1
25             Current                     1
26             Current                     1
27             Current                     1
28             Current                     1
29          Fully Paid                     1
30             Current                     1
31             Current                     1
32             Current                     1
33             Current                     1
34             Current                     1
35             Current                     1
36             Current                     1
37             Current                     1
38             Current                     1
39             Current                     1
40             Current                     1
41             Current                     1
42             Current                     1
43             Current                     1
44             Current                     1
45             Current                     1
46             Current                     1
47             Current                     1
48             Current                     1
49             Current                     1
50             Current                     1
51             Current                     1
52             Current                     1
53             Current                     1
54             Current                     1
55             Current                     1
56          Fully Paid                     1
57             Current                     1
58             Current                     1
59             Current                     1
60          Fully Paid                     1
61             Current                     1
62             Current                     1
63             Current                     1
64             Current                     1
65             Current                     1
66             Current                     1
67             Current                     1
68             Current                     1
69             Current                     1
70             Current                     1
71          Fully Paid                     1
72             Current                     1
73          Fully Paid                     1
74             Current                     1
75             Current                     1
76             Current                     1
77             Current                     1
78             Current                     1
79             Current                     1
80             Current                     1
81          Fully Paid                     1
82             Current                     1
83             Current                     1
84  Late (31-120 days)                     0
85             Current                     1
86             Current                     1
87             Current                     1
88             Current                     1
89             Current                     1
90             Current                     1
91             Current                     1
92             Current                     1
93             Current                     1
94             Current                     1
95             Current                     1
96             Current                     1
97             Current                     1
98             Current                     1
99             Current                     1

In [69]:
df['last_pymnt_d'].head(10)

0    Jun-2019
1    May-2019
2    May-2019
3    May-2019
4    Jun-2019
5    May-2019
6    May-2019
7    May-2019
8    May-2019
9    May-2019
Name: last_pymnt_d, dtype: object

In [70]:
df['last_pymnt_d'].describe()

count       128253
unique          10
top       Jun-2019
freq        103574
Name: last_pymnt_d, dtype: object

In [71]:
df['last_pymnt_d'].isna().sum()

159

In [72]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d'].head()

0   2019-06-01
1   2019-05-01
2   2019-05-01
3   2019-05-01
4   2019-06-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d'].fillna(df['last_pymnt_d'].mode(), inplace=True)

In [74]:
df['last_pymnt_d'].isna().sum()

159

In [75]:
df['last_pymnt_d'].head()

0   2019-06-01
1   2019-05-01
2   2019-05-01
3   2019-05-01
4   2019-06-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [77]:
df[['last_pymnt_d', 'last_pymnt_d_month', 'last_pymnt_d_year']].head(20)

   last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
0    2019-06-01                 6.0             2019.0
1    2019-05-01                 5.0             2019.0
2    2019-05-01                 5.0             2019.0
3    2019-05-01                 5.0             2019.0
4    2019-06-01                 6.0             2019.0
5    2019-05-01                 5.0             2019.0
6    2019-05-01                 5.0             2019.0
7    2019-05-01                 5.0             2019.0
8    2019-05-01                 5.0             2019.0
9    2019-05-01                 5.0             2019.0
10   2019-04-01                 4.0             2019.0
11   2019-04-01                 4.0             2019.0
12   2019-05-01                 5.0             2019.0
13   2019-06-01                 6.0             2019.0
14   2019-05-01                 5.0             2019.0
15   2019-05-01                 5.0             2019.0
16   2019-06-01                 6.0             2019.0
17   2019-05-01                 5.0             2019.0
18   2019-06-01                 6.0             2019.0
19   2019-05-01                 5.0             2019.0

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01