<a href="https://colab.research.google.com/github/tobias-fyi/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_114_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>




# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-09-05 16:18:32--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.58M   905KB/s    in 25s

2019-09-05 16:18:57 (897 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22631049]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","8289.30","8289.30","2261.0","2261.00","1710.70","550.30","0.0","0.0","0.0","Jul-2019","324.23","Sep-2019","Aug-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3423.38","3423.38","1081.96","1081.96","576.62","505.34","0.0","0.0","0.0","Jul-2019","155.68","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Late (31-120 days)","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4456.17","4456.17","895.96","895.96","543.83","352.13","0.0","0.0","0.0","Jun-2019","180.69","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 60 months"," 20.89%","620.81","D","D4","Operator","5 years","RENT","68107","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","672xx","KS","0.52","0","Feb-1997","0","","","5","0","976","13%","10","w","21353.16","21353.16","4307.45","4307.45","1646.84","2660.61","0.0","0.0","0.0","Jul-2019","620.81","Sep-2019","Aug-2019","1","","1","Individual","","","","0","2693","976","0","0","0","0","36","0","","3","4","0","13","7500","2","2","4","4","195","3300","0","0","0","237","262","10","10","0","10","","9","","0","0","1","3","4","3","5","7","1","5","0","0","0","3","100","0","0","0","7500","976","3300","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","8000","8000","8000"," 36 months"," 23.40%","311.35","E","E1","Manager","10+ years","OWN","43000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","357xx","AL","33.24","0","Jan-1995","0","","107","8","1","9019","81.3%","16","w","6846.83","6846.83","2163.85","2163.85","1153.17","1010.68","0.0","0.0","0.0","Jul-2019","311.35","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","169223","0","3","2","2","7","22059","69","0","0","2174","72","11100","1","1","1","2","21153","126","94.5","0","0","148","287","44","7","1","51","","7","","0","1","4","1","2","8","4","7","4","8","0","0","0","2","100","100","1","0","199744","31078","2300","32206","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","32075","32075","32075"," 60 months"," 11.80%","710.26","B","B4","Nursing Supervisor","10+ years","MORTGAGE","150000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","231xx","VA","22.21","0","Aug-2005","0","","","17","0","19077","32%","24","w","29228.12","29228.12","4940.28","4940.28","2846.88","2093.40","0.0","0.0","0.0","Jul-2019","710.26","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","272667","1","4","1","1","9","37558","47","1","1","3910","41","59600","1","2","0","3","16039","10446","47.8","0","0","160","70","4","4","2","27","","14","","0","4","10","4","4","8","12","14","10","17","0","0","0","2","100","50","0","0","360433","56635","20000","80125","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 12.98%","323.37","B","B5","","n/a","MORTGAGE","35704","Not Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","401xx","KY","0.84","0","Nov-2003","0","69","","5","0","748","11.5%","23","w","8012.51","8012.51","2287.83","2287.83","1587.49","700.34","0.0","0.0","0.0","Aug-2019","323.37","Sep-2019","Aug-2019","0","","1","Individual","","","","0","0","748","0","0","0","0","44","0","","0","3","748","12","6500","0","0","1","3","150","3452","17.8","0","0","181","100","13","13","0","16","","3","","0","1","1","2","2","16","5","7","1","5","0","0","0","0","95.5","0","0","0","6500","748","4200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","19969.40","19969.40","12893.26","12893.26","10030.60","2862.66","0.0","0.0","0.0","Jul-2019","777.23","Sep-2019","Aug-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
df = pd.read_csv("LoanStats_2018Q4.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
# Reading in everything as an index
# Because of the top line "prospectus"
df.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title      emp_length home_ownership annual_inc verification_status issue_d  loan_status        pymnt_plan url desc purpose            title              zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       10000     10000       10000            36 months  10.33%  324.23      B     B1        NaN            < 1 year   MORTGAGE       280000     Not Verified        Dec-2018 Current            n          NaN NaN  debt_consolidation Debt consolidation 974xx    OR         6.15  2           Jan-1996         0              18                     NaN                    14       0       9082      38%        23        w                   8289.30   8289.30       2261.0      2261.00         1710.70         550.30        0.0                0.0        0.0                     Jul-2019     324.23          Sep-2019     Aug-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              671          246828      1           3           2           3           1                  48552        62      1           3           4923       46       23900            2      7           1            7                    17631       11897          43.1    0                        0           158                275                  11                    1              1        11                   NaN                      11                    NaN                            0                     3              4               7           7         10        9             11            4                   14       0                0            0                  4                  91.3           28.6             0                    0         367828          61364             20900          54912                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              4000      4000        4000             36 months  23.40%  155.68      E     E1        Security       3 years    RENT           90000      Source Verified     Dec-2018 Current            n          NaN NaN  debt_consolidation Debt consolidation 070xx    NJ         26.33 0           Sep-2006         4              59                     NaN                    15       0       5199      19.2%      20        w                   3423.38   3423.38       1081.96     1081.96         576.62          505.34        0.0                0.0        0.0                     Jul-2019     155.68          Sep-2019     Aug-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            66926       5           4           3           4           5                  61727        86      6           11          1353       68       27100            4      0           4            15                   4462        20174          7.9     0                        0           147                118                  2                     2              0        2                    NaN                      0                     NaN                            0                     5              7               9           9         8         11            12            7                   15       0                0            0                  9                  95             0                0                    0         98655           66926             21900          71555                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              5000      5000        5000             36 months  17.97%  180.69      D     D1        Administrative 6 years    MORTGAGE       59280      Source Verified     Dec-2018 Late (31-120 days) n          NaN NaN  debt_consolidation Debt consolidation 490xx    MI         10.51 0           Apr-2011         0              NaN                    NaN                    8        0       4599      19.1%      13        w                   4456.17   4456.17       895.96      895.96          543.83          352.13        0.0                0.0        0.0                     Jun-2019     180.69          Sep-2019     Aug-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            110299      0           1           0           2           14                 7150         72      0           2           0          35       24100            1      5           0            4                    18383       13800          0       0                        0           87                 92                   15                    14             2        77                   NaN                      14                    NaN                            0                     0              3               3           3         4         6             7             3                   8        0                0            0                  0                  100            0                0                    0         136927          11749             13800          10000                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              23000     23000       23000            60 months  20.89%  620.81      D     D4        Operator       5 years    RENT           68107      Source Verified     Dec-2018 Current            n          NaN NaN  debt_consolidation Debt consolidation 672xx    KS         0.52  0           Feb-1997         0              NaN                    NaN                    5        0       976       13%        10        w                   21353.16  21353.16      4307.45     4307.45         1646.84         2660.61       0.0                0.0        0.0                     Jul-2019     620.81          Sep-2019     Aug-2019           1                          NaN                         1           Individual       NaN              NaN       NaN                       0              2693         976         0           0           0           0           36                 0            NaN     3           4           0          13       7500             2      2           4            4                    195         3300           0       0                        0           237                262                  10                    10             0        10                   NaN                      9                     NaN                            0                     0              1               3           4         3         5             7             1                   5        0                0            0                  3                  100            0                0                    0         7500            976               3300           0                          NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [0]:
# Use read_csv arguments
df = pd.read_csv("LoanStats_2018Q4.csv", header=1)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# Pandas display options truncate some of the columns and rows
# Set different options

pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", df.shape[1])

df = pd.read_csv("LoanStats_2018Q4.csv", header=1)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000.0,10000.0,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2.0,Jan-1996,0.0,18.0,NaN,14.0,0.0,9082.0,38%,23.0,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,671.0,246828.0,1.0,3.0,2.0,3.0,1.0,48552.0,62.0,1.0,3.0,4923.0,46.0,23900.0,2.0,7.0,1.0,7.0,17631.0,11897.0,43.1,0.0,0.0,158.0,275.0,11.0,1.0,1.0,11.0,NaN,11.0,NaN,0.0,3.0,4.0,7.0,7.0,10.0,9.0,11.0,4.0,14.0,0.0,0.0,0.0,4.0,91.3,28.6,0.0,0.0,367828.0,61364.0,20900.0,54912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4000.0,4000.0,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0.0,Sep-2006,4.0,59.0,NaN,15.0,0.0,5199.0,19.2%,20.0,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,66926.0,5.0,4.0,3.0,4.0,5.0,61727.0,86.0,6.0,11.0,1353.0,68.0,27100.0,4.0,0.0,4.0,15.0,4462.0,20174.0,7.9,0.0,0.0,147.0,118.0,2.0,2.0,0.0,2.0,NaN,0.0,NaN,0.0,5.0,7.0,9.0,9.0,8.0,11.0,12.0,7.0,15.0,0.0,0.0,0.0,9.0,95.0,0.0,0.0,0.0,98655.0,66926.0,21900.0,71555.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000.0,5000.0,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,Apr-2011,0.0,NaN,NaN,8.0,0.0,4599.0,19.1%,13.0,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,110299.0,0.0,1.0,0.0,2.0,14.0,7150.0,72.0,0.0,2.0,0.0,35.0,24100.0,1.0,5.0,0.0,4.0,18383.0,13800.0,0.0,0.0,0.0,87.0,92.0,15.0,14.0,2.0,77.0,NaN,14.0,NaN,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,23000.0,23000.0,23000.0,60 months,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,0.52,0.0,Feb-1997,0.0,NaN,NaN,5.0,0.0,976.0,13%,10.0,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,2693.0,976.0,0.0,0.0,0.0,0.0,36.0,0.0,NaN,3.0,4.0,0.0,13.0,7500.0,2.0,2.0,4.0,4.0,195.0,3300.0,0.0,0.0,0.0,237.0,262.0,10.0,10.0,0.0,10.0,NaN,9.0,NaN,0.0,0.0,1.0,3.0,4.0,3.0,5.0,7.0,1.0,5.0,0.0,0.0,0.0,3.0,100.0,0.0,0.0,0.0,7500.0,976.0,3300.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,8000.0,8000.0,8000.0,36 months,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,357xx,AL,33.24,0.0,Jan-1995,0.0,NaN,107.0,8.0,1.0,9019.0,81.3%,16.0,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,169223.0,0.0,3.0,2.0,2.0,7.0,22059.0,69.0,0.0,0.0,2174.0,72.0,11100.0,1.0,1.0,1.0,2.0,21153.0,126.0,94.5,0.0,0.0,148.0,287.0,44.0,7.0,1.0,51.0,NaN,7.0,NaN,0.0,1.0,4.0,1.0,2.0,8.0,4.0,7.0,4.0,8.0,0.0,0.0,0.0,2.0,100.0,100.0,1.0,0.0,199744.0,31078.0,2300.0,32206.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

## Look at the Null Values

In [0]:
df.isnull().sum().sort_values(ascending=False)

desc                                          128414
member_id                                     128414
url                                           128414
id                                            128412
orig_projected_additional_accrued_interest    128388
hardship_type                                 128387
hardship_last_payment_amount                  128387
hardship_payoff_balance_amount                128387
hardship_reason                               128387
hardship_loan_status                          128387
hardship_dpd                                  128387
hardship_length                               128387
payment_plan_start_date                       128387
hardship_end_date                             128387
hardship_start_date                           128387
hardship_amount                               128387
deferral_term                                 128387
hardship_status                               128387
settlement_percentage                         128303
settlement_term                               128303
settlement_status                             128303
settlement_amount                             128303
settlement_date                               128303
debt_settlement_flag_date                     128303
sec_app_mths_since_last_major_derog           123260
verification_status_joint                     113566
mths_since_last_record                        112964
sec_app_revol_util                            111890
sec_app_open_act_il                           111632
sec_app_num_rev_accts                         111632
sec_app_chargeoff_within_12_mths              111632
sec_app_collections_12_mths_ex_med            111632
dti_joint                                     111632
annual_inc_joint                              111632
revol_bal_joint                               111632
sec_app_earliest_cr_line                      111632
sec_app_inq_last_6mths                        111632
sec_app_mort_acc                              111632
sec_app_open_acc                              111632
mths_since_recent_bc_dlq                      103245
mths_since_last_major_derog                    99234
mths_since_recent_revol_delinq                 91632
mths_since_last_delinq                         72198
emp_title                                      20949
il_util                                        20276
next_pymnt_d                                   16125
mths_since_recent_inq                          16049
emp_length                                     11706
mo_sin_old_il_acct                              4480
mths_since_rcnt_il                              4480
num_tl_120dpd_2m                                2861
bc_util                                         1756
percent_bc_gt_75                                1694
bc_open_to_buy                                  1693
mths_since_recent_bc                            1593
dti                                              239
last_pymnt_d                                     161
revol_util                                       158
all_util                                          39
avg_cur_bal                                       15
last_credit_pull_d                                 3
int_rate                                           2
initial_list_status                                2
out_prncp                                          2
out_prncp_inv                                      2
total_pymnt                                        2
total_pymnt_inv                                    2
total_rec_prncp                                    2
purpose                                            2
total_rec_int                                      2
total_acc                                          2
funded_amnt_inv                                    2
funded_amnt                                        2
total_rec_late_fee                                 2
recoveries                                         2
loan_amnt                                          2
collection_recovery_fee                            2
term                                               2
revol_bal                                          2
installment                                        2
pymnt_plan                                         2
loan_status                                        2
title                                              2
zip_code                                           2
addr_state                                         2
issue_d                                            2
delinq_2yrs                                        2
earliest_cr_line                                   2
verification_status                                2
annual_inc                                         2
inq_last_6mths                                     2
home_ownership                                     2
sub_grade                                          2
grade                                              2
open_acc                                           2
pub_rec                                            2
debt_settlement_flag                               2
open_il_12m                                        2
last_pymnt_amnt                                    2
num_sats                                           2
num_accts_ever_120_pd                              2
num_actv_bc_tl                                     2
num_actv_rev_tl                                    2
num_bc_sats                                        2
num_bc_tl                                          2
num_il_tl                                          2
num_op_rev_tl                                      2
num_rev_accts                                      2
num_rev_tl_bal_gt_0                                2
num_tl_30dpd                                       2
collections_12_mths_ex_med                         2
num_tl_90g_dpd_24m                                 2
num_tl_op_past_12m                                 2
pct_tl_nvr_dlq                                     2
pub_rec_bankruptcies                               2
tax_liens                                          2
tot_hi_cred_lim                                    2
total_bal_ex_mort                                  2
total_bc_limit                                     2
total_il_high_credit_limit                         2
mort_acc                                           2
mo_sin_rcnt_tl                                     2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_old_rev_tl_op                               2
policy_code                                        2
application_type                                   2
acc_now_delinq                                     2
tot_coll_amt                                       2
tot_cur_bal                                        2
open_acc_6m                                        2
open_act_il                                        2
hardship_flag                                      2
open_il_24m                                        2
total_bal_il                                       2
open_rv_12m                                        2
open_rv_24m                                        2
max_bal_bc                                         2
total_rev_hi_lim                                   2
total_cu_tl                                        2
inq_last_12m                                       2
acc_open_past_24mths                               2
chargeoff_within_12_mths                           2
delinq_amnt                                        2
inq_fi                                             2
dtype: int64

In [0]:
# Skip the footer
df = pd.read_csv("LoanStats_2018Q4.csv", header=1, skipfooter=2)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,23000,23000,23000.0,60 months,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,8000,8000,8000.0,36 months,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df.isnull().sum().sort_values(ascending=False)

id                                            128412
desc                                          128412
member_id                                     128412
url                                           128412
orig_projected_additional_accrued_interest    128386
hardship_type                                 128385
hardship_last_payment_amount                  128385
hardship_payoff_balance_amount                128385
hardship_reason                               128385
hardship_loan_status                          128385
hardship_dpd                                  128385
hardship_length                               128385
payment_plan_start_date                       128385
hardship_end_date                             128385
hardship_start_date                           128385
hardship_amount                               128385
deferral_term                                 128385
hardship_status                               128385
settlement_percentage                         128301
settlement_term                               128301
settlement_status                             128301
settlement_amount                             128301
settlement_date                               128301
debt_settlement_flag_date                     128301
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
dti_joint                                     111630
annual_inc_joint                              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
emp_title                                      20947
il_util                                        20274
next_pymnt_d                                   16123
mths_since_recent_inq                          16047
emp_length                                     11704
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

As far as dropping the hardship columns, there are arguments to be made either way. For the assignment we will decide. It depends what kind of question is being answered.

In [0]:
# Ryan recommends to NOT use the inplace=True parameter
# It will be deprecated
df = df.drop(columns=["id", "member_id", "desc", "url"])
# Can copy to new dataframe, though can get hefty with large datasets
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8289.30,8289.30,2261.00,2261.00,1710.70,550.30,0.0,0.0,0.0,Jul-2019,324.23,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3423.38,3423.38,1081.96,1081.96,576.62,505.34,0.0,0.0,0.0,Jul-2019,155.68,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Late (31-120 days),n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,23000,23000,23000.0,60 months,20.89%,620.81,D,D4,Operator,5 years,RENT,68107.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,672xx,KS,0.52,0,Feb-1997,0,NaN,NaN,5,0,976,13%,10,w,21353.16,21353.16,4307.45,4307.45,1646.84,2660.61,0.0,0.0,0.0,Jul-2019,620.81,Sep-2019,Aug-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,2693,976,0,0,0,0,36.0,0,NaN,3,4,0,13.0,7500,2,2,4,4,195.0,3300.0,0.0,0,0,237.0,262,10,10,0,10.0,NaN,9.0,NaN,0,0,1,3,4,3,5,7,1,5,0.0,0,0,3,100.0,0.0,0,0,7500,976,3300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,8000,8000,8000.0,36 months,23.40%,311.35,E,E1,Manager,10+ years,OWN,43000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,357xx,AL,33.24,0,Jan-1995,0,NaN,107.0,8,1,9019,81.3%,16,w,6846.83,6846.83,2163.85,2163.85,1153.17,1010.68,0.0,0.0,0.0,Jul-2019,311.35,Sep-2019,Aug-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,169223,0,3,2,2,7.0,22059,69.0,0,0,2174,72.0,11100,1,1,1,2,21153.0,126.0,94.5,0,0,148.0,287,44,7,1,51.0,NaN,7.0,NaN,0,1,4,1,2,8,4,7,4,8,0.0,0,0,2,100.0,100.0,1,0,199744,31078,2300,32206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [0]:
# Can't use them now (as numbers) as they are strings
df.int_rate

0          10.33%
1          23.40%
2          17.97%
3          20.89%
4          23.40%
5          11.80%
6          12.98%
7          18.94%
8          13.56%
9          13.56%
10         19.92%
11         17.97%
12         26.31%
13         14.47%
14         23.40%
15         23.40%
16         20.89%
17         16.91%
18         20.89%
19         14.47%
20         13.56%
21         14.47%
22         12.98%
23         23.40%
24         11.80%
25         20.89%
26         26.31%
27         16.14%
28         18.94%
29         15.02%
30         17.97%
31         13.56%
32         17.97%
33         12.98%
34         11.80%
35         10.72%
36         12.98%
37         11.80%
38         14.47%
39         10.72%
40         11.80%
41         23.40%
42         20.89%
43         19.92%
44         10.33%
45          6.46%
46         14.47%
47         11.31%
48         17.97%
49         15.02%
50          8.81%
51         15.02%
52         16.91%
53         14.47%
54         25.34%
55         14.47%
56         12.98%
57         10.72%
58         19.92%
59         17.97%
60         12.98%
61         16.14%
62         10.33%
63         20.89%
64         17.97%
65         17.97%
66         12.98%
67         23.40%
68         14.47%
69         19.92%
70         14.47%
71         16.91%
72          6.46%
73         10.33%
74         13.56%
75         14.47%
76         10.33%
77         12.98%
78         12.98%
79         16.14%
80         15.02%
81         27.27%
82         16.91%
83         14.47%
84         15.02%
85         13.56%
86         16.91%
87         12.98%
88         14.47%
89         14.47%
90         17.97%
91         16.14%
92         11.80%
93         18.94%
94         11.80%
95         11.80%
96         18.94%
97         11.31%
98          7.56%
99         18.94%
100        11.31%
101        23.40%
102        11.31%
103        10.72%
104        14.47%
105        14.47%
106        16.91%
107        22.35%
108        12.98%
109        16.14%
110        16.14%
111        17.97%
112        14.47%
113        12.98%
114        10.72%
115        11.31%
116        10.33%
117        18.94%
118        15.02%
119        16.14%
120        13.56%
121        22.35%
122        15.02%
123        14.47%
124        10.72%
125        16.14%
126        15.02%
127        19.92%
128        14.47%
129        11.31%
130        12.98%
131        27.27%
132        17.97%
133        15.02%
134        16.14%
135        12.98%
136        15.02%
137        18.94%
138        16.14%
139        11.31%
140        26.31%
141        11.80%
142        15.02%
143        27.27%
144        26.31%
145        14.47%
146        15.02%
147        14.47%
148        15.02%
149        16.14%
150        11.31%
151        27.27%
152        11.31%
153        23.40%
154        10.33%
155        18.94%
156        11.31%
157        16.14%
158        12.98%
159        10.72%
160        17.97%
161        23.40%
162        14.47%
163        13.56%
164        10.72%
165        11.80%
166        18.94%
167        13.56%
168        11.31%
169         7.56%
170        10.72%
171        11.80%
172        17.97%
173        16.14%
174        17.97%
175        12.98%
176        11.31%
177        20.89%
178         8.19%
179        20.89%
180        16.91%
181        22.35%
182         8.81%
183        23.40%
184        11.31%
185        15.02%
186        23.40%
187        16.14%
188        10.33%
189        15.02%
190        14.47%
191        23.40%
192        10.72%
193        16.14%
194        13.56%
195        14.47%
196        14.47%
197         8.81%
198        10.33%
199        18.94%
200        15.02%
201        30.75%
202         8.19%
203         6.46%
204        13.56%
205         8.19%
206        16.14%
207        10.72%
208        16.91%
209        10.72%
210        15.02%
211        14.47%
212        16.14%
213        16.91%
214        13.56%
215        11.31%
216        16.14%
217        15.02%
218        16.14%
219        15.02%
220        17.97%
221        18.94%
222        16.91%
223        11.80%
224        14.47%
225        11.31%
226        14.47%
227        16.14%
228        20.89%
229        17.97%
230        16.14%
231        10.33%
232         8.81%
233        14.47%
234        16.14%
235        13.56%
236        10.72%
237        14.47%
238        11.31%
239        17.97%
240        12.98%
241        16.14%
242        22.35%
243         8.19%
244        20.89%
245         6.46%
246        27.27%
247        12.98%
248        15.02%
249        17.97%
           ...
128162     28.72%
128163     22.35%
128164      7.21%
128165     19.92%
128166     11.55%
128167     20.89%
128168      8.46%
128169      7.84%
128170     16.91%
128171     15.02%
128172     16.14%
128173     10.08%
128174     13.56%
128175      8.46%
128176      6.11%
128177      6.67%
128178     19.92%
128179     12.73%
128180     10.08%
128181     22.35%
128182     12.73%
128183     11.55%
128184      7.21%
128185     13.56%
128186      6.11%
128187     13.56%
128188     16.14%
128189     18.94%
128190      8.46%
128191     14.47%
128192     28.72%
128193     14.47%
128194      7.84%
128195     10.08%
128196     23.40%
128197      7.21%
128198      6.67%
128199      6.11%
128200     28.72%
128201      6.67%
128202     12.73%
128203     11.55%
128204      6.67%
128205      6.11%
128206      7.84%
128207     10.47%
128208     25.34%
128209     13.56%
128210      7.21%
128211      6.11%
128212      7.21%
128213     22.35%
128214     19.92%
128215      8.46%
128216      6.11%
128217      6.67%
128218      6.11%
128219      6.11%
128220      7.84%
128221     11.55%
128222     10.47%
128223     11.06%
128224     10.47%
128225      8.46%
128226      6.67%
128227     12.73%
128228      6.11%
128229      6.11%
128230     16.14%
128231     16.91%
128232     24.37%
128233     12.73%
128234     11.06%
128235     16.14%
128236     18.94%
128237      6.11%
128238     16.14%
128239     13.56%
128240      6.11%
128241     22.35%
128242      6.11%
128243     27.27%
128244     11.55%
128245      6.11%
128246      6.11%
128247      7.21%
128248      7.21%
128249      6.11%
128250      8.46%
128251      6.11%
128252      7.84%
128253      7.21%
128254     26.31%
128255     16.91%
128256     28.72%
128257     29.69%
128258      7.21%
128259      7.84%
128260      7.21%
128261     11.06%
128262     25.34%
128263      6.11%
128264     11.06%
128265     16.91%
128266     17.97%
128267     10.08%
128268     27.27%
128269      6.67%
128270      7.84%
128271     15.02%
128272     11.06%
128273     14.47%
128274     18.94%
128275      7.21%
128276     13.56%
128277     15.02%
128278      7.84%
128279     19.92%
128280      7.21%
128281      8.46%
128282     18.94%
128283     13.56%
128284      6.11%
128285     11.06%
128286     14.47%
128287      7.21%
128288     14.47%
128289      6.67%
128290      8.46%
128291     16.91%
128292     13.56%
128293      6.67%
128294      7.84%
128295      6.67%
128296     14.47%
128297     15.02%
128298      6.11%
128299     25.34%
128300     16.14%
128301     23.40%
128302      7.21%
128303      6.11%
128304     12.73%
128305      7.84%
128306     10.47%
128307     15.02%
128308     24.37%
128309     10.08%
128310     22.35%
128311      7.84%
128312     27.27%
128313     15.02%
128314     22.35%
128315      6.11%
128316     22.35%
128317      7.84%
128318      6.11%
128319     17.97%
128320     22.35%
128321     15.02%
128322     17.97%
128323     11.55%
128324     10.08%
128325      6.11%
128326      6.11%
128327     17.97%
128328     16.14%
128329     23.40%
128330     20.89%
128331     13.56%
128332      6.11%
128333     15.02%
128334     18.94%
128335      7.84%
128336      7.21%
128337      7.84%
128338     11.55%
128339     24.37%
128340      7.21%
128341     19.92%
128342     14.47%
128343     24.37%
128344     12.73%
128345      7.84%
128346      7.21%
128347      7.84%
128348      7.84%
128349     15.02%
128350     16.91%
128351     27.27%
128352     10.08%
128353     11.55%
128354      7.21%
128355      6.11%
128356     13.56%
128357     27.27%
128358     11.55%
128359     11.06%
128360      7.21%
128361     17.97%
128362     27.27%
128363     11.55%
128364     11.06%
128365      8.46%
128366      7.84%
128367      6.11%
128368      8.46%
128369     14.47%
128370     14.47%
128371     13.56%
128372     17.97%
128373      7.84%
128374     22.35%
128375     11.55%
128376     16.91%
128377     11.06%
128378     13.56%
128379     27.27%
128380      6.67%
128381      7.84%
128382     17.97%
128383     16.91%
128384     13.56%
128385     17.97%
128386     26.31%
128387     11.55%
128388      8.46%
128389     11.55%
128390     19.92%
128391      6.67%
128392     26.31%
128393     16.91%
128394      6.11%
128395     11.55%
128396     15.02%
128397     15.02%
128398     18.94%
128399     15.02%
128400     15.02%
128401     11.55%
128402     22.35%
128403     16.14%
128404     16.14%
128405      7.84%
128406     13.56%
128407     15.02%
128408     15.02%
128409     13.56%
128410     11.06%
128411     16.91%
Name: int_rate, Length: 128412, dtype: object

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
# Start off working with just one interest rate
interest_rate = "15.55%"

In [0]:
interest_rate[:-1]

'15.55'

In [0]:
stripped = interest_rate.strip("%")
print(stripped)

15.55

In [0]:
int_rate_float = float(stripped)

In [0]:
type(int_rate_float)

float

In [0]:
def percent_str_to_float(string):
    """Returns percentage string as float."""
    return float(string.strip("%"))

In [0]:
interest_rate = percent_str_to_float(interest_rate)
print(interest_rate)

15.55

Apply the function to the `int_rate` column

In [0]:
# .apply() is like a for loop that loops over each record in the column
df["int_rate"] = df["int_rate"].apply(percent_str_to_float)

In [0]:
df.int_rate.head()

0    10.33
1    23.40
2    17.97
3    20.89
4    23.40
Name: int_rate, dtype: float64

In [0]:
# List Comprehension
int_list = ["15.55%", "16.22%", "10.14%", "12.22%"]

In [0]:
new_int_list = [percent_str_to_float(rate) for rate in int_list]
print(new_int_list)

[15.55, 16.22, 10.14, 12.22]

In [0]:
# Can cast column to list and use a list comprehension then cast back to Series and overwrite original column
# That results in the same thing as using the .apply() method

### Clean `emp_title`

Look at top 20 titles

How often is `emp_title` null?

In [0]:
df.emp_title.value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [0]:
# or the more straightforward method
df.emp_title.isnull().sum()

20947

In [0]:
def fix_capitalization(string):
    pass

In [0]:
df.emp_title.value_counts(dropna=False).reset_index()

                                          index  emp_title
0                                           NaN      20947
1                                       Teacher       2090
2                                       Manager       1773
3                              Registered Nurse        952
4                                        Driver        924
5                                            RN        726
6                                    Supervisor        697
7                                         Sales        580
8                               Project Manager        526
9                               General Manager        523
10                               Office Manager        521
11                                        Owner        420
12                                     Director        402
13                           Operations Manager        387
14                                 Truck Driver        387
15                                        Nurse        326
16                                     Engineer        325
17                                Sales Manager        304
18                                      manager        301
19                                  Supervisor         270
20                     Administrative Assistant        269
21                                   Accountant        268
22                                       Server        265
23                               Vice President        261
24                                     Mechanic        258
25                              Account Manager        254
26                               Police Officer        252
27                                      teacher        249
28                                   Technician        248
29                                     Manager         246
30                                Store Manager        222
31                                 Truck driver        220
32                                    President        216
33                                     Attorney        211
34                                    Paralegal        208
35                          Executive Assistant        201
36                                      Foreman        198
37                            Assistant Manager        198
38                                       driver        195
39                              Program Manager        186
40                            Software Engineer        183
41                             Registered nurse        183
42                                  Electrician        178
43                                      Analyst        177
44                                     Teacher         173
45                               Branch Manager        170
46                                   Controller        163
47                                     Operator        161
48                                    Bartender        157
49                                   supervisor        146
50                                Administrator        144
51                           Executive Director        144
52                                          CNA        142
53                                      Cashier        142
54                                         Cook        139
55                               Superintendent        138
56                                        Clerk        138
57                             Customer Service        137
58                             Business Analyst        136
59                                    Machinist        135
60                                        sales        134
61                                          CEO        133
62                                          LPN        132
63                                   Bookkeeper        129
64                       Director of Operations        127
65                                        owner        126
66                                    Principal        125
67                                      Laborer        122
68                                       Welder        120
69                                 truck driver        115
70                                    Professor        114
71                            Account Executive        114
72                             Machine Operator        113
73                                  Maintenance        113
74                                   Consultant        110
75                                    Secretary        109
76                                   IT Manager        108
77                                Truck driver         106
78                               Office manager        105
79                                  Technician         103
80                           Production Manager        102
81                            Registered Nurse         101
82                            Medical Assistant        100
83                              Service Manager         99
84                                    Carpenter         99
85                             Security Officer         99
86                             District Manager         98
87                                         Chef         97
88                             registered nurse         96
89                            Financial Analyst         96
90                                    Physician         95
91                              General manager         94
92                                    Associate         92
93                              Sales Associate         92
94                           Accounting Manager         92
95                            Financial Advisor         91
96                                      Driver          91
97                              Legal Assistant         90
98                                Social Worker         90
99                           Nurse Practitioner         89
100                                   Custodian         88
101                            Property Manager         87
102                                Case Manager         87
103                              Senior Manager         87
104                                       Pilot         86
105                             Superintendent          84
106                                  Pharmacist         84
107                                  Instructor         83
108                                Receptionist         82
109                          Software Developer         82
110                            Business Manager         81
111                                  Dispatcher         81
112                               Sales manager         81
113                                   Director          81
114                             Finance Manager         79
115                                Maintenance          79
116                                 Firefighter         78
117                                     Officer         78
118                                   Caregiver         77
119                           Marketing Manager         77
120                   Administrative Assistant          77
121                             Project manager         76
122                                Loan Officer         75
123                                Electrician          74
124                               Store manager         73
125             Customer Service Representative         72
126                                 Underwriter         71
127                        Sales Representative         70
128                                    mechanic         69
129                                      Pastor         66
130                            Systems Engineer         66
131                                        Tech         66
132                                   Sales Rep         65
133                                     Plumber         65
134                                  HR Manager         64
135                                         CFO         64
136                            Staff Accountant         64
137                                   Paramedic         63
138                        Correctional Officer         63
139                   Special Education Teacher         63
140                                     Realtor         63
141                         Assistant Principal         62
142                              Police officer         62
143                                    Educator         62
144                             Product Manager         62
145                      Senior Project Manager         61
146                           Senior Accountant         61
147                            Regional Manager         61
148                                       Buyer         61
149                            Flight Attendant         61
150                           Managing Director         60
151                                   Counselor         60
152                    Senior Software Engineer         60
153                         Assistant Professor         59
154                            Dental Assistant         59
155                                       Agent         59
156                            General Manager          59
157                                     Auditor         59
158                            Dental Hygienist         58
159                                     Partner         58
160                              office manager         58
161                                Investigator         58
162                                   Operator          57
163                                      Sales          57
164                                     Painter         57
165                                  technician         57
166                       Respiratory Therapist         57
167                                      Banker         57
168                                 Team Leader         56
169                                    Foreman          56
170                          Assistant Director         56
171                                    Designer         56
172                         Project Coordinator         56
173                      Regional Sales Manager         56
174                                     MANAGER         56
175                           Assistant manager         55
176                            Network Engineer         55
177                                  Accounting         54
178                                       nurse         54
179                                      Teller         54
180                           Warehouse Manager         54
181                                    Security         54
182                                          Rn         53
183                              Deputy Sheriff         53
184                            Sales Consultant         53
185                                   Mechanic          53
186                Business Development Manager         53
187                         Pharmacy Technician         52
188                                   Inspector         52
189                                         CSR         52
190                        Customer Service Rep         52
191                            machine operator         52
192                          Assistant manager          52
193                                   Installer         51
194                             general manager         51
195                       Production Supervisor         51
196                                         COO         50
197                                Area Manager         50
198                                  Bartender          50
199                       Operations Supervisor         50
200                                   Assembler         50
201                                          VP         50
202                                  Bus Driver         49
203                                   Recruiter         49
204                             Insurance Agent         49
205                               IT Specialist         49
206                             Vice President          49
207                                 maintenance         49
208                                 Coordinator         49
209                          Physical Therapist         49
210                            Project Engineer         49
211                          Service Technician         49
212                               Plant Manager         49
213                          Department Manager         49
214                                   Estimator         48
215                                     Captain         48
216                             Legal Secretary         48
217                             Office Manager          48
218                           Senior Consultant         48
219                         Physician Assistant         47
220                             Police Officer          47
221                                   Conductor         47
222                     Assistant Store Manager         47
223                    Customer Service Manager         46
224                                      Owner          46
225                                        cook         46
226                            Program Director         46
227                            Project Manager          46
228                               Truck Driver          46
229                                       Admin         45
230                          Assistant Manager          45
231                               Receptionist          45
232                             Delivery Driver         45
233                                  Production         44
234                             Personal Banker         44
235                            Senior Associate         43
236                         Operations Manager          43
237                                Data Analyst         43
238                             Quality Manager         43
239                           Customer service          43
240                            Customer service         43
241                                  Lieutenant         43
242                         Corrections Officer         43
243                           Director of Sales         43
244                           Registered nurse          43
245                                    Salesman         43
246                                      Deputy         43
247                                   Warehouse         42
248                           Territory Manager         42
249                       Senior Vice President         42
...                                         ...        ...
43643                            Sales support           1
43644                 Techical Support Engineer          1
43645                        DCS Case Manager 2          1
43646                                 Co.Pastor          1
43647                      Technician/team lead          1
43648                          SERVICES MANAGER          1
43649                               Head Frozen          1
43650                             Showoom Sales          1
43651             Supervising Hazmat Specialist          1
43652          Manufacturing Technology Manager          1
43653              medicaid coordinator/payroll          1
43654                    IT Support Coordinator          1
43655                        Engineering Tech 2          1
43656                                Meter man           1
43657                      Bus Division Manager          1
43658    UNDER COVER PI HUMAN RESOURCE DIRECTOR          1
43659                  IT Sr Analyst/Programmer          1
43660               Supervisor federal officer           1
43661                          Regional MANAGER          1
43662                             Agent Support          1
43663                       Propulsion Engineer          1
43664                             Cellar Worker          1
43665              Kitchen manager in training           1
43666                                 Nurse pto          1
43667                                Can driver          1
43668                             Fitter welder          1
43669                  ferry department manager          1
43670                 Global Leader SAP COE ECA          1
43671                           school security          1
43672                                       Pro          1
43673                       sourcing specialist          1
43674                             Returns Clerk          1
43675        Aerodynamics & Wind Tunnel Manager          1
43676               Project Control Coordinator          1
43677                                    barber          1
43678    Asset protection specialist supervisor          1
43679     Business Office Manager, Hosp/Clinics          1
43680                       Accountant Clerk II          1
43681                           Marketing/Sales          1
43682               program development manager          1
43683                                       Cup          1
43684                      System Administartor          1
43685                       Supervisory Manager          1
43686              Associate Personnel Analysis          1
43687                        Medical assistant           1
43688                                Probation           1
43689                       Operations Officer           1
43690                                      NSNI          1
43691                               Roof Leader          1
43692      Clinical Manager/Director of Nursing          1
43693                                   CSR III          1
43694                                       CPP          1
43695                      personal care worker          1
43696                       Senior customer rep          1
43697                     Relationship Advocate          1
43698                                        Lp          1
43699  Superintendent of Way, Power and Signals          1
43700                     Software Developer IV          1
43701                      Regional Account Rep          1
43702                   President construction           1
43703                            Config analyst          1
43704                    training administrator          1
43705                            Doc Accountant          1
43706                           Assist. Foreman          1
43707                     Travel Dialysis Tech           1
43708                 Regional Medical Director          1
43709      ASSISTANT DIRECTOR OF WRITING CENTER          1
43710                         Lobby Supervisor           1
43711          Member Services Auditor Contoler          1
43712                             Plumbing pro           1
43713                            Room attendant          1
43714                                Qa analyst          1
43715                United States Marine Corps          1
43716                      Corporate controller          1
43717         Sinor Vice President, Asia Region          1
43718                                 Pre-sales          1
43719                        On Air Personality          1
43720                                Photo lead          1
43721                                     dryer          1
43722                             UX Consultant          1
43723                         Senior technician          1
43724               Sr Mgr of Global Validation          1
43725                               Set Painter          1
43726                      Center Sales Manager          1
43727                      Banking and finance           1
43728                Business Financial Advisor          1

Clean the title and handle missing values

In [0]:
# Import Numpy
import numpy as np

In [0]:
examples = ["owner", "Supervisor", " Project Manager", np.NaN]

In [0]:
def clean_title(title):
    return title.strip().title() if isinstance(title, str) else "Unknown"

In [0]:
df["emp_title"] = df["emp_title"].apply(clean_title)

In [0]:
df.emp_title.value_counts(dropna=False).head(20)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
# Can write a dictionary to map the different permutations to a single title

In [0]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
# Will be True when "manager" exists in "emp_title" column
df["emp_title_manager"] = True

NameError: ignored

In [0]:
# Here is where Ryan wrote the expression to assign True / False to the new column

## DataFrame Filtering

*Will need to know this for the sprint challenge.*

Create new df based on conditionals. New df will only hold rows that meet those conditions.

In [0]:
condition = (df["emp_title_manager"] == True)
df[condition].head()

In [0]:
# Created a new dataframe for "managers"
# Look at graphs / test hypothesis that interest rates are higher for non-managers

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
df["last_pymnt_d"] = pd.to_date_time # something about inferring datetimes