_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [36]:
## Import libraries
# File Handling
import wget
import os.path
from os import path
import zipfile
import csv

# Data
import pandas as pd
import numpy as np

In [25]:
def downloadFile(url, name=None):
    '''
    Check if file exists and download to working directory if it does not.
    '''
    split_url = url_split = "https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip".split('/')
    filename = url_split[len(url_split)-1]
    
    if path.exists(filename):
        print('File already exists')
    else:
        try:
            filename = wget.download(url, out=name)
            print(filename, 'successfully downloaded')
        except:
            print('File could not be downloaded.  Check URL & connection.')
    return filename

filename = downloadFile("https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip", "loanStats.csv.zip")

loanStats.csv.zip successfully downloaded

In [26]:
## Check contents of .zip file
zfile = zipfile.ZipFile(filename)
print(zfile.namelist())

['LoanStats_2018Q4.csv']

In [32]:
## Unizip data
zfile.extractall()

In [33]:
## Rename data files to follow convention in given filename
for counter, memberName in enumerate(zfile.namelist()):
    splitName = filename.split('.')
    os.rename(memberName, splitName[0]+'_'+str(counter)+'.'splitName[1])

In [51]:
## Viewing head and tail of file and rename to given filename
def csvHead(pathname): 
    with open(pathname) as csvFile:
        csv_read = csv.reader(csvFile, delimiter=',')
        for counter, row in enumerate(csv_read):
            print(row)
            if counter > 10:
                break
                
csvHead("loanStats_0.csv")

['Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)']
['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']
['', '', '5000', '5000', '5000', ' 36 months', ' 17.97%', '180.69', 'D', 'D1', 'Administrative', '6 years', 'MORTGAGE', '59280', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '490xx', 'MI', '10.51', '0', 'Apr-2011', '0', '', '', '8', '0', '4599', '19.1%', '13', 'w', '4456.17', '4456.17', '895.96', '895.96', '543.83', '352.13', '0.0', '0.0', '0.0', 'Jun-2019', '180.69', 'Jul-2019', 'Jun-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '110299', '0', '1', '0', '2', '14', '7150', '72', '0', '2', '0', '35', '24100', '1', '5', '0', '4', '18383', '13800', '0', '0', '0', '87', '92', '15', '14', '2', '77', '', '14', '', '0', '0', '3', '3', '3', '4', '6', '7', '3', '8', '0', '0', '0', '0', '100', '0', '0', '0', '136927', '11749', '13800', '10000', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '25000', '25000', '25000', ' 60 months', ' 14.47%', '587.82', 'C', 'C2', 'teacher', '10+ years', 'OWN', '110000', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'credit_card', 'Credit card refinancing', '117xx', 'NY', '26.43', '1', 'Jan-1997', '0', '7', '', '23', '0', '39053', '45.7%', '49', 'w', '23533.24', '23533.24', '2908.95', '2908.95', '1466.76', '1442.19', '0.0', '0.0', '0.0', 'May-2019', '587.82', 'Jul-2019', 'Jun-2019', '0', '7', '1', 'Individual', '', '', '', '0', '0', '95648', '0', '3', '0', '0', '35', '54716', '23', '1', '2', '8422', '39', '85500', '0', '1', '0', '2', '4159', '34837', '44.5', '0', '0', '263', '246', '10', '10', '0', '48', '', '', '', '0', '9', '13', '10', '14', '21', '19', '27', '13', '23', '0', '0', '1', '1', '98', '10', '0', '0', '179321', '95648', '62800', '91424', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '10000', '10000', '10000', ' 36 months', ' 10.33%', '324.23', 'B', 'B1', '', '< 1 year', 'MORTGAGE', '280000', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '974xx', 'OR', '6.15', '2', 'Jan-1996', '0', '18', '', '14', '0', '9082', '38%', '23', 'w', '8788.59', '8788.59', '1612.54', '1612.54', '1211.41', '401.13', '0.0', '0.0', '0.0', 'May-2019', '324.23', 'Jul-2019', 'Jun-2019', '0', '', '1', 'Individual', '', '', '', '0', '671', '246828', '1', '3', '2', '3', '1', '48552', '62', '1', '3', '4923', '46', '23900', '2', '7', '1', '7', '17631', '11897', '43.1', '0', '0', '158', '275', '11', '1', '1', '11', '', '11', '', '0', '3', '4', '7', '7', '10', '9', '11', '4', '14', '0', '0', '0', '4', '91.3', '28.6', '0', '0', '367828', '61364', '20900', '54912', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '4000', '4000', '4000', ' 36 months', ' 23.40%', '155.68', 'E', 'E1', 'Security', '3 years', 'RENT', '90000', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '070xx', 'NJ', '26.33', '0', 'Sep-2006', '4', '59', '', '15', '0', '5199', '19.2%', '20', 'w', '3596.15', '3596.15', '770.6', '770.60', '403.85', '366.75', '0.0', '0.0', '0.0', 'May-2019', '155.68', 'Jul-2019', 'Jun-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '66926', '5', '4', '3', '4', '5', '61727', '86', '6', '11', '1353', '68', '27100', '4', '0', '4', '15', '4462', '20174', '7.9', '0', '0', '147', '118', '2', '2', '0', '2', '', '0', '', '0', '5', '7', '9', '9', '8', '11', '12', '7', '15', '0', '0', '0', '9', '95', '0', '0', '0', '98655', '66926', '21900', '71555', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '31450', '31450', '31450', ' 36 months', '  7.56%', '979.16', 'A', 'A3', 'Construction Manager', '7 years', 'MORTGAGE', '130000', 'Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '895xx', 'NV', '9.29', '0', 'Jul-1997', '0', '', '', '11', '0', '65911', '63.1%', '17', 'w', '26689.41', '26689.41', '5802.32', '5802.32', '4760.59', '1041.73', '0.0', '0.0', '0.0', 'Jun-2019', '979.16', 'Jul-2019', 'Jun-2019', '0', '', '1', 'Joint App', '239000', '12.77', 'Verified', '0', '0', '422806', '0', '0', '0', '0', '75', '0', '', '0', '0', '18962', '63', '104400', '0', '2', '1', '0', '42281', '29007', '53.5', '0', '0', '89', '257', '28', '28', '3', '28', '', '11', '', '0', '4', '6', '6', '6', '2', '10', '12', '6', '11', '0', '0', '0', '0', '100', '33.3', '0', '0', '519900', '65911', '62400', '0', '64367', 'Jul-1997', '0', '3', '14', '60.9', '1', '19', '0', '0', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '15500', '15500', '15500', ' 36 months', ' 10.72%', '505.4', 'B', 'B2', 'Administrative Assistant ', '10+ years', 'RENT', '52000', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'credit_card', 'Credit card refinancing', '925xx', 'CA', '16.66', '0', 'Oct-2007', '0', '', '', '13', '0', '13496', '33.9%', '16', 'w', '13632.26', '13632.26', '2513.15', '2513.15', '1867.74', '645.41', '0.0', '0.0', '0.0', 'May-2019', '505.4', 'Jul-2019', 'Jun-2019', '1', '', '1', 'Individual', '', '', '', '0', '349', '19386', '1', '1', '0', '1', '15', '5890', '59', '3', '4', '6061', '39', '39800', '0', '2', '1', '5', '1491', '14251', '47.4', '0', '0', '60', '134', '6', '6', '0', '6', '', '11', '', '0', '6', '8', '7', '9', '2', '12', '14', '8', '13', '0', '0', '0', '3', '100', '0', '0', '0', '49742', '19386', '27100', '9942', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '6000', '6000', '6000', ' 36 months', ' 14.47%', '206.44', 'C', 'C2', '', '< 1 year', 'OWN', '300000', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '068xx', 'CT', '17.43', '1', 'Apr-2002', '1', '17', '', '38', '0', '65950', '49.8%', '58', 'w', '5313.18', '5313.18', '1024.96', '1024.96', '686.82', '338.14', '0.0', '0.0', '0.0', 'May-2019', '206.44', 'Jul-2019', 'Jun-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '349502', '1', '4', '1', '3', '7', '39961', '45', '1', '12', '15926', '48', '132500', '2', '2', '2', '15', '9197', '38683', '60.6', '0', '0', '166', '200', '4', '4', '1', '4', '', '4', '17', '0', '16', '20', '19', '26', '9', '33', '48', '20', '38', '0', '0', '0', '2', '100', '26.3', '0', '0', '477390', '105911', '98300', '89600', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '6500', '6500', '6500', ' 36 months', ' 17.97%', '234.9', 'D', 'D1', 'Quality Field Engineer', '4 years', 'MORTGAGE', '154000', 'Source Verified', 'Dec-2018', 'Current', 'n', '', '', 'debt_consolidation', 'Debt consolidation', '278xx', 'NC', '28.78', '2', 'Oct-2008', '0', '6', '', '27', '0', '23754', '60.4%', '41', 'w', '5791.28', '5791.28', '1164.77', '1164.77', '708.72', '456.05', '0.0', '0.0', '0.0', 'May-2019', '234.9', 'Jul-2019', 'Jun-2019', '0', '6', '1', 'Individual', '', '', '', '0', '0', '116747', '2', '8', '3', '5', '1', '92993', '78', '1', '6', '3943', '72', '39300', '3', '3', '3', '11', '4324', '4578', '62.8', '1', '0', '122', '74', '11', '1', '0', '13', '', '4', '', '1', '5', '19', '5', '8', '17', '19', '24', '19', '27', '0', '0', '1', '4', '90.2', '20', '0', '0', '169160', '116747', '12300', '129860', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '28000', '28000', '28000', ' 60 months', ' 11.31%', '613.13', 'B', 'B3', 'Consultant', '2 years', 'MORTGAGE', '70000', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'credit_card', 'Credit card refinancing', '300xx', 'GA', '22.01', '0', 'Dec-2003', '1', '', '', '10', '0', '56152', '55.9%', '23', 'w', '26220.62', '26220.62', '3039.26', '3039.26', '1779.38', '1259.88', '0.0', '0.0', '0.0', 'May-2019', '613.13', 'Jul-2019', 'Jun-2019', '0', '', '1', 'Individual', '', '', '', '0', '0', '177406', '1', '1', '0', '0', '62', '9484', '54', '1', '2', '16284', '56', '100400', '1', '0', '1', '2', '17741', '44248', '55.9', '0', '0', '180', '165', '6', '6', '1', '6', '', '6', '', '0', '5', '5', '8', '9', '13', '8', '9', '5', '10', '0', '0', '0', '1', '100', '37.5', '0', '0', '259435', '65636', '100400', '17535', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']
['', '', '5525', '5525', '5525', ' 36 months', ' 15.02%', '191.59', 'C', 'C3', 'Vice President', '10+ years', 'RENT', '118000', 'Not Verified', 'Dec-2018', 'Current', 'n', '', '', 'car', 'Car financing', '322xx', 'FL', '3.25', '1', 'Jul-1999', '1', '16', '', '11', '0', '7038', '44%', '23', 'w', '4897.31', '4897.31', '951.03', '951.03', '627.69', '323.34', '0.0', '0.0', '0.0', 'May-2019', '191.59', 'Jul-2019', 'Dec-2018', '0', '21', '1', 'Individual', '', '', '', '0', '0', '7038', '1', '0', '0', '0', '2', '0', '0', '4', '5', '2498', '44', '15940', '0', '0', '4', '5', '639', '2260', '50', '1', '0', '141', '233', '4', '2', '2', '4', '26', '4', '16', '1', '5', '11', '4', '7', '2', '11', '18', '8', '11', '', '0', '0', '4', '52', '40', '0', '0', '15940', '7038', '11300', '0', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N', '', '', '', '', '', '']

In [ ]:
## Something is wrong.  The first row isn't helpful. Moving to Pandas will make this a bit easier

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [64]:
lndata = pd.read_csv('loanStats_0.csv', skiprows=1, skipfooter=2, engine='python')
print(lndata.head())

   id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0 NaN        NaN       5000         5000           5000.0   36 months
1 NaN        NaN      25000        25000          25000.0   60 months
2 NaN        NaN      10000        10000          10000.0   36 months
3 NaN        NaN       4000         4000           4000.0   36 months
4 NaN        NaN      31450        31450          31450.0   36 months

  int_rate  installment grade sub_grade  ...  \
0   17.97%       180.69     D        D1  ...
1   14.47%       587.82     C        C2  ...
2   10.33%       324.23     B        B1  ...
3   23.40%       155.68     E        E1  ...
4    7.56%       979.16     A        A3  ...

  orig_projected_additional_accrued_interest hardship_payoff_balance_amount  \
0                                        NaN                            NaN
1                                        NaN                            NaN
2                                        NaN                            NaN
3                                        NaN                            NaN
4                                        NaN                            NaN

  hardship_last_payment_amount  debt_settlement_flag  \
0                          NaN                     N
1                          NaN                     N
2                          NaN                     N
3                          NaN                     N
4                          NaN                     N

  debt_settlement_flag_date settlement_status settlement_date  \
0                       NaN               NaN             NaN
1                       NaN               NaN             NaN
2                       NaN               NaN             NaN
3                       NaN               NaN             NaN
4                       NaN               NaN             NaN

  settlement_amount  settlement_percentage  settlement_term
0               NaN                    NaN              NaN
1               NaN                    NaN              NaN
2               NaN                    NaN              NaN
3               NaN                    NaN              NaN
4               NaN                    NaN              NaN

[5 rows x 144 columns]

In [65]:
print(lndata.tail())
## the last two rows aren't data we need here. Revising read above...

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
128407 NaN        NaN      23000        23000          23000.0   36 months
128408 NaN        NaN      10000        10000          10000.0   36 months
128409 NaN        NaN       5000         5000           5000.0   36 months
128410 NaN        NaN      10000        10000           9750.0   36 months
128411 NaN        NaN      10000        10000          10000.0   36 months

       int_rate  installment grade sub_grade  ...  \
128407   15.02%       797.53     C        C3  ...
128408   15.02%       346.76     C        C3  ...
128409   13.56%       169.83     C        C1  ...
128410   11.06%       327.68     B        B3  ...
128411   16.91%       356.08     C        C5  ...

       orig_projected_additional_accrued_interest  \
128407                                        NaN
128408                                        NaN
128409                                        NaN
128410                                        NaN
128411                                        NaN

       hardship_payoff_balance_amount hardship_last_payment_amount  \
128407                            NaN                          NaN
128408                            NaN                          NaN
128409                            NaN                          NaN
128410                            NaN                          NaN
128411                            NaN                          NaN

        debt_settlement_flag debt_settlement_flag_date settlement_status  \
128407                     N                       NaN               NaN
128408                     N                       NaN               NaN
128409                     N                       NaN               NaN
128410                     N                       NaN               NaN
128411                     N                       NaN               NaN

       settlement_date settlement_amount  settlement_percentage  \
128407             NaN               NaN                    NaN
128408             NaN               NaN                    NaN
128409             NaN               NaN                    NaN
128410             NaN               NaN                    NaN
128411             NaN               NaN                    NaN

        settlement_term
128407              NaN
128408              NaN
128409              NaN
128410              NaN
128411              NaN

[5 rows x 144 columns]

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [70]:
## Here I decided to loop through all the columns and check their dtype, printing where the data type is object.
for col in lndata.columns:
    if lndata[col].dtype == 'object':
        print(col)

term
int_rate
grade
sub_grade
emp_title
emp_length
home_ownership
verification_status
issue_d
loan_status
pymnt_plan
purpose
title
zip_code
addr_state
earliest_cr_line
revol_util
initial_list_status
last_pymnt_d
next_pymnt_d
last_credit_pull_d
application_type
verification_status_joint
sec_app_earliest_cr_line
hardship_flag
hardship_type
hardship_reason
hardship_status
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_loan_status
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [71]:
## Let's investigate int_rate
lndata['int_rate'].head()

0     17.97%
1     14.47%
2     10.33%
3     23.40%
4      7.56%
Name: int_rate, dtype: object

In [87]:
## Return float value or NaN if missing or float fails
def ptf(percent_str):
    try:
        fval = float(percent_str.strip('%'))
    except:
        fval = np.NaN
    
    return fval

Apply the function to the `int_rate` column

In [88]:
## First, I'll copy the original data
lndCopy = lndata.copy()
## Now I will replace the column with the function applied
lndCopy['int_rate'] = lndata['int_rate'].apply(ptf)
lndCopy['int_rate'].head()

0    17.97
1    14.47
2    10.33
3    23.40
4     7.56
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [94]:
for counter, row in enumerate(lndata['emp_title'].value_counts().iteritems()):
    if counter < 20:
        print(row)
    else:
        break

('Teacher', 2090)
('Manager', 1773)
('Registered Nurse', 952)
('Driver', 924)
('RN', 726)
('Supervisor', 697)
('Sales', 580)
('Project Manager', 526)
('General Manager', 523)
('Office Manager', 521)
('Owner', 420)
('Director', 402)
('Operations Manager', 387)
('Truck Driver', 387)
('Nurse', 326)
('Engineer', 325)
('Sales Manager', 304)
('manager', 301)
('Supervisor ', 270)
('Administrative Assistant', 269)

How often is `emp_title` null?

In [95]:
lndata['emp_title'].isna().sum()

20947

Clean the title and handle missing values

In [98]:
## strip any whitespace and capitalize ubiquitously
def cleanEntry(entry):
    if isinstance(entry, str):
        return entry.strip().title()
    else:
        return np.NaN

## Quick test
test_str = ['adfad ', ' adfadfad ', np.NaN]
print([cleanEntry(item) for item in test_str])

['Adfad', 'Adfadfad', nan]

In [99]:
## Hit the copied dataframe
lndCopy['emp_title'] = lndata['emp_title'].apply(cleanEntry)
lndCopy['emp_title'].head()

0          Administrative
1                 Teacher
2                     NaN
3                Security
4    Construction Manager
Name: emp_title, dtype: object

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [117]:
## Making the boolean manager column
managertypes = ['manager', 'executive', 'supervisor']
lndCopy['emp_title_manager'] = lndata['emp_title'].str.contains('|'.join(managertypes), case=False, regex=True)
lndCopy['emp_title_manager'] = lndCopy['emp_title_manager'].astype(bool)
lndCopy['emp_title_manager'].head(20)

0     False
1     False
2      True
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
Name: emp_title_manager, dtype: bool

In [119]:
## Checkign interest rates for each group
lndCopy.groupby('emp_title_manager').mean()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,desc,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
emp_title_manager,,,,,,,,,,,,,,,,,,,,,
False,NaN,NaN,15920.22624,15920.22624,15917.406203,12.929892,460.318361,83290.769015,NaN,NaN,...,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,6129.612000,56.665,16.3
True,NaN,NaN,16070.51561,16070.51561,16067.687284,12.930058,468.957513,81839.369114,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5982.346111,54.455,15.5

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [124]:
lndCopy['issue_d'] = pd.to_datetime(lndCopy['issue_d'], infer_datetime_format=True)
lndCopy['issue_d'].head(10)

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
5   2018-12-01
6   2018-12-01
7   2018-12-01
8   2018-12-01
9   2018-12-01
Name: issue_d, dtype: datetime64[ns]

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [129]:
lndCopy['term'].value_counts()
#lndCopy['term'] = lndCopy['term'].astype(int)

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [138]:
## splitting on ' months' and returning number as integer since column very clean.
def stripMonths(term):
    return int(term.split(' months')[0])

lndCopy['term'] = lndata['term'].apply(stripMonths)
lndCopy['term'].head(5)

0    36
1    60
2    36
3    36
4    36
Name: term, dtype: int64

In [145]:
## Quick look at loan_status
lndata['loan_status'].value_counts()

Current               114514
Fully Paid              9785
Late (31-120 days)      1878
Charged Off             1028
In Grace Period          807
Late (16-30 days)        397
Default                    3
Name: loan_status, dtype: int64

In [149]:
## Building the feature with method from above
good_status = ['Fully Paid', 'Current']
lndCopy['loan_status_is_great'] = lndata['loan_status'].str.contains('|'.join(good_status), case=False, regex=True)
lndCopy['loan_status_is_great'].value_counts()
lndCopy['loan_status_is_great'] = lndCopy['loan_status_is_great'].astype(int)
lndCopy['loan_status_is_great'].head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: loan_status_is_great, dtype: int32

In [158]:
## Quick look at last_payment_d
print(lndata['last_pymnt_d'].head())
print(lndata['last_pymnt_d'].value_counts())
print(lndata['last_pymnt_d'].dtype)

type(lndata['last_pymnt_d'][1])

0    Jun-2019
1    May-2019
2    May-2019
3    May-2019
4    Jun-2019
Name: last_pymnt_d, dtype: object
Jun-2019    103574
May-2019     14806
Apr-2019      2408
Mar-2019      2002
Feb-2019      1925
Jan-2019      1560
Dec-2018      1054
Nov-2018       679
Oct-2018       234
Jul-2019        11
Name: last_pymnt_d, dtype: int64
object

str

In [167]:
lndCopy['last_pymnt_d'] = pd.to_datetime(lndata['last_pymnt_d'], infer_datetime_format=True)
print(lndCopy['last_pymnt_d'].value_counts())
print(lndCopy['last_pymnt_d'].dtype)

type(lndCopy['last_pymnt_d'][1])

2019-06-01    103574
2019-05-01     14806
2019-04-01      2408
2019-03-01      2002
2019-02-01      1925
2019-01-01      1560
2018-12-01      1054
2018-11-01       679
2018-10-01       234
2019-07-01        11
Name: last_pymnt_d, dtype: int64
datetime64[ns]

pandas._libs.tslibs.timestamps.Timestamp

In [172]:
## This column is clean.  Converting to datetime would allow calling month/year on command.
## Since the data is so clean, I'll just split on the hyphen.
def getMonth(x):
    return x.month_name()
def getYear(x):
    return x.year

lndCopy['last_pymnt_d_month'] = lndCopy['last_pymnt_d'].apply(getMonth)
lndCopy['last_pymnt_d_year'] = lndCopy['last_pymnt_d'].apply(getYear)
print(lndCopy['last_pymnt_d_month'].head(5))
print(lndCopy['last_pymnt_d_year'].head(5))

0    June
1     May
2     May
3     May
4    June
Name: last_pymnt_d_month, dtype: object
0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_pymnt_d_year, dtype: float64

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [ ]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [ ]:
# %cd instacart_2017_05_01