_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
#download data from url and save
!wget https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip

--2019-07-22 21:59:37--  https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2019Q1.csv.zip’

LoanStats_2019Q1.cs     [    <=>             ]  19.30M   902KB/s    in 22s

2019-07-22 21:59:59 (893 KB/s) - ‘LoanStats_2019Q1.csv.zip’ saved [20240936]

In [0]:
#to see the file 
!ls

LoanStats_2019Q1.csv.zip  sample_data

In [0]:
# unzip downloaded file
!unzip LoanStats_2019Q1.csv.zip

Archive:  LoanStats_2019Q1.csv.zip
  inflating: LoanStats_2019Q1.csv

In [0]:
# see few head
!head LoanStats_2019Q1.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.19%","499.1","C","C5","Front desk supervisor","6 years","RENT","47000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","958xx","CA","14.02","0","Sep-2006","1","50","","15","0","10687","19.7%","53","w","19254.76","19254.76","1459.1","1459.10","745.24","713.86","0.0","0.0","0.0","Jun-2019","499.1","Jul-2019","Jun-2019","0","50","1","Individual","","","","0","0","31546","3","2","1","2","10","20859","97","4","9","5909","42","54300","6","1","3","11","2103","23647","30","0","0","150","100","1","1","0","5","","3","50","3","3","4","8","19","19","13","33","4","15","0","0","0","5","98","12.5","0","0","75824","31546","33800","21524","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 36 months"," 16.40%","424.26","C","C4","Executive Director","4 years","MORTGAGE","95000","Not Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","436xx","OH","29.5","0","Nov-1992","0","29","","19","0","16619","64.9%","36","w","11475.92","11475.92","826.65","826.65","524.08","302.57","0.0","0.0","0.0","May-2019","424.26","Jul-2019","Jun-2019","0","30","1","Individual","","","","0","0","176551","1","5","2","5","7","35115","65","3","6","4899","65","25600","4","0","3","12","9292","3231","82.5","0","0","316","269","5","5","2","12","58","7","29","1","6","8","6","9","10","13","23","8","19","0","0","0","6","80.6","66.7","0","0","209488","51734","18500","54263","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3000","3000","3000"," 36 months"," 14.74%","103.62","C","C2","Office Manager","4 years","MORTGAGE","58750","Verified","Mar-2019","Current","n","","","medical","Medical expenses","327xx","FL","30.91","0","Jun-2004","0","24","","16","0","20502","60.1%","25","f","2865.64","2865.64","202.33","202.33","134.36","67.97","0.0","0.0","0.0","May-2019","103.62","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","37816","0","3","0","0","27","17314","48","0","0","3962","54","34100","0","1","0","0","2364","1208","89.4","0","0","177","164","35","27","4","40","24","","24","0","7","12","7","8","6","13","15","12","16","0","0","0","0","96","71.4","0","0","69911","37816","11400","35811","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","35000","35000","35000"," 36 months"," 15.57%","1223.08","C","C3","Store Manager ","10+ years","RENT","122000","Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","333xx","FL","22","1","Dec-2009","0","20","","5","0","1441","24.4%","18","w","33459.43","33459.43","2446.76","2446.76","1540.57","845.04","61.15","0.0","0.0","Jun-2019","1223.08","Jul-2019","Jun-2019","0","20","1","Individual","","","","0","0","24471","0","3","0","0","26","23030","39","0","0","1441","37","5900","2","4","1","1","4894","159","90.1","0","0","108","111","52","24","0","85","","9","","1","1","1","1","3","10","2","7","1","5","0","0","1","0","94.4","100","0","0","65640","24471","1600","59740","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 15.57%","174.73","C","C3","Area Manager","3 years","OWN","65000","Verified","Mar-2019","Current","n","","","house","Home buying","640xx","MO","16.28","1","Jul-2001","0","7","","9","0","5604","64.4%","25","w","4778.86","4778.86","340.81","340.81","221.14","119.67","0.0","0.0","0.0","May-2019","174.73","Jul-2019","Jun-2019","0","7","1","Individual","","","","0","0","29775","0","1","0","1","17","24171","82","1","6","1824","78","8700","1","0","0","7","3722","1070","75.7","0","0","111","212","10","10","4","17","69","17","69","4","3","5","5","9","7","8","14","5","9","0","0","1","1","76","50","0","0","38190","29775","4400","29490","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 12.40%","897.89","B","B4","SVP","10+ years","MORTGAGE","515000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","117xx","NY","18.19","0","Feb-1993","1","","","24","0","130490","86.4%","49","w","39025.88","39025.88","1740.67","1740.67","974.12","766.55","0.0","0.0","0.0","May-2019","897.89","Jul-2019","Jun-2019","0","","1","Individual","","","","0","205","569565","3","6","2","3","4","72207","39","3","3","20896","67","151100","1","6","2","7","23732","4733","94.8","0","0","160","304","3","3","6","10","","0","","0","10","14","10","17","12","15","28","14","24","0","0","0","5","100","100","0","0","752911","204997","90800","144678","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 11.02%","870.1","B","B2","VP of Sales","3 years","MORTGAGE","288000","Not Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","843xx","UT","19.74","0","May-2002","0","","","20","0","66240","43.9%","34","w","38989.85","38989.85","1691.22","1691.22","1010.15","681.07","0.0","0.0","0.0","May-2019","870.1","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","390598","0","5","0","2","16","140633","58","0","2","22577","49","150900","0","6","1","4","19530","81923","43.1","0","0","136","202","17","16","1","17","","3","","0","8","9","10","15","11","13","22","10","20","0","0","0","0","100","20","0","0","543401","206873","143900","197751","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 60 months"," 12.40%","448.95","B","B4","Sales","1 year","MORTGAGE","70000","Source Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","481xx","MI","32.33","0","May-1995","0","","","12","0","31036","56.7%","32","w","19512.93","19512.93","870.34","870.34","487.07","383.27","0.0","0.0","0.0","May-2019","448.95","Jul-2019","Jun-2019","0","","1","Joint App","102400","31.16","Source Verified","0","0","204292","0","3","0","1","14","16305","33","0","0","17389","46","54700","1","3","0","2","17024","268","98.9","0","0","133","286","41","14","4","84","","15","","0","3","7","3","7","9","8","19","7","12","0","0","0","0","100","100","0","0","267991","47341","24800","49291","56647","May-1995","0","4","15","61.3","1","31","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
df =pd.read_csv('LoanStats_2019Q1.csv')
#df=pd.read_csv('https://resources.lendingclub.com/LoanStats_2019Q1.csv')
print(df.shape)
df.head()
# shape showing only one column but there are many column in head its because read_csv took first line that is url address as a column

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(115678, 1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title             emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       20000     20000       20000            60 months  17.19%  499.1       C     C5        Front desk supervisor 6 years    RENT           47000      Source Verified     Mar-2019 Current     n          NaN NaN  debt_consolidation Debt consolidation      958xx    CA         14.02 0           Sep-2006         1              50                     NaN                    15       0       10687     19.7%      53        w                   19254.76  19254.76      1459.1      1459.10         745.24          713.86        0.0                0.0        0.0                     Jun-2019     499.1           Jul-2019     Jun-2019           0                          50                          1           Individual       NaN              NaN       NaN                       0              0            31546       3           2           1           2           10                 20859        97      4           9           5909       42       54300            6      1           3            11                   2103        23647          30      0                        0           150                100                  1                     1              0        5                    NaN                      3                     50                             3                     3              4               8           19        19        13            33            4                   15       0                0            0                  5                  98             12.5             0                    0         75824           31546             33800          21524                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              12000     12000       12000            36 months  16.40%  424.26      C     C4        Executive Director    4 years    MORTGAGE       95000      Not Verified        Mar-2019 Current     n          NaN NaN  debt_consolidation Debt consolidation      436xx    OH         29.5  0           Nov-1992         0              29                     NaN                    19       0       16619     64.9%      36        w                   11475.92  11475.92      826.65      826.65          524.08          302.57        0.0                0.0        0.0                     May-2019     424.26          Jul-2019     Jun-2019           0                          30                          1           Individual       NaN              NaN       NaN                       0              0            176551      1           5           2           5           7                  35115        65      3           6           4899       65       25600            4      0           3            12                   9292        3231           82.5    0                        0           316                269                  5                     5              2        12                   58                       7                     29                             1                     6              8               6           9         10        13            23            8                   19       0                0            0                  6                  80.6           66.7             0                    0         209488          51734             18500          54263                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              3000      3000        3000             36 months  14.74%  103.62      C     C2        Office Manager        4 years    MORTGAGE       58750      Verified            Mar-2019 Current     n          NaN NaN  medical            Medical expenses        327xx    FL         30.91 0           Jun-2004         0              24                     NaN                    16       0       20502     60.1%      25        f                   2865.64   2865.64       202.33      202.33          134.36          67.97         0.0                0.0        0.0                     May-2019     103.62          Jul-2019     Jun-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            37816       0           3           0           0           27                 17314        48      0           0           3962       54       34100            0      1           0            0                    2364        1208           89.4    0                        0           177                164                  35                    27             4        40                   24                       NaN                   24                             0                     7              12              7           8         6         13            15            12                  16       0                0            0                  0                  96             71.4             0                    0         69911           37816             11400          35811                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              35000     35000       35000            36 months  15.57%  1223.08     C     C3        Store Manager         10+ years  RENT           122000     Verified            Mar-2019 Current     n          NaN NaN  credit_card        Credit card refinancing 333xx    FL         22    1           Dec-2009         0              20                     NaN                    5        0       1441      24.4%      18        w                   33459.43  33459.43      2446.76     2446.76         1540.57         845.04        61.15              0.0        0.0                     Jun-2019     1223.08         Jul-2019     Jun-2019           0                          20                          1           Individual       NaN              NaN       NaN                       0              0            24471       0           3           0           0           26                 23030        39      0           0           1441       37       5900             2      4           1            1                    4894        159            90.1    0                        0           108                111                  52                    24             0        85                   NaN                      9                     NaN                            1                     1              1               1           3         10        2             7             1                   5        0                0            1                  0                  94.4           100              0                    0         65640           24471             1600           59740                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [0]:
#To skip first row from top while reading data
df =pd.read_csv('LoanStats_2019Q1.csv' , skiprows =1)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(115677, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df.isna().sum()
# 2 is constant in every missing values// every column has atleast 2 missing values

id                                            115675
member_id                                     115677
loan_amnt                                          2
funded_amnt                                        2
funded_amnt_inv                                    2
term                                               2
int_rate                                           2
installment                                        2
grade                                              2
sub_grade                                          2
emp_title                                      19520
emp_length                                     11103
home_ownership                                     2
annual_inc                                         2
verification_status                                2
issue_d                                            2
loan_status                                        2
pymnt_plan                                         2
url                                           115677
desc                                          115677
purpose                                            2
title                                              2
zip_code                                           2
addr_state                                         2
dti                                              259
delinq_2yrs                                        2
earliest_cr_line                                   2
inq_last_6mths                                     2
mths_since_last_delinq                         65801
mths_since_last_record                        102254
                                               ...
sec_app_mort_acc                               98996
sec_app_open_acc                               98996
sec_app_revol_util                             99226
sec_app_open_act_il                            98996
sec_app_num_rev_accts                          98996
sec_app_chargeoff_within_12_mths               98996
sec_app_collections_12_mths_ex_med             98996
sec_app_mths_since_last_major_derog           110776
hardship_flag                                      2
hardship_type                                 115676
hardship_reason                               115676
hardship_status                               115676
deferral_term                                 115676
hardship_amount                               115676
hardship_start_date                           115676
hardship_end_date                             115676
payment_plan_start_date                       115676
hardship_length                               115676
hardship_dpd                                  115676
hardship_loan_status                          115676
orig_projected_additional_accrued_interest    115676
hardship_payoff_balance_amount                115676
hardship_last_payment_amount                  115676
debt_settlement_flag                               2
debt_settlement_flag_date                     115676
settlement_status                             115676
settlement_date                               115676
settlement_amount                             115676
settlement_percentage                         115676
settlement_term                               115676
Length: 144, dtype: int64

In [0]:
# index data frame whether or not loan amount is missing show only 2 rows where loan amount is missing
df[df.loan_amnt.isna()]
#Every column in these rows are missing

                                                      id  ...  settlement_term
115675  Total amount funded in policy code 1: 1928448350  ...              NaN
115676   Total amount funded in policy code 2: 799372035  ...              NaN

[2 rows x 144 columns]

In [0]:
# to look the tail of the data
!tail LoanStats_2019Q1.csv

"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","","n/a","MORTGAGE","48000","Not Verified","Jan-2019","Current","n","","","home_improvement","Home improvement","338xx","FL","8.28","2","May-2006","0","11","","8","0","3846","13.6%","21","w","4420.40","4420.40","841.62","841.62","579.60","262.02","0.0","0.0","0.0","Jun-2019","169.83","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","35666","0","1","0","0","49","5336","47","0","2","0","23","28200","0","3","0","2","4458","","","0","0","99","151","13","13","1","","","","11","0","0","3","0","1","4","6","16","3","8","0","0","0","0","90.5","","0","0","88613","9182","0","11413","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 36 months","  6.46%","1225.24","A","A1","President - North America","4 years","MORTGAGE","520000","Verified","Jan-2019","Current","n","","","credit_card","Credit card refinancing","752xx","TX","9.96","0","Sep-2006","1","43","","21","0","59529","29.6%","57","f","34895.81","34895.81","6111.84","6111.84","5104.19","1007.65","0.0","0.0","0.0","Jun-2019","1225.24","Jul-2019","Jun-2019","0","43","1","Individual","","","","0","0","864480","2","3","0","0","28","27151","35","3","5","38479","34","111100","1","0","3","7","41166","41467","34.3","0","0","147","146","2","2","9","3","43","3","43","0","4","5","8","16","10","14","36","5","21","0","0","0","3","98.2","12.5","0","0","1033574","95958","100800","78634","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6000","6000","6000"," 36 months","  6.46%","183.79","A","A1","","< 1 year","MORTGAGE","96000","Not Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","060xx","CT","0.31","0","May-1993","0","","91","16","1","50","0.1%","36","w","5234.35","5234.35","916.8","916.80","765.65","151.15","0.0","0.0","0.0","Jun-2019","183.79","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","50","0","0","0","1","15","0","","1","4","50","0","33500","1","1","1","5","3","14850","0.3","0","0","15","306","7","7","0","45","","7","","0","1","1","3","12","1","16","35","1","16","0","0","0","1","100","0","1","0","33500","50","14900","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 36 months"," 16.14%","563.62","C","C4","Estimator/Supervisor","10+ years","MORTGAGE","32000","Source Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","20.89","0","Dec-2010","0","35","117","13","1","17066","49.9%","15","f","14210.40","14210.40","2803.75","2803.75","1789.60","1014.15","0.0","0.0","0.0","Jun-2019","563.62","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","17066","1","0","0","0","55","0","","3","3","2353","50","34200","0","0","1","3","1313","6446","60.7","0","0","55","96","1","1","0","1","35","12","35","0","7","8","8","8","1","13","14","8","13","0","0","0","3","93.3","37.5","1","0","34200","17066","16400","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 11.31%","350.36","B","B3","MATERIAL HANDLER","5 years","MORTGAGE","72000","Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","850xx","AZ","7.02","2","Sep-2005","0","8","64","12","1","11882","37.1%","39","w","3227.04","3227.04","13441.75","13441.75","12772.96","668.79","0.0","0.0","0.0","Jun-2019","350.36","Jul-2019","Jun-2019","0","8","1","Individual","","","","0","0","225413","0","2","0","0","28","62953","79","0","0","5568","45","32000","2","2","4","1","18784","11705","49.1","2","0","159","129","25","24","3","25","","1","9","2","4","5","5","9","20","9","16","5","12","0","0","2","0","94.3","0","1","0","251486","74835","23000","63090","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","29250","29250","29250"," 60 months"," 18.94%","757.8","D","D2","sr register csa","7 years","MORTGAGE","65000","Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","774xx","TX","29.52","0","Jan-2011","0","","","20","0","38465","69%","22","w","27721.83","27721.83","3727.44","3727.44","1528.17","2199.27","0.0","0.0","0.0","Jun-2019","757.8","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","204764","0","1","0","1","17","20323","79","1","3","13874","69","55505","0","0","0","4","10238","2985","87","0","0","78","95","7","7","1","19","","13","","0","13","18","13","13","3","18","18","18","20","","0","0","1","100","76.9","0","0","237833","58788","38800","25728","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 1928448350
Total amount funded in policy code 2: 799372035

In [0]:
# to skip to rows  from foot
#skipfoot does not support the c engine
df =pd.read_csv('LoanStats_2019Q1.csv' , skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(115675, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000,60 months,17.19%,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000,36 months,16.40%,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000,3000,3000,36 months,14.74%,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000,35000,35000,36 months,15.57%,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000,36 months,15.57%,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
df.isna().sum()

id                                            115675
member_id                                     115675
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      19518
emp_length                                     11101
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           115675
desc                                          115675
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              257
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         65799
mths_since_last_record                        102252
                                               ...
sec_app_mort_acc                               98994
sec_app_open_acc                               98994
sec_app_revol_util                             99224
sec_app_open_act_il                            98994
sec_app_num_rev_accts                          98994
sec_app_chargeoff_within_12_mths               98994
sec_app_collections_12_mths_ex_med             98994
sec_app_mths_since_last_major_derog           110774
hardship_flag                                      0
hardship_type                                 115674
hardship_reason                               115674
hardship_status                               115674
deferral_term                                 115674
hardship_amount                               115674
hardship_start_date                           115674
hardship_end_date                             115674
payment_plan_start_date                       115674
hardship_length                               115674
hardship_dpd                                  115674
hardship_loan_status                          115674
orig_projected_additional_accrued_interest    115674
hardship_payoff_balance_amount                115674
hardship_last_payment_amount                  115674
debt_settlement_flag                               0
debt_settlement_flag_date                     115674
settlement_status                             115674
settlement_date                               115674
settlement_amount                             115674
settlement_percentage                         115674
settlement_term                               115674
Length: 144, dtype: int64

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115675 entries, 0 to 115674
Columns: 144 entries, id to settlement_term
dtypes: float64(56), int64(52), object(36)
memory usage: 127.1+ MB

In [0]:
#To display maximum column on screen
pd.options.display.max_columns=200 ## -1 by default(infinity)
pd.options.display.max_rows=200

In [0]:
# transpose dataframe
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,20000,12000,3000,35000,5000
funded_amnt,20000,12000,3000,35000,5000
funded_amnt_inv,20000,12000,3000,35000,5000
term,60 months,36 months,36 months,36 months,36 months
int_rate,17.19%,16.40%,14.74%,15.57%,15.57%
installment,499.1,424.26,103.62,1223.08,174.73
grade,C,C,C,C,C
sub_grade,C5,C4,C2,C3,C3
emp_title,Front desk supervisor,Executive Director,Office Manager,Store Manager,Area Manager
emp_length,6 years,4 years,4 years,10+ years,3 years
home_ownership,RENT,MORTGAGE,MORTGAGE,RENT,OWN
annual_inc,47000,95000,58750,122000,65000
verification_status,Source Verified,Not Verified,Verified,Verified,Verified
issue_d,Mar-2019,Mar-2019,Mar-2019,Mar-2019,Mar-2019
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,debt_consolidation,medical,credit_card,house
title,Debt consolidation,Debt consolidation,Medical expenses,Credit card refinancing,Home buying
zip_code,958xx,436xx,327xx,333xx,640xx
addr_state,CA,OH,FL,FL,MO
dti,14.02,29.5,30.91,22,16.28
delinq_2yrs,0,0,0,1,1
earliest_cr_line,Sep-2006,Nov-1992,Jun-2004,Dec-2009,Jul-2001
inq_last_6mths,1,0,0,0,0
mths_since_last_delinq,50,29,24,20,7
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,15,19,16,5,9
pub_rec,0,0,0,0,0
revol_bal,10687,16619,20502,1441,5604
revol_util,19.7%,64.9%,60.1%,24.4%,64.4%
total_acc,53,36,25,18,25
initial_list_status,w,w,f,w,w
out_prncp,19254.8,11475.9,2865.64,33459.4,4778.86
out_prncp_inv,19254.8,11475.9,2865.64,33459.4,4778.86
total_pymnt,1459.1,826.65,202.33,2446.76,340.81
total_pymnt_inv,1459.1,826.65,202.33,2446.76,340.81
total_rec_prncp,745.24,524.08,134.36,1540.57,221.14
total_rec_int,713.86,302.57,67.97,845.04,119.67
total_rec_late_fee,0,0,0,61.15,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Jun-2019,May-2019,May-2019,Jun-2019,May-2019
last_pymnt_amnt,499.1,424.26,103.62,1223.08,174.73
next_pymnt_d,Jul-2019,Jul-2019,Jul-2019,Jul-2019,Jul-2019
last_credit_pull_d,Jun-2019,Jun-2019,Jun-2019,Jun-2019,Jun-2019
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,50,30,NaN,20,7
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,0,0,0,0
tot_cur_bal,31546,176551,37816,24471,29775
open_acc_6m,3,1,0,0,0
open_act_il,2,5,3,3,1
open_il_12m,1,2,0,0,0
open_il_24m,2,5,0,0,1
mths_since_rcnt_il,10,7,27,26,17
total_bal_il,20859,35115,17314,23030,24171
il_util,97,65,48,39,82
open_rv_12m,4,3,0,0,1
open_rv_24m,9,6,0,0,6
max_bal_bc,5909,4899,3962,1441,1824
all_util,42,65,54,37,78
total_rev_hi_lim,54300,25600,34100,5900,8700
inq_fi,6,4,0,2,1
total_cu_tl,1,0,1,4,0
inq_last_12m,3,3,0,1,0
acc_open_past_24mths,11,12,0,1,7
avg_cur_bal,2103,9292,2364,4894,3722
bc_open_to_buy,23647,3231,1208,159,1070
bc_util,30,82.5,89.4,90.1,75.7
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,150,316,177,108,111
mo_sin_old_rev_tl_op,100,269,164,111,212
mo_sin_rcnt_rev_tl_op,1,5,35,52,10
mo_sin_rcnt_tl,1,5,27,24,10
mort_acc,0,2,4,0,4
mths_since_recent_bc,5,12,40,85,17
mths_since_recent_bc_dlq,NaN,58,24,NaN,69
mths_since_recent_inq,3,7,NaN,9,17
mths_since_recent_revol_delinq,50,29,24,NaN,69
num_accts_ever_120_pd,3,1,0,1,4
num_actv_bc_tl,3,6,7,1,3
num_actv_rev_tl,4,8,12,1,5
num_bc_sats,8,6,7,1,5
num_bc_tl,19,9,8,3,9
num_il_tl,19,10,6,10,7
num_op_rev_tl,13,13,13,2,8
num_rev_accts,33,23,15,7,14
num_rev_tl_bal_gt_0,4,8,12,1,5
num_sats,15,19,16,5,9
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,1,1
num_tl_op_past_12m,5,6,0,0,1
pct_tl_nvr_dlq,98,80.6,96,94.4,76
percent_bc_gt_75,12.5,66.7,71.4,100,50
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,75824,209488,69911,65640,38190
total_bal_ex_mort,31546,51734,37816,24471,29775
total_bc_limit,33800,18500,11400,1600,4400
total_il_high_credit_limit,21524,54263,35811,59740,29490
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [0]:
# take only numerical values can also include object and string
#df.describe()
df.describe(include='object')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,115675,115675,115675,115675,96157,104574,115675,115675,115675,115675,115675,115675,115675,115675,115675,115675,115546,115675,115445,110769,115673,115675,14624,16681,115675,1,1,1,1,1,1,1,115675,1,1,1
unique,2,53,7,33,39387,11,5,3,3,6,1,12,12,877,50,652,1055,2,7,3,7,2,3,577,2,1,1,1,1,1,1,1,2,1,1,1
top,36 months,8.19%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Jan-2019,Current,n,debt_consolidation,Debt consolidation,750xx,CA,Aug-2006,0%,w,Jun-2019,Jul-2019,Jun-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,INCOME_CURTAILMENT,ACTIVE,Jun-2019,Sep-2019,Jul-2019,In Grace Period,N,May-2019,ACTIVE,May-2019
freq,78429,11314,37060,11314,2037,34490,58578,54608,43584,109176,115675,63747,63747,1162,15902,1033,1054,101423,102101,110738,111240,98994,6395,150,115674,1,1,1,1,1,1,1,115674,1,1,1

In [0]:
df.emp_length.value_counts()

10+ years    34490
< 1 year     15044
2 years       9695
3 years       8719
1 year        7919
5 years       7189
4 years       6777
6 years       4636
7 years       3913
8 years       3625
9 years       2567
Name: emp_length, dtype: int64

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
# rmove all the leadind and trailing spaces from string , parameter-- character and set of character needed to remove
x= '12.5%'
x.strip('%')

'12.5'

In [0]:
type(float(x.strip('%')))

float

In [0]:
#  To access string property of panda use .str
  df.int_rate= df.int_rate.str.strip('%').astype(float)
  #df.int_rate.str.strip('%').astype(float).head()

In [0]:
df.int_rate.head()

0    17.19
1    16.40
2    14.74
3    15.57
4    15.57
Name: int_rate, dtype: float64

Apply the function to the `int_rate` column

In [0]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000,60 months,17.19,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000,36 months,16.40,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000,3000,3000,36 months,14.74,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000,35000,35000,36 months,15.57,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000,36 months,15.57,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
x= '12.5%'
def remove_percent_sign(string):
  '''This function takes a string as input, strips the trailing percent sign, and returns float interest rate.'''
  return float(string.strip('%'))

remove_percent_sign(x)

12.5

In [0]:
# apply the function
df['int_rate']=df['int_rate'].apply(remove_percent_sign)
df['int_rate'].head()

0    17.19
1    16.40
2    14.74
3    15.57
4    15.57
Name: int_rate, dtype: float64

In [0]:
df['int_rate'].hist()

### Clean `emp_title`

Look at top 20 titles

In [0]:
df.emp_title.value_counts(50)

How often is `emp_title` null?

In [0]:
df.emp_title.isna().sum()

In [0]:
df.shape

In [0]:
# in percentage
df.emp_title.isna().sum()/len(df)
df.emp_title.isna().sum()/df.shape[0]

In [0]:
# No.of unique
df.emp_title.nunique()
# probably duplicate value

In [0]:
df.emp_title.value_counts(dropna=False)
#Nan is the most unique value

Clean the  1)Capital

2)strip space

3)title and handle
4) replace nan with missing values

In [0]:
# is instance belong to this class
isinstance('dog',str)
#to captalize use title()

In [0]:
import numpy as np

example = ['owner', 'Supervisor ', ' Project manager', np.nan]

def clean_emp_title(x):
  if isinstance(x, str):
      return x.strip().title()
  else:
      return 'Missing'
  
#for ex in example:
#  print(clean_emp_title(ex))
  
[clean_emp_title(x) for x in example]

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_emp_title)
df['emp_title'].head(20)

In [0]:
df.emp_title.nunique()

In [0]:
df.emp_title.value_counts(10)

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
df['emp_title'].str.contains('manager', case=False).head()

In [0]:
df['emp_title'].iloc[0:10]

In [0]:
df['emp_title_manager'] = df.emp_title.str.contains('Manager')
df['emp_title_manager'].value_counts()

In [0]:
#  mean interest rate of maneger and non maneger
df.groupby('emp_title_manager').int_rate.mean()

In [0]:
df['int_rate'].groupby(df['emp_title_manager']).mean()

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
df['issue_d'].head().values

In [0]:
df['issue_d'].describe()

In [0]:
# covert into date panda recognise
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)
df['issue_d'].describe()

In [0]:
# access date time for certain field
df['issue_d'].iloc[0:5].dt.year # month also

In [0]:
df['issue_month'] = df['issue_d'].dt.month

In [0]:
df['issue_month'].value_counts()

In [0]:
df.head()

In [0]:
# convert date time object
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'])

In [0]:
df['days_since_earlist_cr_line'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [0]:
#df['days_since_earlist_cr_line'].describe()

In [0]:
27453/365

In [0]:
[col for col in df if col.endswith('_d')]

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
  df[col] = pd.to_datetime(df[col])

In [0]:
df.describe(include='datetime')

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
df.term.head()

In [0]:
x= '20 months'
x.strip(' months')

In [0]:
#x='20 months'
def conv_int(string):
  return string.strip(' months')
conv_int('20 months')

In [0]:
df['term']=df['term'].apply(conv_int)
df['term'].head()

In [0]:
df.head()

In [0]:
df['loan_status'].value_counts()

In [0]:
df['loan_status_is_great']=df['loan_status'].str.contains('Current|Fully Paid', regex = True)
df['loan_status_is_great'].value_counts()

In [0]:
df['loan_status_is_great']=np.where(df['loan_status_is_great']==True , 1 ,0)
df['loan_status_is_great'].value_counts()

In [0]:
import numpy as np
#import pandas as pd
example = ['current' , 'Fully paid', 'pending']
def change_value(x):
  if x.str.contains('current|Fully paid', regrex= True):
     return 1 
  else:
     return 0

[change_value(x) for x in example]

In [0]:
df['last_pymnt_d'].head().values

In [0]:
df['last_pymnt_d_month']=pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True).dt.month
df['last_pymnt_d_month'].head()

In [0]:
df['last_pymnt_d_year']=pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True).dt.year
df['last_pymnt_d_year'].head()

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
print(df['revol_util'].shape)
df['revol_util'].isna().sum()

(115675,)

129

In [0]:
df['revol_util']=df['revol_util'].str.strip('%').astype(float)
df['revol_util']

In [0]:
df['revol_util'].isna().sum()

129

In [0]:
import numpy as np
df['emp_title'][20:]='Other'
df['emp_title'][20:]
df.head(30)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000,60 months,17.19,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000,36 months,16.40,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000,3000,3000,36 months,14.74,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000,35000,35000,36 months,15.57,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000,36 months,15.57,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,40000,40000,40000,60 months,12.40,897.89,B,B4,SVP,10+ years,MORTGAGE,515000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,117xx,NY,18.19,0,Feb-1993,1,NaN,NaN,24,0,130490,86.4,49,w,39025.88,39025.88,1740.67,1740.67,974.12,766.55,0.00,0.0,0.0,May-2019,897.89,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,205,569565,3,6,2,3,4.0,72207,39.0,3,3,20896,67.0,151100,1,6,2,7,23732.0,4733.0,94.8,0,0,160.0,304,3,3,6,10.0,NaN,0.0,NaN,0,10,14,10,17,12,15,28,14,24,0.0,0,0,5,100.0,100.0,0,0,752911,204997,90800,144678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,40000,40000,40000,60 months,11.02,870.10,B,B2,VP of Sales,3 years,MORTGAGE,288000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,843xx,UT,19.74,0,May-2002,0,NaN,NaN,20,0,66240,43.9,34,w,38989.85,38989.85,1691.22,1691.22,1010.15,681.07,0.00,0.0,0.0,May-2019,870.10,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,390598,0,5,0,2,16.0,140633,58.0,0,2,22577,49.0,150900,0,6,1,4,19530.0,81923.0,43.1,0,0,136.0,202,17,16,1,17.0,NaN,3.0,NaN,0,8,9,10,15,11,13,22,10,20,0.0,0,0,0,100.0,20.0,0,0,543401,206873,143900,197751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,20000,20000,20000,60 months,12.40,448.95,B,B4,Sales,1 year,MORTGAGE,70000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,481xx,MI,32.33,0,May-1995,0,NaN,NaN,12,0,31036,56.7,32,w,19512.93,19512.93,870.34,870.34,487.07,383.27,0.00,0.0,0.0,May-2019,448.95,Jul-2019,Jun-2019,0,NaN,1,Joint App,102400.0,31.16,Source Verified,0,0,204292,0,3,0,1,14.0,16305,33.0,0,0,17389,46.0,54700,1,3,0,2,17024.0,268.0,98.9,0,0,133.0,286,41,14,4,84.0,NaN,15.0,NaN,0,3,7,3,7,9,8,19,7,12,0.0,0,0,0,100.0,100.0,0,0,267991,47341,24800,49291,56647.0,May-1995,0.0,4.0,15.0,61.3,1.0,31.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,2675,2675,2400,36 months,12.40,89.37,B,B4,Rn,10+ years,MORTGAGE,90000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,068xx,CT,21.37,1,Apr-1998,1,10.0,NaN,13,0,31973,46.9,24,f,2550.91,2288.66,175.05,157.05,124.09,50.96,0.00,0.0,0.0,May-2019,89.37,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,732255,1,2,1,2,5.0,19129,63.0,0,3,10011,52.0,68200,1,0,2,5,56327.0,13105.0,66.9,0,0,234.0,251,14,5,2,14.0,NaN,5.0,NaN,0,5,10,5,9,6,10,16,10,13,0.0,0,0,1,95.8,40.0,0,0,810785,51102,39600,30585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,8000,8000,8000,36 months,25.00,318.08,D,D4,Project Manager,10+ years,MORTGAGE,85000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,338xx,FL,23.89,0,Oct-1975,0,NaN,NaN,9,0,39661,87.0,13,w,7710.37,7710.37,613.94,613.94,289.63,324.31,0.00,0.0,0.0,Jun-2019,318.08,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,279265,0,1,1,1,7.0,27908,92.0,1,1,11492,89.0,45600,0,3,0,2,31029.0,978.0,96.4,0,0,108.0,136,8,7,1,41.0,NaN,NaN,NaN,0,4,7,4,5,3,7,8,7,9,0.0,0,0,2,100.0,100.0,0,0,297955,67569,26800,30225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,20000,20000,20000,60 months,20.00,529.88,D,D2,Custom applicator,2 years,MORTGAGE,55000.0,Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,561xx,MN,11.96,0,Sep-2005,0,NaN,NaN,4,0,4608,92.2,14,w,19603.63,19603.63,1015.32,1015.32,396.37,618.95,0.00,0.0,0.0,May-2019,529.88,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,42271,1,1,1,2,2.0,11497,99.0,0,0,2314,97.0,5000,0,0,0,2,10568.0,392.0,92.2,0,0,162.0,69,27,2,2,27.0,NaN,NaN,NaN,0,2,2,2,2,10,2,2,2,4,0.0,0,0,1,100.0,100.0,0,0,45592,16105,5000,11600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,2400,2400,2400,36 months,8.19,75.42,A,A4,AV Manager,3 years,RENT,67000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,038xx,NH,20.20,0,Mar-2007,0,49.0,NaN,24,0,13476,28.0,54,f,2050.00,2050.00,391.64,391.64,350.00,41.64,0.00,0.0,0.0,Jun-2019,89.52,Jul-2019,Jun-2019,0,49.0,1,Individual,NaN,NaN,NaN,0,0,82397,1,4,2,3,9.0,68921,63.0,5,11,3826,38.0,48100,3,0,5,14,3433.0,16604.0,33.0,0,0,143.0,89,5,5,0,11.0,NaN,1.0,NaN,1,5,10,12,13,30,20,24,10,24,0.0,0,0,7,100.0,16.7,0,0,119198,82397,24800,71098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,20000,20000,20000,36 months,22.50,769.00,D,D3,Human Resources Liaison,10+ years,RENT,75000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,957xx,CA,24.37,0,Aug-2002,0,NaN,NaN,8,0,44934,95.6,11,w,18461.73,18461.73,2407.00,2407.00,1538.27,868.73,0.00,0.0,0.0,Jun-2019,769.00,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,55014,0,2,0,0,50.0,10080,33.0,1,1,18068,71.0,47000,0,0,0,1,6877.0,2066.0,95.6,0,0,177.0,199,12,12,0,12.0,NaN,NaN,NaN,0,6,6,6,7,4,6,7,6,8,0.0,0,0,1,100.0,100.0,0,0,77797,55014,47000,30797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,6400,6400,6400,36 months,13.90,218.43,C,C1,NaN,< 1 year,RENT,28000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,8.62,0,Jan-2010,0,49.0,NaN,7,0,4132,18.2,17,w,6109.74,6109.74,426.98,426.98,290.26,136.72,0.00,0.0,0.0,May-2019,218.43,Jul-2019,Jun-2019,0,49.0,1,Individual,NaN,NaN,NaN,0,0,4132,0,0,0,0,NaN,0,NaN,1,2,1610,18.0,22700,0,0,0,2,590.0,15486.0,20.6,0,0,NaN,110,11,11,0,11.0,49.0,22.0,49.0,1,4,5,4,5,0,7,17,5,7,0.0,0,0,1,88.2,0.0,0,0,22700,4132,19500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,10000,10000,10000,36 months,7.56,311.34,A,A3,Agent,2 years,RENT,70000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,201xx,VA,4.65,0,Jan-2001,0,NaN,NaN,7,0,11078,20.4,12,w,9501.76,9501.76,614.28,614.28,498.24,116.04,0.00,0.0,0.0,May-2019,311.34,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,11078,0,0,0,0,NaN,0,NaN,2,3,6207,20.0,54400,0,0,0,3,1583.0,43152.0,16.0,0,0,NaN,218,7,7,0,12.0,NaN,NaN,NaN,0,4,5,6,8,0,7,12,5,7,0.0,0,0,2,100.0,33.3,0,0,54400,11078,51400,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,3000,3000,3000,36 months,28.80,125.40,D,D5,Sales/Marketing,5 years,RENT,90000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,954xx,CA,15.05,0,Feb-2013,0,NaN,79.0,12,1,11709,75.5,21,w,2891.92,2891.92,241.20,241.20,108.08,133.12,0.00,0.0,0.0,May-2019,125.40,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,40080,1,4,0,5,14.0,28371,78.0,2,3,4840,77.0,15500,3,1,0,8,3340.0,2689.0,79.6,0,0,62.0,73,6,6,0,6.0,NaN,15.0,NaN,0,5,8,5,5,13,8,8,8,12,0.0,0,0,2,100.0,40.0,1,0,52013,40080,13200,36513,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,21225,21225,21225,60 months,14.74,502.05,C,C2,ceo,10+ years,MORTGAGE,225000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,956xx,CA,16.80,0,Sep-1994,2,NaN,110.0,14,1,95868,87.7,22,w,20739.36,20739.36,969.34,969.34,485.64,483.70,0.00,0.0,0.0,May-2019,502.05,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,694793,1,5,2,4,3.0,113558,76.0,0,1,17353,84.0,109300,1,0,4,5,49628.0,12635.0,76.4,0,0,126.0,294,24,3,4,30.0,NaN,1.0,NaN,0,4,6,4,4,11,7,7,6,14,0.0,0,0,2,100.0,50.0,1,0,747075,209426,53500,128175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,20000,20000,20000,60 months,22.50,558.08,D,D3,Route Rep,10+ years,RENT,48000.0,Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,606xx,IL,32.35,0,Nov-1995,1,NaN,NaN,13,0,14501,52.4,20,w,19630.41,19630.41,1066.16,1066.16,369.59,696.57,0.00,0.0,0.0,May-2019,558.08,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,62910,0,4,1,4,10.0,48409,63.0,1,2,4438,57.0,27700,4,3,2,6,4839.0,6817.0,55.2,0,0,112.0,280,10,10,1,10.0,NaN,1.0,NaN,0,4,9,4,4,8,9,11,9,13,0.0,0,0,2,100.0,25.0,0,0,74539,62910,15200,46839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,3000,3000,3000,36 months,8.19,94.28,A,A4,maintenance,10+ years,MORTGAGE,45000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,212xx,MD,11.04,0,Sep-2006,1,NaN,88.0,10,1,310,0.7,31,f,2851.89,2851.89,185.83,185.83,148.11,37.72,0.00,0.0,0.0,May-2019,94.28,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,2640,1,3,0,0,27.0,2330,21.0,1,4,310,5.0,44000,0,2,2,4,293.0,23690.0,1.3,0,0,150.0,78,1,1,2,1.0,NaN,1.0,NaN,0,1,1,5,11,9,7,20,1,10,0.0,0,0,1,100.0,0.0,1,0,55000,2640,24000,11000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,10000,10000,10000,36 months,8.19,314.25,A,A4,Executive Assistant,10+ years,RENT,72000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,481xx,MI,23.90,0,Aug-2006,0,NaN,NaN,11,0,9902,20.4,21,w,9506.32,9506.32,619.40,619.40,493.68,125.72,0.00,0.0,0.0,May-2019,314.25,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,13224,0,3,0,0,30.0,3322,9.0,0,2,4743,16.0,48600,0,0,1,2,1202.0,16598.0,37.4,0,0,151.0,77,20,20,3,20.0,NaN,0.0,NaN,0,3,3,4,6,7,8,11,3,11,0.0,0,0,0,100.0,50.0,0,0,85158,13224,26500,36558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,16000,16000,16000,60 months,12.40,359.16,B,B4,Other,5 years,MORTGAGE,67500.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,531xx,WI,26.77,0,Mar-2006,1,NaN,NaN,32,0,17079,45.3,74,w,15610.34,15610.34,696.28,696.28,389.66,306.62,0.00,0.0,0.0,May-2019,359.16,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,296847,1,20,2,4,6.0,115852,104.0,0,1,6211,89.0,37700,1,0,5,8,9276.0,12888.0,47.2,0,0,156.0,144,23,6,5,23.0,NaN,0.0,NaN,0,3,6,5,8,55,11,14,6,32,0.0,0,0,2,100.0,60.0,0,0,330446,132931,24400,111246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,11000,11000,11000,60 months,16.40,269.85,C,C4,Other,3 years,MORTGAGE,48000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,560xx,MN,32.20,0,Oct-2003,1,NaN,NaN,10,0,14410,40.1,24,w,10759.33,10759.33,519.66,519.66,240.67,278.99,0.00,0.0,0.0,May-2019,269.85,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,51545,3,3,2,3,4.0,37135,89.0,2,5,11181,66.0,35900,1,4,1,8,5155.0,16288.0,43.8,0,0,72.0,144,5,4,3,5.0,NaN,6.0,NaN,0,2,4,4,5,10,7,11,4,10,0.0,0,0,4,100.0,25.0,0,0,77634,51545,29000,41734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,10000,10000,10000,36 months,16.40,353.55,C,C4,Other,10+ years,RENT,92000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,450xx,OH,31.44,0,Nov-2010,1,NaN,113.0,10,1,17996,78.2,23,w,9274.88,9274.88,1042.43,1042.43,725.12,317.31,0.00,0.0,0.0,Jun-2019,353.55,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,68784,0,4,1,3,9.0,50788,66.0,0,1,6360,69.0,23000,3,5,4,4,6878.0,4899.0,75.1,0,0,100.0,89,24,9,0,34.0,NaN,0.0,NaN,0,4,6,4,4,17,6,6,6,10,0.0,0,0,1,100.0,50.0,1,0,99506,68784,19700,76506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,28575,28575,28575,60 months,20.00,757.07,D,D2,Other,3 years,MORTGAGE,98000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,836xx,ID,8.13,0,Jun-1999,0,NaN,NaN,9,0,13424,60.2,10,w,28008.68,28008.68,1450.64,1450.64,566.32,884.32,0.00,0.0,0.0,May-2019,757.07,Jul-2019,Jun-2019,0,NaN,1,Joint App,355000.0,7.76,Not Verified,0,0,55079,0,2,0,0,180.0,41655,82.0,0,2,4632,75.0,22300,4,0,2,2,6120.0,4876.0,73.4,0,0,180.0,237,23,23,0,30.0,NaN,8.0,NaN,0,4,4,5,5,3,7,7,4,9,0.0,0,0,0,100.0,60.0,0,0,73079,55079,18300,50779,52880.0,Jun-1999,0.0,1.0,12.0,74.9,2.0,10.0,0.0,0.0,56.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,7200,7200,7200,36 months,16.40,254.56,C,C4,Other,7 years,OWN,98000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,297xx,SC,28.78,0,Nov-2012,0,NaN,NaN,12,0,11579,80.4,14,w,6902.17,6902.17,496.00,496.00,297.83,198.17,0.00,0.0,0.0,Jun-2019,254.56,Jul-2019,Jun-2019,0,NaN,1,Joint App,108000.0,26.11,Not Verified,0,0,270731,0,5,2,3,7.0,69643,79.0,0,0,3855,79.0,14400,3,0,3,4,22561.0,0.0,101.9,0,0,75.0,76,38,7,1,53.0,NaN,7.0,NaN,0,3,6,3,3,7,6,6,6,12,0.0,0,0,3,100.0,100.0,0,0,290568,81222,8800,84700,29323.0,Aug-2014,0.0,1.0,3.0,101.6,0.0,2.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,2000,2000,2000,36 months,20.00,74.33,D,D2,Other,2 years,MORTGAGE,55000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,major_purchase,Major purchase,060xx,CT,23.09,3,Mar-2006,0,11.0,NaN,11,0,11974,54.4,17,w,1917.32,1917.32,144.22,144.22,82.68,61.54,0.00,0.0,0.0,May-2019,74.33,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,150543,1,2,0,1,23.0,15268,49.0,1,1,3597,51.0,22000,1,0,0,2,13686.0,730.0,90.9,0,0,94.0,156,5,5,1,55.0,NaN,13.0,11.0,0,3,6,3,4,5,8,11,6,11,0.0,0,0,1,82.4,100.0,0,0,185469,27242,8000,31194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
 !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!ls

In [0]:
 !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
 %cd instacart_2017_05_01