<a href="https://colab.research.google.com/github/ElisabethShah/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_114_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [233]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-05-02 03:45:52--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.2’

LoanStats_2018Q4.cs     [                <=> ]  21.40M   805KB/s    in 28s

2019-05-02 03:46:20 (795 KB/s) - ‘LoanStats_2018Q4.csv.zip.2’ saved [22444881]

In [234]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

In [235]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","9035.04","9035.04","1288.31","1288.31","964.96","323.35","0.0","0.0","0.0","Apr-2019","324.23","May-2019","Apr-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3680.07","3680.07","614.92","614.92","319.93","294.99","0.0","0.0","0.0","Apr-2019","155.68","May-2019","Apr-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4567.57","4567.57","715.27","715.27","432.43","282.84","0.0","0.0","0.0","Apr-2019","180.69","May-2019","Apr-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 12.98%","323.37","B","B5","","n/a","MORTGAGE","35704","Not Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","401xx","KY","0.84","0","Nov-2003","0","69","","5","0","748","11.5%","23","w","8934.25","8934.25","994.35","994.35","665.75","328.60","0.0","0.0","0.0","Apr-2019","323.37","May-2019","Apr-2019","0","","1","Individual","","","","0","0","748","0","0","0","0","44","0","","0","3","748","12","6500","0","0","1","3","150","3452","17.8","0","0","181","100","13","13","0","16","","3","","0","1","1","2","2","16","5","7","1","5","0","0","0","0","95.5","0","0","0","6500","748","4200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2269.45","2269.45","336.86","336.86","230.55","106.31","0.0","0.0","0.0","Apr-2019","84.92","May-2019","Apr-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","26250.75","26250.75","5561.57","5561.57","3749.25","1812.32","0.0","0.0","0.0","Apr-2019","777.23","May-2019","Apr-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 60 months"," 20.89%","620.81","D","D4","Operator","5 years","RENT","68107","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","672xx","KS","0.52","0","Feb-1997","0","","","5","0","976","13%","10","w","22307.21","22307.21","1824.21","1824.21","692.79","1131.42","0.0","0.0","0.0","Apr-2019","620.81","May-2019","Apr-2019","1","","1","Individual","","","","0","2693","976","0","0","0","0","36","0","","3","4","0","13","7500","2","2","4","4","195","3300","0","0","0","237","262","10","10","0","10","","9","","0","0","1","3","4","3","5","7","1","5","0","0","0","3","100","0","0","0","7500","976","3300","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","32075","32075","32075"," 60 months"," 11.80%","710.26","B","B4","Nursing Supervisor","10+ years","MORTGAGE","150000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","231xx","VA","22.21","0","Aug-2005","0","","","17","0","19077","32%","24","w","30472.13","30472.13","2809.5","2809.50","1602.87","1206.63","0.0","0.0","0.0","Apr-2019","710.26","May-2019","Apr-2019","0","","1","Individual","","","","0","0","272667","1","4","1","1","9","37558","47","1","1","3910","41","59600","1","2","0","3","16039","10446","47.8","0","0","160","70","4","4","2","27","","14","","0","4","10","4","4","8","12","14","10","17","0","0","0","2","100","50","0","0","360433","56635","20000","80125","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 150
pd.options.display.max_columns = 150

In [237]:
lc_df = pd.read_csv('LoanStats_2018Q4.csv', header = 1, skipfooter = 2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [238]:
lc_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,9035.04,9035.04,1288.31,1288.31,964.96,323.35,0.0,0.0,0.0,Apr-2019,324.23,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3680.07,3680.07,614.92,614.92,319.93,294.99,0.0,0.0,0.0,Apr-2019,155.68,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4567.57,4567.57,715.27,715.27,432.43,282.84,0.0,0.0,0.0,Apr-2019,180.69,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,9600,9600,9600.0,36 months,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,NaN,NaN,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8934.25,8934.25,994.35,994.35,665.75,328.60,0.0,0.0,0.0,Apr-2019,323.37,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2269.45,2269.45,336.86,336.86,230.55,106.31,0.0,0.0,0.0,Apr-2019,84.92,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [239]:
lc_df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,Tax Consultant,10+ years,MORTGAGE,75000.0,Source Verified,Oct-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,20.95,1,Aug-1985,2,22.0,NaN,12,0,22465,43.6%,28,w,0.00,0.00,1547.08,1547.08,1025.67,521.41,0.0,0.0,0.0,Dec-2018,797.53,NaN,Nov-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,259658,4,2,3,3,6.0,18149,86.0,4,6,12843,56.0,51500,2,2,5,11,21638.0,26321.0,44.1,0,0,12.0,397,4,4,6,5.0,22.0,4.0,22.0,0,4,5,7,14,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,security guard,5 years,MORTGAGE,38000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,Jul-1982,0,6.0,NaN,11,0,5634,37.1%,16,w,8628.13,8628.13,2072.22,2072.22,1371.87,700.35,0.0,0.0,0.0,Apr-2019,346.76,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,Jun-2006,0,21.0,NaN,9,0,2597,27.3%,15,f,4300.52,4300.52,1015.21,1015.21,699.48,315.73,0.0,0.0,0.0,Apr-2019,169.83,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0,Oct-2008,2,40.0,NaN,15,0,6269,13.1%,25,f,8553.96,8340.11,1950.72,1901.95,1446.04,504.68,0.0,0.0,0.0,Apr-2019,327.68,May-2019,Apr-2019,0,53.0,1,Individual,NaN,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1,Sep-2006,0,14.0,NaN,17,0,1942,30.8%,31,w,8662.68,8662.68,2127.09,2127.09,1337.32,789.77,0.0,0.0,0.0,Apr-2019,356.08,May-2019,Apr-2019,0,25.0,1,Individual,NaN,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [240]:
lc_df.shape

(128412, 144)

In [241]:
lc_df.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [242]:
lc_df.describe(include = 'all')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,128412.000000,128412.000000,128412.000000,128412,128412,128412.000000,128412,128412,107465,116708,128412,1.284120e+05,128412,128412,128412,128412,0.0,0.0,128412,128412,128412,128412,128175.000000,128412.000000,128412,128412.000000,56216.000000,15450.000000,128412.000000,128412.000000,1.284120e+05,128256,128412.000000,128412,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128253,128412.000000,121726,128411,128412.000000,29180.000000,128412.0,128412,1.678200e+04,16782.000000,14848,128412.0,128412.000000,1.284120e+05,128412.000000,128412.000000,128412.000000,128412.000000,123934.000000,1.284120e+05,108138.000000,128412.000000,128412.000000,128412.000000,128375.000000,1.284120e+05,128412.000000,128412.000000,128412.000000,128412.000000,128399.000000,126721.000000,126658.000000,128412.000000,128412.000000,123934.000000,128412.000000,128412.000000,128412.000000,128412.000000,126821.000000,25169.000000,112365.000000,36782.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,128412.000000,125553.0,128412.0,128412.000000,128412.000000,128412.000000,126720.000000,128412.000000,128412.0,1.284120e+05,1.284120e+05,128412.000000,1.284120e+05,1.678200e+04,16782,16782.000000,16782.000000,16782.000000,16524.000000,16782.000000,16782.000000,16782.000000,16782.000000,5154.000000,128412,1,1,1,1.0,1.00,1,1,1,1.0,1.0,1,1.00,1.00,1.00,128412,7,7,7,7.000000,7.000000,7.0
unique,NaN,NaN,NaN,NaN,NaN,2,46,NaN,7,35,43892,11,4,NaN,3,3,7,1,NaN,NaN,12,12,880,50,NaN,NaN,644,NaN,NaN,NaN,NaN,NaN,NaN,1074,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,NaN,3,9,NaN,NaN,NaN,2,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1,NaN,NaN,1,1,1,NaN,NaN,1,NaN,NaN,NaN,2,2,2,3,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,36 months,13.56%,NaN,A,A4,Teacher,10+ years,MORTGAGE,NaN,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,112xx,CA,NaN,NaN,Aug-2006,NaN,NaN,NaN,NaN,NaN,NaN,0%,NaN,w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Apr-2019,NaN,May-2019,Apr-2019,NaN,NaN,NaN,Individual,NaN,NaN,Not Verified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aug-2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,COMPLETED,NaN,NaN,Feb-2019,Apr-2019,Feb-2019,NaN,NaN,Late (16-30 days),NaN,NaN,NaN,N,Mar-2019,ACTIVE,Mar-2019,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,88179,6975,NaN,38011,9770,2090,38826,63490,NaN,58350,46305,119540,128412,NaN,NaN,70603,70603,1370,17879,NaN,NaN,1130,NaN,NaN,NaN,NaN,NaN,NaN,1132,NaN,114498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120098,NaN,121689,123017,NaN,NaN,NaN,111630,NaN,NaN,6360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,128412,1,1,1,NaN,NaN,1,1,1,NaN,NaN,1,NaN,NaN,NaN,128405,5,5,3,NaN,NaN,NaN
mean,NaN,NaN,15971.321021,15971.321021,15968.498166,NaN,NaN,463.259353,NaN,NaN,NaN,NaN,NaN,8.279733e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.933178,0.227837,NaN,0.447038,36.880337,86.130162,11.564052,0.121850,1.689800e+04,NaN,22.677413,NaN,13711.864974,13709.598275,3008.351796,3007.677793,2221.392599,786.691946,0.200736,0.066512,0.011972,NaN,1078.077073,NaN,NaN,0.017958,46.553461,1.0,NaN,1.335516e+05,19.226602,NaN,0.0,188.304286,1.467922e+05,0.939507,2.760202,0.689071,1.572665,20.201519,3.627228e+04,68.211757,1.195901,2.540783,6062.072275,54.298812,3.938218e+04,1.114561,1.519928,1.876912,4.382698,13828.378874,15357.302957,50.048701,0.007087,0.967768,123.056925,173.063623,15.431634,8.635400,1.323155,26.013957,40.415233,7.552832,37.817275,0.461553,3.659876,5.414128,4.882129,7.065944,8.288524,8.199210,12.866702,5.386342,11.546717,0.0,0.0,0.059488,2.011642,94.659843,32.900756,0.121733,0.0,1.884852e+05,5.356097e+04,27439.534163,4.682180e+04,3.664280e+04,NaN,0.585985,1.587177,11.436003,55.878831,3.027112,12.423907,0.036170,0.062984,38.515910,NaN,NaN,NaN,NaN,3.0,378.39,NaN,NaN,NaN,3.0,22.0,NaN,1135.17,15351.85,1045.41,NaN,NaN,NaN,NaN,4373.588571,61.448571,14.0
std,NaN,NaN,10150.384233,10150.384233,10152.168970,NaN,NaN,285.718256,NaN,NaN,NaN,NaN,NaN,1.082985e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.143542,0.733793,NaN,0.734480,21.813805,21.880055,5.981599,0.332825,2.408255e+04,NaN,12.129216,NaN,9661.429518,9662.595566,3918.785402,3918.675809,3804.749308,641.729149,3.009185,12.650756,2.277136,NaN,3476.721415,NaN,NaN,0.146569,21.801716,0.0,NaN,9.687001e+04,8.141631,NaN,0.0,1569.290033,1.738727e+05,1.145306,2.942377,0.935776,1.565118,24.869930,4.726387e+04,23.589461,1.470123,2.524326,5932.797469,20.655736,3.794575e+04,1.501455,2.712328,2.296951,3.209299,17487.605341,19792.599023,28.791276,0.095924,112.158421,56.581697,100.200199,19.053976,9.573207,1.713149,34.306721,22.305270,6.057088,22.023835,1.349412,2.448079,3.439644,3.205305,4.517165,7.389195,4.958905,7.873911,3.388380,5.977599,0.0,0.0,0.410652,1.880559,8.989288,34.899647,0.332552,0.0,1.965536e+05,5.599335e+04,26377.282557,4.957491e+04,3.252566e+04,NaN,0.936053,1.801878,6.690119,26.071241,3.254318,8.190067,0.347726,0.364083,23.659436,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2985.404770,7.486945,4.0
min,NaN,NaN,1000.000000,1000.000000,725.000000,NaN,NaN,30.480000,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000e+00,NaN,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,1.0,NaN,9.000000e+03,0.000000,NaN,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,3.0,378.39,NaN,NaN,NaN,3.0,22.0,NaN,1135.17,15351.85,1045.41,NaN,NaN,NaN,NaN,699.120000,45.010000,8.0
25%,NaN,NaN,8000.000000,8000.000000,8000.000000,NaN,NaN,253.630000,NaN,NaN,NaN,NaN,NaN,4.705800e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.760000,0.000000,NaN,0.000000,19.000000,72.000000,7.000000,0.000000,5.599000e+03,NaN,14.000000,NaN,6345.050000,6343.250000,1270.830000,1269.950000,787.230000,314.715000,0.000000,0.000000,0.000000,NaN,262.770000,NaN,NaN,0.000000,29.000000,1.0,NaN,8.739400e+04,13.200000,NaN,0.0,0.000000,2.746550e+04,0.000000,1.000000,0.000000,0.000000,6.000000,8.194000e+03,54.000000,0.000000,1.000000,2291.000000,40.000000,1.700000e+04,0.000000,0.000000,0.000000,2.000000,2927.000000,3006.000000,26.400000,0.000000,0.000000,84.000000,98.000000,4.000000,3.000000,0.000000,6.000000,23.000000,3.000000,20.000000,0.000000,2.000000,3.000000,3.000000,4.000000,3.000000,5.000000,7.000000,3.000000,7.000000,0.0,0.0,0.000000,1.000000,92.300000,0.000000,0.000000,0.0,5.315975e+04,2.009100e+04,10100.000000,1.500000e+04,1.610400e+04,NaN,0.000000,0.000000,7.000000,36.400000,1.000000,7.000000,0.000000,0.000000,19.000000,NaN,NaN,NaN,NaN,3.0,378.39,NaN,NaN,NaN,3.0,22.0,NaN,1135.17,15351.85,1045.41,NaN,NaN,NaN,NaN,2739.500000,62.500000,12.0
50%,NaN,NaN,14000.000000,14000.000000,14000.000000,NaN,NaN,382.905000,NaN,NaN,NaN,NaN,NaN,6.800000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.990000,0.000000,NaN,0.000000,34.000000,90.000000,10.000000,0.000000,1.119950e+04,NaN,21.000000,NaN,11356.870000,11356.870000,2037.730000,2036.835000,1282.010000,602.970000,0.000000,0.000000,0.000000,NaN,406.940000,NaN,NaN,0.000000,47.000000,1.0,NaN,1.170000e+05,18.655000,NaN,0.0,0.000000,7.498500e+04,1.000000,2.000000,0.000000,1.000000,13.000000,2.299000e+04,71.000000,1.000000,2.000000,4583.000000,55.000000,2.970000e+04,1.000000,0.000000,1.000000,4.000000,7048.000000,8628.000000,48.900000,0.000000,0.000000,130.000000,155.000000,9.000000,6.000000,1.000000,15.000000,38.000000,6.000000,35.000000,0.000000,3.000000,5.000000,4.000000,6.000000,6.000000,7.000000,11.000000,5.000000,10.000000,0.0,0.0,0.000000,2.000000,100.000000,25.000000,0.000000,0.0,1.177000e+05,3.846900e+04,19800.000000,3.460500e+04,2.858500e+04,NaN,0.000000,1.000000,10.000000,57.500000,2.000000,11.000000,0.000000,0.000000,37.000000,NaN,NaN,NaN,NaN,3.0,378.39,NaN,NaN,NaN,3.0,22.0,NaN,1135.17,15351.85,1045.41,NaN,NaN,NaN,NaN,3980.000000,65.000000,12.0
75%,NaN,NaN,21600.000000,21600.000000,21600.000000,NaN,NaN,622.680000,NaN,NaN,NaN,NaN,NaN,9.900000e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.300000,0.000000,NaN,1.000000,53.000000,104.000000,15.000000,0.000000,2.056300e+04,NaN,29.000000,NaN,19080.200000,19080.200000,3381.680000,3381.560000,2174.100000,1077.985000,0.000000,0.000000,0.000000,NaN,674.790000,NaN,NaN,0.000000,64.000000,1.0,NaN,1.586790e+05,24.930000,NaN,0.0,0.000000,2.218235e+05,1.000000,3.000000,1.000000,2.000000,24.000000,4.683025e+04,85.000000,2.000000,4.000000,8013.000000,69.000000,4.980000e+04,2.000000,2.000000,3.000000,6.000000,19122.500000,20181.000000,74.200000,0.000000,0.000000,156.000000,224.000000,20.000000,11.000000,2.000000,31.000000,57.000000,12.000000,53.000000,0.000000,5.000000,7.000000,6.000000,9.000000,11.000000,10.000000,17.000000,7.000000,14.000000,0.0,0.0,0.000000,3.000000,100.000000,55.600000,0.000000,0.0,2.736065e+05,6.804125e+04,36100.000000,6.328950e+04,4.722875e+04,NaN,1.000000,3.000000,15.000000,76.900000,4.000000,16.000000,0.000000,0.000000,58.000000,NaN,NaN,NaN,NaN,3.0,378.39,NaN,NaN,NaN,3.0,22.0,NaN,1135.17,15351.85,1045.41,NaN,NaN,NaN,NaN,5169.000000,65.005000,18.0
max,NaN,NaN,40000.000000,40000.000000,40000.000000,NaN,NaN,1618.240000,NaN,NaN,NaN,NaN,NaN,9.757200e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,999.000000,24.000000,NaN,5.000000,160.000000,119.000000,94.000000,6.000000,2.358150e+06,NaN,160.000000,NaN,40000.000000,40000.000000,43313.650218,43313.650000,40000.000000,6075.170000,177.420000,3444.480000,620.006400,NaN,41253.540000,NaN,NaN,8.000000,162.000000,1.0,NaN,6.282000e+06,39.990000,NaN,0.0,208593.000000,9.971659e+06,13.000000,56.000000,6.000000,19.000000,505.000000,1.837038e+06,428.000000,22.000000,40.000000,338224.000000,188.000000,1.596201e+06,29.000000,56.000000,51.000000,43.000000,623229.000000,605996.000000,183.800000,7.000000,31593.000000,827.000000,826.000000,382.000000,382.000000,87.000000,640.000000,152.000000,25.000000,160.000000,31.000000,48.000000,59.000000,64.000000,69.000000,130.000000,69.000000,127.000000,37.000000,94.000000,0.0,0.0,23.000000,24.000000,100.000000,100.000000,6.000000,0.0,9.999999e+06,2.622906e+06,666200.000000,2.118996e+06,1.110019e+06,NaN,6.000000,15.000000,67.000000,170.100000,34.000000,95.000000,21.000000,15.000000,153.000000,NaN,NaN,NaN,NaN,3.0,378.39,NaN,NaN,NaN,3.0,22.0,NaN,1135.17,15351.85,1045.41,NaN,NaN,NaN,NaN,10119.000000,65.120000,18.0

In [243]:
lc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128412 entries, 0 to 128411
Columns: 144 entries, id to settlement_term
dtypes: float64(57), int64(51), object(36)
memory usage: 141.1+ MB

In [244]:
lc_df.dtypes.value_counts()

float64    57
int64      51
object     36
dtype: int64

In [245]:
lc_df.isnull().sum().sort_values(ascending = False)/len(lc_df)

id                                            1.000000
member_id                                     1.000000
url                                           1.000000
desc                                          1.000000
hardship_dpd                                  0.999992
deferral_term                                 0.999992
hardship_amount                               0.999992
hardship_start_date                           0.999992
hardship_end_date                             0.999992
payment_plan_start_date                       0.999992
hardship_length                               0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_loan_status                          0.999992
hardship_reason                               0.999992
hardship_payoff_balance_amount                0.999992
hardship_last_payment_amount                  0.999992
hardship_type                                 0.999992
hardship_status                               0.999992
settlement_percentage                         0.999945
settlement_term                               0.999945
settlement_status                             0.999945
settlement_amount                             0.999945
settlement_date                               0.999945
debt_settlement_flag_date                     0.999945
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
sec_app_open_act_il                           0.869311
sec_app_num_rev_accts                         0.869311
sec_app_chargeoff_within_12_mths              0.869311
sec_app_collections_12_mths_ex_med            0.869311
dti_joint                                     0.869311
annual_inc_joint                              0.869311
revol_bal_joint                               0.869311
sec_app_earliest_cr_line                      0.869311
sec_app_inq_last_6mths                        0.869311
sec_app_mort_acc                              0.869311
sec_app_open_acc                              0.869311
mths_since_recent_bc_dlq                      0.803998
mths_since_last_major_derog                   0.772763
mths_since_recent_revol_delinq                0.713563
mths_since_last_delinq                        0.562222
emp_title                                     0.163123
il_util                                       0.157882
mths_since_recent_inq                         0.124965
emp_length                                    0.091144
next_pymnt_d                                  0.052067
mo_sin_old_il_acct                            0.034872
mths_since_rcnt_il                            0.034872
num_tl_120dpd_2m                              0.022264
bc_util                                       0.013659
percent_bc_gt_75                              0.013176
bc_open_to_buy                                0.013169
mths_since_recent_bc                          0.012390
dti                                           0.001846
last_pymnt_d                                  0.001238
revol_util                                    0.001215
all_util                                      0.000288
avg_cur_bal                                   0.000101
last_credit_pull_d                            0.000008
int_rate                                      0.000000
initial_list_status                           0.000000
out_prncp                                     0.000000
out_prncp_inv                                 0.000000
total_pymnt                                   0.000000
total_pymnt_inv                               0.000000
total_rec_prncp                               0.000000
purpose                                       0.000000
total_rec_int                                 0.000000
total_acc                                     0.000000
funded_amnt_inv                               0.000000
funded_amnt                                   0.000000
total_rec_late_fee                            0.000000
recoveries                                    0.000000
loan_amnt                                     0.000000
collection_recovery_fee                       0.000000
term                                          0.000000
revol_bal                                     0.000000
installment                                   0.000000
pymnt_plan                                    0.000000
loan_status                                   0.000000
title                                         0.000000
zip_code                                      0.000000
addr_state                                    0.000000
issue_d                                       0.000000
delinq_2yrs                                   0.000000
earliest_cr_line                              0.000000
verification_status                           0.000000
annual_inc                                    0.000000
inq_last_6mths                                0.000000
home_ownership                                0.000000
sub_grade                                     0.000000
grade                                         0.000000
open_acc                                      0.000000
pub_rec                                       0.000000
debt_settlement_flag                          0.000000
open_il_12m                                   0.000000
last_pymnt_amnt                               0.000000
num_sats                                      0.000000
num_accts_ever_120_pd                         0.000000
num_actv_bc_tl                                0.000000
num_actv_rev_tl                               0.000000
num_bc_sats                                   0.000000
num_bc_tl                                     0.000000
num_il_tl                                     0.000000
num_op_rev_tl                                 0.000000
num_rev_accts                                 0.000000
num_rev_tl_bal_gt_0                           0.000000
num_tl_30dpd                                  0.000000
collections_12_mths_ex_med                    0.000000
num_tl_90g_dpd_24m                            0.000000
num_tl_op_past_12m                            0.000000
pct_tl_nvr_dlq                                0.000000
pub_rec_bankruptcies                          0.000000
tax_liens                                     0.000000
tot_hi_cred_lim                               0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
total_il_high_credit_limit                    0.000000
mort_acc                                      0.000000
mo_sin_rcnt_tl                                0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
mo_sin_old_rev_tl_op                          0.000000
policy_code                                   0.000000
application_type                              0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
tot_cur_bal                                   0.000000
open_acc_6m                                   0.000000
open_act_il                                   0.000000
hardship_flag                                 0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_12m                                   0.000000
open_rv_24m                                   0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
total_cu_tl                                   0.000000
inq_last_12m                                  0.000000
acc_open_past_24mths                          0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
inq_fi                                        0.000000
dtype: float64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [246]:
lc_df.select_dtypes(include = 'object').head()

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
0,36 months,10.33%,B,B1,NaN,< 1 year,MORTGAGE,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,Jan-1996,38%,w,Apr-2019,May-2019,Apr-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
1,36 months,23.40%,E,E1,Security,3 years,RENT,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,Sep-2006,19.2%,w,Apr-2019,May-2019,Apr-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
2,36 months,17.97%,D,D1,Administrative,6 years,MORTGAGE,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,490xx,MI,Apr-2011,19.1%,w,Apr-2019,May-2019,Apr-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
3,36 months,12.98%,B,B5,NaN,NaN,MORTGAGE,Not Verified,Dec-2018,Current,n,home_improvement,Home improvement,401xx,KY,Nov-2003,11.5%,w,Apr-2019,May-2019,Apr-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
4,36 months,13.56%,C,C1,Chef,10+ years,RENT,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,109xx,NY,Apr-2001,10.3%,w,Apr-2019,May-2019,Apr-2019,Individual,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
def convert_percent(percent):
  if type(percent) == str:
    return float(percent[:-1])
  return np.NaN

Apply the function to the `int_rate` column

In [0]:
lc_df['int_rate'] = lc_df['int_rate'].apply(convert_percent)

In [249]:
lc_df['int_rate'].describe()

count    128412.000000
mean         12.930233
std           5.090354
min           6.000000
25%           8.460000
50%          11.800000
75%          16.140000
max          30.990000
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [250]:
lc_df['emp_title'].value_counts(dropna = False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [251]:
lc_df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

In [0]:
lc_df['emp_title'] = lc_df['emp_title'].str.strip().str.lower()
lc_df['emp_title'] = lc_df['emp_title'].replace(to_replace = 'rn', value = 'registered nurse')
lc_df['emp_title'] = lc_df['emp_title'].replace(to_replace = 'lpn', value = 'licensed practical nurse')
lc_df['emp_title'] = lc_df['emp_title'].replace(to_replace = 'dea;er', value = 'dealer')

In [253]:
lc_df['emp_title'].value_counts(dropna = False)

NaN                                        20947
teacher                                     2557
manager                                     2395
registered nurse                            2252
driver                                      1258
supervisor                                  1160
truck driver                                 920
office manager                               805
sales                                        803
general manager                              791
project manager                              720
owner                                        625
director                                     523
operations manager                           518
sales manager                                500
police officer                               440
nurse                                        425
technician                                   420
engineer                                     412
administrative assistant                     409
store manager                                398
mechanic                                     391
assistant manager                            383
server                                       357
account manager                              355
vice president                               352
accountant                                   335
electrician                                  302
foreman                                      302
president                                    293
machine operator                             284
customer service                             283
executive assistant                          278
branch manager                               267
operator                                     267
attorney                                     264
maintenance                                  254
paralegal                                    249
superintendent                               248
bartender                                    237
program manager                              226
software engineer                            221
licensed practical nurse                     221
cashier                                      215
analyst                                      214
medical assistant                            212
machinist                                    209
cook                                         200
cna                                          196
sales associate                              191
controller                                   187
service manager                              186
clerk                                        184
laborer                                      183
director of operations                       179
nurse practitioner                           176
executive director                           174
security officer                             172
administrator                                171
business analyst                             169
account executive                            168
social worker                                165
secretary                                    164
carpenter                                    162
bookkeeper                                   161
welder                                       159
district manager                             157
custodian                                    157
principal                                    153
ceo                                          151
case manager                                 150
receptionist                                 149
production manager                           149
consultant                                   140
sales representative                         140
                                           ...
drywall installer                              1
campus administrative assistant                1
filmmaker                                      1
superintendent, air terminal operations        1
hilltop parking                                1
agricultural products agent 1                  1
investigators                                  1
fitness instructor/personal trainer            1
registered nurse clincal coordinator           1
medical gas inspector                          1
struder man                                    1
logistics service representative 3             1
private property helper                        1
employment program manager                     1
maintenance mgr.                               1
campus missionary                              1
bakery buyer                                   1
corporate associate                            1
online order specialist                        1
robotics paint maintenance                     1
air craft technician                           1
csr 2                                          1
hvac manager                                   1
pipe/mechanical trades ii                      1
mechanical adjuster                            1
clinical business manager                      1
senior human resources manager                 1
publication specialist                         1
maintenance officer                            1
anti money laundering investigator             1
lead lens                                      1
damage controlman                              1
accounting services manager                    1
information assurance systems admin            1
physician payment specialist                   1
network team leader                            1
research clerk 3                               1
vice president & associate gc                  1
eeg technician                                 1
accounting texh ii payroll                     1
vp & loan review manager                       1
lead quality engineer                          1
safety and compliance specialist               1
medical records tech.                          1
director business systems                      1
rating quality review specialist               1
food service aide                              1
executive team lead                            1
vehicle technichan                             1
transportation analyst                         1
legal assistant iii                            1
info technology associate                      1
supply chain leader                            1
sr financial business partner                  1
house supervisor - rn                          1
aviation operations director                   1
convention manager                             1
qa technician                                  1
senior minister                                1
director customer logistics                    1
office and administrative manager              1
design studio manager                          1
teacher/ coach                                 1
police service rep                             1
county cassp caseworker                        1
financial crimes analyst                       1
patient service finance technician             1
national service manager                       1
sr. leasing consultant                         1
overhead helper                                1
relocation regional specialist                 1
contact center technology manager              1
massage                                        1
senior director marketing                      1
welcome ambassador                             1
Name: emp_title, Length: 34899, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [254]:
lc_df['emp_title_manager'] = lc_df['emp_title'].str.contains('manager')
lc_df['emp_title_manager'].value_counts()

False    89580
True     17885
Name: emp_title_manager, dtype: int64

### Create `emp_title_nurse`

In [255]:
lc_df['emp_title_nurse'] = lc_df['emp_title'].str.contains('nurse')
lc_df['emp_title_nurse'].value_counts()

False    103659
True       3806
Name: emp_title_nurse, dtype: int64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
lc_df['last_pymnt_d'] = pd.to_datetime(lc_df['last_pymnt_d'], format = '%b-%Y')

In [257]:
lc_df['last_pymnt_d'].value_counts(dropna = False)

2019-04-01    120098
2019-03-01      2660
2019-02-01      1956
2019-01-01      1571
2018-12-01      1055
2018-11-01       679
2018-10-01       234
NaT              159
Name: last_pymnt_d, dtype: int64

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

## Convert the `term` column from string to integer.

In [258]:
lc_df['term'].value_counts()

 36 months    88179
 60 months    40233
Name: term, dtype: int64

In [0]:
lc_df['term'] = lc_df['term'].str.strip().apply(lambda x: int(x[:2]))

In [260]:
lc_df['term'].value_counts()

36    88179
60    40233
Name: term, dtype: int64

##Make a column named `loan_status_is_great`. 

It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
lc_df['loan_status_is_great'] = lc_df['loan_status'].apply(lambda x: x in ['Current', 'Fully Paid']).apply(int)

In [262]:
lc_df['loan_status_is_great'].value_counts(dropna = False)

1    125907
0      2505
Name: loan_status_is_great, dtype: int64

In [263]:
lc_df['loan_status'].value_counts(dropna = False)

Current               119540
Fully Paid              6367
Late (31-120 days)      1168
In Grace Period          666
Late (16-30 days)        350
Charged Off              319
Default                    2
Name: loan_status, dtype: int64

##Make last_pymnt_d_month and last_pymnt_d_year columns

In [0]:
lc_df['last_pymnt_d_month'] = lc_df['last_pymnt_d'].dt.month
lc_df['last_pymnt_d_year'] = lc_df['last_pymnt_d'].dt.year

In [265]:
lc_df['last_pymnt_d_month'].value_counts(dropna = False)

4.0     120098
3.0       2660
2.0       1956
1.0       1571
12.0      1055
11.0       679
10.0       234
NaN        159
Name: last_pymnt_d_month, dtype: int64

In [266]:
lc_df['last_pymnt_d_year'].value_counts(dropna = False)

2019.0    126285
2018.0      1968
NaN          159
Name: last_pymnt_d_year, dtype: int64

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

##There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.

In [267]:
lc_df['revol_util'] = lc_df['revol_util'].apply(convert_percent)
lc_df['revol_util'].head()

0    38.0
1    19.2
2    19.1
3    11.5
4    10.3
Name: revol_util, dtype: float64

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01