<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-08-08 19:33:12--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.56M   876KB/s    in 26s

2019-08-08 19:33:38 (866 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22606280]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [5]:
#Loading the Lending csv file into Dataframe
import pandas as pd
import numpy as np

lending_data = pd.read_csv( "LoanStats_2018Q4.csv",skiprows=1,skipfooter=2)
lending_data.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.

(128412, 144)

In [6]:
lending_data.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [7]:
lending_data.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
lending_data.isnull().sum().sort_values(ascending=False)

In [0]:
#Four columns have NaN values in all the rows, hence dropping them.
lending_data.drop(columns=['id','member_id','url','desc'],inplace=True)

In [11]:
lending_data.shape

(128412, 140)

In [12]:
#Check for the data types on the columns
lending_data.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
                                               ...
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
Length: 140, dtype: object

In [13]:
lending_data['int_rate'].head()

0     10.33%
1     23.40%
2     17.97%
3     20.89%
4     23.40%
Name: int_rate, dtype: object

In [14]:
#Changing Interest Rate column from object to float
#First % has to be stripped
#Then the strip needs to be cast as float
#Will use chaining method for the above steps
lending_data['int_rate'] = lending_data['int_rate'].str.strip('%').astype('float')
lending_data['int_rate'].head()
print(lending_data.int_rate.dtype)

float64

In [22]:
#Number of unique Emp titles
lending_data.emp_title.nunique()

43892

In [16]:
#Cleaning Employee titles by getting the top 20 titles by number of count
lending_data['emp_title'].value_counts(dropna=False).sort_values(ascending=False)[:20]

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [24]:
#Update the emp title by filling Nan with 'Unknown
lending_data['emp_title'] = lending_data['emp_title'].fillna('Unknown')
lending_data['emp_title'].value_counts(dropna=False).sort_values(ascending=False)[:20]

Unknown               20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [26]:
def cleantitle(emptitle):
  return(emptitle.title())

lending_data['emp_title']=lending_data['emp_title'].apply(cleantitle)
lending_data['emp_title'].value_counts().sort_values(ascending=False)[:20]

Unknown               20947
Teacher                2373
Manager                2130
Registered Nurse       1261
Driver                 1156
Supervisor              867
Rn                      806
Truck Driver            751
Sales                   741
Office Manager          718
General Manager         690
Project Manager         644
Owner                   567
Operations Manager      456
Sales Manager           442
Director                435
Nurse                   392
Engineer                368
Police Officer          354
Store Manager           337
Name: emp_title, dtype: int64

In [30]:
#Create a new feature indicating if the Person has Manager in his/her title
def check_manager_title(emp_title):
  return(('Manager') in emp_title)

lending_data['is_manager']=lending_data['emp_title'].apply(check_manager_title)
lending_data['is_manager'].value_counts()

False    110530
True      17882
Name: is_manager, dtype: int64

In [34]:
#Working with Dates
#List the columns with _d at the end to identify date columns
date_columns = [col for col in lending_data if col.endswith('_d')]
date_columns

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [35]:
#Checking for the type of Date data
for col in date_columns:
  print(lending_data[col].head())

#All of the date data is in the format of MON-YEAR

0    Dec-2018
1    Dec-2018
2    Dec-2018
3    Dec-2018
4    Dec-2018
Name: issue_d, dtype: object
0    Jul-2019
1    Jul-2019
2    Jun-2019
3    Jul-2019
4    Jul-2019
Name: last_pymnt_d, dtype: object
0    Jul-2019
1    Jul-2019
2    Jul-2019
3    Jul-2019
4    Jul-2019
Name: next_pymnt_d, dtype: object
0    Jul-2019
1    Jul-2019
2    Jul-2019
3    Jul-2019
4    Jul-2019
Name: last_credit_pull_d, dtype: object

In [36]:
#Convering date columns to pandas date time columns

for col in date_columns:
  lending_data[col]=pd.to_datetime(lending_data[col])
  print(lending_data[col].head())

0   2018-12-01
1   2018-12-01
2   2018-12-01
3   2018-12-01
4   2018-12-01
Name: issue_d, dtype: datetime64[ns]
0   2019-07-01
1   2019-07-01
2   2019-06-01
3   2019-07-01
4   2019-07-01
Name: last_pymnt_d, dtype: datetime64[ns]
0   2019-07-01
1   2019-07-01
2   2019-07-01
3   2019-07-01
4   2019-07-01
Name: next_pymnt_d, dtype: datetime64[ns]
0   2019-07-01
1   2019-07-01
2   2019-07-01
3   2019-07-01
4   2019-07-01
Name: last_credit_pull_d, dtype: datetime64[ns]

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [37]:
#Lending data has another feature with % sign, from the head data, the column is revol_util
lending_data['revol_util'].head(),lending_data['revol_util'].tail()

(0      38%
 1    19.2%
 2    19.1%
 3      13%
 4    81.3%
 Name: revol_util, dtype: object, 128407    43.6%
 128408    37.1%
 128409    27.3%
 128410    13.1%
 128411    30.8%
 Name: revol_util, dtype: object)

In [41]:
#checking for NaN values
print(lending_data['revol_util'].isnull().sum())
#Updating null values with 0.00%
lending_data['revol_util'] = lending_data['revol_util'].fillna('0.00%')
print(lending_data['revol_util'].isnull().sum())
#Now converting the columns to float
lending_data['revol_util']=lending_data.revol_util.str.strip('%').astype('float')
print(lending_data.revol_util.dtype)
print(lending_data['revol_util'].head())

0
0
float64
0    38.0
1    19.2
2    19.1
3    13.0
4    81.3
Name: revol_util, dtype: float64

In [60]:
#Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.
top20_titles = lending_data['emp_title'].value_counts().sort_values(ascending=False)[:20].index.values
top20_titles

True

In [0]:
#Change designation to 'Other' if it is not in the top 20
lending_data['emp_title'] = lending_data['emp_title'].apply(lambda x: 'Other' if x not in top20_titles else x)

In [63]:
lending_data['emp_title'].value_counts().sort_values(ascending=False)

Other                 91977
Unknown               20947
Teacher                2373
Manager                2130
Registered Nurse       1261
Driver                 1156
Supervisor              867
Rn                      806
Truck Driver            751
Sales                   741
Office Manager          718
General Manager         690
Project Manager         644
Owner                   567
Operations Manager      456
Sales Manager           442
Director                435
Nurse                   392
Engineer                368
Police Officer          354
Store Manager           337
Name: emp_title, dtype: int64

You can uncomment and run the cells below to re-download and extract the Instacart data

In [64]:
 !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2019-08-08 21:23:13--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.19.27
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.19.27|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  54.8MB/s    in 3.6s

2019-08-08 21:23:17 (54.7 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [65]:
 !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [66]:
 %cd instacart_2017_05_01

/content/instacart_2017_05_01

In [67]:
!ls

aisles.csv	 order_products__prior.csv  orders.csv
departments.csv  order_products__train.csv  products.csv

In [68]:
aisles = pd.read_csv('aisles.csv')
aisles.head(),aisles.tail()

(   aisle_id                       aisle
 0         1       prepared soups salads
 1         2           specialty cheeses
 2         3         energy granola bars
 3         4               instant foods
 4         5  marinades meat preparation,
      aisle_id                       aisle
 129       130    hot cereal pancake mixes
 130       131                   dry pasta
 131       132                      beauty
 132       133  muscles joints pain relief
 133       134  specialty wines champagnes)

In [72]:
!head aisles.csv

aisle_id,aisle
1,prepared soups salads
2,specialty cheeses
3,energy granola bars
4,instant foods
5,marinades meat preparation
6,other
7,packaged meat
8,bakery desserts
9,pasta sauce

In [73]:
aisles.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [74]:
aisles.tail()

     aisle_id                       aisle
129       130    hot cereal pancake mixes
130       131                   dry pasta
131       132                      beauty
132       133  muscles joints pain relief
133       134  specialty wines champagnes