_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
#!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [0]:
#!unzip LoanStats_2018Q4.csv.zip

In [0]:
#!head LoanStats_2018Q4.csv

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [326]:
import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [327]:
print(df.shape)
df.head()

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [328]:
df.isna().sum()

id                                            128412
member_id                                     128412
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      20947
emp_length                                     11704
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           128412
desc                                          128412
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              237
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         72196
mths_since_last_record                        112962
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       156
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     159
last_pymnt_amnt                                    0
next_pymnt_d                                   10813
last_credit_pull_d                                 1
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    99232
policy_code                                        0
application_type                                   0
annual_inc_joint                              111630
dti_joint                                     111630
verification_status_joint                     113564
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                              4478
total_bal_il                                       0
il_util                                        20274
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          37
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                       13
bc_open_to_buy                                  1691
bc_util                                         1754
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              4478
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1591
mths_since_recent_bc_dlq                      103243
mths_since_recent_inq                          16047
mths_since_recent_revol_delinq                 91630
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                2859
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1692
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
sec_app_mths_since_last_major_derog           123258
hardship_flag                                      0
hardship_type                                 128411
hardship_reason                               128411
hardship_status                               128411
deferral_term                                 128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
hardship_dpd                                  128411
hardship_loan_status                          128411
orig_projected_additional_accrued_interest    128411
hardship_payoff_balance_amount                128411
hardship_last_payment_amount                  128411
debt_settlement_flag                               0
debt_settlement_flag_date                     128374
settlement_status                             128374
settlement_date                               128374
settlement_amount                             128374
settlement_percentage                         128374
settlement_term                               128374
dtype: int64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

Apply the function to the `int_rate` column

### Clean `emp_title`

Look at top 20 titles

How often is `emp_title` null?

Clean the title and handle missing values

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [329]:
df['term'].head()

0     36 months
1     60 months
2     36 months
3     36 months
4     36 months
Name: term, dtype: object

In [330]:
df['term'].nunique() #checking the number of unique values in that col

2

In [0]:
df['term'] = df['term'].str.strip(' months').astype(int) #using the strip function to remove the ' months' part of the string, then using the astype func to set the remaining 60 str to an int

In [332]:
df['term'].head(10)

0    36
1    60
2    36
3    36
4    36
5    36
6    36
7    36
8    60
9    36
Name: term, dtype: int64

In [333]:
df['loan_status'].head(10)

0    Current
1    Current
2    Current
3    Current
4    Current
5    Current
6    Current
7    Current
8    Current
9    Current
Name: loan_status, dtype: object

In [334]:
df['loan_status'].unique()

array(['Current', 'Fully Paid', 'Late (31-120 days)', 'In Grace Period',
       'Late (16-30 days)', 'Charged Off', 'Default'], dtype=object)

In [0]:
df['loan_status_is_great'] = [1 if (x == 'Current') or (x == 'Fully Paid') else 0 for x in df['loan_status']]

In [336]:
pd.options.display.max_rows = 150
df[['loan_status','loan_status_is_great']].head(100)

           loan_status  loan_status_is_great
0              Current                     1
1              Current                     1
2              Current                     1
3              Current                     1
4              Current                     1
5              Current                     1
6              Current                     1
7              Current                     1
8              Current                     1
9              Current                     1
10          Fully Paid                     1
11          Fully Paid                     1
12             Current                     1
13             Current                     1
14             Current                     1
15             Current                     1
16             Current                     1
17             Current                     1
18             Current                     1
19             Current                     1
20  Late (31-120 days)                     0
21             Current                     1
22             Current                     1
23             Current                     1
24             Current                     1
25             Current                     1
26             Current                     1
27             Current                     1
28             Current                     1
29          Fully Paid                     1
30             Current                     1
31             Current                     1
32             Current                     1
33             Current                     1
34             Current                     1
35             Current                     1
36             Current                     1
37             Current                     1
38             Current                     1
39             Current                     1
40             Current                     1
41             Current                     1
42             Current                     1
43             Current                     1
44             Current                     1
45             Current                     1
46             Current                     1
47             Current                     1
48             Current                     1
49             Current                     1
50             Current                     1
51             Current                     1
52             Current                     1
53             Current                     1
54             Current                     1
55             Current                     1
56          Fully Paid                     1
57             Current                     1
58             Current                     1
59             Current                     1
60          Fully Paid                     1
61             Current                     1
62             Current                     1
63             Current                     1
64             Current                     1
65             Current                     1
66             Current                     1
67             Current                     1
68             Current                     1
69             Current                     1
70             Current                     1
71          Fully Paid                     1
72             Current                     1
73          Fully Paid                     1
74             Current                     1
75             Current                     1
76             Current                     1
77             Current                     1
78             Current                     1
79             Current                     1
80             Current                     1
81          Fully Paid                     1
82             Current                     1
83             Current                     1
84  Late (31-120 days)                     0
85             Current                     1
86             Current                     1
87             Current                     1
88             Current                     1
89             Current                     1
90             Current                     1
91             Current                     1
92             Current                     1
93             Current                     1
94             Current                     1
95             Current                     1
96             Current                     1
97             Current                     1
98             Current                     1
99             Current                     1

In [337]:
df['last_pymnt_d'].head(10)

0    Jun-2019
1    May-2019
2    May-2019
3    May-2019
4    Jun-2019
5    May-2019
6    May-2019
7    May-2019
8    May-2019
9    May-2019
Name: last_pymnt_d, dtype: object

In [338]:
df['last_pymnt_d'].describe()

count       128253
unique          10
top       Jun-2019
freq        103574
Name: last_pymnt_d, dtype: object

In [339]:
df['last_pymnt_d'].isna().sum()

159

In [0]:
last_pm_md = (df['last_pymnt_d'].mode())
df['last_pymnt_d'].fillna(last_pm_md, inplace=True) #This refuses to work for what ever reason

In [341]:
df['last_pymnt_d'].isna().sum()

159

In [342]:
df['last_pymnt_d'].describe()

count       128253
unique          10
top       Jun-2019
freq        103574
Name: last_pymnt_d, dtype: object

In [343]:
df['last_pymnt_d'].unique()

array(['Jun-2019', 'May-2019', 'Apr-2019', 'Feb-2019', 'Jan-2019',
       'Mar-2019', nan, 'Dec-2018', 'Jul-2019', 'Nov-2018', 'Oct-2018'],
      dtype=object)

In [344]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)
df['last_pymnt_d'].head()

0   2019-06-01
1   2019-05-01
2   2019-05-01
3   2019-05-01
4   2019-06-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
last_pm_md2 = df['last_pymnt_d'].mode()
df['last_pymnt_d'].fillna(last_pm_md2, inplace=True)#This refuses to work aswell

In [346]:
df['last_pymnt_d'].isna().sum()

159

In [347]:
df['last_pymnt_d'].head()

0   2019-06-01
1   2019-05-01
2   2019-05-01
3   2019-05-01
4   2019-06-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [349]:
df[['last_pymnt_d', 'last_pymnt_d_month', 'last_pymnt_d_year']].head(20)

   last_pymnt_d  last_pymnt_d_month  last_pymnt_d_year
0    2019-06-01                 6.0             2019.0
1    2019-05-01                 5.0             2019.0
2    2019-05-01                 5.0             2019.0
3    2019-05-01                 5.0             2019.0
4    2019-06-01                 6.0             2019.0
5    2019-05-01                 5.0             2019.0
6    2019-05-01                 5.0             2019.0
7    2019-05-01                 5.0             2019.0
8    2019-05-01                 5.0             2019.0
9    2019-05-01                 5.0             2019.0
10   2019-04-01                 4.0             2019.0
11   2019-04-01                 4.0             2019.0
12   2019-05-01                 5.0             2019.0
13   2019-06-01                 6.0             2019.0
14   2019-05-01                 5.0             2019.0
15   2019-05-01                 5.0             2019.0
16   2019-06-01                 6.0             2019.0
17   2019-05-01                 5.0             2019.0
18   2019-06-01                 6.0             2019.0
19   2019-05-01                 5.0             2019.0

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
#!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
#!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
#%cd instacart_2017_05_01

In [0]:
print(df['revol_util'].isna().sum())
df['revol_util'].describe()

In [0]:
df['revol_util'].mode()

In [0]:
rev_mode = df['revol_util'].mode()
print(rev_mode)
print(type(rev_mode))

In [0]:
df['revol_util'].isna().sum()

In [0]:
df['revol_util'].nunique()

In [0]:
df['revol_util'] = df['revol_util'].str.strip('%').astype(float)

In [0]:
df['revol_util'].head()

In [0]:
print(df['revol_util'].describe())
print(df['revol_util'].mode())

In [0]:
df['revol_util'].fillna(df['revol_util'].mode(), inplace=True)
print(df['revol_util'].isna().sum())

In [0]:
print(df['emp_title'])