_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip

--2019-07-18 22:48:34--  https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2019Q1.csv.zip’

LoanStats_2019Q1.cs     [    <=>             ]  19.30M   813KB/s    in 25s

2019-07-18 22:49:04 (795 KB/s) - ‘LoanStats_2019Q1.csv.zip’ saved [20240936]

In [2]:
!ls

LoanStats_2019Q1.csv.zip  sample_data

In [3]:
!unzip LoanStats_2019Q1.csv.zip

Archive:  LoanStats_2019Q1.csv.zip
  inflating: LoanStats_2019Q1.csv

In [4]:
!head LoanStats_2019Q1.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.19%","499.1","C","C5","Front desk supervisor","6 years","RENT","47000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","958xx","CA","14.02","0","Sep-2006","1","50","","15","0","10687","19.7%","53","w","19254.76","19254.76","1459.1","1459.10","745.24","713.86","0.0","0.0","0.0","Jun-2019","499.1","Jul-2019","Jun-2019","0","50","1","Individual","","","","0","0","31546","3","2","1","2","10","20859","97","4","9","5909","42","54300","6","1","3","11","2103","23647","30","0","0","150","100","1","1","0","5","","3","50","3","3","4","8","19","19","13","33","4","15","0","0","0","5","98","12.5","0","0","75824","31546","33800","21524","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 36 months"," 16.40%","424.26","C","C4","Executive Director","4 years","MORTGAGE","95000","Not Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","436xx","OH","29.5","0","Nov-1992","0","29","","19","0","16619","64.9%","36","w","11475.92","11475.92","826.65","826.65","524.08","302.57","0.0","0.0","0.0","May-2019","424.26","Jul-2019","Jun-2019","0","30","1","Individual","","","","0","0","176551","1","5","2","5","7","35115","65","3","6","4899","65","25600","4","0","3","12","9292","3231","82.5","0","0","316","269","5","5","2","12","58","7","29","1","6","8","6","9","10","13","23","8","19","0","0","0","6","80.6","66.7","0","0","209488","51734","18500","54263","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","3000","3000","3000"," 36 months"," 14.74%","103.62","C","C2","Office Manager","4 years","MORTGAGE","58750","Verified","Mar-2019","Current","n","","","medical","Medical expenses","327xx","FL","30.91","0","Jun-2004","0","24","","16","0","20502","60.1%","25","f","2865.64","2865.64","202.33","202.33","134.36","67.97","0.0","0.0","0.0","May-2019","103.62","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","37816","0","3","0","0","27","17314","48","0","0","3962","54","34100","0","1","0","0","2364","1208","89.4","0","0","177","164","35","27","4","40","24","","24","0","7","12","7","8","6","13","15","12","16","0","0","0","0","96","71.4","0","0","69911","37816","11400","35811","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","35000","35000","35000"," 36 months"," 15.57%","1223.08","C","C3","Store Manager ","10+ years","RENT","122000","Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","333xx","FL","22","1","Dec-2009","0","20","","5","0","1441","24.4%","18","w","33459.43","33459.43","2446.76","2446.76","1540.57","845.04","61.15","0.0","0.0","Jun-2019","1223.08","Jul-2019","Jun-2019","0","20","1","Individual","","","","0","0","24471","0","3","0","0","26","23030","39","0","0","1441","37","5900","2","4","1","1","4894","159","90.1","0","0","108","111","52","24","0","85","","9","","1","1","1","1","3","10","2","7","1","5","0","0","1","0","94.4","100","0","0","65640","24471","1600","59740","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 15.57%","174.73","C","C3","Area Manager","3 years","OWN","65000","Verified","Mar-2019","Current","n","","","house","Home buying","640xx","MO","16.28","1","Jul-2001","0","7","","9","0","5604","64.4%","25","w","4778.86","4778.86","340.81","340.81","221.14","119.67","0.0","0.0","0.0","May-2019","174.73","Jul-2019","Jun-2019","0","7","1","Individual","","","","0","0","29775","0","1","0","1","17","24171","82","1","6","1824","78","8700","1","0","0","7","3722","1070","75.7","0","0","111","212","10","10","4","17","69","17","69","4","3","5","5","9","7","8","14","5","9","0","0","1","1","76","50","0","0","38190","29775","4400","29490","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 12.40%","897.89","B","B4","SVP","10+ years","MORTGAGE","515000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","117xx","NY","18.19","0","Feb-1993","1","","","24","0","130490","86.4%","49","w","39025.88","39025.88","1740.67","1740.67","974.12","766.55","0.0","0.0","0.0","May-2019","897.89","Jul-2019","Jun-2019","0","","1","Individual","","","","0","205","569565","3","6","2","3","4","72207","39","3","3","20896","67","151100","1","6","2","7","23732","4733","94.8","0","0","160","304","3","3","6","10","","0","","0","10","14","10","17","12","15","28","14","24","0","0","0","5","100","100","0","0","752911","204997","90800","144678","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","40000","40000","40000"," 60 months"," 11.02%","870.1","B","B2","VP of Sales","3 years","MORTGAGE","288000","Not Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","843xx","UT","19.74","0","May-2002","0","","","20","0","66240","43.9%","34","w","38989.85","38989.85","1691.22","1691.22","1010.15","681.07","0.0","0.0","0.0","May-2019","870.1","Jul-2019","Jun-2019","0","","1","Individual","","","","0","0","390598","0","5","0","2","16","140633","58","0","2","22577","49","150900","0","6","1","4","19530","81923","43.1","0","0","136","202","17","16","1","17","","3","","0","8","9","10","15","11","13","22","10","20","0","0","0","0","100","20","0","0","543401","206873","143900","197751","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 60 months"," 12.40%","448.95","B","B4","Sales","1 year","MORTGAGE","70000","Source Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","481xx","MI","32.33","0","May-1995","0","","","12","0","31036","56.7%","32","w","19512.93","19512.93","870.34","870.34","487.07","383.27","0.0","0.0","0.0","May-2019","448.95","Jul-2019","Jun-2019","0","","1","Joint App","102400","31.16","Source Verified","0","0","204292","0","3","0","1","14","16305","33","0","0","17389","46","54700","1","3","0","2","17024","268","98.9","0","0","133","286","41","14","4","84","","15","","0","3","7","3","7","9","8","19","7","12","0","0","0","0","100","100","0","0","267991","47341","24800","49291","56647","May-1995","0","4","15","61.3","1","31","0","0","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [5]:
import pandas as pd

df = pd.read_csv("LoanStats_2019Q1.csv", header=1, skipfooter=2, engine="python") # Or you can use skiprows=1. skipfooter skips the last two rows
print(df.shape)
df.head()

(115675, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [6]:
df.isna().sum()

id                                            115675
member_id                                     115675
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      19518
emp_length                                     11101
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           115675
desc                                          115675
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              257
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         65799
mths_since_last_record                        102252
                                               ...
sec_app_mort_acc                               98994
sec_app_open_acc                               98994
sec_app_revol_util                             99224
sec_app_open_act_il                            98994
sec_app_num_rev_accts                          98994
sec_app_chargeoff_within_12_mths               98994
sec_app_collections_12_mths_ex_med             98994
sec_app_mths_since_last_major_derog           110774
hardship_flag                                      0
hardship_type                                 115674
hardship_reason                               115674
hardship_status                               115674
deferral_term                                 115674
hardship_amount                               115674
hardship_start_date                           115674
hardship_end_date                             115674
payment_plan_start_date                       115674
hardship_length                               115674
hardship_dpd                                  115674
hardship_loan_status                          115674
orig_projected_additional_accrued_interest    115674
hardship_payoff_balance_amount                115674
hardship_last_payment_amount                  115674
debt_settlement_flag                               0
debt_settlement_flag_date                     115674
settlement_status                             115674
settlement_date                               115674
settlement_amount                             115674
settlement_percentage                         115674
settlement_term                               115674
Length: 144, dtype: int64

In [0]:
#df[df.loan_amnt.isna()] This counts the NaN values in the row and finds them.

In [8]:
df.info() #the object typically means its a string.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115675 entries, 0 to 115674
Columns: 144 entries, id to settlement_term
dtypes: float64(56), int64(52), object(36)
memory usage: 127.1+ MB

In [9]:
df.head().T # The "T" stands for transpose and will flip the cloumns with rows.

                                                                0  ...             4
id                                                            NaN  ...           NaN
member_id                                                     NaN  ...           NaN
loan_amnt                                                   20000  ...          5000
funded_amnt                                                 20000  ...          5000
funded_amnt_inv                                             20000  ...          5000
term                                                    60 months  ...     36 months
int_rate                                                   17.19%  ...        15.57%
installment                                                 499.1  ...        174.73
grade                                                           C  ...             C
sub_grade                                                      C5  ...            C3
emp_title                                   Front desk supervisor  ...  Area Manager
emp_length                                                6 years  ...       3 years
home_ownership                                               RENT  ...           OWN
annual_inc                                                  47000  ...         65000
verification_status                               Source Verified  ...      Verified
issue_d                                                  Mar-2019  ...      Mar-2019
loan_status                                               Current  ...       Current
pymnt_plan                                                      n  ...             n
url                                                           NaN  ...           NaN
desc                                                          NaN  ...           NaN
purpose                                        debt_consolidation  ...         house
title                                          Debt consolidation  ...   Home buying
zip_code                                                    958xx  ...         640xx
addr_state                                                     CA  ...            MO
dti                                                         14.02  ...         16.28
delinq_2yrs                                                     0  ...             1
earliest_cr_line                                         Sep-2006  ...      Jul-2001
inq_last_6mths                                                  1  ...             0
mths_since_last_delinq                                         50  ...             7
mths_since_last_record                                        NaN  ...           NaN
...                                                           ...  ...           ...
sec_app_mort_acc                                              NaN  ...           NaN
sec_app_open_acc                                              NaN  ...           NaN
sec_app_revol_util                                            NaN  ...           NaN
sec_app_open_act_il                                           NaN  ...           NaN
sec_app_num_rev_accts                                         NaN  ...           NaN
sec_app_chargeoff_within_12_mths                              NaN  ...           NaN
sec_app_collections_12_mths_ex_med                            NaN  ...           NaN
sec_app_mths_since_last_major_derog                           NaN  ...           NaN
hardship_flag                                                   N  ...             N
hardship_type                                                 NaN  ...           NaN
hardship_reason                                               NaN  ...           NaN
hardship_status                                               NaN  ...           NaN
deferral_term                                                 NaN  ...           NaN
hardship_amount                                               NaN  ...           NaN
hardship_start_date                                           NaN  ...           NaN
hardship_end_date                                             NaN  ...           NaN
payment_plan_start_date                                       NaN  ...           NaN
hardship_length                                               NaN  ...           NaN
hardship_dpd                                                  NaN  ...           NaN
hardship_loan_status                                          NaN  ...           NaN
orig_projected_additional_accrued_interest                    NaN  ...           NaN
hardship_payoff_balance_amount                                NaN  ...           NaN
hardship_last_payment_amount                                  NaN  ...           NaN
debt_settlement_flag                                            N  ...             N
debt_settlement_flag_date                                     NaN  ...           NaN
settlement_status                                             NaN  ...           NaN
settlement_date                                               NaN  ...           NaN
settlement_amount                                             NaN  ...           NaN
settlement_percentage                                         NaN  ...           NaN
settlement_term                                               NaN  ...           NaN

[144 rows x 5 columns]

In [10]:
pd.options.display.max_columns = 150 # will show you all the rows in a data frame and -1 stands for infinity also can do .max_rows
pd.options.display.max_rows = 150
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000,60 months,17.19%,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000,36 months,16.40%,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000,3000,3000,36 months,14.74%,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000,35000,35000,36 months,15.57%,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000,36 months,15.57%,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [11]:
# Most models that you train you can't pass in strings. Need to represent them numerically.
df.describe() # This will take all the numerical columns and ignore the strings and give you some stats about them.

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,115675.000000,115675.000000,115675.000000,115675.000000,1.156750e+05,0.0,0.0,115418.000000,115675.000000,115675.000000,49876.000000,13423.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.0,115675.0,115675.000000,115675.000000,24998.000000,115675.0,1.668100e+04,16681.000000,115675.0,115675.000000,1.156750e+05,115675.000000,115675.000000,115675.000000,115675.000000,112158.000000,1.156750e+05,98356.000000,115675.000000,115675.000000,115675.000000,115651.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115668.000000,114352.000000,114297.000000,115675.000000,115675.000000,112158.000000,115675.000000,115675.000000,115675.000000,115675.000000,114417.000000,22598.000000,101318.000000,32896.00000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,112529.0,115675.0,115675.000000,115675.000000,115675.000000,114346.000000,115675.000000,115675.0,1.156750e+05,1.156750e+05,115675.000000,1.156750e+05,16681.000000,16681.000000,16681.000000,16681.000000,16451.000000,16681.000000,16681.000000,16681.000000,16681.000000,4901.000000,1.0,1.00,1.0,1.0,1.00,1.00,1.0,1.0,1.0,1.0
mean,NaN,NaN,16671.263021,16671.263021,16668.042144,481.083874,8.505333e+04,NaN,NaN,20.445427,0.227595,0.443069,36.654864,87.794830,11.723544,0.117484,17859.725835,23.121262,14769.657755,14766.934018,2526.362844,2525.758973,1880.341193,645.880945,0.140706,0.0,0.0,1026.634408,0.016693,46.419034,1.0,1.393034e+05,19.539382,0.0,176.482818,1.530888e+05,0.913776,2.790430,0.701145,1.586721,20.143360,3.763173e+04,67.932236,1.167806,2.463384,6395.217324,54.217058,41527.288360,1.119118,1.545710,1.877994,4.316672,14307.482752,16306.032531,49.817880,0.007469,3.038591,125.115747,176.763761,15.652777,8.732648,1.378561,26.151743,39.701080,7.663525,37.31706,0.436395,3.741967,5.544664,5.020324,7.205749,8.475159,8.301630,13.071761,5.501388,11.705909,0.0,0.0,0.058007,1.992349,94.919273,32.611930,0.117441,0.0,1.971531e+05,5.585600e+04,29185.391589,4.871611e+04,39336.440801,0.564535,1.647743,11.707931,55.987022,3.083148,12.661231,0.027277,0.052515,39.243420,3.0,35.21,3.0,11.0,105.63,5636.06,5.9,2839.0,65.0,18.0
std,NaN,NaN,10352.132790,10352.132790,10354.685658,290.651469,1.098949e+05,NaN,NaN,20.480562,0.746965,0.736914,21.806311,21.745046,5.977082,0.327165,22735.701183,12.177136,10017.773578,10019.645719,3712.764848,3712.694129,3631.076603,520.540978,2.432110,0.0,0.0,3362.997605,0.140971,21.887349,0.0,8.027360e+04,8.099141,0.0,1776.351801,1.718055e+05,1.127978,2.912667,0.934572,1.554939,24.583029,4.796880e+04,23.492706,1.436514,2.447904,5920.727685,20.367860,37737.346245,1.488827,2.729418,2.309489,3.154960,17725.923722,20214.367192,28.543757,0.095435,327.162309,56.721665,100.724495,19.253788,9.397910,1.720424,34.075895,22.369914,6.089147,22.12795,1.341723,2.482458,3.507135,3.263597,4.548438,7.413471,4.983926,7.922110,3.450848,5.974131,0.0,0.0,0.421806,1.857690,8.640351,34.464534,0.327114,0.0,1.940234e+05,5.591184e+04,26975.924435,5.049259e+04,33132.189920,0.911911,1.795547,6.671331,25.583408,3.224937,8.226743,0.260578,0.310101,23.687664,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1000.000000,1000.000000,725.000000,30.640000,0.000000e+00,NaN,NaN,0.000000,0.000000,0.000000,1.000000,12.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.0,1.760400e+04,0.000000,0.0,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,16.700000,0.000000,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,35.21,3.0,11.0,105.63,5636.06,5.9,2839.0,65.0,18.0
25%,NaN,NaN,9000.000000,9000.000000,9000.000000,264.940000,4.900000e+04,NaN,NaN,12.210000,0.000000,0.000000,19.000000,74.000000,8.000000,0.000000,6166.000000,14.000000,7211.500000,7211.500000,1014.860000,1014.430000,635.485000,262.870000,0.000000,0.0,0.0,272.850000,0.000000,29.000000,1.0,9.100000e+04,13.530000,0.0,0.000000,3.020000e+04,0.000000,1.000000,0.000000,0.000000,7.000000,8.849000e+03,54.000000,0.000000,1.000000,2500.000000,40.000000,18200.000000,0.000000,0.000000,0.000000,2.000000,3162.000000,3373.000000,26.500000,0.000000,0.000000,86.000000,101.000000,4.000000,3.000000,0.000000,6.000000,22.000000,3.000000,19.00000,0.000000,2.000000,3.000000,3.000000,4.000000,3.000000,5.000000,7.000000,3.000000,7.000000,0.0,0.0,0.000000,1.000000,92.900000,0.000000,0.000000,0.0,5.810000e+04,2.168000e+04,11100.000000,1.606000e+04,18077.000000,0.000000,0.000000,7.000000,37.100000,1.000000,7.000000,0.000000,0.000000,20.000000,3.0,35.21,3.0,11.0,105.63,5636.06,5.9,2839.0,65.0,18.0
50%,NaN,NaN,15000.000000,15000.000000,15000.000000,401.530000,7.000000e+04,NaN,NaN,18.480000,0.000000,0.000000,34.000000,92.000000,11.000000,0.000000,12072.000000,21.000000,12783.750000,12775.250000,1660.860000,1660.860000,1044.940000,501.210000,0.000000,0.0,0.0,427.720000,0.000000,47.000000,1.0,1.230000e+05,19.110000,0.0,0.000000,8.444200e+04,1.000000,2.000000,0.000000,1.000000,13.000000,2.418400e+04,70.000000,1.000000,2.000000,4904.000000,55.000000,31600.000000,1.000000,0.000000,1.000000,4.000000,7673.500000,9467.500000,48.500000,0.000000,0.000000,132.000000,158.000000,9.000000,6.000000,1.000000,15.000000,37.000000,6.000000,35.00000,0.000000,3.000000,5.000000,4.000000,6.000000,6.000000,7.000000,11.000000,5.000000,11.000000,0.0,0.0,0.000000,2.000000,100.000000,25.000000,0.000000,0.0,1.294000e+05,4.078100e+04,21500.000000,3.613000e+04,31108.000000,0.000000,1.000000,11.000000,57.400000,2.000000,11.000000,0.000000,0.000000,38.000000,3.0,35.21,3.0,11.0,105.63,5636.06,5.9,2839.0,65.0,18.0
75%,NaN,NaN,24000.000000,24000.000000,24000.000000,648.100000,1.000000e+05,NaN,NaN,25.790000,0.000000,1.000000,53.000000,105.000000,15.000000,0.000000,21914.000000,30.000000,21182.430000,21179.855000,2746.020000,2746.020000,1783.535000,885.110000,0.000000,0.0,0.0,688.130000,0.000000,64.000000,1.0,1.650000e+05,25.200000,0.0,0.000000,2.324500e+05,1.000000,3.000000,1.000000,2.000000,23.000000,4.860150e+04,84.000000,2.000000,3.000000,8484.000000,68.000000,52800.000000,2.000000,2.000000,3.000000,6.000000,19812.500000,21678.000000,73.600000,0.000000,0.000000,158.000000,228.000000,20.000000,11.000000,2.000000,32.000000,56.000000,12.000000,52.00000,0.000000,5.000000,7.000000,7.000000,9.000000,11.000000,11.000000,17.000000,7.000000,15.000000,0.0,0.0,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,2.874550e+05,7.067000e+04,38600.000000,6.564050e+04,50620.000000,1.000000,3.000000,15.000000,76.300000,4.000000,17.000000,0.000000,0.000000,58.000000,3.0,35.21,3.0,11.0,105.63,5636.06,5.9,2839.0,65.0,18.0
max,NaN,NaN,40000.000000,40000.000000,40000.000000,1676.230000,9.000000e+06,NaN,NaN,999.000000,21.000000,5.000000,176.000000,119.000000,72.000000,4.000000,652794.000000,164.000000,40000.000000,40000.000000,43131.146484,43131.150000,40000.000000,4501.170000,185.310000,0.0,0.0,41409.340000,6.000000,190.000000,1.0,1.836000e+06,39.980000,0.0,199308.000000,4.062258e+06,14.000000,63.000000,6.000000,22.000000,480.000000,1.260281e+06,313.000000,18.000000,44.000000,207484.000000,216.000000,759500.000000,29.000000,70.000000,42.000000,45.000000,635178.000000,506507.000000,169.500000,6.000000,65000.000000,696.000000,902.000000,564.000000,226.000000,28.000000,564.000000,198.000000,25.000000,181.00000,44.000000,30.000000,45.000000,45.000000,60.000000,149.000000,70.000000,98.000000,43.000000,72.000000,0.0,0.0,20.000000,19.000000,100.000000,100.000000,4.000000,0.0,7.365708e+06,1.295455e+06,509400.000000,1.587274e+06,473339.000000,6.000000,15.000000,75.000000,150.100000,36.000000,110.000000,13.000000,16.000000,132.000000,3.0,35.21,3.0,11.0,105.63,5636.06,5.9,2839.0,65.0,18.0

In [12]:
df.describe(include="object") # This will only show the 36 strings or objects that we saw in .info

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,115675,115675,115675,115675,96157,104574,115675,115675,115675,115675,115675,115675,115675,115675,115675,115675,115546,115675,115445,110769,115673,115675,14624,16681,115675,1,1,1,1,1,1,1,115675,1,1,1
unique,2,53,7,33,39387,11,5,3,3,6,1,12,12,877,50,652,1055,2,7,3,7,2,3,577,2,1,1,1,1,1,1,1,2,1,1,1
top,36 months,8.19%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Jan-2019,Current,n,debt_consolidation,Debt consolidation,750xx,CA,Aug-2006,0%,w,Jun-2019,Jul-2019,Jun-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,INCOME_CURTAILMENT,ACTIVE,Jun-2019,Sep-2019,Jul-2019,In Grace Period,N,May-2019,ACTIVE,May-2019
freq,78429,11314,37060,11314,2037,34490,58578,54608,43584,109176,115675,63747,63747,1162,15902,1033,1054,101423,102101,110738,111240,98994,6395,150,115674,1,1,1,1,1,1,1,115674,1,1,1

In [13]:
df.emp_length.value_counts()

10+ years    34490
< 1 year     15044
2 years       9695
3 years       8719
1 year        7919
5 years       7189
4 years       6777
6 years       4636
7 years       3913
8 years       3625
9 years       2567
Name: emp_length, dtype: int64

In [14]:
df.grade.value_counts() # will show you the unique values that we see in describe

A    37060
B    33129
C    27277
D    14797
E     3364
F       31
G       17
Name: grade, dtype: int64

### Convert `int_rate`

In [15]:
x = "12.5%"
float(x.strip("%"))

12.5

In [0]:
df["int rate"] = df["int_rate"].str.strip('%').astype(float)

In [17]:
df["int rate"].head()

0    17.19
1    16.40
2    14.74
3    15.57
4    15.57
Name: int rate, dtype: float64

Define a function to remove percent signs from strings and convert to floats

Apply the function to the `int_rate` column

In [18]:
def remove_percent_sign(string):
  """This function takes a string as input, strips the %, and returns float interest rate."""
  return float(string.strip("%"))/100

remove_percent_sign(x)

0.125

In [19]:
df["int_rate"] = df["int_rate"].apply(remove_percent_sign)
df["int_rate"].head()

0    0.1719
1    0.1640
2    0.1474
3    0.1557
4    0.1557
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [20]:
df.emp_title.value_counts().head(20)

Teacher                     2037
Manager                     1626
Registered Nurse             898
Driver                       857
Supervisor                   655
RN                           623
Sales                        586
Office Manager               574
Project Manager              540
General Manager              486
Owner                        449
Director                     374
Operations Manager           313
Engineer                     309
Truck Driver                 308
Sales Manager                288
Nurse                        281
Administrative Assistant     267
Supervisor                   260
Accountant                   259
Name: emp_title, dtype: int64

In [21]:
df.emp_title.value_counts().head(20)/len(df)

Teacher                     0.017610
Manager                     0.014057
Registered Nurse            0.007763
Driver                      0.007409
Supervisor                  0.005662
RN                          0.005386
Sales                       0.005066
Office Manager              0.004962
Project Manager             0.004668
General Manager             0.004201
Owner                       0.003882
Director                    0.003233
Operations Manager          0.002706
Engineer                    0.002671
Truck Driver                0.002663
Sales Manager               0.002490
Nurse                       0.002429
Administrative Assistant    0.002308
Supervisor                  0.002248
Accountant                  0.002239
Name: emp_title, dtype: float64

How often is `emp_title` null?

In [22]:
df.emp_title.isna().sum()

19518

In [23]:
df.emp_title.isna().sum()/len(df)

0.1687313594121461

In [24]:
df.shape

(115675, 145)

In [25]:
df.emp_title.value_counts(dropna=False) # Now just showing NaN values

NaN                                         19518
Teacher                                      2037
Manager                                      1626
Registered Nurse                              898
Driver                                        857
Supervisor                                    655
RN                                            623
Sales                                         586
Office Manager                                574
Project Manager                               540
General Manager                               486
Owner                                         449
Director                                      374
Operations Manager                            313
Engineer                                      309
Truck Driver                                  308
Sales Manager                                 288
Nurse                                         281
Administrative Assistant                      267
Supervisor                                    260
Accountant                                    259
Server                                        258
Account Manager                               254
manager                                       246
President                                     242
Technician                                    240
Vice President                                238
Police Officer                                237
Attorney                                      226
teacher                                       225
Manager                                       221
Truck driver                                  219
Store Manager                                 213
Software Engineer                             209
Mechanic                                      200
driver                                        199
Controller                                    199
Electrician                                   194
Foreman                                       193
Executive Assistant                           183
Assistant Manager                             168
Registered nurse                              168
Paralegal                                     166
Analyst                                       161
Operator                                      155
Branch Manager                                151
Bartender                                     149
Teacher                                       149
supervisor                                    144
owner                                         143
Program Manager                               140
Executive Director                            136
Superintendent                                135
CEO                                           134
Consultant                                    126
Administrator                                 124
Laborer                                       119
Director of Operations                        113
Customer Service                              111
sales                                         111
Professor                                     110
Principal                                     110
Chef                                          107
Service Manager                               107
Machinist                                     104
LPN                                           103
Cashier                                       103
Account Executive                             102
IT Manager                                    102
Maintenance                                   102
Pharmacist                                    102
Cook                                          101
truck driver                                  101
Business Analyst                              100
Welder                                        100
                                            ...
On-Call manager                                 1
Lead flight security officer                    1
Fire Sprinker Apprentice                        1
Supply Driver                                   1
Law assistant                                   1
Geospatial Engineer                             1
Front end assistant manager                     1
Rental Accountant                               1
CARD DEALER                                     1
REAL PROPERTY APPRIAISER                        1
Assistant Administrater                         1
Human resource                                  1
Paramedic / Organ Recovery Coordinator          1
Application Support Specialist                  1
Massage Specialist                              1
Contract Truck Driver                           1
clinical counselor                              1
QA automation tester                            1
e-commerce                                      1
A.V.P                                           1
City Recorder                                   1
Nurse reviewer                                  1
Cap 2 Associate                                 1
Clinical Lab Scientist III                      1
Assignment Commissioner                         1
Material Handeler                               1
administration/ accounting                      1
A/P, Office Admin                               1
MP                                              1
Wear house manger                               1
Ecall Analyst                                   1
RECTOR                                          1
Director of Clinical Informatics                1
Nursery School Assistant                        1
mason                                           1
Pilot / Instructor                              1
quality engineer                                1
Senior Transit Safety Consultant                1
Tier 2 Engineer                                 1
Vice President Private Banking                  1
Community Services Specialist                   1
Owner, CEO, Speech-Language Pathologist         1
Bindery Operator                                1
receiving worker                                1
Product Operations Senior Engineer              1
ats operator                                    1
Sales                                           1
SUPERVISIOR                                     1
A&R Director                                    1
Remote Services Coordinator                     1
Billing & Accounting                            1
PIP Demand Adjuster                             1
DMV clerk                                       1
Setup agent                                     1
Frac operator                                   1
1st  pressman                                   1
Customer Programs Specialist II                 1
Assistant Controller, CGA                       1
IT specialist                                   1
Sales/electrition                               1
Supervisor In Charge                            1
Chief Operating Officer - Chemistry             1
HR & Licensing Director                         1
Data Processor 2                                1
CAD Drafter III                                 1
Technology Manager - Senior V.P.                1
sort associate                                  1
Director Sales Planning - MAC Cosmetics         1
Projet Support Specialist                       1
Billing and claims consultant                   1
Professor of English                            1
Network operation center                        1
driver/owner                                    1
Senior Maintenance Tech                         1
Retail Clerk                                    1
Name: emp_title, Length: 39388, dtype: int64

Clean the title and handle missing values


*   Capitalize
*   Remove Spaces
*   Replace 'NaN' with missing

In [26]:
isinstance("dog", str)

True

In [27]:
import numpy as np
example = ['owner', 'Supervisor ', 'Project Manager', np.nan]

def clean_emp_title(x):
  if isinstance(x, str):
    return x.strip().title()
  else:
    return "Missing"

for ex in example:
  print(clean_emp_title(ex))
  
[clean_emp_title(x) for x in example]

Owner
Supervisor
Project Manager
Missing

['Owner', 'Supervisor', 'Project Manager', 'Missing']

In [28]:
df["emp_title"] = df["emp_title"].apply(clean_emp_title)
df["emp_title"].head(20)

0       Front Desk Supervisor
1          Executive Director
2              Office Manager
3               Store Manager
4                Area Manager
5                         Svp
6                 Vp Of Sales
7                       Sales
8                          Rn
9             Project Manager
10          Custom Applicator
11                 Av Manager
12    Human Resources Liaison
13                    Missing
14                      Agent
15            Sales/Marketing
16                        Ceo
17                  Route Rep
18                Maintenance
19        Executive Assistant
Name: emp_title, dtype: object

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [29]:
df["emp_title"].str.contains("manager", case=False).head(10) # Case=False looks for all versions no matter the capitalization

0    False
1    False
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9     True
Name: emp_title, dtype: bool

In [30]:
df["emp_title"].iloc[0:10]

0    Front Desk Supervisor
1       Executive Director
2           Office Manager
3            Store Manager
4             Area Manager
5                      Svp
6              Vp Of Sales
7                    Sales
8                       Rn
9          Project Manager
Name: emp_title, dtype: object

In [31]:
df["emp_title_manager"] = df.emp_title.str.contains("Manager")
df["emp_title_manager"].value_counts()

False    99713
True     15962
Name: emp_title_manager, dtype: int64

In [32]:
df.groupby("emp_title_manager").mean()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,desc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term,int rate
emp_title_manager,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
False,NaN,NaN,16448.182534,16448.182534,16444.838186,0.127442,475.519424,83559.458416,NaN,NaN,20.592776,0.226560,0.442670,36.631389,87.613775,11.616850,0.117918,17586.025112,22.963947,14567.067655,14564.236669,2499.304451,2498.678031,1861.299217,637.864935,0.140299,0.0,0.0,1017.021710,0.016628,46.328798,1.0,137541.633416,19.541955,0.0,174.940589,150180.009959,0.909270,2.760693,0.693270,1.568742,20.403991,37305.27524,67.872938,1.164984,2.458085,6295.674406,54.015357,40994.239477,1.107388,1.541043,1.865033,4.286502,14109.133703,16102.276128,49.612016,0.007471,3.473048,124.802636,177.265412,15.688697,8.783699,1.360906,26.318597,39.703281,7.666162,37.277170,0.434377,3.703158,5.497257,4.965902,7.154273,8.401051,8.234242,13.010851,5.453832,11.598628,0.0,0.0,0.058448,1.978709,94.926925,32.464631,0.117868,0.0,193665.505140,55243.302488,28729.721100,48153.360555,38804.680792,0.570886,1.644383,11.685335,55.920828,3.072208,12.682351,0.028748,0.054105,39.140069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2839.0,65.0,18.0,12.744184
True,NaN,NaN,18064.824270,18064.824270,18062.374702,0.125701,515.844428,94385.379918,NaN,NaN,19.526991,0.234056,0.445558,36.798941,88.957965,12.390051,0.114773,19569.506578,24.103997,16035.217625,16033.163865,2695.393888,2694.930881,1999.294491,695.956149,0.143250,0.0,0.0,1086.683964,0.017103,46.980358,1.0,152753.202790,19.519736,0.0,186.116965,171259.574427,0.941925,2.976193,0.750345,1.699035,18.535068,39671.02863,68.288965,1.185440,2.496492,7017.051873,55.476942,44857.190828,1.192394,1.574865,1.958965,4.505137,15546.462223,17573.604256,51.098597,0.007455,0.324583,127.047887,173.629996,15.428392,8.413733,1.488849,25.113209,39.687360,7.647246,37.565189,0.449004,3.984400,5.840809,5.360293,7.527315,8.938103,8.722591,13.452262,5.798459,12.376081,0.0,0.0,0.055256,2.077559,94.871470,33.528227,0.114773,0.0,218939.590465,59683.425636,32031.919058,52231.558827,43395.927536,0.516046,1.673395,11.880435,56.491562,3.166667,12.500000,0.016046,0.040373,40.067766,3.0,35.21,3.0,11.0,105.63,5636.06,5.9,NaN,NaN,NaN,12.570085

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [33]:
df["issue_d"].head().values

array(['Mar-2019', 'Mar-2019', 'Mar-2019', 'Mar-2019', 'Mar-2019'],
      dtype=object)

In [34]:
df["issue_d"].describe()

count       115675
unique           3
top       Jan-2019
freq         43584
Name: issue_d, dtype: object

In [0]:
df["issue_d"] = pd.to_datetime(df["issue_d"], infer_datetime_format=True)

In [36]:
df["issue_d"].describe()

count                  115675
unique                      3
top       2019-01-01 00:00:00
freq                    43584
first     2019-01-01 00:00:00
last      2019-03-01 00:00:00
Name: issue_d, dtype: object

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

# Answers to Assignment

## Loading and looking at data

In [46]:
# Reloading in data
import pandas as pd

df = pd.read_csv("LoanStats_2019Q1.csv", header=1, skipfooter=2, engine="python") # Or you can use skiprows=1. skipfooter skips the last two rows
print(df.shape)
df.head()

(115675, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,20000,20000,20000,60 months,17.19%,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,12000,12000,12000,36 months,16.40%,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,3000,3000,3000,36 months,14.74%,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,35000,35000,35000,36 months,15.57%,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5000,5000,5000,36 months,15.57%,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# Looking at total NaN values for each column
df.isna().sum()

id                                            115675
member_id                                     115675
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      19518
emp_length                                     11101
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           115675
desc                                          115675
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              257
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         65799
mths_since_last_record                        102252
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       129
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     230
last_pymnt_amnt                                    0
next_pymnt_d                                    4906
last_credit_pull_d                                 2
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    90677
policy_code                                        0
application_type                                   0
annual_inc_joint                               98994
dti_joint                                      98994
verification_status_joint                     101051
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                              3517
total_bal_il                                       0
il_util                                        17319
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          24
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                        7
bc_open_to_buy                                  1323
bc_util                                         1378
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              3517
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1258
mths_since_recent_bc_dlq                       93077
mths_since_recent_inq                          14357
mths_since_recent_revol_delinq                 82779
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                3146
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1329
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                                98994
sec_app_earliest_cr_line                       98994
sec_app_inq_last_6mths                         98994
sec_app_mort_acc                               98994
sec_app_open_acc                               98994
sec_app_revol_util                             99224
sec_app_open_act_il                            98994
sec_app_num_rev_accts                          98994
sec_app_chargeoff_within_12_mths               98994
sec_app_collections_12_mths_ex_med             98994
sec_app_mths_since_last_major_derog           110774
hardship_flag                                      0
hardship_type                                 115674
hardship_reason                               115674
hardship_status                               115674
deferral_term                                 115674
hardship_amount                               115674
hardship_start_date                           115674
hardship_end_date                             115674
payment_plan_start_date                       115674
hardship_length                               115674
hardship_dpd                                  115674
hardship_loan_status                          115674
orig_projected_additional_accrued_interest    115674
hardship_payoff_balance_amount                115674
hardship_last_payment_amount                  115674
debt_settlement_flag                               0
debt_settlement_flag_date                     115674
settlement_status                             115674
settlement_date                               115674
settlement_amount                             115674
settlement_percentage                         115674
settlement_term                               115674
dtype: int64

In [88]:
# Grabing some info about the dataframe such as memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115675 entries, 0 to 115674
Columns: 145 entries, id to loan_status_is_great
dtypes: float64(56), int64(54), object(35)
memory usage: 128.0+ MB

In [89]:
# Transposing the head of the dataframe which is switching the columns and the rows place.
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,20000,12000,3000,35000,5000
funded_amnt,20000,12000,3000,35000,5000
funded_amnt_inv,20000,12000,3000,35000,5000
term,60,36,36,36,36
int_rate,17.19%,16.40%,14.74%,15.57%,15.57%
installment,499.1,424.26,103.62,1223.08,174.73
grade,C,C,C,C,C
sub_grade,C5,C4,C2,C3,C3
emp_title,Front desk supervisor,Executive Director,Office Manager,Store Manager,Area Manager
emp_length,6 years,4 years,4 years,10+ years,3 years
home_ownership,RENT,MORTGAGE,MORTGAGE,RENT,OWN
annual_inc,47000,95000,58750,122000,65000
verification_status,Source Verified,Not Verified,Verified,Verified,Verified
issue_d,Mar-2019,Mar-2019,Mar-2019,Mar-2019,Mar-2019
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,debt_consolidation,medical,credit_card,house
title,Debt consolidation,Debt consolidation,Medical expenses,Credit card refinancing,Home buying
zip_code,958xx,436xx,327xx,333xx,640xx
addr_state,CA,OH,FL,FL,MO
dti,14.02,29.5,30.91,22,16.28
delinq_2yrs,0,0,0,1,1
earliest_cr_line,Sep-2006,Nov-1992,Jun-2004,Dec-2009,Jul-2001
inq_last_6mths,1,0,0,0,0
mths_since_last_delinq,50,29,24,20,7
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,15,19,16,5,9
pub_rec,0,0,0,0,0
revol_bal,10687,16619,20502,1441,5604
revol_util,19.7%,64.9%,60.1%,24.4%,64.4%
total_acc,53,36,25,18,25
initial_list_status,w,w,f,w,w
out_prncp,19254.8,11475.9,2865.64,33459.4,4778.86
out_prncp_inv,19254.8,11475.9,2865.64,33459.4,4778.86
total_pymnt,1459.1,826.65,202.33,2446.76,340.81
total_pymnt_inv,1459.1,826.65,202.33,2446.76,340.81
total_rec_prncp,745.24,524.08,134.36,1540.57,221.14
total_rec_int,713.86,302.57,67.97,845.04,119.67
total_rec_late_fee,0,0,0,61.15,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Jun-2019,May-2019,May-2019,Jun-2019,May-2019
last_pymnt_amnt,499.1,424.26,103.62,1223.08,174.73
next_pymnt_d,Jul-2019,Jul-2019,Jul-2019,Jul-2019,Jul-2019
last_credit_pull_d,Jun-2019,Jun-2019,Jun-2019,Jun-2019,Jun-2019
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,50,30,NaN,20,7
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,0,0,0,0
tot_cur_bal,31546,176551,37816,24471,29775
open_acc_6m,3,1,0,0,0
open_act_il,2,5,3,3,1
open_il_12m,1,2,0,0,0
open_il_24m,2,5,0,0,1
mths_since_rcnt_il,10,7,27,26,17
total_bal_il,20859,35115,17314,23030,24171
il_util,97,65,48,39,82
open_rv_12m,4,3,0,0,1
open_rv_24m,9,6,0,0,6
max_bal_bc,5909,4899,3962,1441,1824
all_util,42,65,54,37,78
total_rev_hi_lim,54300,25600,34100,5900,8700
inq_fi,6,4,0,2,1
total_cu_tl,1,0,1,4,0
inq_last_12m,3,3,0,1,0
acc_open_past_24mths,11,12,0,1,7
avg_cur_bal,2103,9292,2364,4894,3722
bc_open_to_buy,23647,3231,1208,159,1070
bc_util,30,82.5,89.4,90.1,75.7
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,150,316,177,108,111
mo_sin_old_rev_tl_op,100,269,164,111,212
mo_sin_rcnt_rev_tl_op,1,5,35,52,10
mo_sin_rcnt_tl,1,5,27,24,10
mort_acc,0,2,4,0,4
mths_since_recent_bc,5,12,40,85,17
mths_since_recent_bc_dlq,NaN,58,24,NaN,69
mths_since_recent_inq,3,7,NaN,9,17
mths_since_recent_revol_delinq,50,29,24,NaN,69
num_accts_ever_120_pd,3,1,0,1,4
num_actv_bc_tl,3,6,7,1,3
num_actv_rev_tl,4,8,12,1,5
num_bc_sats,8,6,7,1,5
num_bc_tl,19,9,8,3,9
num_il_tl,19,10,6,10,7
num_op_rev_tl,13,13,13,2,8
num_rev_accts,33,23,15,7,14
num_rev_tl_bal_gt_0,4,8,12,1,5
num_sats,15,19,16,5,9
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,1,1
num_tl_op_past_12m,5,6,0,0,1
pct_tl_nvr_dlq,98,80.6,96,94.4,76
percent_bc_gt_75,12.5,66.7,71.4,100,50
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,75824,209488,69911,65640,38190
total_bal_ex_mort,31546,51734,37816,24471,29775
total_bc_limit,33800,18500,11400,1600,4400
total_il_high_credit_limit,21524,54263,35811,59740,29490
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN
loan_status_is_great,1,1,1,1,1

## Converting the term column from string to an integer.

In [48]:
# Looking at the first five rows in the term column 
df.term.head()

0     60 months
1     36 months
2     36 months
3     36 months
4     36 months
Name: term, dtype: object

In [0]:
# Removing the months in the term column and turning string into a integer
df["term"] = df["term"].str.strip(" months").astype(int)

In [51]:
# printing the term head now to see the months removed and that value is now an integer
df.term.head()

0    60
1    36
2    36
3    36
4    36
Name: term, dtype: int64

In [90]:
# Looking at the new head if the dataframe
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,NaN,NaN,20000,20000,20000,60,17.19%,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,Jun-2019,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
1,NaN,NaN,12000,12000,12000,36,16.40%,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,May-2019,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
2,NaN,NaN,3000,3000,3000,36,14.74%,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,May-2019,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
3,NaN,NaN,35000,35000,35000,36,15.57%,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,Jun-2019,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1
4,NaN,NaN,5000,5000,5000,36,15.57%,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,May-2019,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1

## Adding new column loan_status_is_great

In [70]:
# Looking up total of the differnt types of values in loan_status
df["loan_status"].value_counts()

Current               109176
Fully Paid              4730
Late (31-120 days)       795
In Grace Period          538
Late (16-30 days)        260
Charged Off              176
Name: loan_status, dtype: int64

In [0]:
# Adding a new column that gives the value 1 to Current & Fully Paid rows in loan_status and a 0 to anything else to a new called loan_status_is_great
import numpy as np
df["loan_status_is_great"] = np.where(df["loan_status"] == "Current", 1, 
                             np.where(df["loan_status"] == "Fully Paid", 1, 0))

In [86]:
# Checking to see if the totals are correct
df["loan_status_is_great"].value_counts()

1    113906
0      1769
Name: loan_status_is_great, dtype: int64

In [87]:
# Looking at some of the beggining and last rows to check.
df["loan_status_is_great"].head(-10)

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
30        1
31        1
32        1
33        1
34        1
35        1
36        1
37        1
38        1
39        1
40        1
41        1
42        1
43        1
44        1
45        1
46        1
47        1
48        1
49        1
50        1
51        1
52        1
53        1
54        1
55        1
56        1
57        1
58        1
59        1
60        1
61        1
62        1
63        1
64        1
65        1
66        1
67        1
68        1
69        1
70        1
71        1
72        1
73        1
74        1
         ..
115590    1
115591    1
115592    1
115593    1
115594    1
115595    1
115596    0
115597    1
115598    1
115599    1
115600    1
115601    1
115602    0
115603    1
115604    1
115605    1
115606    1
115607    1
115608    1
115609    1
115610    1
115611    1
115612    1
115613    1
115614    0
115615    1
115616    1
115617    1
115618    1
115619    1
115620    1
115621    1
115622    1
115623    1
115624    1
115625    1
115626    1
115627    1
115628    1
115629    1
115630    1
115631    1
115632    1
115633    1
115634    1
115635    1
115636    1
115637    1
115638    1
115639    1
115640    1
115641    1
115642    1
115643    1
115644    1
115645    1
115646    1
115647    1
115648    1
115649    1
115650    1
115651    1
115652    1
115653    1
115654    1
115655    1
115656    0
115657    1
115658    1
115659    1
115660    1
115661    1
115662    1
115663    1
115664    1
Name: loan_status_is_great, Length: 115665, dtype: int64

## Making a last_pymnt_d_month column @ last_pymnt_d_year column

In [91]:
# Looking at the head of the last payment date column
df["last_pymnt_d"].head()

0    Jun-2019
1    May-2019
2    May-2019
3    Jun-2019
4    May-2019
Name: last_pymnt_d, dtype: object

In [92]:
# Looking at some info for the last payment date column
df["last_pymnt_d"].describe()

count       115445
unique           7
top       Jun-2019
freq        102101
Name: last_pymnt_d, dtype: object

In [0]:
df["last_pymnt_d"] = pd.to_datetime(df["last_pymnt_d"], infer_datetime_format=True)

In [95]:
df["last_pymnt_d"].describe()

count                  115445
unique                      7
top       2019-06-01 00:00:00
freq                   102101
first     2019-01-01 00:00:00
last      2019-07-01 00:00:00
Name: last_pymnt_d, dtype: object

In [0]:
# Adding a new column that shows the last payment month as an integer
df["last_pymnt_d_month"] = df["last_pymnt_d"].dt.month

In [98]:
#Looking at total count of values for last payment month which are 7 unique values meaning 7 different months
df["last_pymnt_d_month"].value_counts()

6.0    102101
5.0      9503
4.0      1581
3.0      1187
2.0       864
1.0       208
7.0         1
Name: last_pymnt_d_month, dtype: int64

In [0]:
# Adding a new column that shows the last payment year as an integer
df["last_pymnt_d_year"] = df["last_pymnt_d"].dt.year

In [99]:
# Looking at total count of values for last payment year which are all 2019
df["last_pymnt_d_year"].value_counts()

2019.0    115445
Name: last_pymnt_d_year, dtype: int64

In [100]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,20000,20000,20000,60,17.19%,499.10,C,C5,Front desk supervisor,6 years,RENT,47000.0,Source Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,958xx,CA,14.02,0,Sep-2006,1,50.0,NaN,15,0,10687,19.7%,53,w,19254.76,19254.76,1459.10,1459.10,745.24,713.86,0.00,0.0,0.0,2019-06-01,499.10,Jul-2019,Jun-2019,0,50.0,1,Individual,NaN,NaN,NaN,0,0,31546,3,2,1,2,10.0,20859,97.0,4,9,5909,42.0,54300,6,1,3,11,2103.0,23647.0,30.0,0,0,150.0,100,1,1,0,5.0,NaN,3.0,50.0,3,3,4,8,19,19,13,33,4,15,0.0,0,0,5,98.0,12.5,0,0,75824,31546,33800,21524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,6.0,2019.0
1,NaN,NaN,12000,12000,12000,36,16.40%,424.26,C,C4,Executive Director,4 years,MORTGAGE,95000.0,Not Verified,Mar-2019,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,436xx,OH,29.50,0,Nov-1992,0,29.0,NaN,19,0,16619,64.9%,36,w,11475.92,11475.92,826.65,826.65,524.08,302.57,0.00,0.0,0.0,2019-05-01,424.26,Jul-2019,Jun-2019,0,30.0,1,Individual,NaN,NaN,NaN,0,0,176551,1,5,2,5,7.0,35115,65.0,3,6,4899,65.0,25600,4,0,3,12,9292.0,3231.0,82.5,0,0,316.0,269,5,5,2,12.0,58.0,7.0,29.0,1,6,8,6,9,10,13,23,8,19,0.0,0,0,6,80.6,66.7,0,0,209488,51734,18500,54263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,5.0,2019.0
2,NaN,NaN,3000,3000,3000,36,14.74%,103.62,C,C2,Office Manager,4 years,MORTGAGE,58750.0,Verified,Mar-2019,Current,n,NaN,NaN,medical,Medical expenses,327xx,FL,30.91,0,Jun-2004,0,24.0,NaN,16,0,20502,60.1%,25,f,2865.64,2865.64,202.33,202.33,134.36,67.97,0.00,0.0,0.0,2019-05-01,103.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,37816,0,3,0,0,27.0,17314,48.0,0,0,3962,54.0,34100,0,1,0,0,2364.0,1208.0,89.4,0,0,177.0,164,35,27,4,40.0,24.0,NaN,24.0,0,7,12,7,8,6,13,15,12,16,0.0,0,0,0,96.0,71.4,0,0,69911,37816,11400,35811,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,5.0,2019.0
3,NaN,NaN,35000,35000,35000,36,15.57%,1223.08,C,C3,Store Manager,10+ years,RENT,122000.0,Verified,Mar-2019,Current,n,NaN,NaN,credit_card,Credit card refinancing,333xx,FL,22.00,1,Dec-2009,0,20.0,NaN,5,0,1441,24.4%,18,w,33459.43,33459.43,2446.76,2446.76,1540.57,845.04,61.15,0.0,0.0,2019-06-01,1223.08,Jul-2019,Jun-2019,0,20.0,1,Individual,NaN,NaN,NaN,0,0,24471,0,3,0,0,26.0,23030,39.0,0,0,1441,37.0,5900,2,4,1,1,4894.0,159.0,90.1,0,0,108.0,111,52,24,0,85.0,NaN,9.0,NaN,1,1,1,1,3,10,2,7,1,5,0.0,0,1,0,94.4,100.0,0,0,65640,24471,1600,59740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,6.0,2019.0
4,NaN,NaN,5000,5000,5000,36,15.57%,174.73,C,C3,Area Manager,3 years,OWN,65000.0,Verified,Mar-2019,Current,n,NaN,NaN,house,Home buying,640xx,MO,16.28,1,Jul-2001,0,7.0,NaN,9,0,5604,64.4%,25,w,4778.86,4778.86,340.81,340.81,221.14,119.67,0.00,0.0,0.0,2019-05-01,174.73,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,29775,0,1,0,1,17.0,24171,82.0,1,6,1824,78.0,8700,1,0,0,7,3722.0,1070.0,75.7,0,0,111.0,212,10,10,4,17.0,69.0,17.0,69.0,4,3,5,5,9,7,8,14,5,9,0.0,0,1,1,76.0,50.0,0,0,38190,29775,4400,29490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,1,5.0,2019.0

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01