_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-05-02 02:04:07--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [           <=>      ]  21.40M   809KB/s    in 28s

2019-05-02 02:04:35 (794 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22444881]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","9035.04","9035.04","1288.31","1288.31","964.96","323.35","0.0","0.0","0.0","Apr-2019","324.23","May-2019","Apr-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3680.07","3680.07","614.92","614.92","319.93","294.99","0.0","0.0","0.0","Apr-2019","155.68","May-2019","Apr-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4567.57","4567.57","715.27","715.27","432.43","282.84","0.0","0.0","0.0","Apr-2019","180.69","May-2019","Apr-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 12.98%","323.37","B","B5","","n/a","MORTGAGE","35704","Not Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","401xx","KY","0.84","0","Nov-2003","0","69","","5","0","748","11.5%","23","w","8934.25","8934.25","994.35","994.35","665.75","328.60","0.0","0.0","0.0","Apr-2019","323.37","May-2019","Apr-2019","0","","1","Individual","","","","0","0","748","0","0","0","0","44","0","","0","3","748","12","6500","0","0","1","3","150","3452","17.8","0","0","181","100","13","13","0","16","","3","","0","1","1","2","2","16","5","7","1","5","0","0","0","0","95.5","0","0","0","6500","748","4200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2269.45","2269.45","336.86","336.86","230.55","106.31","0.0","0.0","0.0","Apr-2019","84.92","May-2019","Apr-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","26250.75","26250.75","5561.57","5561.57","3749.25","1812.32","0.0","0.0","0.0","Apr-2019","777.23","May-2019","Apr-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 60 months"," 20.89%","620.81","D","D4","Operator","5 years","RENT","68107","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","672xx","KS","0.52","0","Feb-1997","0","","","5","0","976","13%","10","w","22307.21","22307.21","1824.21","1824.21","692.79","1131.42","0.0","0.0","0.0","Apr-2019","620.81","May-2019","Apr-2019","1","","1","Individual","","","","0","2693","976","0","0","0","0","36","0","","3","4","0","13","7500","2","2","4","4","195","3300","0","0","0","237","262","10","10","0","10","","9","","0","0","1","3","4","3","5","7","1","5","0","0","0","3","100","0","0","0","7500","976","3300","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","32075","32075","32075"," 60 months"," 11.80%","710.26","B","B4","Nursing Supervisor","10+ years","MORTGAGE","150000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","231xx","VA","22.21","0","Aug-2005","0","","","17","0","19077","32%","24","w","30472.13","30472.13","2809.5","2809.50","1602.87","1206.63","0.0","0.0","0.0","Apr-2019","710.26","May-2019","Apr-2019","0","","1","Individual","","","","0","0","272667","1","4","1","1","9","37558","47","1","1","3910","41","59600","1","2","0","3","16039","10446","47.8","0","0","160","70","4","4","2","27","","14","","0","4","10","4","4","8","12","14","10","17","0","0","0","2","100","50","0","0","360433","56635","20000","80125","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [5]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer='LoanStats_2018Q4.csv',sep=',')
#Can also, write pf = pd.read_csv(LoanStats_2018Q4.csv)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title      emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title              zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       10000     10000       10000            36 months  10.33%  324.23      B     B1        NaN            < 1 year   MORTGAGE       280000     Not Verified        Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation 974xx    OR         6.15  2           Jan-1996         0              18                     NaN                    14       0       9082      38%        23        w                   9035.04   9035.04       1288.31     1288.31         964.96          323.35        0.0                0.0        0.0                     Apr-2019     324.23          May-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              671          246828      1           3           2           3           1                  48552        62      1           3           4923       46       23900            2      7           1            7                    17631       11897          43.1    0                        0           158                275                  11                    1              1        11                   NaN                      11                    NaN                            0                     3              4               7           7         10        9             11            4                   14       0                0            0                  4                  91.3           28.6             0                    0         367828          61364             20900          54912                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              4000      4000        4000             36 months  23.40%  155.68      E     E1        Security       3 years    RENT           90000      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation 070xx    NJ         26.33 0           Sep-2006         4              59                     NaN                    15       0       5199      19.2%      20        w                   3680.07   3680.07       614.92      614.92          319.93          294.99        0.0                0.0        0.0                     Apr-2019     155.68          May-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            66926       5           4           3           4           5                  61727        86      6           11          1353       68       27100            4      0           4            15                   4462        20174          7.9     0                        0           147                118                  2                     2              0        2                    NaN                      0                     NaN                            0                     5              7               9           9         8         11            12            7                   15       0                0            0                  9                  95             0                0                    0         98655           66926             21900          71555                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              5000      5000        5000             36 months  17.97%  180.69      D     D1        Administrative 6 years    MORTGAGE       59280      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation 490xx    MI         10.51 0           Apr-2011         0              NaN                    NaN                    8        0       4599      19.1%      13        w                   4567.57   4567.57       715.27      715.27          432.43          282.84        0.0                0.0        0.0                     Apr-2019     180.69          May-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            110299      0           1           0           2           14                 7150         72      0           2           0          35       24100            1      5           0            4                    18383       13800          0       0                        0           87                 92                   15                    14             2        77                   NaN                      14                    NaN                            0                     0              3               3           3         4         6             7             3                   8        0                0            0                  0                  100            0                0                    0         136927          11749             13800          10000                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              9600      9600        9600             36 months  12.98%  323.37      B     B5        NaN            NaN        MORTGAGE       35704      Not Verified        Dec-2018 Current     n          NaN NaN  home_improvement   Home improvement   401xx    KY         0.84  0           Nov-2003         0              69                     NaN                    5        0       748       11.5%      23        w                   8934.25   8934.25       994.35      994.35          665.75          328.60        0.0                0.0        0.0                     Apr-2019     323.37          May-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            748         0           0           0           0           44                 0            NaN     0           3           748        12       6500             0      0           1            3                    150         3452           17.8    0                        0           181                100                  13                    13             0        16                   NaN                      3                     NaN                            0                     1              1               2           2         16        5             7             1                   5        0                0            0                  0                  95.5           0                0                    0         6500            748               4200           0                          NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [7]:
df = pd.read_csv(filepath_or_buffer='LoanStats_2018Q4.csv',sep=',',skiprows=1)
df.tail()
#Oh, but last rows are off. Compare result with "!tail df". So we see end of file has extra statments.

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128409,NaN,NaN,5000.0,5000.0,5000.0,36 months,13.56%,169.83,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000.0,10000.0,9750.0,36 months,11.06%,327.68,B,B3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000.0,10000.0,10000.0,36 months,16.91%,356.08,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128412,Total amount funded in policy code 1: 2050909275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128413,Total amount funded in policy code 2: 820109297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = pd.read_csv(filepath_or_buffer='LoanStats_2018Q4.csv',sep=',',skiprows=1,skipfooter=2)
df.tail()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.shape

(128412, 144)

In [11]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,desc,dti,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,0.0,0.0,128412.000000,128412.000000,128412.000000,128412.000000,1.284120e+05,0.0,0.0,128175.000000,...,1.0,1.00,1.0,1.0,1.00,1.00,1.00,7.000000,7.000000,7.0
mean,NaN,NaN,15971.321021,15971.321021,15968.498166,463.259353,8.279733e+04,NaN,NaN,19.933178,...,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,4373.588571,61.448571,14.0
std,NaN,NaN,10150.384233,10150.384233,10152.168970,285.718256,1.082985e+05,NaN,NaN,20.143542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2985.404770,7.486945,4.0
min,NaN,NaN,1000.000000,1000.000000,725.000000,30.480000,0.000000e+00,NaN,NaN,0.000000,...,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,699.120000,45.010000,8.0
25%,NaN,NaN,8000.000000,8000.000000,8000.000000,253.630000,4.705800e+04,NaN,NaN,11.760000,...,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,2739.500000,62.500000,12.0
50%,NaN,NaN,14000.000000,14000.000000,14000.000000,382.905000,6.800000e+04,NaN,NaN,17.990000,...,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,3980.000000,65.000000,12.0
75%,NaN,NaN,21600.000000,21600.000000,21600.000000,622.680000,9.900000e+04,NaN,NaN,25.300000,...,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,5169.000000,65.005000,18.0
max,NaN,NaN,40000.000000,40000.000000,40000.000000,1618.240000,9.757200e+06,NaN,NaN,999.000000,...,3.0,378.39,3.0,22.0,1135.17,15351.85,1045.41,10119.000000,65.120000,18.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128412 entries, 0 to 128411
Columns: 144 entries, id to settlement_term
dtypes: float64(57), int64(51), object(36)
memory usage: 141.1+ MB

In [19]:
#Average number of NaN's per row
df.isnull().sum(axis=1).mean()

40.74805314145095

In [23]:
#Find which features are NaNs and at what frequency
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)

id                                            1.000000
member_id                                     1.000000
url                                           1.000000
desc                                          1.000000
hardship_dpd                                  0.999992
deferral_term                                 0.999992
hardship_amount                               0.999992
hardship_start_date                           0.999992
hardship_end_date                             0.999992
payment_plan_start_date                       0.999992
hardship_length                               0.999992
orig_projected_additional_accrued_interest    0.999992
hardship_loan_status                          0.999992
hardship_reason                               0.999992
hardship_payoff_balance_amount                0.999992
hardship_last_payment_amount                  0.999992
hardship_type                                 0.999992
hardship_status                               0.999992
settlement_percentage                         0.999945
settlement_term                               0.999945
settlement_status                             0.999945
settlement_amount                             0.999945
settlement_date                               0.999945
debt_settlement_flag_date                     0.999945
sec_app_mths_since_last_major_derog           0.959864
verification_status_joint                     0.884372
mths_since_last_record                        0.879684
sec_app_revol_util                            0.871320
sec_app_open_act_il                           0.869311
sec_app_num_rev_accts                         0.869311
                                                ...
pub_rec_bankruptcies                          0.000000
tax_liens                                     0.000000
tot_hi_cred_lim                               0.000000
total_bal_ex_mort                             0.000000
total_bc_limit                                0.000000
total_il_high_credit_limit                    0.000000
mort_acc                                      0.000000
mo_sin_rcnt_tl                                0.000000
mo_sin_rcnt_rev_tl_op                         0.000000
mo_sin_old_rev_tl_op                          0.000000
policy_code                                   0.000000
application_type                              0.000000
acc_now_delinq                                0.000000
tot_coll_amt                                  0.000000
tot_cur_bal                                   0.000000
open_acc_6m                                   0.000000
open_act_il                                   0.000000
hardship_flag                                 0.000000
open_il_24m                                   0.000000
total_bal_il                                  0.000000
open_rv_12m                                   0.000000
open_rv_24m                                   0.000000
max_bal_bc                                    0.000000
total_rev_hi_lim                              0.000000
total_cu_tl                                   0.000000
inq_last_12m                                  0.000000
acc_open_past_24mths                          0.000000
chargeoff_within_12_mths                      0.000000
delinq_amnt                                   0.000000
inq_fi                                        0.000000
Length: 144, dtype: float64

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [25]:
df.dtypes.value_counts()

float64    57
int64      51
object     36
dtype: int64

In [26]:
#The feature below is considered a string
df['int_rate'].head()

0     10.33%
1     23.40%
2     17.97%
3     12.98%
4     13.56%
Name: int_rate, dtype: object

In [30]:
'abcd'.strip('d')
#'abcd'[:3]

'abc'

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
def strip_percent(x_str):
  return float(x_str.strip('%'))  #or do x_str[-1])

In [54]:
df['int_rate'].head()

0    10.33%
1     23.4%
2    17.97%
3    12.98%
4    13.56%
Name: int_rate, dtype: object

In [56]:
df['int_rate'] = df['int_rate'].apply(lambda x: str(x) - '%')
df['int_rate'].head()

TypeError: ignored

In [0]:
#df['int_rate'] = df['int_rate'].apply(strip_percent)
#df['int_rate'].dtype


#df['int_rate'].apply(strip_percent)

In [0]:
strip_percent_v2 = lambda x_str: float(x_str.strip('%'))

In [52]:
df['int_rate'].apply(strip_percent_v2)

0         10.33
1         23.40
2         17.97
3         12.98
4         13.56
5         18.94
6         20.89
7         11.80
8         23.40
9         19.92
10        13.56
11        17.97
12        14.47
13        26.31
14        23.40
15        23.40
16        20.89
17        14.47
18        15.02
19        26.31
20        15.02
21        14.47
22        16.14
23        11.31
24        27.27
25        11.31
26        23.40
27        10.33
28        18.94
29        11.31
          ...
128382    26.31
128383    16.91
128384    13.56
128385    17.97
128386    11.55
128387    17.97
128388     8.46
128389    19.92
128390     6.67
128391    26.31
128392    16.91
128393     6.11
128394    11.55
128395    11.55
128396    15.02
128397    15.02
128398    18.94
128399    15.02
128400    15.02
128401    16.14
128402    22.35
128403    11.55
128404     7.84
128405    16.14
128406    13.56
128407    15.02
128408    15.02
128409    13.56
128410    11.06
128411    16.91
Name: int_rate, Length: 128412, dtype: float64

Apply the function to the `int_rate` column

### Clean `emp_title`

Look at top 20 titles

In [57]:
df['emp_title'].head(n=10)

0                   NaN
1              Security
2        Administrative
3                   NaN
4                  Chef
5           Postmaster
6              Operator
7    Nursing Supervisor
8               Manager
9      Material Handler
Name: emp_title, dtype: object

How often is `emp_title` null?

In [59]:
df['emp_title'].value_counts(dropna=False).head(20)
#Notice Registered Nurse and RN are both listed, and you should really be analyzing them together
# which you should fix later

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

In [61]:
df['emp_title'].isnull().sum()

20947

In [65]:
import numpy as np
type(np.NaN)

float

In [67]:
def clean_title(title):
  if isinstance(title,str):
    return title.strip().lower()
  else:
    return 'unknown'

clean_title('Operations Manager ') #as example

'operations manager'

In [69]:
#Turn everything into lower case
df['emp_title'] = df['emp_title'].apply(clean_title)
df['emp_title'].value_counts(dropna=False).head(20)

unknown               20947
teacher                2557
manager                2395
registered nurse       1418
driver                 1258
supervisor             1160
truck driver            920
rn                      834
office manager          805
sales                   803
general manager         791
project manager         720
owner                   625
director                523
operations manager      518
sales manager           500
police officer          440
nurse                   425
technician              420
engineer                412
Name: emp_title, dtype: int64

Clean the title and handle missing values

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
df['emp_title_manager'] = df['emp_title'].apply(lambda x_str: x_str.contains('manager'))

In [70]:
df['emp_title'].str.contains('manager').head()

0    False
1    False
2    False
3    False
4    False
Name: emp_title, dtype: bool

In [73]:
df['emp_title_manager'] = df['emp_title'].str.contains('manager')
df['emp_title_manager'].sample(10)

100206    False
7419      False
71037     False
42063     False
33353     False
68756     False
13265     False
51570     False
79037     False
4466      False
Name: emp_title_manager, dtype: bool

In [78]:
df['emp_title'].nunique()

34902

In [77]:
df.to_csv('tmp.csv',index=False)
df_2 = pd.read_csv('tmp.csv')
df_2

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%%,324.23,B,B1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
1,NaN,NaN,4000,4000,4000.0,36 months,23.4%%,155.68,E,E1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
2,NaN,NaN,5000,5000,5000.0,36 months,17.97%%,180.69,D,D1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
3,NaN,NaN,9600,9600,9600.0,36 months,12.98%%,323.37,B,B5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
4,NaN,NaN,2500,2500,2500.0,36 months,13.56%%,84.92,C,C1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
5,NaN,NaN,30000,30000,30000.0,60 months,18.94%%,777.23,D,D2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
6,NaN,NaN,23000,23000,23000.0,60 months,20.89%%,620.81,D,D4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
7,NaN,NaN,32075,32075,32075.0,60 months,11.8%%,710.26,B,B4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
8,NaN,NaN,8000,8000,8000.0,36 months,23.4%%,311.35,E,E1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True
9,NaN,NaN,10000,10000,10000.0,60 months,19.92%%,264.50,D,D3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
10,NaN,NaN,12000,12000,12000.0,60 months,13.56%%,276.49,C,C1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
11,NaN,NaN,16000,16000,16000.0,60 months,17.97%%,406.04,D,D1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
12,NaN,NaN,15000,15000,14975.0,60 months,14.47%%,352.69,C,C2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
13,NaN,NaN,16000,16000,16000.0,60 months,26.31%%,481.99,E,E4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
14,NaN,NaN,13000,13000,13000.0,36 months,23.4%%,505.95,E,E1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
15,NaN,NaN,9600,9600,9600.0,36 months,23.4%%,373.62,E,E1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
16,NaN,NaN,3500,3500,3500.0,36 months,20.89%%,131.67,D,D4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
17,NaN,NaN,12000,12000,12000.0,60 months,14.47%%,282.16,C,C2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
18,NaN,NaN,35000,35000,35000.0,60 months,15.02%%,833.02,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True
19,NaN,NaN,30000,30000,30000.0,60 months,26.31%%,903.73,E,E4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
20,NaN,NaN,24000,24000,24000.0,36 months,15.02%%,832.21,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
21,NaN,NaN,16000,16000,16000.0,36 months,14.47%%,550.51,C,C2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
22,NaN,NaN,14000,14000,14000.0,36 months,16.14%%,493.17,C,C4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
23,NaN,NaN,28000,28000,28000.0,36 months,11.31%%,920.81,B,B3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
24,NaN,NaN,24000,24000,24000.0,60 months,27.27%%,736.73,E,E5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
25,NaN,NaN,40000,40000,40000.0,60 months,11.31%%,875.90,B,B3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
26,NaN,NaN,7075,7075,7075.0,36 months,23.4%%,275.35,E,E1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
27,NaN,NaN,8000,8000,8000.0,36 months,10.33%%,259.38,B,B1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
28,NaN,NaN,4000,4000,4000.0,36 months,18.94%%,146.51,D,D2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
29,NaN,NaN,24000,24000,24000.0,60 months,11.31%%,525.54,B,B3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128382,NaN,NaN,25000,25000,25000.0,60 months,26.31%%,753.11,E,E4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128383,NaN,NaN,8000,8000,8000.0,36 months,16.91%%,284.87,C,C5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128384,NaN,NaN,24000,24000,24000.0,36 months,13.56%%,815.15,C,C1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True
128385,NaN,NaN,10000,10000,10000.0,36 months,17.97%%,361.38,D,D1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128386,NaN,NaN,6000,6000,6000.0,36 months,11.55%%,198.00,B,B4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128387,NaN,NaN,17000,17000,17000.0,60 months,17.97%%,431.42,D,D1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128388,NaN,NaN,20000,20000,20000.0,36 months,8.46%%,630.99,A,A5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128389,NaN,NaN,24000,24000,24000.0,36 months,19.92%%,890.95,D,D3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128390,NaN,NaN,35000,35000,34975.0,36 months,6.67%%,1075.43,A,A2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128391,NaN,NaN,6500,6500,6500.0,36 months,26.31%%,262.97,E,E4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128392,NaN,NaN,6500,6500,6500.0,36 months,16.91%%,231.46,C,C5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128393,NaN,NaN,5000,5000,5000.0,36 months,6.11%%,152.36,A,A1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True
128394,NaN,NaN,6000,6000,5750.0,36 months,11.55%%,198.00,B,B4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128395,NaN,NaN,22000,22000,22000.0,36 months,11.55%%,726.00,B,B4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128396,NaN,NaN,24000,24000,24000.0,60 months,15.02%%,571.22,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128397,NaN,NaN,20000,20000,20000.0,60 months,15.02%%,476.01,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128398,NaN,NaN,12000,12000,12000.0,60 months,18.94%%,310.90,D,D2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128399,NaN,NaN,5000,5000,5000.0,36 months,15.02%%,173.38,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128400,NaN,NaN,20000,20000,20000.0,60 months,15.02%%,476.01,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128401,NaN,NaN,5000,5000,5000.0,36 months,16.14%%,176.14,C,C4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128402,NaN,NaN,17500,17500,17500.0,60 months,22.35%%,486.82,D,D5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128403,NaN,NaN,20000,20000,20000.0,36 months,11.55%%,660.00,B,B4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128404,NaN,NaN,22000,22000,22000.0,60 months,7.84%%,444.40,A,A4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128405,NaN,NaN,5000,5000,5000.0,36 months,16.14%%,176.14,C,C4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128406,NaN,NaN,5600,5600,5600.0,36 months,13.56%%,190.21,C,C1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%%,797.53,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%%,346.76,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%%,169.83,C,C1,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%%,327.68,B,B3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%%,356.08,C,C5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True

In [0]:
idx_manager = df['emp_title_manager'] == True
df_managers = df[idx_manager]

In [86]:
df_managers.shape

(17885, 145)

In [0]:
idx_nonmanager = df['emp_title_manager'] == False

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
df.columns

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01