<a href="https://colab.research.google.com/github/mikvikpik/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas
- work with dataframe filtering, list comprehensions, and .apply functions

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [44]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-05-30 19:44:21--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

         LoanStats_     [            <=>     ]  16.75M  1.67MB/s               ^C

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [45]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","9279.39","9279.39","964.08","964.08","720.61","243.47","0.0","0.0","0.0","Apr-2019","324.23","Apr-2019","Apr-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 12.98%","323.37","B","B5","","n/a","MORTGAGE","35704","Not Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","401xx","KY","0.84","0","Nov-2003","0","69","","5","0","748","11.5%","23","w","8934.25","8934.25","994.35","994.35","665.75","328.60","0.0","0.0","0.0","Apr-2019","323.37","May-2019","Apr-2019","0","","1","Individual","","","","0","0","748","0","0","0","0","44","0","","0","3","748","12","6500","0","0","1","3","150","3452","17.8","0","0","181","100","13","13","0","16","","3","","0","1","1","2","2","16","5","7","1","5","0","0","0","0","95.5","0","0","0","6500","748","4200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3762.39","3762.39","459.24","459.24","237.61","221.63","0.0","0.0","0.0","Apr-2019","155.68","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2328.06","2328.06","251.94","251.94","171.94","80.00","0.0","0.0","0.0","Apr-2019","84.92","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29074.35","29074.35","2284.34","2284.34","925.65","1358.69","0.0","0.0","0.0","Apr-2019","777.23","Apr-2019","Apr-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4678.21","4678.21","534.58","534.58","321.79","212.79","0.0","0.0","0.0","Apr-2019","180.69","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 60 months"," 20.89%","620.81","D","D4","Operator","5 years","RENT","68107","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","672xx","KS","0.52","0","Feb-1997","0","","","5","0","976","13%","10","w","22307.21","22307.21","1824.21","1824.21","692.79","1131.42","0.0","0.0","0.0","Apr-2019","620.81","Apr-2019","Apr-2019","1","","1","Individual","","","","0","2693","976","0","0","0","0","36","0","","3","4","0","13","7500","2","2","4","4","195","3300","0","0","0","237","262","10","10","0","10","","9","","0","0","1","3","4","3","5","7","1","5","0","0","0","3","100","0","0","0","7500","976","3300","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","8000","8000","8000"," 36 months"," 23.40%","311.35","E","E1","Manager","10+ years","OWN","43000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","357xx","AL","33.24","0","Jan-1995","0","","107","8","1","9019","81.3%","16","w","7524.80","7524.80","918.45","918.45","475.20","443.25","0.0","0.0","0.0","Apr-2019","311.35","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","169223","0","3","2","2","7","22059","69","0","0","2174","72","11100","1","1","1","2","21153","126","94.5","0","0","148","287","44","7","1","51","","7","","0","1","4","1","2","8","4","7","4","8","0","0","0","2","100","100","1","0","199744","31078","2300","32206","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [46]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","4816.58","4816.58","1130.71","1130.71","783.42","347.29","0.0","0.0","0.0","Apr-2019","190.21","May-2019","Apr-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","8628.13","8628.13","2072.22","2072.22","1371.87","700.35","0.0","0.0","0.0","Apr-2019","346.76","May-2019","Apr-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4300.52","4300.52","1015.21","1015.21","699.48","315.73","0.0","0.0","0.0","Apr-2019","169.83","May-2019","Apr-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","8553.96","8340.11","1950.72","1901.95","1446.04","504.68","0.0","0.0","0.0","Apr-2019","327.68","May-2019","Apr-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","8662.68","8662.68","2127.09","2127.09","1337.32","789.77","0.0","0.0","0.0","Apr-2019","356.08","May-2019","Apr-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [48]:
df = pd.read_csv('LoanStats_2018Q4.csv', header = 1, skipfooter=2)
df.head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,9279.39,9279.39,964.08,964.08,720.61,243.47,0.0,0.0,0.0,Apr-2019,324.23,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,9600,9600,9600.0,36 months,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,NaN,NaN,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8934.25,8934.25,994.35,994.35,665.75,328.60,0.0,0.0,0.0,Apr-2019,323.37,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3762.39,3762.39,459.24,459.24,237.61,221.63,0.0,0.0,0.0,Apr-2019,155.68,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2328.06,2328.06,251.94,251.94,171.94,80.00,0.0,0.0,0.0,Apr-2019,84.92,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29074.35,29074.35,2284.34,2284.34,925.65,1358.69,0.0,0.0,0.0,Apr-2019,777.23,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.tail(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,Tax Consultant,10+ years,MORTGAGE,75000.0,Source Verified,Oct-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,20.95,1,Aug-1985,2,22.0,NaN,12,0,22465,43.6%,28,w,0.00,0.00,1547.08,1547.08,1025.67,521.41,0.0,0.0,0.0,Dec-2018,797.53,NaN,Nov-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,259658,4,2,3,3,6.0,18149,86.0,4,6,12843,56.0,51500,2,2,5,11,21638.0,26321.0,44.1,0,0,12.0,397,4,4,6,5.0,22.0,4.0,22.0,0,4,5,7,14,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,security guard,5 years,MORTGAGE,38000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,Jul-1982,0,6.0,NaN,11,0,5634,37.1%,16,w,8628.13,8628.13,2072.22,2072.22,1371.87,700.35,0.0,0.0,0.0,Apr-2019,346.76,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,Jun-2006,0,21.0,NaN,9,0,2597,27.3%,15,f,4300.52,4300.52,1015.21,1015.21,699.48,315.73,0.0,0.0,0.0,Apr-2019,169.83,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0,Oct-2008,2,40.0,NaN,15,0,6269,13.1%,25,f,8553.96,8340.11,1950.72,1901.95,1446.04,504.68,0.0,0.0,0.0,Apr-2019,327.68,May-2019,Apr-2019,0,53.0,1,Individual,NaN,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1,Sep-2006,0,14.0,NaN,17,0,1942,30.8%,31,w,8662.68,8662.68,2127.09,2127.09,1337.32,789.77,0.0,0.0,0.0,Apr-2019,356.08,May-2019,Apr-2019,0,25.0,1,Individual,NaN,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
df.isnull().sum()

id                                            128412
member_id                                     128412
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      20947
emp_length                                     11704
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           128412
desc                                          128412
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              237
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         72196
mths_since_last_record                        112962
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       156
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     160
last_pymnt_amnt                                    0
next_pymnt_d                                    5946
last_credit_pull_d                                 1
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    99232
policy_code                                        0
application_type                                   0
annual_inc_joint                              111630
dti_joint                                     111630
verification_status_joint                     113564
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                              4478
total_bal_il                                       0
il_util                                        20274
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          37
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                       13
bc_open_to_buy                                  1691
bc_util                                         1754
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              4478
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1591
mths_since_recent_bc_dlq                      103243
mths_since_recent_inq                          16047
mths_since_recent_revol_delinq                 91630
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                2859
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1692
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
sec_app_mths_since_last_major_derog           123258
hardship_flag                                      0
hardship_type                                 128411
hardship_reason                               128411
hardship_status                               128411
deferral_term                                 128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
hardship_dpd                                  128411
hardship_loan_status                          128411
orig_projected_additional_accrued_interest    128411
hardship_payoff_balance_amount                128411
hardship_last_payment_amount                  128411
debt_settlement_flag                               0
debt_settlement_flag_date                     128406
settlement_status                             128406
settlement_date                               128406
settlement_amount                             128406
settlement_percentage                         128406
settlement_term                               128406
dtype: int64

In [51]:
df.isnull().sum().sort_values(ascending=False)

id                                            128412
member_id                                     128412
url                                           128412
desc                                          128412
hardship_dpd                                  128411
deferral_term                                 128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
orig_projected_additional_accrued_interest    128411
hardship_loan_status                          128411
hardship_reason                               128411
hardship_payoff_balance_amount                128411
hardship_last_payment_amount                  128411
hardship_type                                 128411
hardship_status                               128411
settlement_percentage                         128406
settlement_term                               128406
settlement_status                             128406
settlement_amount                             128406
settlement_date                               128406
debt_settlement_flag_date                     128406
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
dti_joint                                     111630
annual_inc_joint                              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
emp_title                                      20947
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11704
next_pymnt_d                                    5946
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     160
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

In [0]:
df = df.drop(['id','url','desc','member_id'], axis='columns')

In [53]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,9279.39,9279.39,964.08,964.08,720.61,243.47,0.0,0.0,0.0,Apr-2019,324.23,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,9600,9600,9600.0,36 months,12.98%,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8934.25,8934.25,994.35,994.35,665.75,328.60,0.0,0.0,0.0,Apr-2019,323.37,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3762.39,3762.39,459.24,459.24,237.61,221.63,0.0,0.0,0.0,Apr-2019,155.68,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2328.06,2328.06,251.94,251.94,171.94,80.00,0.0,0.0,0.0,Apr-2019,84.92,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,30000,30000,30000.0,60 months,18.94%,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29074.35,29074.35,2284.34,2284.34,925.65,1358.69,0.0,0.0,0.0,Apr-2019,777.23,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [54]:
df.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [27]:
'13.56%'.strip('%')

'13.56'

In [55]:
type('13.56%'.strip('%'))

str

In [56]:
float('13.56%'.strip('%'))

13.56

In [57]:
example_list = ['13.56%','13.57%','13.58%']

def remove_percent(string):
    return float(string.strip('%'))

[remove_percent(item) for item in example_list]

[13.56, 13.57, 13.58]

Apply the function to the `int_rate` column

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [59]:
df.int_rate

0         10.33
1         12.98
2         23.40
3         13.56
4         18.94
5         17.97
6         20.89
7         23.40
8         11.80
9         13.56
10        19.92
11        17.97
12        26.31
13        14.47
14        23.40
15        23.40
16        20.89
17        14.47
18        15.02
19        26.31
20        14.47
21        15.02
22        16.14
23        11.31
24        27.27
25        11.31
26        23.40
27        10.33
28        18.94
29        11.31
30        16.14
31        11.80
32        23.40
33        12.98
34        11.80
35        10.72
36        12.98
37        11.80
38        14.47
39        10.72
40        20.89
41        19.92
42        10.33
43         6.46
44        14.47
45        11.31
46        17.97
47        15.02
48        17.97
49        18.94
50        16.91
51        11.80
52        14.47
53        11.31
54        14.47
55        16.14
56        20.89
57        17.97
58        16.14
59        10.33
60         8.81
61        14.47
62        16.14
63        13.56
64        10.72
65        12.98
66        17.97
67        17.97
68        23.40
69        14.47
70        19.92
71        14.47
72        16.91
73         6.46
74        10.33
75        12.98
76        16.14
77        15.02
78        13.56
79        14.47
80        10.33
81        12.98
82        27.27
83        16.91
84        14.47
85        15.02
86        13.56
87        16.91
88        12.98
89        14.47
90        14.47
91        17.97
92        16.14
93        11.80
94        11.80
95        18.94
96        11.80
97        18.94
98        11.31
99         7.56
100       18.94
101       11.31
102       23.40
103       11.31
104       10.72
105       14.47
106       14.47
107       16.91
108       22.35
109       12.98
110       10.72
111       17.97
112       23.40
113       14.47
114       13.56
115       10.72
116       11.80
117       18.94
118       13.56
119       11.31
120       14.47
121       11.31
122       12.98
123       27.27
124       17.97
125       15.02
126       16.14
127       12.98
128       15.02
129       18.94
130       16.14
131       11.31
132       26.31
133       11.80
134       15.02
135       27.27
136        7.56
137       10.72
138       11.80
139       17.97
140       16.14
141       17.97
142       12.98
143       11.31
144       20.89
145        8.19
146       20.89
147       16.91
148       22.35
149        8.81
150       23.40
151       14.47
152       22.35
153       11.31
154        8.19
155       17.97
156       12.98
157       16.14
158       20.89
159        6.46
160       27.27
161       12.98
162       15.02
163       17.97
164        8.81
165       15.02
166       16.91
167       14.47
168       25.34
169       14.47
170       12.98
171       10.72
172       19.92
173       17.97
174       12.98
175       16.14
176       10.33
177       20.89
178       14.47
179       23.40
180       11.31
181       15.02
182       23.40
183       16.14
184       10.33
185       15.02
186       10.72
187       16.14
188       13.56
189       14.47
190       14.47
191        8.81
192       10.33
193       18.94
194       15.02
195       30.75
196        8.19
197        6.46
198       13.56
199        8.19
200       16.14
201       12.98
202       17.97
203       14.47
204       12.98
205       16.14
206       16.14
207       10.72
208       11.31
209       10.33
210       18.94
211       15.02
212       16.14
213       13.56
214       22.35
215       15.02
216       14.47
217       10.72
218       16.14
219       15.02
220       19.92
221       12.98
222       16.91
223       20.89
224       14.47
225       13.56
226       14.47
227       23.40
228       11.80
229       20.89
230       26.31
231       18.94
232       16.14
233       15.02
234       17.97
235       13.56
236       17.97
237       10.72
238       16.91
239       10.72
240       15.02
241       14.47
242       16.14
243       16.91
244       13.56
245       11.31
246       16.14
247       15.02
248       16.14
249       15.02
          ...
128162    22.35
128163     6.11
128164    28.72
128165    22.35
128166     7.21
128167    19.92
128168     8.46
128169     7.84
128170    16.91
128171    15.02
128172    16.14
128173    10.08
128174     6.11
128175     8.46
128176     6.11
128177     6.67
128178     8.46
128179    12.73
128180    22.35
128181    10.08
128182    13.56
128183     7.21
128184    13.56
128185    14.47
128186    19.92
128187    16.14
128188    18.94
128189    12.73
128190    11.55
128191    13.56
128192    28.72
128193    14.47
128194     6.11
128195     7.21
128196     7.21
128197     6.67
128198     6.11
128199    28.72
128200     6.67
128201    11.55
128202     6.67
128203     7.84
128204    10.47
128205    25.34
128206     6.11
128207    23.40
128208    13.56
128209    12.73
128210     7.84
128211    10.08
128212     7.21
128213    22.35
128214    19.92
128215     6.11
128216     6.11
128217    16.14
128218    16.91
128219     6.67
128220     6.11
128221     6.11
128222    22.35
128223    11.55
128224    10.47
128225    11.06
128226    24.37
128227    12.73
128228     8.46
128229     6.67
128230    12.73
128231    11.06
128232     6.11
128233    27.27
128234     7.84
128235    16.14
128236    18.94
128237     6.11
128238    10.47
128239     8.46
128240     6.11
128241    16.14
128242    13.56
128243     6.11
128244    11.55
128245     7.21
128246     6.11
128247     6.11
128248    28.72
128249    29.69
128250     6.11
128251     6.11
128252     7.84
128253     7.21
128254     7.21
128255    16.91
128256     7.84
128257     7.21
128258    16.91
128259     8.46
128260    26.31
128261     7.21
128262    11.06
128263    25.34
128264     6.11
128265    11.06
128266    17.97
128267    10.08
128268     6.67
128269     7.84
128270    15.02
128271    11.06
128272    14.47
128273    14.47
128274    18.94
128275     7.21
128276    13.56
128277    15.02
128278     7.84
128279    19.92
128280     6.11
128281     8.46
128282    18.94
128283    13.56
128284     7.21
128285    14.47
128286     6.67
128287    11.06
128288     7.21
128289    27.27
128290     8.46
128291    16.91
128292    13.56
128293     7.84
128294     7.84
128295     6.67
128296     6.11
128297    17.97
128298    22.35
128299    15.02
128300    15.02
128301     6.11
128302    25.34
128303    16.14
128304    23.40
128305     7.21
128306    15.02
128307    10.47
128308    24.37
128309    10.08
128310    12.73
128311    22.35
128312     7.84
128313    27.27
128314    17.97
128315    11.55
128316    14.47
128317    15.02
128318     6.11
128319     6.67
128320    22.35
128321     7.84
128322    22.35
128323     6.11
128324    10.08
128325     6.11
128326    16.14
128327     6.11
128328    17.97
128329    23.40
128330    20.89
128331    13.56
128332     6.11
128333    15.02
128334    18.94
128335     7.84
128336     7.21
128337     7.84
128338    11.55
128339     7.21
128340    24.37
128341    19.92
128342    14.47
128343    12.73
128344    24.37
128345     7.84
128346     7.21
128347     7.84
128348     7.84
128349    15.02
128350    11.55
128351     6.11
128352    13.56
128353     7.21
128354    27.27
128355    16.91
128356    27.27
128357    10.08
128358    11.55
128359     7.21
128360    17.97
128361    27.27
128362    11.55
128363    11.06
128364    11.06
128365     8.46
128366     8.46
128367    13.56
128368    14.47
128369     7.84
128370     6.11
128371    17.97
128372    14.47
128373     7.84
128374    22.35
128375    11.55
128376    11.06
128377    13.56
128378     6.67
128379    27.27
128380    16.91
128381     7.84
128382    26.31
128383    16.91
128384    13.56
128385    17.97
128386    11.55
128387    17.97
128388     8.46
128389    19.92
128390     6.67
128391    26.31
128392    16.91
128393     6.11
128394    11.55
128395    11.55
128396    15.02
128397    15.02
128398    18.94
128399    15.02
128400    15.02
128401    16.14
128402    22.35
128403    11.55
128404     7.84
128405    16.14
128406    13.56
128407    15.02
128408    15.02
128409    13.56
128410    11.06
128411    16.91
Name: int_rate, Length: 128412, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [60]:
df['emp_title'].value_counts(dropna=False).head(20)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Truck Driver            387
Operations Manager      387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [61]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

In [0]:
import numpy as np

In [63]:
type(np.NaN)

float

In [64]:
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

def clean_title(title):
    if isinstance(title, str):
        return title.strip().title()
    else:
        return "Unknown"

[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [66]:
df['emp_title'].value_counts()

Unknown                                     20947
Teacher                                      2557
Manager                                      2395
Registered Nurse                             1418
Driver                                       1258
Supervisor                                   1160
Truck Driver                                  920
Rn                                            834
Office Manager                                805
Sales                                         803
General Manager                               791
Project Manager                               720
Owner                                         625
Director                                      523
Operations Manager                            518
Sales Manager                                 500
Police Officer                                440
Nurse                                         425
Technician                                    420
Engineer                                      412
Administrative Assistant                      409
Store Manager                                 398
Mechanic                                      391
Assistant Manager                             383
Server                                        357
Account Manager                               355
Vice President                                352
Accountant                                    335
Foreman                                       302
Electrician                                   302
President                                     293
Machine Operator                              284
Customer Service                              283
Executive Assistant                           278
Operator                                      267
Branch Manager                                267
Attorney                                      264
Maintenance                                   254
Paralegal                                     249
Superintendent                                248
Bartender                                     237
Program Manager                               226
Software Engineer                             221
Cashier                                       215
Analyst                                       214
Medical Assistant                             212
Machinist                                     209
Cook                                          200
Cna                                           196
Sales Associate                               191
Controller                                    187
Service Manager                               186
Lpn                                           185
Clerk                                         184
Laborer                                       183
Director Of Operations                        179
Nurse Practitioner                            176
Executive Director                            174
Security Officer                              172
Administrator                                 171
Business Analyst                              169
Account Executive                             168
Social Worker                                 165
Secretary                                     164
Carpenter                                     162
Bookkeeper                                    161
Welder                                        159
District Manager                              157
Custodian                                     157
Principal                                     153
Ceo                                           151
Case Manager                                  150
Receptionist                                  149
Production Manager                            149
Professor                                     140
Sales Representative                          140
Consultant                                    140
Property Manager                              136
Correctional Officer                          135
Legal Assistant                               131
Customer Service Representative               131
Chef                                          129
Physician                                     129
Loan Officer                                  128
Associate                                     127
Finance Manager                               125
It Manager                                    123
Flight Attendant                              123
Dental Assistant                              120
Dental Hygienist                              120
Pharmacist                                    119
Financial Advisor                             119
Financial Analyst                             116
Bus Driver                                    116
Accounting Manager                            115
Caregiver                                     114
Sales Rep                                     112
Dispatcher                                    112
Delivery Driver                               111
Firefighter                                   108
Software Developer                            108
Senior Manager                                107
Service Technician                            107
Business Manager                              107
Sales Consultant                              106
Respiratory Therapist                         105
Warehouse Manager                             105
Pharmacy Technician                           105
Officer                                       101
Instructor                                    100
Plumber                                        99
Team Leader                                    98
Customer Service Rep                           98
Tech                                           96
Material Handler                               93
Special Education Teacher                      93
Painter                                        92
Production                                     92
Marketing Manager                              92
Staff Accountant                               92
Pilot                                          92
Maintenance Supervisor                         90
Assistant Store Manager                        89
Accounting                                     88
Department Manager                             88
Agent                                          88
Warehouse                                      87
Underwriter                                    86
Counselor                                      86
Security                                       86
Paramedic                                      86
Production Supervisor                          85
Physical Therapist                             85
Management                                     85
Realtor                                        84
Regional Manager                               84
Insurance Agent                                84
Deputy Sheriff                                 84
Bus Operator                                   81
Area Manager                                   81
Service Advisor                                80
Pastor                                         80
Operations Supervisor                          80
Project Coordinator                            79
Hr Manager                                     79
Managing Director                              79
Systems Engineer                               78
Csr                                            78
Buyer                                          78
Inspector                                      77
Installer                                      77
Senior Accountant                              76
Assembler                                      76
Maintenance Technician                         76
Educator                                       76
Assistant Principal                            76
Regional Sales Manager                         75
Plant Manager                                  74
Conductor                                      74
Equipment Operator                             73
Banker                                         73
Letter Carrier                                 73
Personal Banker                                72
Estimator                                      72
Legal Secretary                                72
Physician Assistant                            71
Product Manager                                71
Auditor                                        71
Teller                                         71
Assistant Professor                            71
Senior Software Engineer                       70
Captain                                        70
Recruiter                                      70
It Specialist                                  69
Cfo                                            69
Inside Sales                                   69
Coordinator                                    69
Housekeeping                                   68
Office Assistant                               68
Designer                                       68
Assistant Director                             68
Business Development Manager                   67
Senior Project Manager                         67
Corrections Officer                            67
Service Tech                                   67
Investigator                                   66
Project Engineer                               66
Partner                                        66
Vp                                             65
Salesman                                       65
Network Engineer                               65
Heavy Equipment Operator                       64
Automotive Technician                          64
Correction Officer                             64
Labor                                          63
Admin                                          62
Waitress                                       61
Territory Manager                              61
Nursing Assistant                              60
Deputy                                         60
Director Of Sales                              60
Team Lead                                      59
Customer Service Manager                       59
Lieutenant                                     59
Sales Director                                 58
Warehouse Supervisor                           58
Administration                                 58
Data Analyst                                   58
Sergeant                                       58
Parts Manager                                  57
Systems Analyst                                57
Program Director                               57
School Counselor                               57
Occupational Therapist                         57
Maintenance Tech                               56
Housekeeper                                    56
Quality Manager                                56
Pharmacy Tech                                  56
Forklift Operator                              56
Mail Carrier                                   56
Human Resources                                55
Executive Chef                                 55
Senior Consultant                              55
Security Guard                                 55
Quality Control                                55
Maintenance Manager                            54
Maintenance Mechanic                           54
Warehouse Associate                            53
Paraprofessional                               53
Senior Associate                               53
Senior Vice President                          53
Phlebotomist                                   52
Program Coordinator                            52
Electrical Engineer                            52
School Bus Driver                              52
Program Analyst                                51
Graphic Designer                               51
Accounting Clerk                               51
Gm                                             50
Associate Professor                            50
Coo                                            50
Teacher/Coach                                  49
Claims Adjuster                                49
Marketing Director                             49
Human Resources Manager                        49
Medical Technologist                           49
Office Administrator                           49
Radiologic Technologist                        48
Care Giver                                     48
Lab Technician                                 48
                                            ...
Manager, International Insurance                1
Sr. Ux Manager                                  1
Weld Maintenance Technician                     1
Child Care Provider                             1
Mursing Assistant                               1
Ct/ Radio Tech                                  1
Kitchen Mg                                      1
Radon Testing Team Leader                       1
Director Of Business Application Support        1
Caotain                                         1
Clerk - Experienced Level                       1
Senior Security Specialist                      1
Field Tech 4                                    1
Saturation Engineer                             1
Sr. Administrator Clerk                         1
Data Controler                                  1
Vp, Commercial Credit                           1
Executive Asst                                  1
Vice President, Cfoo                            1
Spa Manager                                     1
Vp Of Advancement                               1
Supervisor Information Security                 1
National Director Of Operations                 1
Qa Administrator                                1
Operations Training Manager                     1
Loss Prevention Assistant                       1
Us Military                                     1
Service Forman                                  1
District Program Administrator                  1
Maint                                           1
H.V.A.C. Technician                             1
Fiscal & Business Analyst                       1
Consulting                                      1
Senior Implementation Analyst                   1
Inventory Control Technician                    1
Eoc Lead Technician                             1
Sr. Strategy Director                           1
Merchandising Support                           1
Rrt Rpsgt                                       1
Correctional Sgt.                               1
Nucear Medicine Technologist                    1
Master Sergeant / Team Chief                    1
Data Center Engineer                            1
Nursing Home Care Coordinator                   1
Technical Application Specialist                1
Child Welfare Social Worker                     1
Principle Applications Engineer                 1
Ager                                            1
Senior Integration Engineer                     1
School Psych./Behavioral Specialist             1
Electric Meter Technician                       1
Loan Servicing Senior                           1
Re-Entry Coordinator                            1
Sr. Curriculum Developer                        1
Master Deputy Sheriff                           1
Executive Chef/Director Of Dining Servic        1
Counsel Supervisor                              1
Protocol Specialist                             1
Custodian Maintenance                           1
Supvisor                                        1
Rn1                                             1
President And Coo                               1
Sushi  Chef                                     1
Virtual Design Coordinator                      1
Director, Technical Training                    1
Iv Support Specialist                           1
Electrical Rebuilder                            1
Prototype Build Lead                            1
Senior Leader                                   1
R.N. Staff Development Specialist               1
Front Dest Medical Receptionist                 1
Sergeant E-5                                    1
Vp Operational Support                          1
Detail Tec                                      1
Grafic Designer                                 1
Desktop Manager                                 1
Realtor/ Loan Officer                           1
Loan Servicing Assistant Manager                1
Manager Of Business Development                 1
Regulatory Officer                              1
Business System Analysts                        1
Qa Team & Floor Supervisor                      1
Fs Account Specialist 3                         1
Assitant                                        1
Lead Kitchen                                    1
Ha Iii                                          1
Service Leadperson                              1
Lavatory Technician                             1
Chief Counselor                                 1
Wood Floors Specialist                          1
Director Of Business Optimization               1
Sr Mortgage Loan Officer                        1
Assistant Brand Manager                         1
Senior Human Resources Manager                  1
Scan Cordinator                                 1
Stationary Eng                                  1
Assembler/Medication Technician                 1
Sub Contract Installer                          1
Chemist-Ii                                      1
Waiter/Manager                                  1
Reed Technician                                 1
Corporate Risk                                  1
Compliance Risk Officer General                 1
Electritian                                     1
Payroll Benefits Coordinator                    1
Lead Supply Tecnician                           1
Vp Sr Credit Analyst                            1
Univ Services Associate 2                       1
Receptionists                                   1
Dredge Operator                                 1
Certified Case Manager                          1
Radio Electronics Technician / Lan Admin        1
Mro Supervisor                                  1
Business Rep                                    1
Vice President & Chief Operations Office        1
Assistant Program Coordinator                   1
Executive / Vp Sales                            1
Commercial Loan Officer Iv                      1
Assoc Director                                  1
Lead Meter Tech                                 1
Speech And Language Pathologist                 1
Assistant Housing Coordinator                   1
Telecom Expense Manager                         1
Fsr Engineer                                    1
Advance Repair Agent                            1
Deckhand/ Driver                                1
Evangelist / Speaker / Counselor                1
Jail Deputy                                     1
Coffee Maker                                    1
Us Regional Account Manager                     1
Staff Info Systems Analyst                      1
Vice President | Construction & Developm        1
Warehouse Manager/Quality Control               1
Vp Of Sales And Marketing                       1
Hr Advisor                                      1
Shift Foreman                                   1
Scheduling                                      1
Assistant Operations Manager-Nc                 1
Mortgage Loan Opener                            1
Senior Hardware Operations Specialist           1
Software Systems Specialist                     1
Welder ,I Tear Down Trains And Rebuid Th        1
Court Services Specialist                       1
Chief Risk Officer (Cro)                        1
Associate Information Engineer                  1
Research Remediation Analyst                    1
Victim Service                                  1
Executive/Personal Assistant To Presiden        1
President/Attorney                              1

In [0]:
df['emp_title_manager'] = True # Do this [] don't use df.emp_title_manager

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains("Manager")

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer. <b><u> Check</u></b>

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0. <b><u> Check</u></b>

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# copy to use as experiment
df['term_exp'] = df['term']

In [0]:
# create function to remove alphabet from value to make integer value
def int_remove_alpha(alpha_numeric):
    return int(alpha_numeric.strip('abcdefghijklmnopqrstuvwxyz '))

In [0]:
# test
df['term_exp'] = df['term_exp'].apply(int_remove_alpha)

In [0]:
# proof
df['term_exp']

In [76]:
# type test and proof
type(df['term_exp'][0])

numpy.int64

In [77]:
# converted df['term'] from string object to int; included function made before
# all included test, proof, type test and proof
df['term'] = df['term'].apply(int_remove_alpha)
df['term'].head()

0    36
1    36
2    36
3    36
4    60
Name: term, dtype: int64

In [79]:
# preview df.['loan_status']
df['loan_status'].head()

0    Current
1    Current
2    Current
3    Current
4    Current
Name: loan_status, dtype: object

In [0]:
# copy to use for experiment
df['loan_status_test'] = df['loan_status']

In [0]:
# create function great_status
def great_status(is_paid):
    if is_paid == 'Current':
        return 1
    elif is_paid == 'Fully Paid':
        return 1
    else:
        return 0

In [0]:
# test function on experiment df['loan_status_test']
df['loan_status_test'] = df['loan_status_test'].apply(great_status)

In [0]:
# test proof
df['loan_status_test']
# test showed all values false, when first 5 should be true. Possible white space

In [0]:
# function to remove white space
def no_space(string):
    if isinstance(string, str):
        return string.strip()

In [0]:
# remove white space on df['loan_status'_test']
df['loan_status_test'] = df['loan_status_test'].apply(no_space)

In [0]:
# test func great status on updated df['loan_status_test']
df['loan_status_test'] = df['loan_status_test'].apply(great_status)

In [111]:
# proof
df['loan_status_test'].head()

# still false because all values were false from previous test

0    False
1    False
2    False
3    False
4    False
Name: loan_status_test, dtype: bool

In [0]:
# creating df['lstest2']
df['lstest2'] = df['loan_status']

In [0]:
# testing no_space and great_status on df['lstest2']
df['lstest2'] = df['lstest2'].apply(no_space)
df['lstest2'] = df['lstest2'].apply(great_status)

In [122]:
# proof
df['lstest2'].head(15)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
Name: lstest2, dtype: int64

In [128]:
# proof of variance because of limited head data
df['lstest2'].value_counts()

1    126287
0      2125
Name: lstest2, dtype: int64

In [0]:
# apply previous to df['loan_status_is_great']
df['loan_status_is_great'] = df['loan_status'].apply(no_space)
df['loan_status_is_great'] = df['loan_status_is_great'].apply(great_status)

In [130]:
# value count proof
df['loan_status_is_great'].value_counts()

1    126287
0      2125
Name: loan_status_is_great, dtype: int64

In [131]:
# head proof
df['loan_status_is_great'].head()

0    1
1    1
2    1
3    1
4    1
Name: loan_status_is_great, dtype: int64

In [0]:
# taking 'last_payment_d' and making columns for month and year
# first making a datetime for experimenting
df['last_payment_d_datetime'] = df['last_pymnt_d']

In [0]:
# creating into datetime values
df['last_payment_d_datetime'] = pd.to_datetime(df['last_payment_d_datetime'], 
                                              infer_datetime_format=True)

In [136]:
# convert to year
df['last_payment_d_year'] = df['last_payment_d_datetime'].dt.year
df['last_payment_d_year'].head()

# found that it output a float

0    2019.0
1    2019.0
2    2019.0
3    2019.0
4    2019.0
Name: last_payment_d_year, dtype: float64

In [146]:
# detecting value counts
df['last_payment_d_year'].value_counts()

2019.0    126282
2018.0      1970
Name: last_payment_d_year, dtype: int64

In [139]:
# found null values in df
df['last_payment_d_year'].isnull().sum()

160

In [0]:
# replaced na with 0
df['last_payment_d_year'] = df['last_payment_d_year'].fillna(value=0)

In [0]:
# changing type from float to int
df['last_payment_d_year'] = df['last_payment_d_year'].astype(int)

In [150]:
# proof of year in int
df['last_payment_d_year'].head()

0    2019
1    2019
2    2019
3    2019
4    2019
Name: last_payment_d_year, dtype: int64

In [151]:
# creating 'last_payment_d_month' gonna streamline into one block
df['last_payment_d_month'] = df['last_payment_d_datetime'].dt.month
df['last_payment_d_month'] = df['last_payment_d_month'].fillna(value=0)
df['last_payment_d_month'] = df['last_payment_d_month'].astype(int)
df['last_payment_d_month'].head()

0    4
1    4
2    4
3    4
4    4
Name: last_payment_d_month, dtype: int64

In [152]:
# learned I could chain everything together

df['lastmonthtest'] = df['last_payment_d_datetime'].dt.month.fillna(value=0).astype(int)
df['lastmonthtest'].head()

0    4
1    4
2    4
3    4
4    4
Name: lastmonthtest, dtype: int64

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01