<a href="https://colab.research.google.com/github/DAVIDnHANG/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/W1_A4_LS_DS_114_Make_Features_Assignment_TurnIN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LS_DS_114_Make_Features_Assignment.ipynb
LS_DS_114_Make_Features_Assignment.ipynb


ASSIGNMENT
Replicate the lesson code.

This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
Lambda Learning Method for DS - By Ryan Herr

Convert the term column from string to integer.
Make a column named loan_status_is_great. 
It should contain the integer 1 if loan_status is "Current" or "Fully Paid." 
Else it should contain the integer 0.

Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip

In [0]:
#look at beginning of file useful fo header!
!head LoanStats_2018Q4.csv
#look at the end of the file useful for footheader
!tail LoanStats_2018Q4.csv

# Original Data

In [0]:
import pandas as pd

#set the amount of rows/columns
pd.set_option('display.max_rows',50)
pd.set_option('display.max_columns',50)


#think about the header and the footheader
df_LoanStats = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter = 2)

# Dropped ID, memberId desc and URL
and loan_status_is_great function is here

In [94]:
df_LoanStatsDropped=df_LoanStats.drop(columns=['id','member_id','desc','url'])
df_LoanStatsDropped.head(25)
def remove_percent_to_float(string):
  return float(string.strip('%'))

df_LoanStatsDropped['int_rate']=df_LoanStatsDropped['int_rate'].apply(remove_percent_to_float)
df_LoanStatsDropped

#Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.
def loan_status_is_great(string):
  if (df_LoanStatsDropped['loan_status'].equals("Current") or df_LoanStatsDropped['loan_status'].equals("Fully Paid")):
    return 1
  else:
    return 0
#replacing all columns with apply function
df_LoanStatsDropped['loan_status_is_great'] = df_LoanStatsDropped['loan_status'].apply(loan_status_is_great)
df_LoanStatsDropped['loan_status_is_great']  #added at end of row. use .insert(x,y,value) to replace at a specific spot

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
         ..
128387    0
128388    0
128389    0
128390    0
128391    0
128392    0
128393    0
128394    0
128395    0
128396    0
128397    0
128398    0
128399    0
128400    0
128401    0
128402    0
128403    0
128404    0
128405    0
128406    0
128407    0
128408    0
128409    0
128410    0
128411    0
Name: loan_status_is_great, Length: 128412, dtype: int64

Convert "term" to float

In [95]:
#replace all months with empty space
def remove_months_andConvert_float(string):
  return int(string.replace('months',''))

df_LoanStatsDropped['term'] = df_LoanStatsDropped['term'].apply(remove_months_andConvert_float)
df_LoanStatsDropped['term']

0         36
1         36
2         36
3         60
4         36
5         60
6         36
7         60
8         36
9         60
10        60
11        60
12        60
13        60
14        36
15        36
16        36
17        60
18        60
19        60
20        36
21        36
22        36
23        36
24        60
          ..
128387    36
128388    36
128389    36
128390    36
128391    36
128392    36
128393    36
128394    36
128395    36
128396    60
128397    60
128398    60
128399    36
128400    60
128401    36
128402    60
128403    36
128404    36
128405    60
128406    36
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

In [0]:
df_loanStatsDropped['last_pymnt_d_month']='1' # add a column after loan_status_is_great, filling its column with default. fill each row with 1.
df_loanStatsDropped.insert(1,'last_pymnt_d_year','xxxx') #add last_pymnt_d_year in the first column, filling in xxxx as its values.

#if i wanted to fill the column with 1-12 randomly?
from random import randrange

for _ in df_loanStatsDropped['last_pymnt_d_month']:
  return df_loanStatsDropped['last_pymnt_d_month'] = randrange(12)

# just some commands to help ID row/column, and DF

In [57]:
##some useful commands
#list all the columns
df_LoanStats.columns 

#give the number of 0 = rows, then 1= columns in (0,1)#
#df_LoanStats.shape

#df_LoanStats.shape[1]

#list all the columns
#list(df_LoanStats.columns)

#looks for all null
#df_LoanStats.isnull().sum()           
#looks for only na
#df_LoanStats.isna().sum()
#here is how you sort stuff
#.sort_values(ascending=False)
#df_LoanStats.isna().sum().sort_values(ascending=False)




#LIST

#df_LoanStats.dtypes

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'debt_settlement_flag', 'debt_settlement_flag_date',
       'settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],
      dtype='object', length=144)

# Convert strings to float functionally

In [0]:
int_rate = '15.02 months'
int_rate[:-1] # use index
int_rate.strip('%') #remove last or first
int_rate.replace('.','')#remove removing
def remove_percent_to_float(string):
  return float(string.strip(%))
remove_precent_to_float(int_rate)

In [0]:
#int_list=['15.02%','13.56%','16.91%']
#[remove_precent_to_float(item) for item in int_list(df_LoanStatsDropped['int_rate'])]

**STRETCH OPTIONS**
You can do more with the LendingClub or Instacart datasets.
​
LendingClub options:
​
There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
Modify the emp_title column to replace titles with 'Other' if the title is not in the top 20.
Take initiatve and work on your own ideas!
Instacart options:
​
Read Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera, especially the Feature Engineering section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
Read and replicate parts of Simple Exploration Notebook - Instacart. (It's the Python Notebook with the most upvotes for this Kaggle competition.)
Take initiative and work on your own ideas!
You can uncomment and run the cells below to re-download and extract the Instacart data