<a href="https://colab.research.google.com/github/grommitt/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/thursday-make-features/LS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-04-25 21:52:49--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  21.37M   838KB/s    in 26s

2019-04-25 21:53:15 (827 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22408410]

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","9521.66","9521.66","639.85","639.85","478.34","161.51","0.0","0.0","0.0","Feb-2019","324.23","Apr-2019","Mar-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Apr-2019","Mar-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","12000","12000","12000"," 60 months"," 13.56%","276.49","C","C1","","< 1 year","MORTGAGE","40000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","180xx","PA","19.23","0","Aug-2005","2","","","8","0","23195","55.5%","9","w","11716.63","11716.63","539.42","539.42","283.37","256.05","0.0","0.0","0.0","Feb-2019","276.49","Apr-2019","Mar-2019","0","","1","Individual","","","","0","0","32462","1","1","1","1","4","9267","103","2","2","9747","64","41800","1","0","3","3","4058","16601","54.9","0","0","4","149","9","4","1","10","","4","","0","5","6","5","5","1","7","7","6","8","0","0","0","3","100","60","0","0","50800","32462","36800","9000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","15000","15000","14975"," 60 months"," 14.47%","352.69","C","C2","","n/a","MORTGAGE","30000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","756xx","TX","41.6","0","Oct-1999","0","","","20","0","20049","37.2%","30","f","14654.57","14630.15","687.29","686.14","345.43","341.86","0.0","0.0","0.0","Feb-2019","352.69","Apr-2019","Mar-2019","0","","1","Joint App","55000","34.95","Source Verified","0","0","65496","1","1","0","1","16","4458","31","1","1","3616","36","53900","0","2","0","2","3275","2545","74.3","0","0","149","230","6","6","1","31","","","","0","4","13","4","5","8","18","21","13","20","0","0","0","1","100","50","0","0","118790","24507","9900","14490","29704","Oct-1999","0","0","16","48.8","0","15","0","0","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 17.97%","406.04","D","D1","Instructional Coordinator","5 years","MORTGAGE","51000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","284xx","NC","21.91","0","Oct-2005","1","52","","11","0","7326","24.8%","27","w","15664.63","15664.63","788.12","788.12","335.37","452.75","0.0","0.0","0.0","Feb-2019","406.04","Apr-2019","Mar-2019","0","52","1","Individual","","","","0","0","39339","3","8","2","2","2","32013","83","1","1","3881","58","29500","0","0","1","3","3576","22174","24.8","0","0","123","158","6","2","0","6","52","4","52","6","2","2","3","6","21","3","6","2","11","0","0","0","3","77.8","0","0","0","67924","39339","29500","38424","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 23.40%","373.62","E","E1","driver coordinator ","9 years","RENT","65000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","265xx","WV","23.01","1","Sep-2003","0","16","","12","0","10678","37.5%","20","f","9223.52","9223.52","728.52","728.52","376.48","352.04","0.0","0.0","0.0","Feb-2019","373.62","Apr-2019","Mar-2019","0","","1","Individual","","","","0","66","24165","0","2","0","0","43","13487","33","1","1","2264","35","28500","0","0","0","1","2014","232","96.9","0","0","183","92","12","12","0","27","","15","30","0","7","9","7","8","8","10","12","9","12","0","0","0","1","90","85.7","0","0","68902","24165","7600","40402","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3843.13","3843.13","303.56","303.56","156.87","146.69","0.0","0.0","0.0","Feb-2019","155.68","Apr-2019","Mar-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","3500","3500","3500"," 36 months"," 20.89%","131.67","D","D4","gas attendant","10+ years","MORTGAGE","40000","Source Verified","Dec-2018","Current","n","","","car","Car financing","078xx","NJ","9.09","0","Oct-2004","1","24","","4","0","1944","33.5%","18","w","3357.29","3357.29","257.25","257.25","142.71","114.54","0.0","0.0","0.0","Feb-2019","131.67","Apr-2019","Mar-2019","0","48","1","Joint App","59500","10.59","Source Verified","0","0","189794","1","1","1","1","7","24958","100","2","2","1317","87","5800","1","0","3","3","47449","3683","26.3","0","0","150","170","1","1","4","8","48","1","48","2","1","2","1","8","3","2","11","2","4","0","0","0","3","38.9","0","0","0","217000","26902","5000","25000","6902","May-2003","0","3","6","47.9","0","21","0","0","46","N","","","","","","","","","","","","","","","Cash","N","","","","","",""

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
# for truncated rows in display(...) use pd.options.display.max_rows = 500
pd.options.display.max_rows = 500
pd.options.display.max_columns = 500

In [5]:

df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(128412, 145)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,9521.66,9521.66,639.85,639.85,478.34,161.51,0.0,0.0,0.0,Feb-2019,324.23,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,12000,12000,12000.0,60 months,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,11716.63,11716.63,539.42,539.42,283.37,256.05,0.0,0.0,0.0,Feb-2019,276.49,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,15000,15000,14975.0,60 months,14.47%,352.69,C,C2,NaN,NaN,MORTGAGE,30000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0,Oct-1999,0,NaN,NaN,20,0,20049,37.2%,30,f,14654.57,14630.15,687.29,686.14,345.43,341.86,0.0,0.0,0.0,Feb-2019,352.69,Apr-2019,Mar-2019,0,NaN,1,Joint App,55000.0,34.95,Source Verified,0,0,65496,1,1,0,1,16.0,4458,31.0,1,1,3616,36.0,53900,0,2,0,2,3275.0,2545.0,74.3,0,0,149.0,230,6,6,1,31.0,NaN,NaN,NaN,0,4,13,4,5,8,18,21,13,20,0.0,0,0,1,100.0,50.0,0,0,118790,24507,9900,14490,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,16000,16000,16000.0,60 months,17.97%,406.04,D,D1,Instructional Coordinator,5 years,MORTGAGE,51000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0,Oct-2005,1,52.0,NaN,11,0,7326,24.8%,27,w,15664.63,15664.63,788.12,788.12,335.37,452.75,0.0,0.0,0.0,Feb-2019,406.04,Apr-2019,Mar-2019,0,52.0,1,Individual,NaN,NaN,NaN,0,0,39339,3,8,2,2,2.0,32013,83.0,1,1,3881,58.0,29500,0,0,1,3,3576.0,22174.0,24.8,0,0,123.0,158,6,2,0,6.0,52.0,4.0,52.0,6,2,2,3,6,21,3,6,2,11,0.0,0,0,3,77.8,0.0,0,0,67924,39339,29500,38424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:


df.isnull().sum().sort_values(ascending=False)

id                                            128412
member_id                                     128412
url                                           128412
desc                                          128412
hardship_loan_status                          128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
hardship_dpd                                  128411
hardship_payoff_balance_amount                128411
orig_projected_additional_accrued_interest    128411
hardship_status                               128411
hardship_last_payment_amount                  128411
hardship_reason                               128411
hardship_type                                 128411
deferral_term                                 128411
settlement_percentage                         128407
settlement_term                               128407
settlement_status                             128407
debt_settlement_flag_date                     128407
settlement_amount                             128407
settlement_date                               128407
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_num_rev_accts                         111630
annual_inc_joint                              111630
sec_app_chargeoff_within_12_mths              111630
sec_app_open_act_il                           111630
sec_app_collections_12_mths_ex_med            111630
dti_joint                                     111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
emp_title                                      20947
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11704
next_pymnt_d                                    5030
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     163
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
total_rec_prncp                                    0
initial_list_status                                0
int_rate                                           0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
title                                              0
total_rec_int                                      0
installment                                        0
term                                               0
funded_amnt_inv                                    0
funded_amnt                                        0
recoveries                                         0
collection_recovery_fee                            0
loan_amnt                                          0
total_rec_late_fee                                 0
revol_bal                                          0
total_acc                                          0
earliest_cr_line                                   0
pymnt_plan                                         0
loan_status                                        0
last_pymnt_amnt                                    0
zip_code                                           0
addr_state                                         0
delinq_2yrs                                        0
issue_d                                            0
inq_last_6mths                                     0
purpose                                            0
verification_status                                0
annual_inc                                         0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
disbursement_method                                0
open_il_24m                                        0
collections_12_mths_ex_med                         0
num_tl_30dpd                                       0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_90g_dpd_24m                                 0
policy_code                                        0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
hardship_flag                                      0
num_accts_ever_120_pd                              0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
debt_settlement_flag                               0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
inq_fi                                             0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_rev_tl_op                               0
total_cu_tl                                        0
dtype: int64

In [7]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128407,NaN,NaN,23000,23000,23000.0,36 months,15.02%,797.53,C,C3,Tax Consultant,10+ years,MORTGAGE,75000.0,Source Verified,Oct-2018,Charged Off,n,NaN,NaN,debt_consolidation,Debt consolidation,352xx,AL,20.95,1,Aug-1985,2,22.0,NaN,12,0,22465,43.6%,28,w,0.00,0.00,1547.08,1547.08,1025.67,521.41,0.0,0.0,0.0,Dec-2018,797.53,NaN,Nov-2018,0,NaN,1,Individual,NaN,NaN,NaN,0,0,259658,4,2,3,3,6.0,18149,86.0,4,6,12843,56.0,51500,2,2,5,11,21638.0,26321.0,44.1,0,0,12.0,397,4,4,6,5.0,22.0,4.0,22.0,0,4,5,7,14,3,9,19,5,12,0.0,0,0,7,96.4,14.3,0,0,296500,40614,47100,21000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128408,NaN,NaN,10000,10000,10000.0,36 months,15.02%,346.76,C,C3,security guard,5 years,MORTGAGE,38000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,443xx,OH,13.16,3,Jul-1982,0,6.0,NaN,11,0,5634,37.1%,16,w,8863.95,8863.95,1725.46,1725.46,1136.05,589.41,0.0,0.0,0.0,Mar-2019,346.76,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,155,77424,0,1,0,0,34.0,200,10.0,1,1,1866,42.0,15200,2,0,0,2,7039.0,4537.0,50.1,0,0,34.0,434,11,11,3,11.0,6.0,17.0,6.0,0,3,5,5,6,1,8,11,5,11,0.0,0,0,1,73.3,40.0,0,0,91403,9323,9100,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128409,NaN,NaN,5000,5000,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1,Jun-2006,0,21.0,NaN,9,0,2597,27.3%,15,f,4420.40,4420.40,845.38,845.38,579.60,265.78,0.0,0.0,0.0,Mar-2019,169.83,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1413,69785,0,2,0,1,16.0,2379,40.0,3,4,1826,32.0,9500,0,0,1,5,8723.0,1174.0,60.9,0,0,147.0,85,9,9,2,10.0,21.0,9.0,21.0,0,1,3,2,2,6,6,7,3,9,0.0,0,0,3,92.9,50.0,0,0,93908,4976,3000,6028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000,10000,9750.0,36 months,11.06%,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0,Oct-2008,2,40.0,NaN,15,0,6269,13.1%,25,f,8800.53,8580.51,1623.04,1582.46,1199.47,423.57,0.0,0.0,0.0,Mar-2019,327.68,Apr-2019,Mar-2019,0,53.0,1,Individual,NaN,NaN,NaN,0,520,16440,3,1,1,1,2.0,10171,100.0,2,5,404,28.0,47700,0,3,5,6,1265.0,20037.0,2.3,0,0,61.0,119,1,1,0,1.0,NaN,1.0,40.0,1,2,4,6,8,3,14,22,4,15,0.0,0,0,3,92.0,0.0,0,0,57871,16440,20500,10171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000,10000,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1,Sep-2006,0,14.0,NaN,17,0,1942,30.8%,31,w,8893.43,8893.43,1771.01,1771.01,1106.57,664.44,0.0,0.0,0.0,Mar-2019,356.08,Apr-2019,Mar-2019,0,25.0,1,Individual,NaN,NaN,NaN,0,0,59194,0,15,1,1,12.0,57252,85.0,0,0,1942,80.0,6300,0,5,0,1,3482.0,2058.0,48.5,0,0,144.0,142,40,12,0,131.0,30.0,NaN,30.0,3,1,1,1,5,22,2,9,1,17,0.0,0,0,1,74.2,0.0,0,0,73669,59194,4000,67369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.loc[0][5]

' 36 months'

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [9]:
df.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [10]:
df['int_rate']

0          10.33%
1          13.56%
2          13.56%
3          14.47%
4          17.97%
5          23.40%
6          23.40%
7          20.89%
8          12.98%
9          23.40%
10         26.31%
11         18.94%
12         19.92%
13         17.97%
14         20.89%
15         11.80%
16         23.40%
17         15.02%
18         11.31%
19         10.33%
20         27.27%
21         16.14%
22         26.31%
23         15.02%
24         18.94%
25         11.31%
26         11.31%
27         14.47%
28         16.14%
29         14.47%
30         23.40%
31         10.72%
32         11.80%
33         15.02%
34         14.47%
35         11.31%
36         23.40%
37         10.33%
38         14.47%
39         11.80%
40         12.98%
41         19.92%
42         17.97%
43          6.46%
44         10.72%
45         12.98%
46         11.80%
47         20.89%
48         18.94%
49         16.14%
50         14.47%
51         10.72%
52         16.14%
53         11.31%
54         11.80%
55         17.97%
56         20.89%
57         14.47%
58         16.91%
59         10.33%
60         14.47%
61         16.14%
62         17.97%
63          8.81%
64         13.56%
65         19.92%
66         14.47%
67          6.46%
68         16.91%
69         10.33%
70         14.47%
71         12.98%
72         17.97%
73         17.97%
74         23.40%
75         16.14%
76         16.14%
77         27.27%
78         17.97%
79         15.02%
80         12.98%
81         14.47%
82         14.47%
83         13.56%
84         16.91%
85         12.98%
86         14.47%
87         15.02%
88         16.91%
89         12.98%
90         10.33%
91         13.56%
92         14.47%
93         11.80%
94         23.40%
95         14.47%
96         11.31%
97         11.80%
98          7.56%
99         11.31%
100        16.91%
101        11.80%
102        11.31%
103        18.94%
104        18.94%
105        14.47%
106        22.35%
107        18.94%
108        10.72%
109        18.94%
110        11.31%
111        13.56%
112        23.40%
113        11.80%
114        10.72%
115        13.56%
116        10.72%
117        17.97%
118        12.98%
119        14.47%
120        12.98%
121        16.14%
122        18.94%
123        16.14%
124        11.80%
125        17.97%
126        11.31%
127        14.47%
128        15.02%
129        27.27%
130        15.02%
131        11.31%
132        15.02%
133        26.31%
134        27.27%
135        12.98%
136        16.14%
137         7.56%
138        16.91%
139        20.89%
140        17.97%
141        11.80%
142        12.98%
143         8.19%
144        23.40%
145        17.97%
146        10.72%
147        22.35%
148        11.31%
149         8.81%
150        20.89%
151        12.98%
152        14.47%
153        22.35%
154        17.97%
155        12.98%
156        11.31%
157         8.19%
158         6.46%
159        17.97%
160        16.14%
161        20.89%
162        27.27%
163        15.02%
164        16.91%
165        16.14%
166        15.02%
167        10.33%
168        12.98%
169        19.92%
170        20.89%
171        12.98%
172         8.81%
173        14.47%
174        10.72%
175        14.47%
176        17.97%
177        25.34%
178        23.40%
179        15.02%
180        18.94%
181        23.40%
182        14.47%
183         8.81%
184        16.14%
185        10.72%
186        10.33%
187        13.56%
188        14.47%
189        16.14%
190         6.46%
191         8.19%
192        11.31%
193        15.02%
194         8.19%
195        30.75%
196        16.14%
197        14.47%
198        10.33%
199        15.02%
200        13.56%
201        13.56%
202        15.02%
203        10.72%
204        12.98%
205        11.31%
206        15.02%
207        16.14%
208        17.97%
209        16.14%
210        14.47%
211        16.14%
212        18.94%
213        22.35%
214        12.98%
215        16.14%
216        10.72%
217        15.02%
218        14.47%
219        19.92%
220        10.33%
221        14.47%
222        20.89%
223        16.14%
224        16.91%
225        13.56%
226        23.40%
227        15.02%
228        17.97%
229        12.98%
230        14.47%
231        13.56%
232        17.97%
233        26.31%
234        20.89%
235        18.94%
236        11.80%
237        14.47%
238        15.02%
239        16.91%
240        16.14%
241        16.14%
242        16.91%
243        11.31%
244        10.72%
245        13.56%
246        15.02%
247        16.14%
248        10.72%
249        15.02%
           ...
128162     22.35%
128163     22.35%
128164     28.72%
128165      6.11%
128166     19.92%
128167      7.21%
128168      8.46%
128169      7.84%
128170     16.91%
128171     15.02%
128172     16.14%
128173     10.08%
128174      6.11%
128175      6.11%
128176      8.46%
128177      6.67%
128178      8.46%
128179     12.73%
128180     10.08%
128181     22.35%
128182     13.56%
128183     13.56%
128184      7.21%
128185     14.47%
128186     19.92%
128187     16.14%
128188     18.94%
128189     12.73%
128190     11.55%
128191     13.56%
128192     28.72%
128193     14.47%
128194      6.11%
128195      7.21%
128196      7.21%
128197      6.67%
128198      6.11%
128199     28.72%
128200      6.67%
128201      6.67%
128202     11.55%
128203     25.34%
128204     10.47%
128205      7.84%
128206      6.11%
128207     23.40%
128208     13.56%
128209     12.73%
128210      7.84%
128211     10.08%
128212     19.92%
128213      7.21%
128214     22.35%
128215      6.11%
128216     16.14%
128217      6.11%
128218     16.91%
128219      6.11%
128220      6.67%
128221      6.11%
128222     22.35%
128223     11.55%
128224     10.47%
128225     11.06%
128226     24.37%
128227     12.73%
128228      8.46%
128229      6.67%
128230     12.73%
128231     11.06%
128232     27.27%
128233      6.11%
128234      7.84%
128235     18.94%
128236     16.14%
128237      6.11%
128238     10.47%
128239      6.11%
128240      8.46%
128241     13.56%
128242     16.14%
128243      6.11%
128244     11.55%
128245      7.21%
128246      6.11%
128247      6.11%
128248     29.69%
128249     28.72%
128250      6.11%
128251      7.84%
128252      6.11%
128253      7.21%
128254      7.21%
128255     16.91%
128256      7.21%
128257      7.84%
128258     16.91%
128259      8.46%
128260     26.31%
128261      7.21%
128262     11.06%
128263      6.11%
128264     11.06%
128265     25.34%
128266     17.97%
128267     10.08%
128268     15.02%
128269      7.84%
128270     11.06%
128271      6.67%
128272     14.47%
128273     14.47%
128274     18.94%
128275      7.21%
128276     15.02%
128277     19.92%
128278     13.56%
128279      7.84%
128280      6.11%
128281     13.56%
128282     18.94%
128283      8.46%
128284     14.47%
128285      6.67%
128286      7.21%
128287     11.06%
128288      7.21%
128289     27.27%
128290     16.91%
128291     13.56%
128292      8.46%
128293      7.84%
128294      6.67%
128295      7.84%
128296     17.97%
128297      6.11%
128298     22.35%
128299     15.02%
128300      6.11%
128301     15.02%
128302     16.14%
128303     25.34%
128304     23.40%
128305      7.21%
128306     24.37%
128307     15.02%
128308     10.47%
128309     10.08%
128310     12.73%
128311     22.35%
128312      7.84%
128313     27.27%
128314     11.55%
128315     17.97%
128316     14.47%
128317     15.02%
128318      6.11%
128319      6.67%
128320     22.35%
128321      6.11%
128322      7.84%
128323     22.35%
128324     10.08%
128325      6.11%
128326     16.14%
128327      6.11%
128328     17.97%
128329     23.40%
128330     20.89%
128331     13.56%
128332      6.11%
128333     15.02%
128334     18.94%
128335      7.84%
128336      7.21%
128337      7.84%
128338     11.55%
128339      7.21%
128340     24.37%
128341     19.92%
128342     14.47%
128343     12.73%
128344     24.37%
128345      7.84%
128346      7.21%
128347      7.84%
128348      7.84%
128349     15.02%
128350     11.55%
128351      6.11%
128352     13.56%
128353      7.21%
128354     27.27%
128355     16.91%
128356     27.27%
128357     11.55%
128358     10.08%
128359      7.21%
128360     17.97%
128361     27.27%
128362     11.55%
128363     11.06%
128364     11.06%
128365      8.46%
128366      8.46%
128367     13.56%
128368     14.47%
128369      7.84%
128370      6.11%
128371     17.97%
128372     14.47%
128373      7.84%
128374     22.35%
128375     11.55%
128376     11.06%
128377     13.56%
128378      6.67%
128379     27.27%
128380     16.91%
128381      7.84%
128382     26.31%
128383     13.56%
128384     16.91%
128385     17.97%
128386     11.55%
128387     17.97%
128388      8.46%
128389     19.92%
128390      6.67%
128391     26.31%
128392     16.91%
128393      6.11%
128394     11.55%
128395     11.55%
128396     15.02%
128397     15.02%
128398     18.94%
128399     15.02%
128400     15.02%
128401     16.14%
128402     22.35%
128403     11.55%
128404      7.84%
128405     16.14%
128406     13.56%
128407     15.02%
128408     15.02%
128409     13.56%
128410     11.06%
128411     16.91%
Name: int_rate, Length: 128412, dtype: object

In [11]:
df.describe(exclude="number")

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,128412,128412,128412,128412,107465,116708,128412,128412,128412,128412,128412,128412,128412,128412,128412,128412,128256,128412,128249,123382,128411,128412,14848,16782,128412,1,1,1,1,1,1,1,128412,128412,5,5,5
unique,2,46,7,35,43892,11,4,3,3,6,2,12,12,880,50,644,1074,2,6,3,8,2,3,573,2,1,1,1,1,1,1,1,2,2,1,2,2
top,36 months,13.56%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Oct-2018,Current,n,debt_consolidation,Debt consolidation,112xx,CA,Aug-2006,0%,w,Mar-2019,Apr-2019,Mar-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,UNEMPLOYMENT,ACTIVE,Feb-2019,Apr-2019,Feb-2019,Late (16-30 days),Cash,N,Mar-2019,ACTIVE,Mar-2019
freq,88179,6976,38011,9770,2090,38826,63490,58350,46305,121676,128411,70603,70603,1370,17879,1130,1132,114498,114588,123343,124079,111630,6360,155,128411,1,1,1,1,1,1,1,102516,128407,5,3,3

### Dataframe filtering

In [12]:
col_name = 'term'
desktop_users = df[df['mobile'] == False]
mobile_users = df[df['mobile'] == True]

KeyError: ignored

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
'13.56%'.strip('%')

In [0]:
type('13.56%'.strip('%'))

In [0]:
float('13.56%'.strip('%'))

Apply the function to the `int_rate` column

In [0]:
type(float('13.56%'.strip('%')))

### List Comprehension Example

In [0]:
example_list = ['13.55%', '13.56%', '13.54%']

def remove_percent(string):
  return float(string.strip('%'))

[remove_percent(x) for x in example_list]

apply the function to the int_rate column

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)
df['int_rate'].head()

In [0]:
df.dtypes

### Dataframe Filtering By Interest Rate

In [0]:
int_rate_greater_than_13 = df[df['int_rate'] >= 14.00]
int_rate_greater_than_13.reset_index()

### Clean `emp_title`

Look at top 20 titles

In [0]:
df['emp_title'].value_counts(dropna=False).head(20)

How often is `emp_title` null?

In [0]:
df['emp_title'].isnull().sum()

Clean the title and handle missing values

In [0]:
import numpy as np
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"
  
[clean_title(x) for x in examples]

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [0]:
df['emp_title'].value_counts()

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
# Create a column
df['emp_title_manager'] = True

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains("Manager")
df['emp_title_manager']

In [0]:
managers = df[df['emp_title_manager'] == True]
plebians = df[df['emp_title_manager'] == False]

print(managers['int_rate'].mean())
print(plebians['int_rate'].mean())

In [0]:
print(managers['int_rate'].std())
print(plebians['int_rate'].std())

In [0]:
import seaborn as sns
sns.distplot(managers['int_rate'])

In [0]:
sns.distplot(plebians['int_rate'])

In [0]:
managers.head(20)

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# convert the term column from string to integer

In [0]:
df.dtypes

In [0]:
df['term']

In [0]:
' 36 months'.strip()

In [0]:
' 60 months'.strip()

In [0]:
type(' 36 months'.strip())

In [0]:
# remove ' months' to make it an int
int(' 36 months'.strip(' months'))

In [0]:
type(int(' 36 months'.strip(' months')))

In [0]:
int(' 60 months'.strip(' months'))

In [0]:
df.dtypes

In [0]:
def remove_months(string):
  return int(string.strip(' months'))

In [0]:
[remove_months(x) for x in df['term']]

In [0]:
df.dtypes

In [0]:
# Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
df['loan_status_is_great'] = True

In [13]:
df['loan_status']

0                    Current
1                    Current
2                    Current
3                    Current
4                    Current
5                    Current
6                    Current
7                    Current
8                    Current
9                    Current
10                   Current
11                   Current
12                   Current
13                   Current
14                   Current
15                   Current
16                   Current
17                   Current
18                   Current
19                   Current
20                   Current
21                   Current
22                   Current
23                   Current
24                   Current
25                   Current
26                   Current
27                   Current
28                   Current
29                   Current
30                   Current
31                   Current
32                   Current
33                   Current
34                   Current
35                   Current
36                   Current
37                   Current
38                   Current
39                   Current
40                   Current
41                   Current
42                   Current
43                   Current
44                   Current
45                   Current
46                   Current
47                   Current
48                   Current
49                   Current
50                   Current
51                   Current
52                Fully Paid
53                   Current
54                   Current
55                   Current
56                   Current
57                   Current
58                   Current
59                   Current
60                   Current
61                   Current
62                   Current
63                   Current
64                   Current
65                   Current
66                   Current
67                   Current
68                   Current
69                   Current
70                   Current
71                   Current
72                   Current
73                   Current
74                   Current
75                   Current
76                   Current
77                Fully Paid
78                   Current
79                   Current
80                   Current
81                   Current
82                   Current
83                   Current
84                   Current
85                   Current
86                   Current
87                   Current
88                   Current
89                   Current
90                   Current
91                   Current
92                   Current
93                   Current
94                   Current
95                   Current
96                   Current
97                   Current
98                Fully Paid
99                   Current
100                  Current
101                  Current
102                  Current
103                  Current
104                  Current
105                  Current
106                  Current
107                  Current
108                  Current
109                  Current
110                  Current
111                  Current
112                  Current
113                  Current
114                  Current
115                  Current
116                  Current
117                  Current
118                  Current
119                  Current
120                  Current
121                  Current
122                  Current
123                  Current
124                  Current
125                  Current
126               Fully Paid
127                  Current
128                  Current
129                  Current
130                  Current
131                  Current
132                  Current
133                  Current
134                  Current
135                  Current
136                  Current
137                  Current
138                  Current
139                  Current
140                  Current
141                  Current
142                  Current
143                  Current
144                  Current
145                  Current
146                  Current
147               Fully Paid
148                  Current
149                  Current
150                  Current
151                  Current
152                  Current
153                  Current
154                  Current
155                  Current
156                  Current
157                  Current
158                  Current
159                  Current
160                  Current
161                  Current
162                  Current
163                  Current
164                  Current
165                  Current
166                  Current
167                  Current
168                  Current
169                  Current
170                  Current
171                  Current
172                  Current
173                  Current
174                  Current
175                  Current
176                  Current
177                  Current
178                  Current
179                  Current
180                  Current
181                  Current
182                  Current
183                  Current
184                  Current
185                  Current
186                  Current
187                  Current
188                  Current
189                  Current
190                  Current
191                  Current
192                  Current
193                  Current
194                  Current
195                  Current
196                  Current
197                  Current
198                  Current
199                  Current
200                  Current
201                  Current
202                  Current
203                  Current
204                  Current
205                  Current
206               Fully Paid
207                  Current
208                  Current
209                  Current
210                  Current
211                  Current
212                  Current
213                  Current
214                  Current
215                  Current
216                  Current
217                  Current
218                  Current
219                  Current
220                  Current
221                  Current
222                  Current
223                  Current
224                  Current
225                  Current
226                  Current
227                  Current
228                  Current
229                  Current
230                  Current
231                  Current
232                  Current
233                  Current
234                  Current
235                  Current
236                  Current
237                  Current
238                  Current
239                  Current
240                  Current
241                  Current
242                  Current
243                  Current
244                  Current
245                  Current
246                  Current
247                  Current
248                  Current
249                  Current
                 ...
128162               Current
128163               Current
128164               Current
128165               Current
128166            Fully Paid
128167               Current
128168               Current
128169               Current
128170               Current
128171               Current
128172               Current
128173               Current
128174               Current
128175               Current
128176     Late (16-30 days)
128177               Current
128178               Current
128179               Current
128180               Current
128181               Current
128182               Current
128183               Current
128184               Current
128185               Current
128186               Current
128187               Current
128188               Current
128189               Current
128190               Current
128191               Current
128192               Current
128193               Current
128194               Current
128195               Current
128196               Current
128197               Current
128198               Current
128199               Current
128200               Current
128201               Current
128202    Late (31-120 days)
128203               Current
128204               Current
128205               Current
128206               Current
128207           Charged Off
128208               Current
128209               Current
128210               Current
128211               Current
128212               Current
128213               Current
128214               Current
128215               Current
128216               Current
128217               Current
128218               Current
128219               Current
128220               Current
128221               Current
128222               Current
128223               Current
128224               Current
128225               Current
128226               Current
128227               Current
128228               Current
128229               Current
128230               Current
128231               Current
128232               Current
128233               Current
128234               Current
128235               Current
128236               Current
128237               Current
128238               Current
128239               Current
128240               Current
128241               Current
128242               Current
128243               Current
128244               Current
128245    Late (31-120 days)
128246               Current
128247               Current
128248               Current
128249               Current
128250               Current
128251               Current
128252               Current
128253               Current
128254               Current
128255               Current
128256               Current
128257               Current
128258               Current
128259               Current
128260               Current
128261               Current
128262               Current
128263               Current
128264               Current
128265               Current
128266               Current
128267               Current
128268               Current
128269               Current
128270            Fully Paid
128271               Current
128272               Current
128273               Current
128274               Current
128275               Current
128276               Current
128277               Current
128278               Current
128279               Current
128280               Current
128281       In Grace Period
128282               Current
128283               Current
128284               Current
128285               Current
128286               Current
128287               Current
128288               Current
128289               Current
128290               Current
128291               Current
128292               Current
128293               Current
128294               Current
128295               Current
128296               Current
128297               Current
128298               Current
128299               Current
128300               Current
128301               Current
128302               Current
128303               Current
128304               Current
128305               Current
128306               Current
128307               Current
128308               Current
128309               Current
128310               Current
128311               Current
128312               Current
128313               Current
128314               Current
128315               Current
128316               Current
128317               Current
128318               Current
128319    Late (31-120 days)
128320               Current
128321               Current
128322               Current
128323               Current
128324               Current
128325               Current
128326               Current
128327               Current
128328            Fully Paid
128329               Current
128330               Current
128331               Current
128332               Current
128333               Current
128334               Current
128335               Current
128336               Current
128337           Charged Off
128338               Current
128339               Current
128340               Current
128341               Current
128342               Current
128343               Current
128344               Current
128345               Current
128346               Current
128347               Current
128348               Current
128349               Current
128350               Current
128351               Current
128352               Current
128353               Current
128354               Current
128355            Fully Paid
128356               Current
128357               Current
128358               Current
128359               Current
128360               Current
128361               Current
128362               Current
128363               Current
128364               Current
128365               Current
128366               Current
128367            Fully Paid
128368               Current
128369               Current
128370               Current
128371               Current
128372               Current
128373               Current
128374               Current
128375               Current
128376               Current
128377               Current
128378               Current
128379               Current
128380               Current
128381               Current
128382               Current
128383               Current
128384               Current
128385               Current
128386               Current
128387               Current
128388               Current
128389               Current
128390            Fully Paid
128391               Current
128392               Current
128393               Current
128394               Current
128395               Current
128396               Current
128397               Current
128398               Current
128399               Current
128400               Current
128401               Current
128402               Current
128403               Current
128404               Current
128405               Current
128406               Current
128407           Charged Off
128408               Current
128409               Current
128410               Current
128411               Current
Name: loan_status, Length: 128412, dtype: object

In [33]:

df['loan_status_is_great'] = df['loan_status'].replace({'Current' : 1, 'Fully Paid': 1, 'Charged Off':0, 'In Grace Period':0, 'Late (31-120 days)':0, 'Late (16-30 days)':0})
#df['loan_status_is_great'].value_counts().unique()
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,9521.66,9521.66,639.85,639.85,478.34,161.51,0.0,0.0,0.0,Feb-2019,324.23,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,1
1,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
2,NaN,NaN,12000,12000,12000.0,60 months,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,11716.63,11716.63,539.42,539.42,283.37,256.05,0.0,0.0,0.0,Feb-2019,276.49,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
3,NaN,NaN,15000,15000,14975.0,60 months,14.47%,352.69,C,C2,NaN,NaN,MORTGAGE,30000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0,Oct-1999,0,NaN,NaN,20,0,20049,37.2%,30,f,14654.57,14630.15,687.29,686.14,345.43,341.86,0.0,0.0,0.0,Feb-2019,352.69,Apr-2019,Mar-2019,0,NaN,1,Joint App,55000.0,34.95,Source Verified,0,0,65496,1,1,0,1,16.0,4458,31.0,1,1,3616,36.0,53900,0,2,0,2,3275.0,2545.0,74.3,0,0,149.0,230,6,6,1,31.0,NaN,NaN,NaN,0,4,13,4,5,8,18,21,13,20,0.0,0,0,1,100.0,50.0,0,0,118790,24507,9900,14490,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1
4,NaN,NaN,16000,16000,16000.0,60 months,17.97%,406.04,D,D1,Instructional Coordinator,5 years,MORTGAGE,51000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0,Oct-2005,1,52.0,NaN,11,0,7326,24.8%,27,w,15664.63,15664.63,788.12,788.12,335.37,452.75,0.0,0.0,0.0,Feb-2019,406.04,Apr-2019,Mar-2019,0,52.0,1,Individual,NaN,NaN,NaN,0,0,39339,3,8,2,2,2.0,32013,83.0,1,1,3881,58.0,29500,0,0,1,3,3576.0,22174.0,24.8,0,0,123.0,158,6,2,0,6.0,52.0,4.0,52.0,6,2,2,3,6,21,3,6,2,11,0.0,0,0,3,77.8,0.0,0,0,67924,39339,29500,38424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1

In [0]:
# Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
df['last_pymnt_d_month'] = True

In [0]:
df['last_pymnt_d_year'] = True

In [36]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,9521.66,9521.66,639.85,639.85,478.34,161.51,0.0,0.0,0.0,Feb-2019,324.23,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,1,True,True
1,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1,True,True
2,NaN,NaN,12000,12000,12000.0,60 months,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,11716.63,11716.63,539.42,539.42,283.37,256.05,0.0,0.0,0.0,Feb-2019,276.49,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1,True,True
3,NaN,NaN,15000,15000,14975.0,60 months,14.47%,352.69,C,C2,NaN,NaN,MORTGAGE,30000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0,Oct-1999,0,NaN,NaN,20,0,20049,37.2%,30,f,14654.57,14630.15,687.29,686.14,345.43,341.86,0.0,0.0,0.0,Feb-2019,352.69,Apr-2019,Mar-2019,0,NaN,1,Joint App,55000.0,34.95,Source Verified,0,0,65496,1,1,0,1,16.0,4458,31.0,1,1,3616,36.0,53900,0,2,0,2,3275.0,2545.0,74.3,0,0,149.0,230,6,6,1,31.0,NaN,NaN,NaN,0,4,13,4,5,8,18,21,13,20,0.0,0,0,1,100.0,50.0,0,0,118790,24507,9900,14490,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1,True,True
4,NaN,NaN,16000,16000,16000.0,60 months,17.97%,406.04,D,D1,Instructional Coordinator,5 years,MORTGAGE,51000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0,Oct-2005,1,52.0,NaN,11,0,7326,24.8%,27,w,15664.63,15664.63,788.12,788.12,335.37,452.75,0.0,0.0,0.0,Feb-2019,406.04,Apr-2019,Mar-2019,0,52.0,1,Individual,NaN,NaN,NaN,0,0,39339,3,8,2,2,2.0,32013,83.0,1,1,3881,58.0,29500,0,0,1,3,3576.0,22174.0,24.8,0,0,123.0,158,6,2,0,6.0,52.0,4.0,52.0,6,2,2,3,6,21,3,6,2,11,0.0,0,0,3,77.8,0.0,0,0,67924,39339,29500,38424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1,True,True

In [37]:
df['last_pymnt_d'].describe()

count       128249
unique           6
top       Mar-2019
freq        114588
Name: last_pymnt_d, dtype: object

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], infer_datetime_format=True)

In [40]:
df['last_pymnt_d'].head().values

array(['2019-02-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2019-02-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [41]:
df['last_pymnt_d'].describe()

count                  128249
unique                      6
top       2019-03-01 00:00:00
freq                   114588
first     2018-10-01 00:00:00
last      2019-03-01 00:00:00
Name: last_pymnt_d, dtype: object

In [0]:
df['last_pymnt_d'].dt.year
df['last_pymnt_d'].dt.month

In [46]:
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
print(df.shape)
df.head()

(128412, 148)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,9521.66,9521.66,639.85,639.85,478.34,161.51,0.0,0.0,0.0,2019-02-01,324.23,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,2019.0
1,NaN,NaN,2500,2500,2500.0,36 months,13.56%,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,2019-02-01,84.92,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,2019.0
2,NaN,NaN,12000,12000,12000.0,60 months,13.56%,276.49,C,C1,NaN,< 1 year,MORTGAGE,40000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0,Aug-2005,2,NaN,NaN,8,0,23195,55.5%,9,w,11716.63,11716.63,539.42,539.42,283.37,256.05,0.0,0.0,0.0,2019-02-01,276.49,Apr-2019,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,32462,1,1,1,1,4.0,9267,103.0,2,2,9747,64.0,41800,1,0,3,3,4058.0,16601.0,54.9,0,0,4.0,149,9,4,1,10.0,NaN,4.0,NaN,0,5,6,5,5,1,7,7,6,8,0.0,0,0,3,100.0,60.0,0,0,50800,32462,36800,9000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,2019.0
3,NaN,NaN,15000,15000,14975.0,60 months,14.47%,352.69,C,C2,NaN,NaN,MORTGAGE,30000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0,Oct-1999,0,NaN,NaN,20,0,20049,37.2%,30,f,14654.57,14630.15,687.29,686.14,345.43,341.86,0.0,0.0,0.0,2019-02-01,352.69,Apr-2019,Mar-2019,0,NaN,1,Joint App,55000.0,34.95,Source Verified,0,0,65496,1,1,0,1,16.0,4458,31.0,1,1,3616,36.0,53900,0,2,0,2,3275.0,2545.0,74.3,0,0,149.0,230,6,6,1,31.0,NaN,NaN,NaN,0,4,13,4,5,8,18,21,13,20,0.0,0,0,1,100.0,50.0,0,0,118790,24507,9900,14490,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,2019.0
4,NaN,NaN,16000,16000,16000.0,60 months,17.97%,406.04,D,D1,Instructional Coordinator,5 years,MORTGAGE,51000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0,Oct-2005,1,52.0,NaN,11,0,7326,24.8%,27,w,15664.63,15664.63,788.12,788.12,335.37,452.75,0.0,0.0,0.0,2019-02-01,406.04,Apr-2019,Mar-2019,0,52.0,1,Individual,NaN,NaN,NaN,0,0,39339,3,8,2,2,2.0,32013,83.0,1,1,3881,58.0,29500,0,0,1,3,3576.0,22174.0,24.8,0,0,123.0,158,6,2,0,6.0,52.0,4.0,52.0,6,2,2,3,6,21,3,6,2,11,0.0,0,0,3,77.8,0.0,0,0,67924,39339,29500,38424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,2019.0

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01