<a href="https://colab.research.google.com/github/TheJoys2019/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Artin%20Sinani%20-%20Code%20Challenge%201%2003_20_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd

# Dataset 1:
## Load CSV File
bf = pd.read_csv("https://raw.githubusercontent.com/pierretd/datasets-1/master/BlackFriday.csv")

## Show first 5 rows
bf.head(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [18]:
#1) Clean the data set and drop the Null/NaN values. 
#   Rename  Product_Category_1-3 columns with an actual Product. 


bf.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [19]:
bf.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [20]:
bf.shape

(537577, 12)

In [21]:
bf.describe

<bound method NDFrame.describe of         User_ID Product_ID Gender    Age  Occupation City_Category  \
0       1000001  P00069042      F   0-17          10             A
1       1000001  P00248942      F   0-17          10             A
2       1000001  P00087842      F   0-17          10             A
3       1000001  P00085442      F   0-17          10             A
4       1000002  P00285442      M    55+          16             C
5       1000003  P00193542      M  26-35          15             A
6       1000004  P00184942      M  46-50           7             B
7       1000004  P00346142      M  46-50           7             B
8       1000004   P0097242      M  46-50           7             B
9       1000005  P00274942      M  26-35          20             A
10      1000005  P00251242      M  26-35          20             A
11      1000005  P00014542      M  26-35          20             A
12      1000005  P00031342      M  26-35          20             A
13      1000005  P00145042      M  26-35          20             A
14      1000006  P00231342      F  51-55           9             A
15      1000006  P00190242      F  51-55           9             A
16      1000006   P0096642      F  51-55           9             A
17      1000006  P00058442      F  51-55           9             A
18      1000007  P00036842      M  36-45           1             B
19      1000008  P00249542      M  26-35          12             C
20      1000008  P00220442      M  26-35          12             C
21      1000008  P00156442      M  26-35          12             C
22      1000008  P00213742      M  26-35          12             C
23      1000008  P00214442      M  26-35          12             C
24      1000008  P00303442      M  26-35          12             C
25      1000009  P00135742      M  26-35          17             C
26      1000009  P00039942      M  26-35          17             C
27      1000009  P00161442      M  26-35          17             C
28      1000009  P00078742      M  26-35          17             C
29      1000010  P00085942      F  36-45           1             B
...         ...        ...    ...    ...         ...           ...
537547  1004733  P00244042      M  18-25          18             C
537548  1004734  P00111042      M  51-55           1             B
537549  1004734  P00345842      M  51-55           1             B
537550  1004735  P00278242      M  46-50           3             C
537551  1004735  P00313442      M  46-50           3             C
537552  1004735   P0098642      M  46-50           3             C
537553  1004735  P00119342      M  46-50           3             C
537554  1004735  P00114042      M  46-50           3             C
537555  1004735  P00135142      M  46-50           3             C
537556  1004736  P00194542      M  18-25          20             A
537557  1004736  P00175242      M  18-25          20             A
537558  1004736  P00101942      M  18-25          20             A
537559  1004736  P00109142      M  18-25          20             A
537560  1004736  P00084842      M  18-25          20             A
537561  1004736  P00078142      M  18-25          20             A
537562  1004736  P00146742      M  18-25          20             A
537563  1004736  P00154642      M  18-25          20             A
537564  1004736  P00117442      M  18-25          20             A
537565  1004736  P00051142      M  18-25          20             A
537566  1004736  P00048742      M  18-25          20             A
537567  1004736  P00157542      M  18-25          20             A
537568  1004736  P00250642      M  18-25          20             A
537569  1004736  P00023142      M  18-25          20             A
537570  1004736  P00162442      M  18-25          20             A
537571  1004737  P00221442      M  36-45          16             C
537572  1004737  P00193542      M  36-45          16             C
537573  1004737  P00111142      M  36-45          16             C
537574  1004737  P00345942      M  36-45          16             C
537575  1004737  P00285842      M  36-45          16             C
537576  1004737  P00118242      M  36-45          16             C

       Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                               2               0                   3
1                               2               0                   1
2                               2               0                  12
3                               2               0                  12
4                              4+               0                   8
5                               3               0                   1
6                               2               1                   1
7                               2               1                   1
8                               2               1                   1
9                               1               1                   8
10                              1               1                   5
11                              1               1                   8
12                              1               1                   8
13                              1               1                   1
14                              1               0                   5
15                              1               0                   4
16                              1               0                   2
17                              1               0                   5
18                              1               1                   1
19                             4+               1                   1
20                             4+               1                   5
21                             4+               1                   8
22                             4+               1                   8
23                             4+               1                   8
24                             4+               1                   1
25                              0               0                   6
26                              0               0                   8
27                              0               0                   5
28                              0               0                   5
29                             4+               1                   2
...                           ...             ...                 ...
537547                          1               0                   1
537548                          1               1                  15
537549                          1               1                   2
537550                          3               0                   1
537551                          3               0                   5
537552                          3               0                   6
537553                          3               0                  10
537554                          3               0                   5
537555                          3               0                  13
537556                          1               1                   8
537557                          1               1                   2
537558                          1               1                   8
537559                          1               1                   8
537560                          1               1                   8
537561                          1               1                   8
537562                          1               1                   1
537563                          1               1                   8
537564                          1               1                   5
537565                          1               1                   8
537566                          1               1                   5
537567                          1               1                   8
537568                          1               1                  11
537569                          1               1                   5
537570                          1               1                   1
537571                          1               0                   1
537572                          1               0                   1
537573                          1               0                   1
537574                          1               0                   8
537575                          1               0                   5
537576                          1               0                   5

        Product_Category_2  Product_Category_3  Purchase
0                      NaN                 NaN      8370
1                      6.0                14.0     15200
2                      NaN                 NaN      1422
3                     14.0                 NaN      1057
4                      NaN                 NaN      7969
5                      2.0                 NaN     15227
6                      8.0                17.0     19215
7                     15.0                 NaN     15854
8                     16.0                 NaN     15686
9                      NaN                 NaN      7871
10                    11.0                 NaN      5254
11                     NaN                 NaN      3957
12                     NaN                 NaN      6073
13                     2.0                 5.0     15665
14                     8.0                14.0      5378
15                     5.0                 NaN      2079
16                     3.0                 4.0     13055
17                    14.0                 NaN      8851
18                    14.0                16.0     11788
19                     5.0                15.0     19614
20                    14.0                 NaN      8584
21                     NaN                 NaN      9872
22                     NaN                 NaN      9743
23                     NaN                 NaN      5982
24                     8.0                14.0     11927
25                     8.0                 NaN     16662
26                     NaN                 NaN      5887
27                    14.0                 NaN      6973
28                     8.0                14.0      5391
29                     4.0                 8.0     16352
...                    ...                 ...       ...
537547                 2.0                15.0     11543
537548                 NaN                 NaN     20924
537549                 8.0                14.0     13082
537550                 NaN                 NaN     11658
537551                 6.0                 8.0      6863
537552                 8.0                 NaN     16415
537553                13.0                 NaN     18526
537554                14.0                 NaN      7099
537555                16.0                 NaN       578
537556                14.0                 NaN      2183
537557                 NaN                 NaN     12724
537558                17.0                 NaN      7796
537559                17.0                 NaN      7770
537560                16.0                 NaN      5940
537561                16.0                 NaN      7834
537562                13.0                14.0     11508
537563                 NaN                 NaN      6074
537564                14.0                 NaN      7084
537565                 NaN                 NaN      7934
537566                 NaN                 NaN      5350
537567                14.0                 NaN      1994
537568                 NaN                 NaN      5930
537569                14.0                 NaN      7042
537570                16.0                 NaN     15491
537571                 2.0                 5.0     11852
537572                 2.0                 NaN     11664
537573                15.0                16.0     19196
537574                15.0                 NaN      8043
537575                 NaN                 NaN      7172
537576                 8.0                 NaN      6875

[537577 rows x 12 columns]>

In [26]:
#2. How many unique user_ids does the data set contain? 
print(bf.User_ID.unique())

[1000001 1000002 1000003 ... 1004113 1005391 1001529]

In [27]:
#3) How many unique age brackets are in the dataset. 
#   Which Age bracket has the most entries? Which has the least?

print(bf['Age'].value_counts())

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64

In [0]:
print(bf['Age'].sum())