<a href="https://colab.research.google.com/github/OODA-OPS/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/AWS_IoT_Telementary_Predictive_Maitenance_Jason_Meil_DS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing Appropriate Libraries
import random
import seaborn as sns
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler 
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd

In [0]:
# Importing the DataSet
data = pd.read_csv('http://aws-proserve-data-science.s3.amazonaws.com/device_failure.csv', encoding='latin1')

In [0]:
data.head(10)

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
0,2015-01-01,S1F01085,0,215630672,56,0,52,6,407438,0,0,7
1,2015-01-01,S1F0166B,0,61370680,0,3,0,6,403174,0,0,0
2,2015-01-01,S1F01E6Y,0,173295968,0,0,0,12,237394,0,0,0
3,2015-01-01,S1F01JE0,0,79694024,0,0,0,6,410186,0,0,0
4,2015-01-01,S1F01R2B,0,135970480,0,0,0,15,313173,0,0,3
5,2015-01-01,S1F01TD5,0,68837488,0,0,41,6,413535,0,0,1
6,2015-01-01,S1F01XDJ,0,227721632,0,0,0,8,402525,0,0,0
7,2015-01-01,S1F023H2,0,141503600,0,0,1,19,494462,16,16,3
8,2015-01-01,S1F02A0J,0,8217840,0,1,0,14,311869,0,0,0
9,2015-01-01,S1F02DZ2,0,116440096,0,323,9,9,407905,0,0,164

In [61]:


data.dtypes

date          object
device        object
failure        int64
attribute1     int64
attribute2     int64
attribute3     int64
attribute4     int64
attribute5     int64
attribute6     int64
attribute7     int64
attribute8     int64
attribute9     int64
dtype: object

In [62]:
data['failure'].value_counts()

0    124388
1       106
Name: failure, dtype: int64

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
print("\nX_train:\n")
print(X_train.head())
print(X_train.shape)

print("\nX_test:\n")
print(X_test.head())
print(X_test.shape)

X_train:

        attribute1  attribute2  attribute3  attribute4  attribute5  \
19332    234895416           0           0           0           5
53408    106668152           0           0           0           8
71429    167245872           0           0           0          10
105299   102919264           0           2           0          94
40509    211365112           0           0           0           5

        attribute6  attribute7  attribute8  attribute9
19332       157404           0           0           0
53408       272225           0           0           0
71429       267595           0           0           0
105299      250556           0           0           0
40509       260443           0           0           0
(99595, 9)

X_test:

       attribute1  attribute2  attribute3  attribute4  attribute5  attribute6  \
30058    36187720           0           0           0          12      224987
31653   230413664           0           0           0           8      238198
90204   133397024           0           0           0          12      215288
97386   104445544           0           0           0           9      240054
54740   161000096           0           0           0           7      270954

       attribute7  attribute8  attribute9
30058           0           0           0
31653           0           0           1
90204           0           0           0
97386           0           0           0
54740           0           0           0
(24899, 9)

In [0]:
logisticRegr = LogisticRegression()