<a href="https://colab.research.google.com/github/Granero0011/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Code_challenge_stretch_Goal_(03_20_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

Dataset1= pd.read_csv('https://raw.githubusercontent.com/pierretd/datasets-1/master/BlackFriday.csv')
print(Dataset1.head(5))

   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10             A
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
4                 NaN                 NaN      7969

In [18]:
#Count the NaN in the two columns identified as problematic
print(Dataset1['Product_Category_2'].isnull().sum())
print(Dataset1['Product_Category_3'].isnull().sum())

166986
373299

In [19]:
#use forward fill to replace the NaN value in Category 2
Dataset1['Product_Category_2'] = Dataset1['Product_Category_2'].fillna(method='ffill')
print(Dataset1['Product_Category_2'].isnull().sum())
medianage=Dataset1['Product_Category_2'].median()
Dataset1['Product_Category_2'] = Dataset1['Product_Category_2'].fillna(medianage)
print(Dataset1['Product_Category_2'].isnull().sum())

1
0

In [20]:
#use forward fill to replace the NaN value in Category 3
Dataset1['Product_Category_3'] = Dataset1['Product_Category_3'].fillna(method='ffill')
print(Dataset1['Product_Category_3'].isnull().sum())
medianage=Dataset1['Product_Category_3'].median()
Dataset1['Product_Category_3'] = Dataset1['Product_Category_3'].fillna(medianage)
print(Dataset1['Product_Category_3'].isnull().sum())

1
0

In [21]:
#Rename the Dataset Header
Dataset1=Dataset1.rename(index=str, columns={"Product_Category_1": "Soap", "Product_Category_2": "Butter", "Product_Category_3":"Fish"})
print(Dataset1.head(5))

   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10             A
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Soap  Butter  Fish  Purchase
0                          2               0     3     9.0  14.0      8370
1                          2               0     1     6.0  14.0     15200
2                          2               0    12     6.0  14.0      1422
3                          2               0    12    14.0  14.0      1057
4                         4+               0     8    14.0  14.0      7969

In [26]:
#Count the number of unique user id
print(Dataset1['User_ID'].isnull().sum())

print('Unique Values_User_ID')
counting =np.unique(Dataset1['User_ID'])
print(len(counting))

#Count the number of unique age brackets
print('Unique Values_Age Bracket')
counting =np.unique(Dataset1['Age'])
print(len(counting))

0
Unique Values_User_ID
5891
Unique Values_Age Bracket
7