<a href="https://colab.research.google.com/github/aapte11/DS-Sprint-01-Dealing-With-Data/blob/master/Coding_Challenge_11_5_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
joe = { 'name': 'Joe', 'is_female': False, 'age': 19 }
alice = { 'name': 'Alice', 'is_female': True, 'age': 20 }
sarah = { 'name': 'Sarah', 'is_female': True, 'age': 20 }
students = [joe, alice, sarah]

In [2]:
students

[{'age': 19, 'is_female': False, 'name': 'Joe'},
 {'age': 20, 'is_female': True, 'name': 'Alice'},
 {'age': 20, 'is_female': True, 'name': 'Sarah'}]

In [5]:
grow_mart = {'name': 'Grow Mart', 'year_founded': 1973, 'revenues': 265000, 'expenses' : 183000}
plant_depot = {'name': 'Plant Depot', 'year_founded': 1973, 'revenues': 302000, 'expenses' : 240000}
trees_r_us = {'name': 'Trees R Us', 'year_founded': 1985, 'revenues': 123000, 'expenses' : 130000}

# Adding new key and values to dictionary: dict['new_key'] = value

grow_mart['is_profitable'] = grow_mart['revenues'] > grow_mart['expenses']
plant_depot['is_profitable'] = plant_depot['revenues'] > plant_depot['expenses']
trees_r_us['is_profitable'] = trees_r_us['revenues'] > trees_r_us['expenses']

plant_stores = [grow_mart, plant_depot, trees_r_us]


plant_stores

[{'expenses': 183000,
  'is_profitable': True,
  'name': 'Grow Mart',
  'revenues': 265000,
  'year_founded': 1973},
 {'expenses': 240000,
  'is_profitable': True,
  'name': 'Plant Depot',
  'revenues': 302000,
  'year_founded': 1973},
 {'expenses': 130000,
  'is_profitable': False,
  'name': 'Trees R Us',
  'revenues': 123000,
  'year_founded': 1985}]

In [7]:
# For Loop addition

grow_mart = {'name': 'Grow Mart', 'year_founded': 1973, 'revenues': 265000, 'expenses' : 183000}
plant_depot = {'name': 'Plant Depot', 'year_founded': 1973, 'revenues': 302000, 'expenses' : 240000}
trees_r_us = {'name': 'Trees R Us', 'year_founded': 1985, 'revenues': 123000, 'expenses' : 130000}

plant_stores = [grow_mart, plant_depot, trees_r_us]

# Adding new key and values to dictionary: dict['new_key'] = value

for ps in plant_stores:
  ps['is_profitable'] = ps['revenues'] > ps['expenses']
  
  
plant_stores  

# grow_mart['is_profitable'] = grow_mart['revenues'] > grow_mart['expenses']
# plant_depot['is_profitable'] = plant_depot['revenues'] > plant_depot['expenses']
# trees_r_us['is_profitable'] = trees_r_us['revenues'] > trees_r_us['expenses']

[{'expenses': 183000,
  'is_profitable': True,
  'name': 'Grow Mart',
  'revenues': 265000,
  'year_founded': 1973},
 {'expenses': 240000,
  'is_profitable': True,
  'name': 'Plant Depot',
  'revenues': 302000,
  'year_founded': 1973},
 {'expenses': 130000,
  'is_profitable': False,
  'name': 'Trees R Us',
  'revenues': 123000,
  'year_founded': 1985}]