<a href="https://colab.research.google.com/github/JLDaniel77/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Copy_of_LS_DS_112_Loading_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Loading Data

Data comes in many shapes and sizes - we'll start by loading tabular data, usually in csv format.

Data set sources:

- https://archive.ics.uci.edu/ml/datasets.html
- https://github.com/awesomedata/awesome-public-datasets
- https://registry.opendata.aws/ (beyond scope for now, but good to be aware of)

Let's start with an example - [data about flags](https://archive.ics.uci.edu/ml/datasets/Flags).

## Lecture example - flag data

In [0]:
# Step 1 - find the actual file to download

# From navigating the page, clicking "Data Folder"
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

# You can "shell out" in a notebook for more powerful tools
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# Funny extension, but on inspection looks like a csv
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data

# Extensions are just a norm! You have to inspect to be sure what something is

In [0]:
# Step 2 - load the data

# How to deal with a csv? üêº
import pandas as pd
flag_data = pd.read_csv(flag_data_url)

In [0]:
# Step 3 - verify we've got *something*
flag_data.head()

In [0]:
# Step 4 - Looks a bit odd - verify that it is what we want
flag_data.count()

In [0]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data | wc

In [0]:
# So we have 193 observations with funny names, file has 194 rows
# Looks like the file has no header row, but read_csv assumes it does
help(pd.read_csv)

In [0]:
# Alright, we can pass header=None to fix this
flag_data = pd.read_csv(flag_data_url, header=None)
flag_data.head()

In [0]:
flag_data.count()

In [0]:
flag_data.isna().sum()

### Yes, but what does it *mean*?

This data is fairly nice - it was "donated" and is already "clean" (no missing values). But there are no variable names - so we have to look at the codebook (also from the site).

```
1. name: Name of the country concerned
2. landmass: 1=N.America, 2=S.America, 3=Europe, 4=Africa, 4=Asia, 6=Oceania
3. zone: Geographic quadrant, based on Greenwich and the Equator; 1=NE, 2=SE, 3=SW, 4=NW
4. area: in thousands of square km
5. population: in round millions
6. language: 1=English, 2=Spanish, 3=French, 4=German, 5=Slavic, 6=Other Indo-European, 7=Chinese, 8=Arabic, 9=Japanese/Turkish/Finnish/Magyar, 10=Others
7. religion: 0=Catholic, 1=Other Christian, 2=Muslim, 3=Buddhist, 4=Hindu, 5=Ethnic, 6=Marxist, 7=Others
8. bars: Number of vertical bars in the flag
9. stripes: Number of horizontal stripes in the flag
10. colours: Number of different colours in the flag
11. red: 0 if red absent, 1 if red present in the flag
12. green: same for green
13. blue: same for blue
14. gold: same for gold (also yellow)
15. white: same for white
16. black: same for black
17. orange: same for orange (also brown)
18. mainhue: predominant colour in the flag (tie-breaks decided by taking the topmost hue, if that fails then the most central hue, and if that fails the leftmost hue)
19. circles: Number of circles in the flag
20. crosses: Number of (upright) crosses
21. saltires: Number of diagonal crosses
22. quarters: Number of quartered sections
23. sunstars: Number of sun or star symbols
24. crescent: 1 if a crescent moon symbol present, else 0
25. triangle: 1 if any triangles present, 0 otherwise
26. icon: 1 if an inanimate image present (e.g., a boat), otherwise 0
27. animate: 1 if an animate image (e.g., an eagle, a tree, a human hand) present, 0 otherwise
28. text: 1 if any letters or writing on the flag (e.g., a motto or slogan), 0 otherwise
29. topleft: colour in the top-left corner (moving right to decide tie-breaks)
30. botright: Colour in the bottom-left corner (moving left to decide tie-breaks)
```

Exercise - read the help for `read_csv` and figure out how to load the data with the above variable names. One pitfall to note - with `header=None` pandas generated variable names starting from 0, but the above list starts from 1...

## Your assignment - pick a dataset and do something like the above

This is purposely open-ended - you can pick any data set you wish. It is highly advised you pick a dataset from UCI or a similar "clean" source.

If you get that done and want to try more challenging or exotic things, go for it! Use documentation as illustrated above, and follow the 20-minute rule (that is - ask for help if you're stuck).

If you have loaded a few traditional datasets, see the following section for suggested stretch goals.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed
import pandas as pd

# Assign data url to variable
mpg_data_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

# load data
df = pd.read_csv(mpg_data_url)

# inspect data
df.head()

  18.0   8   307.0      130.0      3504.      12.0   70  1\t"chevrolet chevelle malibu"
0  15.0   8   350.0      165.0      3693.      11...
1  18.0   8   318.0      150.0      3436.      11...
2  16.0   8   304.0      150.0      3433.      12...
3  17.0   8   302.0      140.0      3449.      10...
4  15.0   8   429.0      198.0      4341.      10...

In [0]:
# Data is missing headers, reload data with column names
df = pd.read_csv(mpg_data_url, header=None, names=['mpg', 'cylinders', 'displacement',
                                                  'horsepower', 'weight', 'acceleration',
                                                  'model year', 'origin', 'car name'])

# Inspect data
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0 8 307.0 130.0 3504. 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15.0 8 350.0 165.0 3693. 11...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18.0 8 318.0 150.0 3436. 11...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16.0 8 304.0 150.0 3433. 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17.0 8 302.0 140.0 3449. 10...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
# Data is combined into 1 column, reload data 
df = pd.read_csv(mpg_data_url, sep='\s+', header=None, names=['mpg', 'cylinders', 'displacement',
                                                  'horsepower', 'weight', 'acceleration',
                                                  'model year', 'origin', 'car name'])

# Inspect data
df.head(50)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170.0,3563.0,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609.0,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761.0,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086.0,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95.00,2372.0,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95.00,2833.0,15.5,70,1,plymouth duster
16,18.0,6,199.0,97.00,2774.0,15.5,70,1,amc hornet
17,21.0,6,200.0,85.00,2587.0,16.0,70,1,ford maverick
18,27.0,4,97.0,88.00,2130.0,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.00,1835.0,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.00,2672.0,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.00,2430.0,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.00,2375.0,17.5,70,2,saab 99e
23,26.0,4,121.0,113.0,2234.0,12.5,70,2,bmw 2002
24,21.0,6,199.0,90.00,2648.0,15.0,70,1,amc gremlin
25,10.0,8,360.0,215.0,4615.0,14.0,70,1,ford f250
26,10.0,8,307.0,200.0,4376.0,15.0,70,1,chevy c20
27,11.0,8,318.0,210.0,4382.0,13.5,70,1,dodge d200
28,9.0,8,304.0,193.0,4732.0,18.5,70,1,hi 1200d
29,27.0,4,97.0,88.00,2130.0,14.5,71,3,datsun pl510
30,28.0,4,140.0,90.00,2264.0,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95.00,2228.0,14.0,71,3,toyota corona
32,25.0,4,98.0,?,2046.0,19.0,71,1,ford pinto
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin
34,16.0,6,225.0,105.0,3439.0,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100.0,3329.0,15.5,71,1,chevrolet chevelle malibu
36,19.0,6,250.0,88.00,3302.0,15.5,71,1,ford torino 500
37,18.0,6,232.0,100.0,3288.0,15.5,71,1,amc matador
38,14.0,8,350.0,165.0,4209.0,12.0,71,1,chevrolet impala
39,14.0,8,400.0,175.0,4464.0,11.5,71,1,pontiac catalina brougham
40,14.0,8,351.0,153.0,4154.0,13.5,71,1,ford galaxie 500
41,14.0,8,318.0,150.0,4096.0,13.0,71,1,plymouth fury iii
42,12.0,8,383.0,180.0,4955.0,11.5,71,1,dodge monaco (sw)
43,13.0,8,400.0,170.0,4746.0,12.0,71,1,ford country squire (sw)
44,13.0,8,400.0,175.0,5140.0,12.0,71,1,pontiac safari (sw)
45,18.0,6,258.0,110.0,2962.0,13.5,71,1,amc hornet sportabout (sw)
46,22.0,4,140.0,72.00,2408.0,19.0,71,1,chevrolet vega (sw)
47,19.0,6,250.0,100.0,3282.0,15.0,71,1,pontiac firebird
48,18.0,6,250.0,88.00,3139.0,14.5,71,1,ford mustang
49,23.0,4,122.0,86.00,2220.0,14.0,71,1,mercury capri 2000

In [0]:
import numpy as np

df_nan_values = df.replace('?', np.NaN)
df_nan_values.head(50)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170.0,3563.0,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609.0,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761.0,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086.0,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95.00,2372.0,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95.00,2833.0,15.5,70,1,plymouth duster
16,18.0,6,199.0,97.00,2774.0,15.5,70,1,amc hornet
17,21.0,6,200.0,85.00,2587.0,16.0,70,1,ford maverick
18,27.0,4,97.0,88.00,2130.0,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.00,1835.0,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.00,2672.0,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.00,2430.0,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.00,2375.0,17.5,70,2,saab 99e
23,26.0,4,121.0,113.0,2234.0,12.5,70,2,bmw 2002
24,21.0,6,199.0,90.00,2648.0,15.0,70,1,amc gremlin
25,10.0,8,360.0,215.0,4615.0,14.0,70,1,ford f250
26,10.0,8,307.0,200.0,4376.0,15.0,70,1,chevy c20
27,11.0,8,318.0,210.0,4382.0,13.5,70,1,dodge d200
28,9.0,8,304.0,193.0,4732.0,18.5,70,1,hi 1200d
29,27.0,4,97.0,88.00,2130.0,14.5,71,3,datsun pl510
30,28.0,4,140.0,90.00,2264.0,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95.00,2228.0,14.0,71,3,toyota corona
32,25.0,4,98.0,NaN,2046.0,19.0,71,1,ford pinto
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin
34,16.0,6,225.0,105.0,3439.0,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100.0,3329.0,15.5,71,1,chevrolet chevelle malibu
36,19.0,6,250.0,88.00,3302.0,15.5,71,1,ford torino 500
37,18.0,6,232.0,100.0,3288.0,15.5,71,1,amc matador
38,14.0,8,350.0,165.0,4209.0,12.0,71,1,chevrolet impala
39,14.0,8,400.0,175.0,4464.0,11.5,71,1,pontiac catalina brougham
40,14.0,8,351.0,153.0,4154.0,13.5,71,1,ford galaxie 500
41,14.0,8,318.0,150.0,4096.0,13.0,71,1,plymouth fury iii
42,12.0,8,383.0,180.0,4955.0,11.5,71,1,dodge monaco (sw)
43,13.0,8,400.0,170.0,4746.0,12.0,71,1,ford country squire (sw)
44,13.0,8,400.0,175.0,5140.0,12.0,71,1,pontiac safari (sw)
45,18.0,6,258.0,110.0,2962.0,13.5,71,1,amc hornet sportabout (sw)
46,22.0,4,140.0,72.00,2408.0,19.0,71,1,chevrolet vega (sw)
47,19.0,6,250.0,100.0,3282.0,15.0,71,1,pontiac firebird
48,18.0,6,250.0,88.00,3139.0,14.5,71,1,ford mustang
49,23.0,4,122.0,86.00,2220.0,14.0,71,1,mercury capri 2000

In [0]:
# Check for missing data
df_nan_values.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [0]:
print(df_nan_values.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [0]:
# Fill forward to replace nan values
df_no_nan = df_nan_values.fillna(method='ffill')
df_no_nan.head(50)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170.0,3563.0,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609.0,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761.0,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086.0,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95.00,2372.0,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95.00,2833.0,15.5,70,1,plymouth duster
16,18.0,6,199.0,97.00,2774.0,15.5,70,1,amc hornet
17,21.0,6,200.0,85.00,2587.0,16.0,70,1,ford maverick
18,27.0,4,97.0,88.00,2130.0,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.00,1835.0,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87.00,2672.0,17.5,70,2,peugeot 504
21,24.0,4,107.0,90.00,2430.0,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95.00,2375.0,17.5,70,2,saab 99e
23,26.0,4,121.0,113.0,2234.0,12.5,70,2,bmw 2002
24,21.0,6,199.0,90.00,2648.0,15.0,70,1,amc gremlin
25,10.0,8,360.0,215.0,4615.0,14.0,70,1,ford f250
26,10.0,8,307.0,200.0,4376.0,15.0,70,1,chevy c20
27,11.0,8,318.0,210.0,4382.0,13.5,70,1,dodge d200
28,9.0,8,304.0,193.0,4732.0,18.5,70,1,hi 1200d
29,27.0,4,97.0,88.00,2130.0,14.5,71,3,datsun pl510
30,28.0,4,140.0,90.00,2264.0,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95.00,2228.0,14.0,71,3,toyota corona
32,25.0,4,98.0,95.00,2046.0,19.0,71,1,ford pinto
33,19.0,6,232.0,100.0,2634.0,13.0,71,1,amc gremlin
34,16.0,6,225.0,105.0,3439.0,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100.0,3329.0,15.5,71,1,chevrolet chevelle malibu
36,19.0,6,250.0,88.00,3302.0,15.5,71,1,ford torino 500
37,18.0,6,232.0,100.0,3288.0,15.5,71,1,amc matador
38,14.0,8,350.0,165.0,4209.0,12.0,71,1,chevrolet impala
39,14.0,8,400.0,175.0,4464.0,11.5,71,1,pontiac catalina brougham
40,14.0,8,351.0,153.0,4154.0,13.5,71,1,ford galaxie 500
41,14.0,8,318.0,150.0,4096.0,13.0,71,1,plymouth fury iii
42,12.0,8,383.0,180.0,4955.0,11.5,71,1,dodge monaco (sw)
43,13.0,8,400.0,170.0,4746.0,12.0,71,1,ford country squire (sw)
44,13.0,8,400.0,175.0,5140.0,12.0,71,1,pontiac safari (sw)
45,18.0,6,258.0,110.0,2962.0,13.5,71,1,amc hornet sportabout (sw)
46,22.0,4,140.0,72.00,2408.0,19.0,71,1,chevrolet vega (sw)
47,19.0,6,250.0,100.0,3282.0,15.0,71,1,pontiac firebird
48,18.0,6,250.0,88.00,3139.0,14.5,71,1,ford mustang
49,23.0,4,122.0,86.00,2220.0,14.0,71,1,mercury capri 2000

In [0]:
print(df_no_nan.dtypes)
print(df_no_nan.isnull().sum())

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [0]:
# Horsepower still showing as type object, cast feature as float
df_no_nan['horsepower'] = df_no_nan['horsepower'].astype(float)

In [0]:
# Check data types
df_no_nan.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [0]:
# Use one hot encoding on column 'car name' to convert categorical data to boolean
df_cleaned = pd.get_dummies(df_no_nan, columns=['car name'])
df_cleaned.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name_amc ambassador brougham,car name_amc ambassador dpl,...,car name_volvo 145e (sw),car name_volvo 244dl,car name_volvo 245,car name_volvo 264gl,car name_volvo diesel,car name_vw dasher (diesel),car name_vw pickup,car name_vw rabbit,car name_vw rabbit c (diesel),car name_vw rabbit custom
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.