# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [19]:
# TODO - your code here
# Use what we did live in lecture as an example

# importing panda and files from google.colab, which enable us to load local files into colab

import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (2).csv

In [0]:
# use 'io' to import and read the uploaded csv

import io
dftest_timebox = pd.read_csv(io.StringIO(uploaded['test.csv'].decode('utf-8')))

In [116]:
# checking if data was loaded
dftest_timebox.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,year
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,2007-07-14,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...",2007
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,2058-05-19,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",2058
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,1997-05-23,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",1997
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,2010-09-04,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de...",2010
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,2005-02-11,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de...",2005

In [0]:
# cheking the data counts
dftest_timebox.count()

In [118]:
# checking for the sum null values

dftest_timebox.isna().sum()

id                          0
belongs_to_collection    3521
budget                      0
genres                     16
homepage                 2978
imdb_id                     0
original_language           0
original_title              0
overview                   14
popularity                  0
poster_path                 1
production_companies      258
production_countries      102
release_date                0
runtime                     4
spoken_languages           42
status                      2
tagline                   863
title                       3
Keywords                  393
cast                       13
crew                       22
year                        0
dtype: int64

In [123]:
# We have a lot of missing data! I will clean 4 columns only
# First I will drop the 'homepage' becuase there is a lot of missing data, its seemingly irrelvant, and its hard to infer to correctly infer the right name
dftest_timebox.drop(columns = 'homepage').head()

,id,belongs_to_collection,budget,genres,imdb_id,original_language,original_title,overview,popularity,poster_path,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,/sEUG3qjxwHjxkzuO7plrRHhOZUH.jpg,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,/n4WC3zbelz6SG7rhkWbf8m9pMHB.jpg,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [0]:
list_date

In [0]:
import numpy as np

In [142]:
# date is only missing one value, so we will give it a random date based on the list of unqie available dates.
list_date = list(set(dftest_timebox['release_date'].dropna()))
dftest_timebox['release_date'] = dftest_timebox['release_date'].fillna(np.random.choice(list_date))
dftest_timebox.isna().sum()

id                          0
belongs_to_collection    3521
budget                      0
genres                     16
homepage                 2978
imdb_id                     0
original_language           0
original_title              0
overview                   14
popularity                  0
poster_path                 1
production_companies      258
production_countries      102
release_date                0
runtime                     4
spoken_languages           42
status                      2
tagline                   863
title                       3
Keywords                  393
cast                       13
crew                       22
year                        1
dtype: int64

In [0]:
# Manipulating date data so I can only take only the year of release, which would allow me to more understand the relationship between the budget and the year of release

dftest_timebox['year'] = pd.to_datetime(dftest_timebox['release_date']).dt.year

dftest_timebox['year'] =  dftest_timebox.year.astype(np.int64)

dftest_timebox.head()

In [0]:
# I was unable to take only the year of production correctly, as every time I would do it the years go from 58 to 2058 rather than 1958.

In [112]:
is_released_unique = list(set(dftest_timebox.status.dropna()))
is_released_unique

['Rumored', 'Post Production', 'Released']

In [152]:
# Originally I wanted to fill this coluumn according to the year, if it was higher than the maximum date of a released movie by a year, then we'd fill 'Post production', more than that 'rumored', etc.
# But I will give in and fill the randomly
dftest_timebox.status = dftest_timebox.status.fillna(np.random.choice(is_released_unique))
dftest_timebox.status.isna().sum()

0

In [0]:
# Iwas attempting to fill the missing 'countries' based on a the list of countries below by mapping the lang acronym to its relevant country
# but i found it to hard to fill it in the columns due its nature " [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso... ", so I will not use country but rather language as replacement independent variable.
# we will fill the 'country' NA based on the 'original_language' of the movie, which should give us the best estimate of the country
unique_lang = list(set(dftest_timebox.original_language))
unique_lang

In [0]:
country_lang_dict = {"AF" : "Afganistan",
"AX" : "Ålandeilande",
"AL" : "Albanië",
"DZ" : "Algerië",
"AS" : "Amerikaanse Samoa",
"AD" : "Andorra",
"AO" : "Angola",
"AI" : "Anguilla",
"AQ" : "Antarktika",
"AG" : "Antigua en Barbuda",
"AR" : "Argentinië",
"AM" : "Armenië",
"AW" : "Aruba",
"AC" : "Ascensioneiland",
"AU" : "Australië",
"AZ" : "Azerbeidjan",
"BS" : "Bahamas",
"BH" : "Bahrein",
"BD" : "Bangladesj",
"BB" : "Barbados",
"BY" : "Belarus",
"BE" : "België",
"BZ" : "Belize",
"BJ" : "Benin",
"BM" : "Bermuda",
"BT" : "Bhoetan",
"BO" : "Bolivië",
"BA" : "Bosnië en Herzegowina",
"BW" : "Botswana",
"BR" : "Brasilië",
"IO" : "Brits-Indiese Oseaangebied",
"VG" : "Britse Maagde-eilande",
"BN" : "Broenei",
"BG" : "Bulgarye",
"BF" : "Burkina Faso",
"BI" : "Burundi",
"EA" : "Ceuta en Melilla",
"CL" : "Chili",
"CO" : "Colombië",
"KM" : "Comore",
"CK" : "Cookeilande",
"CR" : "Costa Rica",
"CW" : "Curaçao",
"CD" : "Demokratiese Republiek van die Kongo",
"DK" : "Denemarke",
"DG" : "Diego Garcia",
"DJ" : "Djiboeti",
"DM" : "Dominica",
"DO" : "Dominikaanse Republiek",
"DE" : "Duitsland",
"EC" : "Ecuador",
"EG" : "Egipte",
"IM" : "Eiland Man",
"GQ" : "Ekwatoriaal-Guinee",
"SV" : "El Salvador",
"ER" : "Eritrea",
"EE" : "Estland",
"ET" : "Ethiopië",
"FK" : "Falklandeilande",
"FO" : "Faroëreilande",
"FJ" : "Fidji",
"PH" : "Filippyne",
"FI" : "Finland",
"FR" : "Frankryk",
"GF" : "Frans-Guyana",
"PF" : "Frans-Polinesië",
"TF" : "Franse Suidelike Gebiede",
"GA" : "Gaboen",
"GM" : "Gambië",
"GE" : "Georgië",
"GH" : "Ghana",
"GI" : "Gibraltar",
"GD" : "Grenada",
"GR" : "Griekeland",
"GL" : "Groenland",
"GP" : "Guadeloupe",
"GU" : "Guam",
"GT" : "Guatemala",
"GG" : "Guernsey",
"GN" : "Guinee",
"GW" : "Guinee-Bissau",
"GY" : "Guyana",
"HT" : "Haïti",
"HN" : "Honduras",
"HU" : "Hongarye",
"HK" : "Hongkong SAS Sjina",
"IE" : "Ierland",
"IN" : "Indië",
"ID" : "Indonesië",
"IQ" : "Irak",
"IR" : "Iran",
"IL" : "Israel",
"IT" : "Italië",
"CI" : "Ivoorkus",
"JM" : "Jamaika",
"JP" : "Japan",
"YE" : "Jemen",
"JE" : "Jersey",
"JO" : "Jordanië",
"KY" : "Kaaimanseilande",
"CV" : "Kaap Verde",
"KH" : "Kambodja",
"CM" : "Kameroen",
"CA" : "Kanada",
"IC" : "Kanariese Eilande",
"BQ" : "Karibiese Nederland",
"QA" : "Katar",
"KZ" : "Kazakstan",
"KE" : "Kenia",
"CX" : "Kerseiland",
"KG" : "Kirgistan",
"KI" : "Kiribati",
"UM" : "Klein afgeleë eilande van die VSA",
"KW" : "Koeweit",
"CC" : "Kokoseilande",
"CG" : "Kongo - Brazzaville",
"XK" : "Kosovo",
"HR" : "Kroasië",
"CU" : "Kuba",
"LA" : "Laos",
"LS" : "Lesotho",
"LV" : "Letland",
"LB" : "Libanon",
"LR" : "Liberië",
"LY" : "Libië",
"LI" : "Liechtenstein",
"LT" : "Litaue",
"LU" : "Luxemburg",
"MO" : "Macau SAS Sjina",
"MK" : "Macedonië",
"MG" : "Madagaskar",
"MW" : "Malawi",
"MV" : "Maledive",
"MY" : "Maleisië",
"ML" : "Mali",
"MT" : "Malta",
"MA" : "Marokko",
"MH" : "Marshalleilande",
"MQ" : "Martinique",
"MR" : "Mauritanië",
"MU" : "Mauritius",
"YT" : "Mayotte",
"MX" : "Meksiko",
"MM" : "Mianmar (Birma)",
"FM" : "Mikronesië",
"MD" : "Moldowa",
"MC" : "Monaco",
"MN" : "Mongolië",
"ME" : "Montenegro",
"MS" : "Montserrat",
"MZ" : "Mosambiek",
"NA" : "Namibië",
"NR" : "Nauru",
"NL" : "Nederland",
"NP" : "Nepal",
"NI" : "Nicaragua",
"NC" : "Nieu-Kaledonië",
"NZ" : "Nieu-Seeland",
"NE" : "Niger",
"NG" : "Nigerië",
"NU" : "Niue",
"KP" : "Noord-Korea",
"MP" : "Noord-Mariane-eilande",
"NO" : "Noorweë",
"NF" : "Norfolkeiland",
"UA" : "Oekraïne",
"UZ" : "Oesbekistan",
"OM" : "Oman",
"TL" : "Oos-Timor",
"AT" : "Oostenryk",
"PK" : "Pakistan",
"PW" : "Palau",
"PS" : "Palestynse gebiede",
"PA" : "Panama",
"PG" : "Papoea-Nieu-Guinee",
"PY" : "Paraguay",
"PE" : "Peru",
"PN" : "Pitcairneilande",
"PL" : "Pole",
"PT" : "Portugal",
"XA" : "Pseudo-Accents",
"XB" : "Pseudo-Bidi",
"PR" : "Puerto Rico",
"RE" : "Réunion",
"RO" : "Roemenië",
"RU" : "Rusland",
"RW" : "Rwanda",
"SB" : "Salomonseilande",
"WS" : "Samoa",
"SM" : "San Marino",
"ST" : "São Tomé en Príncipe",
"SA" : "Saoedi-Arabië",
"SN" : "Senegal",
"CF" : "Sentraal-Afrikaanse Republiek",
"RS" : "Serwië",
"SC" : "Seychelle",
"SL" : "Sierra Leone",
"SG" : "Singapoer",
"BL" : "Sint Barthélemy",
"SH" : "Sint Helena",
"KN" : "Sint Kitts en Nevis",
"LC" : "Sint Lucia",
"SX" : "Sint Maarten",
"MF" : "Sint Martin",
"PM" : "Sint Pierre en Miquelon",
"VC" : "Sint Vincent en die Grenadine",
"CY" : "Siprus",
"SY" : "Sirië",
"CN" : "Sjina",
"SK" : "Slowakye",
"SI" : "Slowenië",
"SD" : "Soedan",
"SO" : "Somalië",
"ES" : "Spanje",
"LK" : "Sri Lanka",
"ZA" : "Suid-Afrika",
"GS" : "Suid-Georgië en die Suidelike Sandwicheilande",
"KR" : "Suid-Korea",
"SS" : "Suid-Soedan",
"SR" : "Suriname",
"SJ" : "Svalbard en Jan Mayen",
"SZ" : "Swaziland",
"SE" : "Swede",
"CH" : "Switserland",
"TJ" : "Tadjikistan",
"TW" : "Taiwan",
"TZ" : "Tanzanië",
"TH" : "Thailand",
"TG" : "Togo",
"TK" : "Tokelau",
"TO" : "Tonga",
"TT" : "Trinidad en Tobago",
"TA" : "Tristan da Cunha",
"TD" : "Tsjad",
"CZ" : "Tsjeggië",
"TN" : "Tunisië",
"TM" : "Turkmenistan",
"TC" : "Turks- en Caicoseilande",
"TR" : "Turkye",
"TV" : "Tuvalu",
"UG" : "Uganda",
"UY" : "Uruguay",
"VU" : "Vanuatu",
"VA" : "Vatikaanstad",
"VE" : "Venezuela",
"AE" : "Verenigde Arabiese Emirate",
"GB" : "Verenigde Koninkryk",
"US" : "Verenigde State van Amerika",
"VN" : "Viëtnam",
"VI" : "VSA se Maagde-eilande",
"WF" : "Wallis en Futuna",
"EH" : "Wes-Sahara",
"IS" : "Ysland",
"ZM" : "Zambië",
"ZW" : "Zimbabwe",
}

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

**1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.**

The data above had a lot of missing values that needed to be filled before using the data. So while cleaning it i tried to be as impartial as possible and base my cleaning on a structered basis.

**2.  What was the most challenging part of what you did?**

Chaning the date from a m/d/yy format to a only year format, when converted into datetime, the 58 would become 2058 rather than 1958. I could not find the answer. Another method i tried was to parse the date by "/" and simply and adding the 20 or 19, 58.
And couldn't understand how to assign countries.

**3.  What was the most interesting thing you learned?**


Converting date to datetime

**4.  What area would you like to explore with more time?**


Mapping from dictionary to column.

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.