<a href="https://colab.research.google.com/github/pragmatizt/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Copy_of_LS_DS_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things

import numpy as np


myList = [50, 42, 82, 100, 202]

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [0]:
# TODO - your code here
# Use what we did live in lecture as an example

import pandas as pd
import numpy as np

# load data set

In [1]:
from google.colab import files
uploaded = files.upload()

Saving database.csv to database.csv

In [7]:
df = pd.read_csv("database.csv")
df.head()

  Flight Number    Launch Date  ... Landing Type Landing Outcome
0          F1-1  24 March 2006  ...          NaN             NaN
1          F1-2  21 March 2007  ...          NaN             NaN
2          F1-3  3 August 2008  ...          NaN             NaN
3          F1-3  3 August 2008  ...          NaN             NaN
4          F1-3  3 August 2008  ...          NaN             NaN

[5 rows x 16 columns]

In [9]:
print(df.shape)

(41, 16)

In [10]:
print(df.dtypes)

Flight Number         object
Launch Date           object
Launch Time           object
Launch Site           object
Vehicle Type          object
Payload Name          object
Payload Type          object
Payload Mass (kg)    float64
Payload Orbit         object
Customer Name         object
Customer Type         object
Customer Country      object
Mission Outcome       object
Failure Reason        object
Landing Type          object
Landing Outcome       object
dtype: object

In [0]:
print(df.describe)

In [17]:
# df['Vehicle Type'] <--- used this to learn how to isolate single columns.
# df.columns below to see the column names.  
df.columns

Index(['Flight Number', 'Launch Date', 'Launch Time', 'Launch Site',
       'Vehicle Type', 'Payload Name', 'Payload Type', 'Payload Mass (kg)',
       'Payload Orbit', 'Customer Name', 'Customer Type', 'Customer Country',
       'Mission Outcome', 'Failure Reason', 'Landing Type', 'Landing Outcome'],
      dtype='object')

In [20]:
df[['Vehicle Type', 'Customer Name', 'Payload Type']]

                   Vehicle Type  ...                      Payload Type
0                      Falcon 1  ...                Research Satellite
1                      Falcon 1  ...                               NaN
2                      Falcon 1  ...           Communication Satellite
3                      Falcon 1  ...               Research Satellites
4                      Falcon 1  ...                     Human Remains
5                      Falcon 1  ...                               NaN
6                      Falcon 1  ...                 Weather Satellite
7               Falcon 9 (v1.0)  ...                               NaN
8               Falcon 9 (v1.0)  ...            Space Station Supplies
9               Falcon 9 (v1.0)  ...            Space Station Supplies
10              Falcon 9 (v1.0)  ...            Space Station Supplies
11              Falcon 9 (v1.0)  ...           Communication Satellite
12              Falcon 9 (v1.0)  ...            Space Station Supplies
13              Falcon 9 (v1.1)  ...  Communication/Research Satellite
14              Falcon 9 (v1.1)  ...           Communication Satellite
15              Falcon 9 (v1.1)  ...           Communication Satellite
16              Falcon 9 (v1.1)  ...            Space Station Supplies
17              Falcon 9 (v1.1)  ...           Communication Satellite
18              Falcon 9 (v1.1)  ...           Communication Satellite
19              Falcon 9 (v1.1)  ...           Communication Satellite
20              Falcon 9 (v1.1)  ...            Space Station Supplies
21              Falcon 9 (v1.1)  ...            Space Station Supplies
22              Falcon 9 (v1.1)  ...                 Weather Satellite
23              Falcon 9 (v1.1)  ...           Communication Satellite
24              Falcon 9 (v1.1)  ...           Communication Satellite
25              Falcon 9 (v1.1)  ...            Space Station Supplies
26              Falcon 9 (v1.1)  ...           Communication Satellite
27              Falcon 9 (v1.1)  ...            Space Station Supplies
28  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
29              Falcon 9 (v1.1)  ...                 Weather Satellite
30  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
31  Falcon 9 Full Thrust (v1.2)  ...            Space Station Supplies
32  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
33  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
34  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
35  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
36  Falcon 9 Full Thrust (v1.2)  ...            Space Station Supplies
37  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
38  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
39  Falcon 9 Full Thrust (v1.2)  ...           Communication Satellite
40  Falcon 9 Full Thrust (v1.2)  ...            Space Station Supplies

[41 rows x 3 columns]

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

2.  What was the most challenging part of what you did?

3.  What was the most interesting thing you learned?

4.  What area would you like to explore with more time?

**Assignment Answers**

1.   I pulled a dataset I found on Kaggle relating to SpaceX launches from 2006 to 2017.  Once I uploaded the .csv file to be read on Colab, I ran a few commands to get an idea on what sort of information is available, the amount of data, the shape of the data set, etc.
2.   The most challenging part was taking the baby steps to get the file uploaded.  Some of the initial datasets I found on Kaggle were a bit too complicated, so I chose something simpler to get a better understanding of the process.
3.   Being able to narrow down on a specific column.  The dataset included 16 columns, so I was able to pick three that I found interesting: the types of launch vehicles used, who the customers were for this launches, as well as the type of payload.
4.   I ran out of time, but I'd love to be able to run a command that returns to me:  the count of each discrete variable across the three columns, and then make a histogram out of that information.

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.