<a href="https://colab.research.google.com/github/eliza0shrug/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Copy_of_LS_DS_124_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-05-31 13:37:06--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                <=> ]  21.42M   819KB/s    in 27s

2019-05-31 13:37:34 (802 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22458773]

!wget requests downloads from webpages

In [2]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [3]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","9279.39","9279.39","964.08","964.08","720.61","243.47","0.0","0.0","0.0","Apr-2019","324.23","Apr-2019","Apr-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 12.98%","323.37","B","B5","","n/a","MORTGAGE","35704","Not Verified","Dec-2018","Current","n","","","home_improvement","Home improvement","401xx","KY","0.84","0","Nov-2003","0","69","","5","0","748","11.5%","23","w","8934.25","8934.25","994.35","994.35","665.75","328.60","0.0","0.0","0.0","Apr-2019","323.37","May-2019","Apr-2019","0","","1","Individual","","","","0","0","748","0","0","0","0","44","0","","0","3","748","12","6500","0","0","1","3","150","3452","17.8","0","0","181","100","13","13","0","16","","3","","0","1","1","2","2","16","5","7","1","5","0","0","0","0","95.5","0","0","0","6500","748","4200","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3762.39","3762.39","459.24","459.24","237.61","221.63","0.0","0.0","0.0","Apr-2019","155.68","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2328.06","2328.06","251.94","251.94","171.94","80.00","0.0","0.0","0.0","Apr-2019","84.92","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 18.94%","777.23","D","D2","Postmaster ","10+ years","MORTGAGE","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","713xx","LA","26.52","0","Jun-1987","0","71","75","13","1","12315","24.2%","44","w","29074.35","29074.35","2284.34","2284.34","925.65","1358.69","0.0","0.0","0.0","Apr-2019","777.23","Apr-2019","Apr-2019","0","","1","Individual","","","","0","1208","321915","4","4","2","3","3","87153","88","4","5","998","57","50800","2","15","2","10","24763","13761","8.3","0","0","163","378","4","3","3","4","","4","","0","2","4","4","9","27","8","14","4","13","0","0","0","6","95","0","1","0","372872","99468","15000","94072","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","Administrative","6 years","MORTGAGE","59280","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","490xx","MI","10.51","0","Apr-2011","0","","","8","0","4599","19.1%","13","w","4678.21","4678.21","534.58","534.58","321.79","212.79","0.0","0.0","0.0","Apr-2019","180.69","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","110299","0","1","0","2","14","7150","72","0","2","0","35","24100","1","5","0","4","18383","13800","0","0","0","87","92","15","14","2","77","","14","","0","0","3","3","3","4","6","7","3","8","0","0","0","0","100","0","0","0","136927","11749","13800","10000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 60 months"," 20.89%","620.81","D","D4","Operator","5 years","RENT","68107","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","672xx","KS","0.52","0","Feb-1997","0","","","5","0","976","13%","10","w","22307.21","22307.21","1824.21","1824.21","692.79","1131.42","0.0","0.0","0.0","Apr-2019","620.81","Apr-2019","Apr-2019","1","","1","Individual","","","","0","2693","976","0","0","0","0","36","0","","3","4","0","13","7500","2","2","4","4","195","3300","0","0","0","237","262","10","10","0","10","","9","","0","0","1","3","4","3","5","7","1","5","0","0","0","3","100","0","0","0","7500","976","3300","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","8000","8000","8000"," 36 months"," 23.40%","311.35","E","E1","Manager","10+ years","OWN","43000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","357xx","AL","33.24","0","Jan-1995","0","","107","8","1","9019","81.3%","16","w","7524.80","7524.80","918.45","918.45","475.20","443.25","0.0","0.0","0.0","Apr-2019","311.35","Apr-2019","Apr-2019","0","","1","Individual","","","","0","0","169223","0","3","2","2","7","22059","69","0","0","2174","72","11100","1","1","1","2","21153","126","94.5","0","0","148","287","44","7","1","51","","7","","0","1","4","1","2","8","4","7","4","8","0","0","0","2","100","100","1","0","199744","31078","2300","32206","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

you can see that this is a comma separated file,
delimiter is a new line character

problems? 

percent signs
whitespace
n/a
missing values
the first line is not the header, it is a note
the last lines are summary values, not the last line of the data fram

In [4]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","4816.58","4816.58","1130.71","1130.71","783.42","347.29","0.0","0.0","0.0","Apr-2019","190.21","May-2019","Apr-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","8628.13","8628.13","2072.22","2072.22","1371.87","700.35","0.0","0.0","0.0","Apr-2019","346.76","May-2019","Apr-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4300.52","4300.52","1015.21","1015.21","699.48","315.73","0.0","0.0","0.0","Apr-2019","169.83","May-2019","Apr-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","8553.96","8340.11","1950.72","1901.95","1446.04","504.68","0.0","0.0","0.0","Apr-2019","327.68","May-2019","Apr-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","8662.68","8662.68","2127.09","2127.09","1337.32","789.77","0.0","0.0","0.0","Apr-2019","356.08","May-2019","Apr-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd

In [6]:
df = pd.read_csv('LoanStats_2018Q4.csv')
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(128415, 1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title              zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       10000     10000       10000            36 months  10.33%  324.23      B     B1        NaN       < 1 year   MORTGAGE       280000     Not Verified        Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation 974xx    OR         6.15  2           Jan-1996         0              18                     NaN                    14       0       9082      38%        23        w                   9279.39   9279.39       964.08      964.08          720.61          243.47        0.0                0.0        0.0                     Apr-2019     324.23          Apr-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              671          246828      1           3           2           3           1                  48552        62      1           3           4923       46       23900            2      7           1            7                    17631       11897          43.1    0                        0           158                275                  11                    1              1        11                   NaN                      11                    NaN                            0                     3              4               7           7         10        9             11            4                   14       0                0            0                  4                  91.3           28.6             0                    0         367828          61364             20900          54912                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              9600      9600        9600             36 months  12.98%  323.37      B     B5        NaN       NaN        MORTGAGE       35704      Not Verified        Dec-2018 Current     n          NaN NaN  home_improvement   Home improvement   401xx    KY         0.84  0           Nov-2003         0              69                     NaN                    5        0       748       11.5%      23        w                   8934.25   8934.25       994.35      994.35          665.75          328.60        0.0                0.0        0.0                     Apr-2019     323.37          May-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            748         0           0           0           0           44                 0            NaN     0           3           748        12       6500             0      0           1            3                    150         3452           17.8    0                        0           181                100                  13                    13             0        16                   NaN                      3                     NaN                            0                     1              1               2           2         16        5             7             1                   5        0                0            0                  0                  95.5           0                0                    0         6500            748               4200           0                          NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              4000      4000        4000             36 months  23.40%  155.68      E     E1        Security  3 years    RENT           90000      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation 070xx    NJ         26.33 0           Sep-2006         4              59                     NaN                    15       0       5199      19.2%      20        w                   3762.39   3762.39       459.24      459.24          237.61          221.63        0.0                0.0        0.0                     Apr-2019     155.68          Apr-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            66926       5           4           3           4           5                  61727        86      6           11          1353       68       27100            4      0           4            15                   4462        20174          7.9     0                        0           147                118                  2                     2              0        2                    NaN                      0                     NaN                            0                     5              7               9           9         8         11            12            7                   15       0                0            0                  9                  95             0                0                    0         98655           66926             21900          71555                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              2500      2500        2500             36 months  13.56%  84.92       C     C1        Chef      10+ years  RENT           55000      Not Verified        Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation 109xx    NY         18.24 0           Apr-2001         1              NaN                    45                     9        1       4341      10.3%      34        w                   2328.06   2328.06       251.94      251.94          171.94          80.00         0.0                0.0        0.0                     Apr-2019     84.92           Apr-2019     Apr-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            16901       2           2           1           2           2                  12560        69      2           7           2137       28       42000            1      11          2            9                    1878        34360          5.9     0                        0           140                212                  1                     1              0        1                    NaN                      2                     NaN                            0                     2              5               3           3         16        7             18            5                   9        0                0            0                  3                  100            0                1                    0         60124           16901             36500          18124                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

which way to modify the read_csv call to deal with the header

use header=

or skiprow=1

In [7]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)
print(df.shape)
df.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [8]:
df.isnull().sum

<bound method DataFrame.sum of           id  member_id  ...  settlement_percentage  settlement_term
0       True       True  ...                   True             True
1       True       True  ...                   True             True
2       True       True  ...                   True             True
3       True       True  ...                   True             True
4       True       True  ...                   True             True
5       True       True  ...                   True             True
6       True       True  ...                   True             True
7       True       True  ...                   True             True
8       True       True  ...                   True             True
9       True       True  ...                   True             True
10      True       True  ...                   True             True
11      True       True  ...                   True             True
12      True       True  ...                   True             True
13      True       True  ...                   True             True
14      True       True  ...                   True             True
15      True       True  ...                   True             True
16      True       True  ...                   True             True
17      True       True  ...                   True             True
18      True       True  ...                   True             True
19      True       True  ...                   True             True
20      True       True  ...                   True             True
21      True       True  ...                   True             True
22      True       True  ...                   True             True
23      True       True  ...                   True             True
24      True       True  ...                   True             True
25      True       True  ...                   True             True
26      True       True  ...                   True             True
27      True       True  ...                   True             True
28      True       True  ...                   True             True
29      True       True  ...                   True             True
...      ...        ...  ...                    ...              ...
128382  True       True  ...                   True             True
128383  True       True  ...                   True             True
128384  True       True  ...                   True             True
128385  True       True  ...                   True             True
128386  True       True  ...                   True             True
128387  True       True  ...                   True             True
128388  True       True  ...                   True             True
128389  True       True  ...                   True             True
128390  True       True  ...                   True             True
128391  True       True  ...                   True             True
128392  True       True  ...                   True             True
128393  True       True  ...                   True             True
128394  True       True  ...                   True             True
128395  True       True  ...                   True             True
128396  True       True  ...                   True             True
128397  True       True  ...                   True             True
128398  True       True  ...                   True             True
128399  True       True  ...                   True             True
128400  True       True  ...                   True             True
128401  True       True  ...                   True             True
128402  True       True  ...                   True             True
128403  True       True  ...                   True             True
128404  True       True  ...                   True             True
128405  True       True  ...                   True             True
128406  True       True  ...                   True             True
128407  True       True  ...                   True             True
128408  True       True  ...                   True             True
128409  True       True  ...                   True             True
128410  True       True  ...                   True             True
128411  True       True  ...                   True             True

[128412 rows x 144 columns]>

not enough columns shown

In [0]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [10]:
df.isnull().sum().sort_values(ascending=False)

id                                            128412
member_id                                     128412
url                                           128412
desc                                          128412
hardship_dpd                                  128411
deferral_term                                 128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
orig_projected_additional_accrued_interest    128411
hardship_loan_status                          128411
hardship_reason                               128411
hardship_payoff_balance_amount                128411
hardship_last_payment_amount                  128411
hardship_type                                 128411
hardship_status                               128411
settlement_percentage                         128406
settlement_term                               128406
settlement_status                             128406
settlement_amount                             128406
settlement_date                               128406
debt_settlement_flag_date                     128406
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
dti_joint                                     111630
annual_inc_joint                              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
emp_title                                      20947
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11704
next_pymnt_d                                    5946
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     160
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

drop columns in dataframe?

In [0]:
df_dropped = df.drop(['id', 'url','desc','member_id'], axis=1)

use this when installing pandas

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [12]:
df_dropped.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

try modifying string first

In [13]:
'13.56%'.strip('%')

'13.56'

but it's still a string, needs to be a float

In [25]:
type('13.56%'.strip('%'))

str

In [14]:
float('13.56%'.strip('%'))

13.56

# List Comprehension

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [15]:
example_list = ['13.56%', '13.52%','13.45%']

def remove_percent(string):
  return float(string.strip('%'))

[remove_percent(item) for item in example_list]

[13.56, 13.52, 13.45]

Apply the function to the `int_rate` column

In [0]:
df_dropped['int_rate'] = df_dropped['int_rate'].apply(remove_percent)

In [17]:
df_dropped.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,10000,10000,10000.0,36 months,10.33,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,9279.39,9279.39,964.08,964.08,720.61,243.47,0.0,0.0,0.0,Apr-2019,324.23,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,9600,9600,9600.0,36 months,12.98,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,Dec-2018,Current,n,home_improvement,Home improvement,401xx,KY,0.84,0,Nov-2003,0,69.0,NaN,5,0,748,11.5%,23,w,8934.25,8934.25,994.35,994.35,665.75,328.60,0.0,0.0,0.0,Apr-2019,323.37,May-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,748,0,0,0,0,44.0,0,NaN,0,3,748,12.0,6500,0,0,1,3,150.0,3452.0,17.8,0,0,181.0,100,13,13,0,16.0,NaN,3.0,NaN,0,1,1,2,2,16,5,7,1,5,0.0,0,0,0,95.5,0.0,0,0,6500,748,4200,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,4000,4000,4000.0,36 months,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3762.39,3762.39,459.24,459.24,237.61,221.63,0.0,0.0,0.0,Apr-2019,155.68,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,NaN,45.0,9,1,4341,10.3%,34,w,2328.06,2328.06,251.94,251.94,171.94,80.00,0.0,0.0,0.0,Apr-2019,84.92,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,16901,2,2,1,2,2.0,12560,69.0,2,7,2137,28.0,42000,1,11,2,9,1878.0,34360.0,5.9,0,0,140.0,212,1,1,0,1.0,NaN,2.0,NaN,0,2,5,3,3,16,7,18,5,9,0.0,0,0,3,100.0,0.0,1,0,60124,16901,36500,18124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71.0,75.0,13,1,12315,24.2%,44,w,29074.35,29074.35,2284.34,2284.34,925.65,1358.69,0.0,0.0,0.0,Apr-2019,777.23,Apr-2019,Apr-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,1208,321915,4,4,2,3,3.0,87153,88.0,4,5,998,57.0,50800,2,15,2,10,24763.0,13761.0,8.3,0,0,163.0,378,4,3,3,4.0,NaN,4.0,NaN,0,2,4,4,9,27,8,14,4,13,0.0,0,0,6,95.0,0.0,1,0,372872,99468,15000,94072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_dropped.describe(exclude='number')

              term   grade sub_grade emp_title emp_length home_ownership verification_status   issue_d loan_status pymnt_plan             purpose               title zip_code addr_state earliest_cr_line revol_util initial_list_status last_pymnt_d next_pymnt_d last_credit_pull_d application_type verification_status_joint sec_app_earliest_cr_line hardship_flag                    hardship_type hardship_reason hardship_status hardship_start_date hardship_end_date payment_plan_start_date hardship_loan_status debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date
count       128412  128412    128412    107465     116708         128412              128412    128412      128412     128412              128412              128412   128412     128412           128412     128256              128412       128252       122466             128411           128412                     14848                    16782        128412                                1               1               1                   1                 1                       1                    1               128412                         6                 6               6
unique           2       7        35     43892         11              4                   3         3           7          2                  12                  12      880         50              644       1074                   2            7            3                  9                2                         3                      573             2                                1               1               1                   1                 1                       1                    1                    2                         2                 2               3
top      36 months       A        A4   Teacher  10+ years       MORTGAGE        Not Verified  Oct-2018     Current          n  debt_consolidation  Debt consolidation    112xx         CA         Aug-2006         0%                   w     Apr-2019     May-2019           Apr-2019       Individual              Not Verified                 Aug-2006             N  INTEREST ONLY-3 MONTHS DEFERRAL    UNEMPLOYMENT          ACTIVE            Feb-2019          Apr-2019                Feb-2019    Late (16-30 days)                    N                  Mar-2019            ACTIVE        Mar-2019
freq         88179   38011      9770      2090      38826          63490               58350     46305      120550     128411               70603               70603     1370      17879             1130       1132              114498        74937        67610             122720           111630                      6360                      155        128411                                1               1               1                   1                 1                       1                    1               128406                         5                 4               3

Filter dataframe by term

In [0]:
df_dropped[df_dropped['term'] == ' 36 months']

whitespace has caused a problem here

In [20]:
df_dropped['term'].loc[0]

' 36 months'

In [0]:
#try this
df_dropped[df_dropped['int_rate'] >= 14]

### Clean `emp_title`

Look at top 20 titles

In [0]:
df_dropped['emp_title'].value_counts(dropna=False).head(20)

How often is `emp_title` null?

Clean the title and handle missing values

In [0]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"
  
[clean_title(x) for x in examples]

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
df_dropped[df_dropped['term'] == ' 36 months']

In [0]:
def remove_space(string):
  return int(string.strip(' . months'))

In [23]:
df_dropped['term'].apply(remove_space)

0         36
1         36
2         36
3         36
4         60
5         36
6         60
7         36
8         60
9         60
10        60
11        60
12        60
13        60
14        36
15        36
16        36
17        60
18        60
19        60
20        36
21        36
22        36
23        60
24        60
25        36
26        36
27        36
28        36
29        60
30        60
31        36
32        36
33        36
34        36
35        36
36        36
37        36
38        60
39        36
40        60
41        60
42        36
43        36
44        60
45        36
46        60
47        36
48        36
49        60
50        36
51        60
52        60
53        36
54        60
55        36
56        60
57        36
58        60
59        36
60        36
61        36
62        36
63        60
64        60
65        60
66        60
67        36
68        36
69        36
70        36
71        36
72        36
73        36
74        36
75        60
76        36
77        36
78        60
79        36
80        60
81        60
82        36
83        36
84        36
85        36
86        60
87        36
88        60
89        60
90        60
91        36
92        36
93        36
94        60
95        36
96        36
97        36
98        36
99        36
100       36
101       36
102       60
103       36
104       36
105       60
106       36
107       36
108       36
109       60
110       36
111       60
112       36
113       36
114       60
115       36
116       36
117       36
118       60
119       36
120       60
121       36
122       60
123       60
124       60
125       60
126       36
127       60
128       60
129       36
130       60
131       36
132       60
133       36
134       60
135       60
136       36
137       36
138       36
139       60
140       36
141       36
142       36
143       60
144       60
145       36
146       60
147       36
148       36
149       36
150       36
151       36
152       36
153       60
154       36
155       36
156       60
157       36
158       36
159       36
160       60
161       36
162       36
163       60
164       36
165       36
166       36
167       60
168       36
169       36
170       60
171       36
172       60
173       36
174       60
175       36
176       36
177       36
178       60
179       36
180       36
181       36
182       36
183       36
184       36
185       36
186       36
187       36
188       36
189       60
190       60
191       36
192       36
193       60
194       60
195       36
196       36
197       36
198       36
199       36
200       60
201       36
202       60
203       36
204       36
205       36
206       60
207       36
208       36
209       36
210       36
211       36
212       36
213       60
214       60
215       36
216       36
217       36
218       60
219       60
220       36
221       36
222       60
223       60
224       60
225       36
226       36
227       36
228       60
229       36
230       36
231       36
232       60
233       36
234       36
235       36
236       36
237       36
238       36
239       36
240       60
241       36
242       36
243       36
244       36
245       36
246       36
247       36
248       36
249       60
          ..
128162    36
128163    36
128164    60
128165    36
128166    36
128167    36
128168    36
128169    36
128170    36
128171    36
128172    36
128173    36
128174    36
128175    36
128176    36
128177    36
128178    36
128179    60
128180    36
128181    36
128182    60
128183    36
128184    36
128185    36
128186    36
128187    60
128188    60
128189    60
128190    60
128191    36
128192    60
128193    60
128194    36
128195    36
128196    36
128197    36
128198    36
128199    36
128200    36
128201    36
128202    36
128203    36
128204    36
128205    60
128206    36
128207    36
128208    36
128209    36
128210    36
128211    60
128212    36
128213    60
128214    36
128215    36
128216    60
128217    36
128218    36
128219    36
128220    60
128221    36
128222    60
128223    36
128224    60
128225    36
128226    36
128227    36
128228    36
128229    36
128230    36
128231    36
128232    36
128233    36
128234    36
128235    36
128236    36
128237    36
128238    36
128239    36
128240    36
128241    36
128242    60
128243    36
128244    36
128245    36
128246    36
128247    36
128248    60
128249    60
128250    36
128251    36
128252    60
128253    36
128254    36
128255    60
128256    36
128257    36
128258    36
128259    36
128260    36
128261    36
128262    36
128263    60
128264    36
128265    36
128266    36
128267    36
128268    60
128269    36
128270    36
128271    36
128272    36
128273    60
128274    36
128275    36
128276    36
128277    60
128278    36
128279    36
128280    36
128281    36
128282    36
128283    36
128284    36
128285    36
128286    36
128287    36
128288    36
128289    60
128290    36
128291    36
128292    36
128293    36
128294    36
128295    36
128296    36
128297    36
128298    36
128299    60
128300    36
128301    36
128302    60
128303    36
128304    36
128305    36
128306    36
128307    60
128308    36
128309    36
128310    36
128311    60
128312    36
128313    60
128314    36
128315    36
128316    36
128317    60
128318    36
128319    60
128320    36
128321    60
128322    60
128323    36
128324    60
128325    36
128326    36
128327    36
128328    36
128329    36
128330    60
128331    60
128332    36
128333    36
128334    36
128335    36
128336    36
128337    60
128338    36
128339    36
128340    36
128341    60
128342    36
128343    60
128344    36
128345    60
128346    36
128347    60
128348    36
128349    36
128350    36
128351    60
128352    36
128353    36
128354    36
128355    36
128356    36
128357    36
128358    36
128359    36
128360    60
128361    36
128362    60
128363    36
128364    36
128365    36
128366    36
128367    36
128368    36
128369    36
128370    36
128371    60
128372    36
128373    60
128374    60
128375    36
128376    36
128377    36
128378    60
128379    60
128380    60
128381    36
128382    60
128383    36
128384    36
128385    36
128386    36
128387    60
128388    36
128389    36
128390    36
128391    36
128392    36
128393    36
128394    36
128395    36
128396    60
128397    60
128398    60
128399    36
128400    60
128401    36
128402    60
128403    36
128404    60
128405    36
128406    36
128407    36
128408    36
128409    36
128410    36
128411    36
Name: term, Length: 128412, dtype: int64

# ASSIGNMENT


- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [29]:
df['loan_status'].isnull().sum()

0

In [30]:
pd.value_counts(df_dropped['loan_status'])

Current               120550
Fully Paid              5737
Late (31-120 days)      1030
In Grace Period          470
Late (16-30 days)        401
Charged Off              209
Default                   15
Name: loan_status, dtype: int64

In [51]:
# I just need to find out what the column value is and how to use it

loan_is_good = df_dropped.loan_status == 'Current' or 'Fully Paid'

print(loan_is_good)
# now how to add both current and fully paid?

ValueError: ignored

In [0]:
def loan_stat(string):
  if  == 'Current' or 'Fully Paid':
    return int(1)
  else:
    return int(0)

In [0]:
#work = df_dropped['loan_status'] = df_dropped['loan_status'].apply(remove_percent)

In [47]:
df_dropped['loan_status'].apply(loan_stat)

NameError: ignored

Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
print(df.shape)
df.head()

In [59]:
df_dropped['last_pymnt_d']

0         Apr-2019
1         Apr-2019
2         Apr-2019
3         Apr-2019
4         Apr-2019
5         Apr-2019
6         Apr-2019
7         Apr-2019
8         Apr-2019
9         Apr-2019
10        Apr-2019
11        Apr-2019
12        Apr-2019
13        Apr-2019
14        Apr-2019
15        Apr-2019
16        Apr-2019
17        Apr-2019
18        Apr-2019
19        Apr-2019
20        Apr-2019
21        Apr-2019
22        Apr-2019
23        Apr-2019
24        Apr-2019
25        Apr-2019
26        Apr-2019
27        Apr-2019
28        Apr-2019
29        Apr-2019
30        Apr-2019
31        Apr-2019
32        Apr-2019
33        Apr-2019
34        Apr-2019
35        Apr-2019
36        Apr-2019
37        Apr-2019
38        Apr-2019
39        Apr-2019
40        Apr-2019
41        Apr-2019
42        Apr-2019
43        Apr-2019
44        Apr-2019
45        Apr-2019
46        Apr-2019
47        Apr-2019
48        Apr-2019
49        Apr-2019
50        Apr-2019
51        Apr-2019
52        Apr-2019
53        Mar-2019
54        Apr-2019
55        Apr-2019
56        Apr-2019
57        Apr-2019
58        Feb-2019
59        Mar-2019
60        Apr-2019
61        Apr-2019
62        Apr-2019
63        Apr-2019
64        Apr-2019
65        Apr-2019
66        Apr-2019
67        Apr-2019
68        Apr-2019
69        Apr-2019
70        Feb-2019
71        Apr-2019
72        Apr-2019
73        Mar-2019
74        Apr-2019
75        Apr-2019
76        Apr-2019
77        Apr-2019
78        Apr-2019
79        Mar-2019
80        Apr-2019
81        Mar-2019
82        Feb-2019
83        Apr-2019
84        Apr-2019
85        Apr-2019
86        Apr-2019
87        Apr-2019
88        Apr-2019
89        Apr-2019
90        Mar-2019
91        Apr-2019
92        Apr-2019
93        Mar-2019
94        Apr-2019
95        Apr-2019
96        Apr-2019
97        Apr-2019
98        Apr-2019
99        Feb-2019
100       Apr-2019
101       Apr-2019
102       Apr-2019
103       Apr-2019
104       Mar-2019
105       Apr-2019
106       Mar-2019
107       Apr-2019
108       Apr-2019
109       Apr-2019
110       Apr-2019
111       Apr-2019
112       Mar-2019
113       Apr-2019
114       Apr-2019
115       Apr-2019
116       Apr-2019
117       Apr-2019
118       Apr-2019
119       Apr-2019
120       Apr-2019
121       Apr-2019
122       Apr-2019
123       Apr-2019
124       Apr-2019
125       Apr-2019
126       Apr-2019
127       Apr-2019
128       Apr-2019
129       Apr-2019
130       Apr-2019
131       Feb-2019
132       Apr-2019
133       Apr-2019
134       Apr-2019
135       Apr-2019
136       Mar-2019
137       Apr-2019
138       Apr-2019
139       Apr-2019
140       Apr-2019
141       Apr-2019
142       Apr-2019
143       Apr-2019
144       Apr-2019
145       Apr-2019
146       Apr-2019
147       Apr-2019
148       Jan-2019
149       Apr-2019
150       Apr-2019
151       Apr-2019
152       Apr-2019
153       Apr-2019
154       Apr-2019
155       Apr-2019
156       Apr-2019
157       Apr-2019
158       Apr-2019
159       Apr-2019
160       Apr-2019
161       Apr-2019
162       Apr-2019
163       Apr-2019
164       Mar-2019
165       Apr-2019
166       Apr-2019
167       Apr-2019
168       Apr-2019
169       Apr-2019
170       Apr-2019
171       Apr-2019
172       Apr-2019
173       Apr-2019
174       Apr-2019
175       Apr-2019
176       Apr-2019
177       Apr-2019
178       Apr-2019
179       Apr-2019
180       Apr-2019
181       Apr-2019
182       Apr-2019
183       Apr-2019
184       Apr-2019
185       Feb-2019
186       Apr-2019
187       Apr-2019
188       Apr-2019
189       Apr-2019
190       Apr-2019
191       Apr-2019
192       Apr-2019
193       Apr-2019
194       Apr-2019
195       Apr-2019
196       Apr-2019
197       Apr-2019
198       Apr-2019
199       Apr-2019
200       Apr-2019
201       Apr-2019
202       Apr-2019
203       Apr-2019
204       Apr-2019
205       Apr-2019
206       Apr-2019
207       Apr-2019
208       Apr-2019
209       Apr-2019
210       Apr-2019
211       Feb-2019
212       Apr-2019
213       Apr-2019
214       Apr-2019
215       Apr-2019
216       Apr-2019
217       Apr-2019
218       Apr-2019
219       Apr-2019
220       Apr-2019
221       Apr-2019
222       Apr-2019
223       Apr-2019
224       Apr-2019
225       Apr-2019
226       Apr-2019
227       Apr-2019
228       Apr-2019
229       Apr-2019
230       Apr-2019
231       Apr-2019
232       Apr-2019
233       Apr-2019
234       Apr-2019
235       Apr-2019
236       Apr-2019
237       Apr-2019
238       Apr-2019
239       Apr-2019
240       Apr-2019
241       Apr-2019
242       Apr-2019
243       Apr-2019
244       Apr-2019
245       Apr-2019
246       Apr-2019
247       Apr-2019
248       Apr-2019
249       Apr-2019
            ...
128162    Apr-2019
128163    Mar-2019
128164    Apr-2019
128165    Apr-2019
128166    Apr-2019
128167    Jan-2019
128168    Apr-2019
128169    Apr-2019
128170    Apr-2019
128171    Apr-2019
128172    Apr-2019
128173    Apr-2019
128174    Apr-2019
128175    Apr-2019
128176    Apr-2019
128177    Apr-2019
128178    Apr-2019
128179    Apr-2019
128180    Mar-2019
128181    Apr-2019
128182    Apr-2019
128183    Apr-2019
128184    Apr-2019
128185    Apr-2019
128186    Apr-2019
128187    Apr-2019
128188    Apr-2019
128189    Apr-2019
128190    Mar-2019
128191    Apr-2019
128192    Apr-2019
128193    Apr-2019
128194    Apr-2019
128195    Apr-2019
128196    Apr-2019
128197    Apr-2019
128198    Apr-2019
128199    Apr-2019
128200    Apr-2019
128201    Dec-2018
128202    Apr-2019
128203    Apr-2019
128204    Apr-2019
128205    Apr-2019
128206    Apr-2019
128207         NaN
128208    Apr-2019
128209    Apr-2019
128210    Mar-2019
128211    Apr-2019
128212    Apr-2019
128213    Apr-2019
128214    Apr-2019
128215    Apr-2019
128216    Apr-2019
128217    Apr-2019
128218    Apr-2019
128219    Apr-2019
128220    Apr-2019
128221    Apr-2019
128222    Apr-2019
128223    Apr-2019
128224    Apr-2019
128225    Apr-2019
128226    Apr-2019
128227    Apr-2019
128228    Mar-2019
128229    Apr-2019
128230    Apr-2019
128231    Apr-2019
128232    Mar-2019
128233    Apr-2019
128234    Apr-2019
128235    Apr-2019
128236    Apr-2019
128237    Apr-2019
128238    Apr-2019
128239    Mar-2019
128240    Apr-2019
128241    Apr-2019
128242    Apr-2019
128243    Apr-2019
128244    Mar-2019
128245    Jan-2019
128246    Apr-2019
128247    Apr-2019
128248    Apr-2019
128249    Apr-2019
128250    Apr-2019
128251    Apr-2019
128252    Apr-2019
128253    Apr-2019
128254    Apr-2019
128255    Apr-2019
128256    Apr-2019
128257    Apr-2019
128258    Apr-2019
128259    Apr-2019
128260    Apr-2019
128261    Apr-2019
128262    Apr-2019
128263    Feb-2019
128264    Apr-2019
128265    Apr-2019
128266    Apr-2019
128267    Apr-2019
128268    Apr-2019
128269    Apr-2019
128270    Apr-2019
128271    Nov-2018
128272    Apr-2019
128273    Apr-2019
128274    Mar-2019
128275    Apr-2019
128276    Apr-2019
128277    Mar-2019
128278    Apr-2019
128279    Apr-2019
128280    Apr-2019
128281    Apr-2019
128282    Apr-2019
128283    Feb-2019
128284    Apr-2019
128285    Apr-2019
128286    Apr-2019
128287    Apr-2019
128288    Apr-2019
128289    Apr-2019
128290    Apr-2019
128291    Apr-2019
128292    Apr-2019
128293    Apr-2019
128294    Apr-2019
128295    Apr-2019
128296    Apr-2019
128297    Apr-2019
128298    Mar-2019
128299    Apr-2019
128300    Apr-2019
128301    Apr-2019
128302    Apr-2019
128303    Apr-2019
128304    Mar-2019
128305    Apr-2019
128306    Apr-2019
128307    Apr-2019
128308    Apr-2019
128309    Mar-2019
128310    Apr-2019
128311    Apr-2019
128312    Apr-2019
128313    Apr-2019
128314    Apr-2019
128315    Apr-2019
128316    Apr-2019
128317    Apr-2019
128318    Apr-2019
128319    Jan-2019
128320    Mar-2019
128321    Apr-2019
128322    Apr-2019
128323    Apr-2019
128324    Apr-2019
128325    Apr-2019
128326    Apr-2019
128327    Apr-2019
128328    Oct-2018
128329    Apr-2019
128330    Apr-2019
128331    Apr-2019
128332    Apr-2019
128333    Apr-2019
128334    Apr-2019
128335    Apr-2019
128336    Mar-2019
128337         NaN
128338    Apr-2019
128339    Apr-2019
128340    Apr-2019
128341    Apr-2019
128342    Apr-2019
128343    Apr-2019
128344    Apr-2019
128345    Apr-2019
128346    Apr-2019
128347    Apr-2019
128348    Apr-2019
128349    Mar-2019
128350    Apr-2019
128351    Apr-2019
128352    Mar-2019
128353    Apr-2019
128354    Apr-2019
128355    Mar-2019
128356    Apr-2019
128357    Apr-2019
128358    Apr-2019
128359    Apr-2019
128360    Apr-2019
128361    Apr-2019
128362    Apr-2019
128363    Apr-2019
128364    Apr-2019
128365    Apr-2019
128366    Apr-2019
128367    Nov-2018
128368    Apr-2019
128369    Mar-2019
128370    Apr-2019
128371    Apr-2019
128372    Apr-2019
128373    Apr-2019
128374    Apr-2019
128375    Apr-2019
128376    Apr-2019
128377    Apr-2019
128378    Apr-2019
128379    Apr-2019
128380    Apr-2019
128381    Apr-2019
128382    Apr-2019
128383    Apr-2019
128384    Apr-2019
128385    Apr-2019
128386    Apr-2019
128387    Apr-2019
128388    Apr-2019
128389    Apr-2019
128390    Jan-2019
128391    Apr-2019
128392    Apr-2019
128393    Apr-2019
128394    Mar-2019
128395    Apr-2019
128396    Apr-2019
128397    Apr-2019
128398    Apr-2019
128399    Apr-2019
128400    Apr-2019
128401    Apr-2019
128402    Apr-2019
128403    Apr-2019
128404    Apr-2019
128405    Apr-2019
128406    Apr-2019
128407    Dec-2018
128408    Apr-2019
128409    Apr-2019
128410    Apr-2019
128411    Apr-2019
Name: last_pymnt_d, Length: 128412, dtype: object

In [0]:
def separate(string):
  return int(string.slice(' .2019'))

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01