_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas
- work with dataframe filtering, list comprehensions, and .apply function

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [12]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-07-12 20:50:57--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [              <=>   ]  21.51M   843KB/s    in 28s

2019-07-12 20:51:25 (799 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22559146]

In [0]:
!head LoanStats_2018Q4.csv

In [4]:
!tail LoanStats_2018Q4.csv

tail: cannot open 'LoanStats_2018Q4.csv' for reading: No such file or directory

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd
#pd.set_option('display.max_rows', 500)
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)

In [14]:
df = pd.read_csv('LoanStats_2018Q4.csv.zip')
df.head(20)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title                 emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       5000      5000        5000             36 months  17.97%  180.69      D     D1        Administrative            6 years    MORTGAGE       59280      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      490xx    MI         10.51 0           Apr-2011         0              NaN                    NaN                    8        0       4599      19.1%      13        w                   4456.17   4456.17       895.96           895.96          543.83          352.13        0.0                0.0        0.0                     Jun-2019     180.69          Jul-2019     Jun-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            110299      0           1           0           2           14                 7150         72      0           2           0          35       24100            1      5           0            4                    18383       13800          0       0                        0           87                 92                   15                    14             2        77                   NaN                      14                    NaN                            0                     0              3               3           3         4         6             7             3                   8        0                0            0                  0                  100            0                0                    0         136927          11749             13800          10000                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              25000     25000       25000            60 months  14.47%  587.82      C     C2        teacher                   10+ years  OWN            110000     Not Verified        Dec-2018 Current     n          NaN NaN  credit_card        Credit card refinancing 117xx    NY         26.43 1           Jan-1997         0              7                      NaN                    23       0       39053     45.7%      49        w                   23533.24  23533.24      2908.95          2908.95         1466.76         1442.19       0.0                0.0        0.0                     May-2019     587.82          Jul-2019     Jun-2019           0                          7                           1           Individual       NaN              NaN       NaN                       0              0            95648       0           3           0           0           35                 54716        23      1           2           8422       39       85500            0      1           0            2                    4159        34837          44.5    0                        0           263                246                  10                    10             0        48                   NaN                      NaN                   NaN                            0                     9              13              10          14        21        19            27            13                  23       0                0            1                  1                  98             10               0                    0         179321          95648             62800          91424                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              10000     10000       10000            36 months  10.33%  324.23      B     B1        NaN                       < 1 year   MORTGAGE       280000     Not Verified        Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      974xx    OR         6.15  2           Jan-1996         0              18                     NaN                    14       0       9082      38%        23        w                   8788.59   8788.59       1612.54          1612.54         1211.41         401.13        0.0                0.0        0.0                     May-2019     324.23          Jul-2019     Jun-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              671          246828      1           3           2           3           1                  48552        62      1           3           4923       46       23900            2      7           1            7                    17631       11897          43.1    0                        0           158                275                  11                    1              1        11                   NaN                      11                    NaN                            0                     3              4               7           7         10        9             11            4                   14       0                0            0                  4                  91.3           28.6             0                    0         367828          61364             20900          54912                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              4000      4000        4000             36 months  23.40%  155.68      E     E1        Security                  3 years    RENT           90000      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      070xx    NJ         26.33 0           Sep-2006         4              59                     NaN                    15       0       5199      19.2%      20        w                   3596.15   3596.15       770.6            770.60          403.85          366.75        0.0                0.0        0.0                     May-2019     155.68          Jul-2019     Jun-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            66926       5           4           3           4           5                  61727        86      6           11          1353       68       27100            4      0           4            15                   4462        20174          7.9     0                        0           147                118                  2                     2              0        2                    NaN                      0                     NaN                            0                     5              7               9           9         8         11            12            7                   15       0                0            0                  9                  95             0                0                    0         98655           66926             21900          71555                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              31450     31450       31450            36 months   7.56%  979.16      A     A3        Construction Manager      7 years    MORTGAGE       130000     Verified            Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      895xx    NV         9.29  0           Jul-1997         0              NaN                    NaN                    11       0       65911     63.1%      17        w                   26689.41  26689.41      5802.32          5802.32         4760.59         1041.73       0.0                0.0        0.0                     Jun-2019     979.16          Jul-2019     Jun-2019           0                          NaN                         1           Joint App        239000           12.77     Verified                  0              0            422806      0           0           0           0           75                 0            NaN     0           0           18962      63       104400           0      2           1            0                    42281       29007          53.5    0                        0           89                 257                  28                    28             3        28                   NaN                      11                    NaN                            0                     4              6               6           6         2         10            12            6                   11       0                0            0                  0                  100            33.3             0                    0         519900          65911             62400          0                          64367           Jul-1997                 0                      3                14               60.9               1                   19                    0                                0                                  NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              15500     15500       15500            36 months  10.72%  505.4       B     B2        Administrative Assistant  10+ years  RENT           52000      Not Verified        Dec-2018 Current     n          NaN NaN  credit_card        Credit card refinancing 925xx    CA         16.66 0           Oct-2007         0              NaN                    NaN                    13       0       13496     33.9%      16        w                   13632.26  13632.26      2513.15          2513.15         1867.74         645.41        0.0                0.0        0.0                     May-2019     505.4           Jul-2019     Jun-2019           1                          NaN                         1           Individual       NaN              NaN       NaN                       0              349          19386       1           1           0           1           15                 5890         59      3           4           6061       39       39800            0      2           1            5                    1491        14251          47.4    0                        0           60                 134                  6                     6              0        6                    NaN                      11                    NaN                            0                     6              8               7           9         2         12            14            8                   13       0                0            0                  3                  100            0                0                    0         49742           19386             27100          9942                       NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [15]:
df = pd.read_csv('LoanStats_2018Q4.csv.zip', skiprows=1)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,138,139,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0.0,Apr-2011,0.0,NaN,NaN,8.0,0.0,4599.0,19.1%,13.0,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jun-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,110299.0,0.0,1.0,0.0,2.0,14.0,7150.0,72.0,0.0,2.0,0.0,35.0,24100.0,1.0,5.0,0.0,4.0,18383.0,13800.0,0.0,0.0,0.0,87.0,92.0,15.0,14.0,2.0,77.0,NaN,14.0,NaN,0.0,0.0,3.0,3.0,3.0,4.0,6.0,7.0,3.0,8.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,136927.0,11749.0,13800.0,10000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,25000.0,25000.0,25000.0,60 months,14.47%,587.82,C,C2,teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,117xx,NY,26.43,1.0,Jan-1997,0.0,7.0,NaN,23.0,0.0,39053.0,45.7%,49.0,w,23533.24,23533.24,2908.95,2908.95,1466.76,1442.19,0.0,0.0,0.0,May-2019,587.82,Jul-2019,Jun-2019,0.0,7.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,95648.0,0.0,3.0,0.0,0.0,35.0,54716.0,23.0,1.0,2.0,8422.0,39.0,85500.0,0.0,1.0,0.0,2.0,4159.0,34837.0,44.5,0.0,0.0,263.0,246.0,10.0,10.0,0.0,48.0,NaN,NaN,NaN,0.0,9.0,13.0,10.0,14.0,21.0,19.0,27.0,13.0,23.0,0.0,0.0,1.0,1.0,98.0,10.0,0.0,0.0,179321.0,95648.0,62800.0,91424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,10000.0,10000.0,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2.0,Jan-1996,0.0,18.0,NaN,14.0,0.0,9082.0,38%,23.0,w,8788.59,8788.59,1612.54,1612.54,1211.41,401.13,0.0,0.0,0.0,May-2019,324.23,Jul-2019,Jun-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,671.0,246828.0,1.0,3.0,2.0,3.0,1.0,48552.0,62.0,1.0,3.0,4923.0,46.0,23900.0,2.0,7.0,1.0,7.0,17631.0,11897.0,43.1,0.0,0.0,158.0,275.0,11.0,1.0,1.0,11.0,NaN,11.0,NaN,0.0,3.0,4.0,7.0,7.0,10.0,9.0,11.0,4.0,14.0,0.0,0.0,0.0,4.0,91.3,28.6,0.0,0.0,367828.0,61364.0,20900.0,54912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000.0,4000.0,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0.0,Sep-2006,4.0,59.0,NaN,15.0,0.0,5199.0,19.2%,20.0,w,3596.15,3596.15,770.60,770.60,403.85,366.75,0.0,0.0,0.0,May-2019,155.68,Jul-2019,Jun-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,66926.0,5.0,4.0,3.0,4.0,5.0,61727.0,86.0,6.0,11.0,1353.0,68.0,27100.0,4.0,0.0,4.0,15.0,4462.0,20174.0,7.9,0.0,0.0,147.0,118.0,2.0,2.0,0.0,2.0,NaN,0.0,NaN,0.0,5.0,7.0,9.0,9.0,8.0,11.0,12.0,7.0,15.0,0.0,0.0,0.0,9.0,95.0,0.0,0.0,0.0,98655.0,66926.0,21900.0,71555.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,31450.0,31450.0,31450.0,36 months,7.56%,979.16,A,A3,Construction Manager,7 years,MORTGAGE,130000.0,Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,895xx,NV,9.29,0.0,Jul-1997,0.0,NaN,NaN,11.0,0.0,65911.0,63.1%,17.0,w,26689.41,26689.41,5802.32,5802.32,4760.59,1041.73,0.0,0.0,0.0,Jun-2019,979.16,Jul-2019,Jun-2019,0.0,NaN,1.0,Joint App,239000.0,12.77,Verified,0.0,0.0,422806.0,0.0,0.0,0.0,0.0,75.0,0.0,NaN,0.0,0.0,18962.0,63.0,104400.0,0.0,2.0,1.0,0.0,42281.0,29007.0,53.5,0.0,0.0,89.0,257.0,28.0,28.0,3.0,28.0,NaN,11.0,NaN,0.0,4.0,6.0,6.0,6.0,2.0,10.0,12.0,6.0,11.0,0.0,0.0,0.0,0.0,100.0,33.3,0.0,0.0,519900.0,65911.0,62400.0,0.0,64367.0,Jul-1997,0.0,3.0,14.0,60.9,1.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.shape

(128414, 144)

In [19]:
df.isnull().sum()

id                                            128412
member_id                                     128414
loan_amnt                                          2
funded_amnt                                        2
funded_amnt_inv                                    2
term                                               2
int_rate                                           2
installment                                        2
grade                                              2
sub_grade                                          2
emp_title                                      20949
emp_length                                     11706
home_ownership                                     2
annual_inc                                         2
verification_status                                2
issue_d                                            2
loan_status                                        2
pymnt_plan                                         2
url                                           128414
desc                                          128414
purpose                                            2
title                                              2
zip_code                                           2
addr_state                                         2
dti                                              239
delinq_2yrs                                        2
earliest_cr_line                                   2
inq_last_6mths                                     2
mths_since_last_delinq                         72198
mths_since_last_record                        112964
open_acc                                           2
pub_rec                                            2
revol_bal                                          2
revol_util                                       158
total_acc                                          2
initial_list_status                                2
out_prncp                                          2
out_prncp_inv                                      2
total_pymnt                                        2
total_pymnt_inv                                    2
total_rec_prncp                                    2
total_rec_int                                      2
total_rec_late_fee                                 2
recoveries                                         2
collection_recovery_fee                            2
last_pymnt_d                                     161
last_pymnt_amnt                                    2
next_pymnt_d                                   10815
last_credit_pull_d                                 3
collections_12_mths_ex_med                         2
mths_since_last_major_derog                    99234
policy_code                                        2
application_type                                   2
annual_inc_joint                              111632
dti_joint                                     111632
verification_status_joint                     113566
acc_now_delinq                                     2
tot_coll_amt                                       2
tot_cur_bal                                        2
open_acc_6m                                        2
open_act_il                                        2
open_il_12m                                        2
open_il_24m                                        2
mths_since_rcnt_il                              4480
total_bal_il                                       2
il_util                                        20276
open_rv_12m                                        2
open_rv_24m                                        2
max_bal_bc                                         2
all_util                                          39
total_rev_hi_lim                                   2
inq_fi                                             2
total_cu_tl                                        2
inq_last_12m                                       2
acc_open_past_24mths                               2
avg_cur_bal                                       15
bc_open_to_buy                                  1693
bc_util                                         1756
chargeoff_within_12_mths                           2
delinq_amnt                                        2
mo_sin_old_il_acct                              4480
mo_sin_old_rev_tl_op                               2
mo_sin_rcnt_rev_tl_op                              2
mo_sin_rcnt_tl                                     2
mort_acc                                           2
mths_since_recent_bc                            1593
mths_since_recent_bc_dlq                      103245
mths_since_recent_inq                          16049
mths_since_recent_revol_delinq                 91632
num_accts_ever_120_pd                              2
num_actv_bc_tl                                     2
num_actv_rev_tl                                    2
num_bc_sats                                        2
num_bc_tl                                          2
num_il_tl                                          2
num_op_rev_tl                                      2
num_rev_accts                                      2
num_rev_tl_bal_gt_0                                2
num_sats                                           2
num_tl_120dpd_2m                                2861
num_tl_30dpd                                       2
num_tl_90g_dpd_24m                                 2
num_tl_op_past_12m                                 2
pct_tl_nvr_dlq                                     2
percent_bc_gt_75                                1694
pub_rec_bankruptcies                               2
tax_liens                                          2
tot_hi_cred_lim                                    2
total_bal_ex_mort                                  2
total_bc_limit                                     2
total_il_high_credit_limit                         2
revol_bal_joint                               111632
sec_app_earliest_cr_line                      111632
sec_app_inq_last_6mths                        111632
sec_app_mort_acc                              111632
sec_app_open_acc                              111632
sec_app_revol_util                            111890
sec_app_open_act_il                           111632
sec_app_num_rev_accts                         111632
sec_app_chargeoff_within_12_mths              111632
sec_app_collections_12_mths_ex_med            111632
sec_app_mths_since_last_major_derog           123260
hardship_flag                                      2
hardship_type                                 128413
hardship_reason                               128413
hardship_status                               128413
deferral_term                                 128413
hardship_amount                               128413
hardship_start_date                           128413
hardship_end_date                             128413
payment_plan_start_date                       128413
hardship_length                               128413
hardship_dpd                                  128413
hardship_loan_status                          128413
orig_projected_additional_accrued_interest    128413
hardship_payoff_balance_amount                128413
hardship_last_payment_amount                  128413
debt_settlement_flag                               2
debt_settlement_flag_date                     128376
settlement_status                             128376
settlement_date                               128376
settlement_amount                             128376
settlement_percentage                         128376
settlement_term                               128376
dtype: int64

In [18]:
df.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
128409,NaN,NaN,5000.0,5000.0,5000.0,36 months,13.56%,169.83,C,C1,Payoff Clerk,10+ years,MORTGAGE,35360.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,381xx,TN,11.30,1.0,Jun-2006,0.0,21.0,NaN,9.0,0.0,2597.0,27.3%,15.0,f,4056.68,4056.68,1354.87,1354.87,943.32,411.55,0.0,0.0,0.0,Jun-2019,169.83,Jul-2019,Jun-2019,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,1413.0,69785.0,0.0,2.0,0.0,1.0,16.0,2379.0,40.0,3.0,4.0,1826.0,32.0,9500.0,0.0,0.0,1.0,5.0,8723.0,1174.0,60.9,0.0,0.0,147.0,85.0,9.0,9.0,2.0,10.0,21.0,9.0,21.0,0.0,1.0,3.0,2.0,2.0,6.0,6.0,7.0,3.0,9.0,0.0,0.0,0.0,3.0,92.9,50.0,0.0,0.0,93908.0,4976.0,3000.0,6028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128410,NaN,NaN,10000.0,10000.0,9750.0,36 months,11.06%,327.68,B,B3,NaN,NaN,RENT,44400.0,Source Verified,Oct-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,980xx,WA,11.78,0.0,Oct-2008,2.0,40.0,NaN,15.0,0.0,6269.0,13.1%,25.0,f,8053.98,7852.63,2606.08,2540.93,1946.02,660.06,0.0,0.0,0.0,Jun-2019,327.68,Jul-2019,Jun-2019,0.0,53.0,1.0,Individual,NaN,NaN,NaN,0.0,520.0,16440.0,3.0,1.0,1.0,1.0,2.0,10171.0,100.0,2.0,5.0,404.0,28.0,47700.0,0.0,3.0,5.0,6.0,1265.0,20037.0,2.3,0.0,0.0,61.0,119.0,1.0,1.0,0.0,1.0,NaN,1.0,40.0,1.0,2.0,4.0,6.0,8.0,3.0,14.0,22.0,4.0,15.0,0.0,0.0,0.0,3.0,92.0,0.0,0.0,0.0,57871.0,16440.0,20500.0,10171.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128411,NaN,NaN,10000.0,10000.0,10000.0,36 months,16.91%,356.08,C,C5,Key Accounts Manager,2 years,RENT,80000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,other,Other,021xx,MA,17.72,1.0,Sep-2006,0.0,14.0,NaN,17.0,0.0,1942.0,30.8%,31.0,w,8191.36,8191.36,2839.25,2839.25,1808.64,1030.61,0.0,0.0,0.0,Jun-2019,356.08,Jul-2019,Jun-2019,0.0,25.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,59194.0,0.0,15.0,1.0,1.0,12.0,57252.0,85.0,0.0,0.0,1942.0,80.0,6300.0,0.0,5.0,0.0,1.0,3482.0,2058.0,48.5,0.0,0.0,144.0,142.0,40.0,12.0,0.0,131.0,30.0,NaN,30.0,3.0,1.0,1.0,1.0,5.0,22.0,2.0,9.0,1.0,17.0,0.0,0.0,0.0,1.0,74.2,0.0,0.0,0.0,73669.0,59194.0,4000.0,67369.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
128412,Total amount funded in policy code 1: 2050909275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128413,Total amount funded in policy code 2: 820109297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df = pd.read_csv('LoanStats_2018Q4.csv.zip', skiprows=1, skipfooter=2, engine='python')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,25000,25000,25000.0,60 months,14.47%,587.82,C,C2,teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,credit_card,Credit card refinancing,117xx,NY,26.43,1,Jan-1997,0,7.0,NaN,23,0,39053,45.7%,49,w,23533.24,23533.24,2908.95,2908.95,1466.76,1442.19,0.0,0.0,0.0,May-2019,587.82,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8788.59,8788.59,1612.54,1612.54,1211.41,401.13,0.0,0.0,0.0,May-2019,324.23,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3596.15,3596.15,770.60,770.60,403.85,366.75,0.0,0.0,0.0,May-2019,155.68,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,31450,31450,31450.0,36 months,7.56%,979.16,A,A3,Construction Manager,7 years,MORTGAGE,130000.0,Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,895xx,NV,9.29,0,Jul-1997,0,NaN,NaN,11,0,65911,63.1%,17,w,26689.41,26689.41,5802.32,5802.32,4760.59,1041.73,0.0,0.0,0.0,Jun-2019,979.16,Jul-2019,Jun-2019,0,NaN,1,Joint App,239000.0,12.77,Verified,0,0,422806,0,0,0,0,75.0,0,NaN,0,0,18962,63.0,104400,0,2,1,0,42281.0,29007.0,53.5,0,0,89.0,257,28,28,3,28.0,NaN,11.0,NaN,0,4,6,6,6,2,10,12,6,11,0.0,0,0,0,100.0,33.3,0,0,519900,65911,62400,0,64367.0,Jul-1997,0.0,3.0,14.0,60.9,1.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
print(df.shape)
df.isnull().sum().sort_values(ascending=False)

(128412, 144)

id                                            128412
member_id                                     128412
url                                           128412
desc                                          128412
hardship_dpd                                  128411
deferral_term                                 128411
hardship_amount                               128411
hardship_start_date                           128411
hardship_end_date                             128411
payment_plan_start_date                       128411
hardship_length                               128411
orig_projected_additional_accrued_interest    128411
hardship_loan_status                          128411
hardship_reason                               128411
hardship_payoff_balance_amount                128411
hardship_last_payment_amount                  128411
hardship_type                                 128411
hardship_status                               128411
settlement_percentage                         128374
settlement_term                               128374
settlement_status                             128374
settlement_amount                             128374
settlement_date                               128374
debt_settlement_flag_date                     128374
sec_app_mths_since_last_major_derog           123258
verification_status_joint                     113564
mths_since_last_record                        112962
sec_app_revol_util                            111888
sec_app_open_act_il                           111630
sec_app_num_rev_accts                         111630
sec_app_chargeoff_within_12_mths              111630
sec_app_collections_12_mths_ex_med            111630
dti_joint                                     111630
annual_inc_joint                              111630
revol_bal_joint                               111630
sec_app_earliest_cr_line                      111630
sec_app_inq_last_6mths                        111630
sec_app_mort_acc                              111630
sec_app_open_acc                              111630
mths_since_recent_bc_dlq                      103243
mths_since_last_major_derog                    99232
mths_since_recent_revol_delinq                 91630
mths_since_last_delinq                         72196
emp_title                                      20947
il_util                                        20274
mths_since_recent_inq                          16047
emp_length                                     11704
next_pymnt_d                                   10813
mo_sin_old_il_acct                              4478
mths_since_rcnt_il                              4478
num_tl_120dpd_2m                                2859
bc_util                                         1754
percent_bc_gt_75                                1692
bc_open_to_buy                                  1691
mths_since_recent_bc                            1591
dti                                              237
last_pymnt_d                                     159
revol_util                                       156
all_util                                          37
avg_cur_bal                                       13
last_credit_pull_d                                 1
int_rate                                           0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
purpose                                            0
total_rec_int                                      0
total_acc                                          0
funded_amnt_inv                                    0
funded_amnt                                        0
total_rec_late_fee                                 0
recoveries                                         0
loan_amnt                                          0
collection_recovery_fee                            0
term                                               0
revol_bal                                          0
installment                                        0
pymnt_plan                                         0
loan_status                                        0
title                                              0
zip_code                                           0
addr_state                                         0
issue_d                                            0
delinq_2yrs                                        0
earliest_cr_line                                   0
verification_status                                0
annual_inc                                         0
inq_last_6mths                                     0
home_ownership                                     0
sub_grade                                          0
grade                                              0
open_acc                                           0
pub_rec                                            0
debt_settlement_flag                               0
open_il_12m                                        0
last_pymnt_amnt                                    0
num_sats                                           0
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_tl_30dpd                                       0
collections_12_mths_ex_med                         0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
mort_acc                                           0
mo_sin_rcnt_tl                                     0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_old_rev_tl_op                               0
policy_code                                        0
application_type                                   0
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
hardship_flag                                      0
open_il_24m                                        0
total_bal_il                                       0
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
total_rev_hi_lim                                   0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
chargeoff_within_12_mths                           0
delinq_amnt                                        0
inq_fi                                             0
dtype: int64

In [0]:
df = df.drop(['id','url','desc','member_id'], axis='columns')

In [23]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,25000,25000,25000.0,60 months,14.47%,587.82,C,C2,teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,117xx,NY,26.43,1,Jan-1997,0,7.0,NaN,23,0,39053,45.7%,49,w,23533.24,23533.24,2908.95,2908.95,1466.76,1442.19,0.0,0.0,0.0,May-2019,587.82,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8788.59,8788.59,1612.54,1612.54,1211.41,401.13,0.0,0.0,0.0,May-2019,324.23,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3596.15,3596.15,770.60,770.60,403.85,366.75,0.0,0.0,0.0,May-2019,155.68,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,31450,31450,31450.0,36 months,7.56%,979.16,A,A3,Construction Manager,7 years,MORTGAGE,130000.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,895xx,NV,9.29,0,Jul-1997,0,NaN,NaN,11,0,65911,63.1%,17,w,26689.41,26689.41,5802.32,5802.32,4760.59,1041.73,0.0,0.0,0.0,Jun-2019,979.16,Jul-2019,Jun-2019,0,NaN,1,Joint App,239000.0,12.77,Verified,0,0,422806,0,0,0,0,75.0,0,NaN,0,0,18962,63.0,104400,0,2,1,0,42281.0,29007.0,53.5,0,0,89.0,257,28,28,3,28.0,NaN,11.0,NaN,0,4,6,6,6,2,10,12,6,11,0.0,0,0,0,100.0,33.3,0,0,519900,65911,62400,0,64367.0,Jul-1997,0.0,3.0,14.0,60.9,1.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [24]:
df.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [25]:
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,5000,5000,5000.0,36 months,17.97%,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,25000,25000,25000.0,60 months,14.47%,587.82,C,C2,teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,117xx,NY,26.43,1,Jan-1997,0,7.0,NaN,23,0,39053,45.7%,49,w,23533.24,23533.24,2908.95,2908.95,1466.76,1442.19,0.0,0.0,0.0,May-2019,587.82,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,10000,10000,10000.0,36 months,10.33%,324.23,B,B1,NaN,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8788.59,8788.59,1612.54,1612.54,1211.41,401.13,0.0,0.0,0.0,May-2019,324.23,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,4000,4000.0,36 months,23.40%,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3596.15,3596.15,770.60,770.60,403.85,366.75,0.0,0.0,0.0,May-2019,155.68,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,31450,31450,31450.0,36 months,7.56%,979.16,A,A3,Construction Manager,7 years,MORTGAGE,130000.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,895xx,NV,9.29,0,Jul-1997,0,NaN,NaN,11,0,65911,63.1%,17,w,26689.41,26689.41,5802.32,5802.32,4760.59,1041.73,0.0,0.0,0.0,Jun-2019,979.16,Jul-2019,Jun-2019,0,NaN,1,Joint App,239000.0,12.77,Verified,0,0,422806,0,0,0,0,75.0,0,NaN,0,0,18962,63.0,104400,0,2,1,0,42281.0,29007.0,53.5,0,0,89.0,257,28,28,3,28.0,NaN,11.0,NaN,0,4,6,6,6,2,10,12,6,11,0.0,0,0,0,100.0,33.3,0,0,519900,65911,62400,0,64367.0,Jul-1997,0.0,3.0,14.0,60.9,1.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
'17.97%'.strip('%')

'17.97'

In [27]:
'17.97%'[:-1]

'17.97'

In [28]:
type('17.97%'.strip('%'))

str

In [29]:
float('17.97%'.strip('%'))

17.97

In [30]:
int(float('17.97%'.strip('%')) // 1)

17

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
def remove_percent(string):
  return float(string.strip('%'))

Apply the function to the `int_rate` column

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [94]:
df.head(20)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue,years_from_earliest_credit_to_issue
0,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,2011-04-01,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.960000,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,2801,7.673973
1,25000,25000,25000.0,60 months,14.47,587.82,C,C2,Teacher,10+ years,OWN,110000.0,Not Verified,2018-12-01,1,n,credit_card,Credit card refinancing,117xx,NY,26.43,1,1997-01-01,0,7.0,NaN,23,0,39053,45.7%,49,w,23533.24,23533.24,2908.950000,2908.95,1466.76,1442.19,0.0,0.0,0.0,May-2019,587.82,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,8004,21.928767
2,10000,10000,10000.0,36 months,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,1996-01-01,0,18.0,NaN,14,0,9082,38%,23,w,8788.59,8788.59,1612.540000,1612.54,1211.41,401.13,0.0,0.0,0.0,May-2019,324.23,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,8370,22.931507
3,4000,4000,4000.0,36 months,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,2006-09-01,4,59.0,NaN,15,0,5199,19.2%,20,w,3596.15,3596.15,770.600000,770.60,403.85,366.75,0.0,0.0,0.0,May-2019,155.68,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,4474,12.257534
4,31450,31450,31450.0,36 months,7.56,979.16,A,A3,Construction Manager,7 years,MORTGAGE,130000.0,Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,895xx,NV,9.29,0,1997-07-01,0,NaN,NaN,11,0,65911,63.1%,17,w,26689.41,26689.41,5802.320000,5802.32,4760.59,1041.73,0.0,0.0,0.0,Jun-2019,979.16,Jul-2019,Jun-2019,0,NaN,1,Joint App,239000.0,12.77,Verified,0,0,422806,0,0,0,0,75.0,0,NaN,0,0,18962,63.0,104400,0,2,1,0,42281.0,29007.0,53.5,0,0,89.0,257,28,28,3,28.0,NaN,11.0,NaN,0,4,6,6,6,2,10,12,6,11,0.0,0,0,0,100.0,33.3,0,0,519900,65911,62400,0,64367.0,Jul-1997,0.0,3.0,14.0,60.9,1.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,2018,12,7823,21.432877
5,15500,15500,15500.0,36 months,10.72,505.40,B,B2,Administrative Assistant,10+ years,RENT,52000.0,Not Verified,2018-12-01,1,n,credit_card,Credit card refinancing,925xx,CA,16.66,0,2007-10-01,0,NaN,NaN,13,0,13496,33.9%,16,w,13632.26,13632.26,2513.150000,2513.15,1867.74,645.41,0.0,0.0,0.0,May-2019,505.40,Jul-2019,Jun-2019,1,NaN,1,Individual,NaN,NaN,NaN,0,349,19386,1,1,0,1,15.0,5890,59.0,3,4,6061,39.0,39800,0,2,1,5,1491.0,14251.0,47.4,0,0,60.0,134,6,6,0,6.0,NaN,11.0,NaN,0,6,8,7,9,2,12,14,8,13,0.0,0,0,3,100.0,0.0,0,0,49742,19386,27100,9942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,4079,11.175342
6,6000,6000,6000.0,36 months,14.47,206.44,C,C2,Unknown,< 1 year,OWN,300000.0,Not Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,068xx,CT,17.43,1,2002-04-01,1,17.0,NaN,38,0,65950,49.8%,58,w,5313.18,5313.18,1024.960000,1024.96,686.82,338.14,0.0,0.0,0.0,May-2019,206.44,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,349502,1,4,1,3,7.0,39961,45.0,1,12,15926,48.0,132500,2,2,2,15,9197.0,38683.0,60.6,0,0,166.0,200,4,4,1,4.0,NaN,4.0,17.0,0,16,20,19,26,9,33,48,20,38,0.0,0,0,2,100.0,26.3,0,0,477390,105911,98300,89600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,6088,16.679452
7,6500,6500,6500.0,36 months,17.97,234.90,D,D1,Quality Field Engineer,4 years,MORTGAGE,154000.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,278xx,NC,28.78,2,2008-10-01,0,6.0,NaN,27,0,23754,60.4%,41,w,5791.28,5791.28,1164.770000,1164.77,708.72,456.05,0.0,0.0,0.0,May-2019,234.90,Jul-2019,Jun-2019,0,6.0,1,Individual,NaN,NaN,NaN,0,0,116747,2,8,3,5,1.0,92993,78.0,1,6,3943,72.0,39300,3,3,3,11,4324.0,4578.0,62.8,1,0,122.0,74,11,1,0,13.0,NaN,4.0,NaN,1,5,19,5,8,17,19,24,19,27,0.0,0,1,4,90.2,20.0,0,0,169160,116747,12300,129860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,3713,10.172603
8,28000,28000,28000.0,60 months,11.31,613.13,B,B3,Consultant,2 years,MORTGAGE,70000.0,Not Verified,2018-12-01,1,n,credit_card,Credit card refinancing,300xx,GA,22.01,0,2003-12-01,1,NaN,NaN,10,0,56152,55.9%,23,w,26220.62,26220.62,3039.260000,3039.26,1779.38,1259.88,0.0,0.0,0.0,May-2019,613.13,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,177406,1,1,0,0,62.0,9484,54.0,1,2,16284,56.0,100400,1,0,1,2,17741.0,44248.0,55.9,0,0,180.0,165,6,6,1,6.0,NaN,6.0,NaN,0,5,5,8,9,13,8,9,5,10,0.0,0,0,1,100.0,37.5,0,0,259435,65636,100400,17535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,5479,15.010959
9,5525,5525,5525.0,36 months,15.02,191.59,C,C3,Vice President,10+ years,RENT,118000.0,Not Verified,2018-12-01,1,n,car,Car financing,322xx,FL,3.25,1,1999-07-01,1,16.0,NaN,11,0,7038,44%,23,w,4897.31,4897.31,951.030000,951.03,627.69,323.34,0.0,0.0,0.0,May-2019,191.59,Jul-2019,Dec-2018,0,21.0,1,Individual,NaN,NaN,NaN,0,0,7038,1,0,0,0,2.0,0,0.0,4,5,2498,44.0,15940,0,0,4,5,639.0,2260.0,50.0,1,0,141.0,233,4,2,2,4.0,26.0,4.0,16.0,1,5,11,4,7,2,11,18,8,11,NaN,0,0,4,52.0,40.0,0,0,15940,7038,11300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,7093,19.432877
10,3000,3000,3000.0,36 months,17.97,108.42,D,D1,Cna,7 years,MORTGAGE,33000.0,Source Verified,2018-12-01,Fully Paid,n,other,Other,750xx,TX,7.31,0,2001-08-01,1,25.0,NaN,5,0,1501,19.2%,13,w,0.00,0.00,3138.626130,3138.63,3000.00,138.63,0.0,0.0,0.0,Apr-2019,2926.28,NaN,Jun-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,165945,0,2,1,2,9.0,41574,25.0,0,1,1501,21.0,7800,5,1,10,3,33189.0,6299.0,19.2,0,0,144.0,208,21,9,1,21.0,NaN,1.0,NaN,1,1,1,2,2,8,2,4,1,5,0.0,0,0,1,81.8,50.0,0,0,182840,43075,7800,41689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,6331,17.345205
11,35000,35000,35000.0,60 months,18.94,906.77,D,D2,Financial Advisor,10+ years,RENT,90000.0,Source Verified,2018-12-01,Fully Paid,n,debt_consolidation,Debt consolidation,432xx,OH,13.96,0,2000-10-01,0,NaN,NaN,7,0,41597,96.5%,12,w,0.00,0.00,36188.313268,36188.31,35000.00,1188.31,0.0,0.0,0.0,Apr-2019,145.01,NaN,Mar-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,41597,0,0,0,0,53.0,0,NaN,0,0,10757,96.0,43100,0,0,0,0,5942.0,1503.0,96.5,0,0,218.0,154,53,53,0,53.0,NaN,NaN,NaN,0,6,6,6,6,5,6,6,6,7,0.0,0,0,0,100.0,100.0,0,0,43295,41597,43100,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,6635,18.178082
12,18000,18000,18000.0,36 months,8.81,570.81,A,A5,Sever,< 1 year,RENT,40000.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,100xx,NY,12.81,0,2014-04-01,0,NaN,NaN,15,0,16147,35.2%,21,w,15193.43,15193.43,3411.640000,3411.64,2806.57,605.07,0.0,0.0,0.0,May-2019,570.81,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,28062,1,4,1,4,7.0,11915,79.0,3,6,6591,46.0,45900,0,0,1,10,1871.0,22177.0,38.1,0,0,23.0,56,4,4,0,4.0,NaN,8.0,NaN,0,5,6,8,10,4,11,15,6,15,0.0,0,0,4,100.0,12.5,0,0,60900,28062,35800,15000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,1705,4.671233
13,20000,20000,20000.0,36 months,14.47,688.13,C,C2,Bus Driver,4 years,OWN,52000.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,681xx,NE,30.65,1,1979-06-01,2,15.0,NaN,6,0,15048,73%,22,w,17236.06,17236.06,4040.350000,4040.35,2763.94,1276.41,0.0,0.0,0.0,Jun-2019,688.13,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,33157,0,2,1,1,8.0,18109,44.0,1,2,8628,73.0,20700,1,1,4,3,5526.0,5175.0,73.0,0,0,141.0,474,10,8,0,10.0,15.0,1.0,15.0,0,4,4,11,12,8,4,14,4,6,NaN,0,0,2,95.0,50.0,0,0,61699,33157,20700,40999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,14428,39.528767
14,8000,8000,8000.0,36 months,12.98,269.48,B,B5,Controller,4 years,MORTGAGE,95000.0,Source Verified,2018-12-01,1,n,credit_card,Credit card refinancing,480xx,MI,9.44,0,2009-03-01,2,73.0,NaN,7,0,11434,33.3%,20,w,3146.78,3146.78,5238.750000,5238.75,4853.22,385.53,0.0,0.0,0.0,May-2019,269.48,Jul-2019,Jun-2019,0,73.0,1,Individual,NaN,NaN,NaN,0,0,247933,5,1,3,4,2.0,13716,98.0,4,5,8918,52.0,34300,2,0,7,10,35419.0,22866.0,33.3,0,0,13.0,117,6,2,1,6.0,73.0,2.0,73.0,1,3,3,5,15,4,5,15,3,7,0.0,0,0,8,100.0,20.0,0,0,271550,25150,34300,14000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,3562,9.758904
15,15000,15000,15000.0,60 months,13.56,345.62,C,C1,"Manager, Patient Finance",4 years,MORTGAGE,75000.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,270xx,NC,11.79,0,2001-04-01,1,NaN,66.0,15,1,1866,3.5%,51,w,14099.27,14099.27,1711.150000,1711.15,900.73,810.42,0.0,0.0,0.0,May-2019,345.62,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,102287,1,4,1,5,7.0,100421,90.0,2,4,623,40.0,53500,1,1,2,9,7306.0,12777.0,4.6,0,0,162.0,212,4,4,6,4.0,NaN,5.0,NaN,0,1,2,4,12,22,11,23,2,13,0.0,0,0,3,100.0,0.0,1,0,154946,102287,13400,101446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,2018,12,6453,17.679452
16,10000,10000,10000.0,60 months,12.98,227.43,B,B5,Printer,9 years,RENT,60000.0,Not Verified,2018-12-01,1,n,credit_card,Credit card refinancing,660xx,KS,14.90,0,2007-05-01,0,NaN,112.0,7,1,10677,54.2%,12,w,9264.78,9264.78,1303.290000,1303.29,735.22,568.07,0.0,0.0,0.0,Jun-2019,227.43,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,469,27595,0,2,1,1,11.0,16918,103.0,0,1,4337,76.0,19700,5,0,7,2,3942.0,4278.0,67.1,0,0,139.0,74,20,11,0,20.0,NaN,0.0,NaN,0,3,5,3,4,6,5,6,5,7,0.0,0,0,1,100.0,33.3,1,0,36200,27595,13000,16500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,4232,11.594521
17,6500,6500,6500.0,36 months,10.72,211.95,B,B2,Dealer,< 1 year,RENT,50000.0,Not Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,902xx,CA,24.29,0,2014-03-01,2,NaN,NaN,8,0,5724,40.3%,10,w,5716.71,5716.71,1053.940000,1053.94,783.29,270.65,0.0,0.0,0.0,May-2019,211.95,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,39496,0,1,1,2,7.0,33772,NaN,1,2,1588,40.0,14200,0,0,3,4,5642.0,3083.0,46.8,0,0,56.0,57,12,7,0,12.0,NaN,4.0,NaN,0,4,6,4,4,3,7,7,6,8,0.0,0,0,2,100.0,0.0,0,0,50022,39496,5800,35822,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,1736,4.756164
18,23000,23000,23000.0,36 months,11.31,756.38,B,B3,Sr. Cae Analyst,3 years,MORTGAGE,145000.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,801xx,CO,29.62,0,2003-12-01,0,NaN,NaN,11,0,50720,93.2%,30,w,20250.63,20250.63,3767.450000,3767.45,2749.37,1018.08,0.0,0.0,0.0,Jun-2019,756.38,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,157506,1,5,2,4,6.0,106786,67.0,0,0,15961,81.0,54400,3,9,7,5,14319.0,3680.0,93.2,0,0,148.0,180,42,6,4,42.0,NaN,8.0,NaN,0,6,6,6,7,18,6,8,6,11,0.0,0,0,2,100.0,83.3,0,0,181788,157506,54400,127388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,5479,15.010959
19,25000,25000,25000.0,60 months,12.98,568.58,B,B5,Tire Builder,10+ years,MORTGAGE,85000.0,Not Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,356xx,AL,36.67,1,1993-10-01,1,10.0,NaN,14,0,26630,53.3%,27,w,23476.58,23476.58,2815.860000,2815.86,1523.42,1292.44,0.0,0.0,0.0,May-2019,568.58,Jul-2019,Jun-2019,0,40.0,1,Joint App,140000.0,23.08,Not Verified,0,56,206980,1,7,1,3,3.0,69513,81.0,1,1,17292,68.0,50000,1,3,1,4,14784.0,18581.0,57.7,0,0,186.0,185,9,3,4,9.0,10.0,3.0,10.0,1,4,5,4,5,13,6,10,5,14,0.0,0,0,2,85.2,0.0,0,0,275691,96143,43900,99691,48711.0,Oct-1993,1.0,4.0,16.0,56.5,8.0,12.0,0.0,0.0,49.0,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,9192,25.183562

In [34]:
df.dtypes

loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                               float64
term                                           object
int_rate                                      float64
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                        int64
pub_rec                                         int64
revol_bal                                       int64
revol_util                                     object
total_acc                                       int64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
collections_12_mths_ex_med                      int64
mths_since_last_major_derog                   float64
policy_code                                     int64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                  int64
tot_coll_amt                                    int64
tot_cur_bal                                     int64
open_acc_6m                                     int64
open_act_il                                     int64
open_il_12m                                     int64
open_il_24m                                     int64
mths_since_rcnt_il                            float64
total_bal_il                                    int64
il_util                                       float64
open_rv_12m                                     int64
open_rv_24m                                     int64
max_bal_bc                                      int64
all_util                                      float64
total_rev_hi_lim                                int64
inq_fi                                          int64
total_cu_tl                                     int64
inq_last_12m                                    int64
acc_open_past_24mths                            int64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                        int64
delinq_amnt                                     int64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                            int64
mo_sin_rcnt_rev_tl_op                           int64
mo_sin_rcnt_tl                                  int64
mort_acc                                        int64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                           int64
num_actv_bc_tl                                  int64
num_actv_rev_tl                                 int64
num_bc_sats                                     int64
num_bc_tl                                       int64
num_il_tl                                       int64
num_op_rev_tl                                   int64
num_rev_accts                                   int64
num_rev_tl_bal_gt_0                             int64
num_sats                                        int64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                    int64
num_tl_90g_dpd_24m                              int64
num_tl_op_past_12m                              int64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                            int64
tax_liens                                       int64
tot_hi_cred_lim                                 int64
total_bal_ex_mort                               int64
total_bc_limit                                  int64
total_il_high_credit_limit                      int64
revol_bal_joint                               float64
sec_app_earliest_cr_line                       object
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

## List Comprehension Example

In [35]:
example_list = ['13.56%','13.57%','13.58%']
[remove_percent(string) for string in example_list]

[13.56, 13.57, 13.58]

### Clean `emp_title`

Look at top 20 titles

In [36]:
df['emp_title']

0                                   Administrative
1                                          teacher
2                                              NaN
3                                         Security
4                             Construction Manager
5                        Administrative Assistant
6                                              NaN
7                           Quality Field Engineer
8                                       Consultant
9                                   Vice President
10                                             Cna
11                               Financial Advisor
12                                           Sever
13                                      bus driver
14                                      Controller
15                        Manager, Patient Finance
16                                         Printer
17                                         Dealer
18                                 Sr. CAE Analyst
19                                    Tire builder
20                                     Casino Host
21                                      Pharmacist
22                          Transportation Manager
23                                Business Analyst
24                                             NaN
25                      Program Support Assistant
26                                         Teller
27                                     Tech Driver
28                              Compliance manager
29                         Plant Logistics Manager
30                                             NaN
31                                General Manager
32                                   Medical Coder
33                                      Processor
34                     Neonatal Nurse Practitioner
35                               Surgery scheduler
36                                       Goldsmith
37                          Mail Processing Clerk
38                                 Program Manager
39                                  OFFICE MANAGER
40                                   gas attendant
41                                  Bill Collector
42                                             NaN
43                         Information technology
44                                Shift Supervisor
45                     Enrollment Services Advisor
46                                  Office Manager
47            Lead Transportation Security Officer
48                              Machinst/Programer
49                            Help Tech Supervisor
50                                     Supervisor
51                          DISTRICT SALES MANAGER
52                                 Account Manager
53                                 Staff Physician
54                Financial Relationship Associate
55                                             NaN
56                           Accounts Examiner III
57                                Regional Manager
58                            DIRECT CARE PROVIDER
59                                        Optician
60                                     Supervisor
61                                          Driver
62                                             NaN
63                       Substance Abuse Counselor
64                             Service Consultant
65                                         Teacher
66                                Attorney-Adviser
67                                         Teacher
68                         Mortgage loan processor
69                                Vacation Advisor
70                                             NaN
71                       Facility Maintenance Tech
72                                             NaN
73                                            Chef
74                                     Postmaster
75                                Sr Sales Manager
76        Assistant Athletic Director of Marketing
77                                             NaN
78                            Job Coach Supervisor
79                                             NaN
80                                          BANKER
81                Sr. Vice President -Risk Manager
82                                    MAINTENANCE
83                                        Sales VP
84                                         Manager
85                             Software Consultant
86                               Financial Planner
87                                    senior buyer
88                                      Consultant
89                        Senior Software Engineer
90                                Worship Director
91                                         Analyst
92                         radiologic technologist
93                                             NaN
94                          procurement supervisor
95                                Material Handler
96                                             NaN
97        Anti Money Laundering Compliance Manager
98                            Supply Chain Analyst
99                                             NaN
100        Publications and Images Project Manager
101                                        Trainer
102                            Maintenance Manager
103                                      President
104                               Nurse technician
105                                  Service tech.
106                               customer service
107                             Nursing Supervisor
108                                 Claims Analyst
109                                        Manager
110                                       Operator
111                           MAINTENANCE PLANNER
112                                   IT Assistant
113                                      Carpenter
114                       VP, Solutions Management
115                                        Teacher
116                                    City Crrier
117                              Fuel truck driver
118                                   Esthetician
119                              Exhibits director
120            Corporate Communications Strategist
121                                Project Manager
122                                       Teacher
123                                       lab tech
124                            Sale Representative
125                                            NaN
126                 Business Intelligence Engineer
127                          Sales Account Manager
128                                            NaN
129                                           CFO
130                                        Manager
131                       Director of reinsurance
132                Budget & Procurement Specialist
133                                            NaN
134                                        Teacher
135                                            NaN
136                                        Plumber
137                                General Manager
138                                      Educator
139                                            NaN
140                                account manager
141                             Production Manager
142                                           Army
143                                 Room Attendant
144                                 Vice President
145                         Reference/YA Librarian
146                                General Manager
147                           overnight supervisor
148                        Operations Coordinator
149                                         Server
150                              Director of Sales
151                             Assistant Director
152                            Legal Assistant III
153                                            Lpn
154                           Medical Technologist
155                                Project Manager
156                            driver coordinator
157                                            NaN
158                                            NaN
159                      Product Line Specilalist
160                                        Laborer
161                                            NaN
162                                        Captain
163                           Operation s director
164                                       Mechanic
165                                     Supervisor
166                           Extrusion assistant
167                                  IT Supervisor
168                                       Attorney
169                                        Teacher
170                                       asst.mgr
171                                Sale Consultant
172                                   UPS/Shipping
173                                            NaN
174           Assistant to the Treasurer (Payroll)
175                                        Manager
176                                            NaN
177                                          Agent
178                              Workforce Analyst
179                                        Manager
180                                            NaN
181                                  Receptionist
182                                        Teacher
183                                           LMSW
184                               Training Manager
185                      elementary school teacher
186                                            RN
187                            Compliance Director
188                          PRIVATE CLIENT BANKER
189                Senior Director Risk Management
190                              Software Engineer
191                                            NaN
192                                   Firefighter
193                      Senior Area Sales Manager
194                                Math Instructor
195                                     Conductor
196                                     supervisor
197                                            NaN
198                                Project manager
199                                  Foreman shop
200                                       OPERATOR
201               Instructor for Training Squadron
202                                  Asst. Manager
203                                        Driver
204                                            NaN
205                               Shift Supervisor
206                                       Shipping
207                                            NaN
208                                             FC
209                                  case manager
210                                 Medical Doctor
211                                            NaN
212                                         Driver
213                                 Senior manager
214                           Warehouse Associates
215                                        Banker
216                               Header operator
217                        Paramedic/ Fire Fighter
218                                        Teacher
219                                   Director COE
220                                 Police Captain
221                      Instructional Coordinator
222                            Firefighter/captain
223             Executive Administrative Assistant
224                          Veterinary Assistant
225                                            NaN
226                                       Engineer
227                      Reimbursement specialist
228                                            NaN
229                         Armed Security officer
230                                       Director
231                                Program Manager
232                                  Especialist 1
233                                            NaN
234                            Structural Engineer
235                           respritory therapist
236                                Program Manager
237                                            NaN
238                                        Teacher
239                                            NaN
240                             Operations Manager
241                                            NaN
242                                    Haz Mat S/R
243                                     Millwright
244                                          Sales
245                                 Bakery Manager
246                                            NaN
247                            Stationary Engineer
248                                            NaN
249                                            Lpn
                            ...
128162                          Payroll Specialist
128163                               Admin manager
128164                     Sr. Services Technician
128165                     Service Center Manager
128166                       Surgical Technologist
128167                                         NaN
128168                                    Attorney
128169                Network Server Administrator
128170                                         NaN
128171                        Automotive  Mechanic
128172                                       Nurse
128173                                         NaN
128174                               Lumber Grader
128175                           Quality Inspector
128176                                         NaN
128177                                         NaN
128178                          nurse practitioner
128179                                   maintence
128180                         Clerical Associate
128181                       Computer Operator III
128182                                         NaN
128183                                    Clerical
128184                                         NaN
128185               Supervisor of administration
128186                                     Manager
128187                                Bank Teller
128188                                      Driver
128189                                         NaN
128190                              Warehouse Lead
128191                                         NaN
128192                                         NaN
128193                            Sales Consultant
128194                              Physician Asst
128195                                         NaN
128196                 Senior Director Engineering
128197                             Project Manager
128198                             General Manager
128199                            Sales/Technician
128200                                   Assembler
128201                                         NaN
128202                                City Carrier
128203          Supervisory Air Interdiction Agent
128204                        Childcare instructor
128205     Sr. Vice President Business Development
128206                                         NaN
128207                        FSC Sales Supervisor
128208                                  Operations
128209                    Assembly Line Technician
128210                                         NaN
128211                                  Maint tech
128212                     Human Resource Director
128213                              Superintendent
128214        Service member- Sergeant First Class
128215                            IT Systems Spec.
128216                                         NaN
128217                                         NaN
128218                                         NaN
128219              Quality assurance coordinator
128220                               Scientist III
128221                                     Stocker
128222                                     manager
128223                             General Clerk 2
128224               Operational Risk  consultant
128225                                         NaN
128226                                    Bellman
128227       Senior Client Service Representative
128228                Certified medical assistant
128229                      Operations specialist
128230                           Level 1 inspector
128231                               Probate judge
128232                       Senior CAD Technician
128233                                       Nurse
128234                           Systems Developer
128235                                    Prepador
128236                               Plant manager
128237                                         NaN
128238                                          RN
128239                              Hvac mechanic
128240                                   Architect
128241              Major Hampton Sheriff's Office
128242                                         NaN
128243                                         NaN
128244                   Network Security Engineer
128245        Vice President, Business Development
128246                           BSA Investigator
128247                    Advance Quality Engineer
128248                                  Controller
128249                              Office Manager
128250                                Maintenance
128251                                         NaN
128252                                         NaN
128253                                         NaN
128254                                         NaN
128255                                  Specialist
128256                      SENIOR CENTER DIRECTOR
128257                              executive chef
128258                                        Chef
128259                                         NaN
128260                                         NaN
128261                               Administrator
128262                                   Professor
128263              Sales Manager/Used Car Manager
128264                                         NaN
128265                             General Manager
128266                                         NaN
128267                     Insurance under writer
128268                            Retail Associate
128269                                 Coordinator
128270                                  Data Clerk
128271                                         NaN
128272                   Financial Administration
128273                         Casino table games
128274                                         NaN
128275                                         NaN
128276                                   AP Clerk
128277                                  RSR DRIVER
128278                                         NaN
128279                          Campus supervisor
128280                                  Bookkeeper
128281                                  Paralegal
128282          Senior Manager of Audio Production
128283                              Home Caregiver
128284                                         NaN
128285                            Paint Technician
128286                                VP, of Sales
128287                              Budget Manager
128288                         HR Business Partner
128289                                         NaN
128290                          Operations Manager
128291                            Dental Hygienist
128292                     Materials Launch Manage
128293                           Postal Supervisor
128294                             Service Advisor
128295                          Director Workplace
128296              Associate Director of Catering
128297                                 Food Server
128298                           Software Engineer
128299                           Assistant Manager
128300                        Retail Store Manager
128301      Contractor (IT & Software Development)
128302          Medical Records Billing Specialist
128303                         Solutions Architect

In [37]:
print(df['emp_title'].value_counts(dropna=False).shape)
df['emp_title'].value_counts(dropna=False).head(20)

(43893,)

NaN                   20947
Teacher                2090
Manager                1773
Registered Nurse        952
Driver                  924
RN                      726
Supervisor              697
Sales                   580
Project Manager         526
General Manager         523
Office Manager          521
Owner                   420
Director                402
Operations Manager      387
Truck Driver            387
Nurse                   326
Engineer                325
Sales Manager           304
manager                 301
Supervisor              270
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [38]:
df['emp_title'].isnull().sum()

20947

Clean the title and handle missing values

In [0]:
import numpy as np
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [40]:
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"
  return title.strip()

[clean_title(x) for x in examples]

['Owner', 'Supervisor', 'Project Manager', 'Unknown']

In [0]:
# df = df.apply(lambda x: x.strip().title() if isinstance(x, str))

In [42]:
df['emp_title'] = df['emp_title'].apply(clean_title)
print(df['emp_title'].value_counts(dropna=False).shape)
df['emp_title'].value_counts(dropna=False).head(20)

(34902,)

Unknown               20947
Teacher                2557
Manager                2395
Registered Nurse       1418
Driver                 1258
Supervisor             1160
Truck Driver            920
Rn                      834
Office Manager          805
Sales                   803
General Manager         791
Project Manager         720
Owner                   625
Director                523
Operations Manager      518
Sales Manager           500
Police Officer          440
Nurse                   425
Technician              420
Engineer                412
Name: emp_title, dtype: int64

In [0]:
# [{"Nurse": ['Registered Nurse', 'Rn', 'Nurse']}, {'Manager': ['Sales Manager', "General Manager"]}]

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [43]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager
0,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
1,25000,25000,25000.0,60 months,14.47,587.82,C,C2,Teacher,10+ years,OWN,110000.0,Not Verified,Dec-2018,Current,n,credit_card,Credit card refinancing,117xx,NY,26.43,1,Jan-1997,0,7.0,NaN,23,0,39053,45.7%,49,w,23533.24,23533.24,2908.95,2908.95,1466.76,1442.19,0.0,0.0,0.0,May-2019,587.82,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
2,10000,10000,10000.0,36 months,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,Jan-1996,0,18.0,NaN,14,0,9082,38%,23,w,8788.59,8788.59,1612.54,1612.54,1211.41,401.13,0.0,0.0,0.0,May-2019,324.23,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
3,4000,4000,4000.0,36 months,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,Sep-2006,4,59.0,NaN,15,0,5199,19.2%,20,w,3596.15,3596.15,770.60,770.60,403.85,366.75,0.0,0.0,0.0,May-2019,155.68,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False
4,31450,31450,31450.0,36 months,7.56,979.16,A,A3,Construction Manager,7 years,MORTGAGE,130000.0,Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,895xx,NV,9.29,0,Jul-1997,0,NaN,NaN,11,0,65911,63.1%,17,w,26689.41,26689.41,5802.32,5802.32,4760.59,1041.73,0.0,0.0,0.0,Jun-2019,979.16,Jul-2019,Jun-2019,0,NaN,1,Joint App,239000.0,12.77,Verified,0,0,422806,0,0,0,0,75.0,0,NaN,0,0,18962,63.0,104400,0,2,1,0,42281.0,29007.0,53.5,0,0,89.0,257,28,28,3,28.0,NaN,11.0,NaN,0,4,6,6,6,2,10,12,6,11,0.0,0,0,0,100.0,33.3,0,0,519900,65911,62400,0,64367.0,Jul-1997,0.0,3.0,14.0,60.9,1.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True

## Dataframe Filtering

In [0]:
managers = df[df['emp_title_manager'] == True]
plebians = df[df['emp_title_manager'] == False]

In [0]:
print(managers['int_rate'].mean())
print(plebians['int_rate'].mean())

In [0]:
import seaborn as sns
sns.distplot(managers['int_rate']);

In [0]:
sns.distplot(plebians['int_rate']);

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [44]:
df['issue_d'].head().values

array(['Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018', 'Dec-2018'],
      dtype=object)

In [47]:
df['issue_d'].describe()

count       128412
unique           3
top       Oct-2018
freq         46305
Name: issue_d, dtype: object

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [49]:
df['issue_d'].head().values

array(['2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2018-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [50]:
df.dtypes

loan_amnt                                              int64
funded_amnt                                            int64
funded_amnt_inv                                      float64
term                                                  object
int_rate                                             float64
installment                                          float64
grade                                                 object
sub_grade                                             object
emp_title                                             object
emp_length                                            object
home_ownership                                        object
annual_inc                                           float64
verification_status                                   object
issue_d                                       datetime64[ns]
loan_status                                           object
pymnt_plan                                            object
purpose                                               object
title                                                 object
zip_code                                              object
addr_state                                            object
dti                                                  float64
delinq_2yrs                                            int64
earliest_cr_line                                      object
inq_last_6mths                                         int64
mths_since_last_delinq                               float64
mths_since_last_record                               float64
open_acc                                               int64
pub_rec                                                int64
revol_bal                                              int64
revol_util                                            object
total_acc                                              int64
initial_list_status                                   object
out_prncp                                            float64
out_prncp_inv                                        float64
total_pymnt                                          float64
total_pymnt_inv                                      float64
total_rec_prncp                                      float64
total_rec_int                                        float64
total_rec_late_fee                                   float64
recoveries                                           float64
collection_recovery_fee                              float64
last_pymnt_d                                          object
last_pymnt_amnt                                      float64
next_pymnt_d                                          object
last_credit_pull_d                                    object
collections_12_mths_ex_med                             int64
mths_since_last_major_derog                          float64
policy_code                                            int64
application_type                                      object
annual_inc_joint                                     float64
dti_joint                                            float64
verification_status_joint                             object
acc_now_delinq                                         int64
tot_coll_amt                                           int64
tot_cur_bal                                            int64
open_acc_6m                                            int64
open_act_il                                            int64
open_il_12m                                            int64
open_il_24m                                            int64
mths_since_rcnt_il                                   float64
total_bal_il                                           int64
il_util                                              float64
open_rv_12m                                            int64
open_rv_24m                                            int64
max_bal_bc                                             int64
all_util                                             float64
total_rev_hi_lim                                       int64
inq_fi                                                 int64
total_cu_tl                                            int64
inq_last_12m                                           int64
acc_open_past_24mths                                   int64
avg_cur_bal                                          float64
bc_open_to_buy                                       float64
bc_util                                              float64
chargeoff_within_12_mths                               int64
delinq_amnt                                            int64
mo_sin_old_il_acct                                   float64
mo_sin_old_rev_tl_op                                   int64
mo_sin_rcnt_rev_tl_op                                  int64
mo_sin_rcnt_tl                                         int64
mort_acc                                               int64
mths_since_recent_bc                                 float64
mths_since_recent_bc_dlq                             float64
mths_since_recent_inq                                float64
mths_since_recent_revol_delinq                       float64
num_accts_ever_120_pd                                  int64
num_actv_bc_tl                                         int64
num_actv_rev_tl                                        int64
num_bc_sats                                            int64
num_bc_tl                                              int64
num_il_tl                                              int64
num_op_rev_tl                                          int64
num_rev_accts                                          int64
num_rev_tl_bal_gt_0                                    int64
num_sats                                               int64
num_tl_120dpd_2m                                     float64
num_tl_30dpd                                           int64
num_tl_90g_dpd_24m                                     int64
num_tl_op_past_12m                                     int64
pct_tl_nvr_dlq                                       float64
percent_bc_gt_75                                     float64
pub_rec_bankruptcies                                   int64
tax_liens                                              int64
tot_hi_cred_lim                                        int64
total_bal_ex_mort                                      int64
total_bc_limit                                         int64
total_il_high_credit_limit                             int64
revol_bal_joint                                      float64
sec_app_earliest_cr_line                              object
sec_app_inq_last_6mths                               float64
sec_app_mort_acc                                     float64
sec_app_open_acc                                     float64
sec_app_revol_util                                   float64
sec_app_open_act_il                                  float64
sec_app_num_rev_accts                                float64
sec_app_chargeoff_within_12_mths                     float64
sec_app_collections_12_mths_ex_med                   float64
sec_app_mths_since_last_major_derog                  float64
hardship_flag                                         object
hardship_type                                         object
hardship_reason                                       object
hardship_status                                       object
deferral_term                                        float64
hardship_amount                                      float64
hardship_start_date                                   object
hardship_end_date                                     object
payment_plan_start_date                               object
hardship_length                                      float64
hardship_dpd                                         float64
hardship_loan_status                                  object
orig_projected_additional_accrued_interest           float64
hardship_payoff_balance_amount                       float64
hardship_last_payment_amount                         float64
debt_settlement_flag                                  object
debt_settlement_flag_date                             object
settlement_status                                     object
settlement_date                                       object
settlement_amount                                    float64
settlement_percentage                                float64
settlement_term                                      float64
emp_title_manager                                       bool
dtype: object

In [51]:
df['issue_d'].describe()

count                  128412
unique                      3
top       2018-10-01 00:00:00
freq                    46305
first     2018-10-01 00:00:00
last      2018-12-01 00:00:00
Name: issue_d, dtype: object

In [52]:
df['issue_d'].dt.year

0         2018
1         2018
2         2018
3         2018
4         2018
5         2018
6         2018
7         2018
8         2018
9         2018
10        2018
11        2018
12        2018
13        2018
14        2018
15        2018
16        2018
17        2018
18        2018
19        2018
20        2018
21        2018
22        2018
23        2018
24        2018
25        2018
26        2018
27        2018
28        2018
29        2018
30        2018
31        2018
32        2018
33        2018
34        2018
35        2018
36        2018
37        2018
38        2018
39        2018
40        2018
41        2018
42        2018
43        2018
44        2018
45        2018
46        2018
47        2018
48        2018
49        2018
50        2018
51        2018
52        2018
53        2018
54        2018
55        2018
56        2018
57        2018
58        2018
59        2018
60        2018
61        2018
62        2018
63        2018
64        2018
65        2018
66        2018
67        2018
68        2018
69        2018
70        2018
71        2018
72        2018
73        2018
74        2018
75        2018
76        2018
77        2018
78        2018
79        2018
80        2018
81        2018
82        2018
83        2018
84        2018
85        2018
86        2018
87        2018
88        2018
89        2018
90        2018
91        2018
92        2018
93        2018
94        2018
95        2018
96        2018
97        2018
98        2018
99        2018
100       2018
101       2018
102       2018
103       2018
104       2018
105       2018
106       2018
107       2018
108       2018
109       2018
110       2018
111       2018
112       2018
113       2018
114       2018
115       2018
116       2018
117       2018
118       2018
119       2018
120       2018
121       2018
122       2018
123       2018
124       2018
125       2018
126       2018
127       2018
128       2018
129       2018
130       2018
131       2018
132       2018
133       2018
134       2018
135       2018
136       2018
137       2018
138       2018
139       2018
140       2018
141       2018
142       2018
143       2018
144       2018
145       2018
146       2018
147       2018
148       2018
149       2018
150       2018
151       2018
152       2018
153       2018
154       2018
155       2018
156       2018
157       2018
158       2018
159       2018
160       2018
161       2018
162       2018
163       2018
164       2018
165       2018
166       2018
167       2018
168       2018
169       2018
170       2018
171       2018
172       2018
173       2018
174       2018
175       2018
176       2018
177       2018
178       2018
179       2018
180       2018
181       2018
182       2018
183       2018
184       2018
185       2018
186       2018
187       2018
188       2018
189       2018
190       2018
191       2018
192       2018
193       2018
194       2018
195       2018
196       2018
197       2018
198       2018
199       2018
200       2018
201       2018
202       2018
203       2018
204       2018
205       2018
206       2018
207       2018
208       2018
209       2018
210       2018
211       2018
212       2018
213       2018
214       2018
215       2018
216       2018
217       2018
218       2018
219       2018
220       2018
221       2018
222       2018
223       2018
224       2018
225       2018
226       2018
227       2018
228       2018
229       2018
230       2018
231       2018
232       2018
233       2018
234       2018
235       2018
236       2018
237       2018
238       2018
239       2018
240       2018
241       2018
242       2018
243       2018
244       2018
245       2018
246       2018
247       2018
248       2018
249       2018
          ...
128162    2018
128163    2018
128164    2018
128165    2018
128166    2018
128167    2018
128168    2018
128169    2018
128170    2018
128171    2018
128172    2018
128173    2018
128174    2018
128175    2018
128176    2018
128177    2018
128178    2018
128179    2018
128180    2018
128181    2018
128182    2018
128183    2018
128184    2018
128185    2018
128186    2018
128187    2018
128188    2018
128189    2018
128190    2018
128191    2018
128192    2018
128193    2018
128194    2018
128195    2018
128196    2018
128197    2018
128198    2018
128199    2018
128200    2018
128201    2018
128202    2018
128203    2018
128204    2018
128205    2018
128206    2018
128207    2018
128208    2018
128209    2018
128210    2018
128211    2018
128212    2018
128213    2018
128214    2018
128215    2018
128216    2018
128217    2018
128218    2018
128219    2018
128220    2018
128221    2018
128222    2018
128223    2018
128224    2018
128225    2018
128226    2018
128227    2018
128228    2018
128229    2018
128230    2018
128231    2018
128232    2018
128233    2018
128234    2018
128235    2018
128236    2018
128237    2018
128238    2018
128239    2018
128240    2018
128241    2018
128242    2018
128243    2018
128244    2018
128245    2018
128246    2018
128247    2018
128248    2018
128249    2018
128250    2018
128251    2018
128252    2018
128253    2018
128254    2018
128255    2018
128256    2018
128257    2018
128258    2018
128259    2018
128260    2018
128261    2018
128262    2018
128263    2018
128264    2018
128265    2018
128266    2018
128267    2018
128268    2018
128269    2018
128270    2018
128271    2018
128272    2018
128273    2018
128274    2018
128275    2018
128276    2018
128277    2018
128278    2018
128279    2018
128280    2018
128281    2018
128282    2018
128283    2018
128284    2018
128285    2018
128286    2018
128287    2018
128288    2018
128289    2018
128290    2018
128291    2018
128292    2018
128293    2018
128294    2018
128295    2018
128296    2018
128297    2018
128298    2018
128299    2018
128300    2018
128301    2018
128302    2018
128303    2018
128304    2018
128305    2018
128306    2018
128307    2018
128308    2018
128309    2018
128310    2018
128311    2018
128312    2018
128313    2018
128314    2018
128315    2018
128316    2018
128317    2018
128318    2018
128319    2018
128320    2018
128321    2018
128322    2018
128323    2018
128324    2018
128325    2018
128326    2018
128327    2018
128328    2018
128329    2018
128330    2018
128331    2018
128332    2018
128333    2018
128334    2018
128335    2018
128336    2018
128337    2018
128338    2018
128339    2018
128340    2018
128341    2018
128342    2018
128343    2018
128344    2018
128345    2018
128346    2018
128347    2018
128348    2018
128349    2018
128350    2018
128351    2018
128352    2018
128353    2018
128354    2018
128355    2018
128356    2018
128357    2018
128358    2018
128359    2018
128360    2018
128361    2018
128362    2018
128363    2018
128364    2018
128365    2018
128366    2018
128367    2018
128368    2018
128369    2018
128370    2018
128371    2018
128372    2018
128373    2018
128374    2018
128375    2018
128376    2018
128377    2018
128378    2018
128379    2018
128380    2018
128381    2018
128382    2018
128383    2018
128384    2018
128385    2018
128386    2018
128387    2018
128388    2018
128389    2018
128390    2018
128391    2018
128392    2018
128393    2018
128394    2018
128395    2018
128396    2018
128397    2018
128398    2018
128399    2018
128400    2018
128401    2018
128402    2018
128403    2018
128404    2018
128405    2018
128406    2018
128407    2018
128408    2018
128409    2018
128410    2018
128411    2018
Name: issue_d, Length: 128412, dtype: int64

In [0]:
df['issue_year'] = df['issue_d'].dt.year

In [54]:
df['issue_d'].dt.month

0         12
1         12
2         12
3         12
4         12
5         12
6         12
7         12
8         12
9         12
10        12
11        12
12        12
13        12
14        12
15        12
16        12
17        12
18        12
19        12
20        12
21        12
22        12
23        12
24        12
25        12
26        12
27        12
28        12
29        12
30        12
31        12
32        12
33        12
34        12
35        12
36        12
37        12
38        12
39        12
40        12
41        12
42        12
43        12
44        12
45        12
46        12
47        12
48        12
49        12
50        12
51        12
52        12
53        12
54        12
55        12
56        12
57        12
58        12
59        12
60        12
61        12
62        12
63        12
64        12
65        12
66        12
67        12
68        12
69        12
70        12
71        12
72        12
73        12
74        12
75        12
76        12
77        12
78        12
79        12
80        12
81        12
82        12
83        12
84        12
85        12
86        12
87        12
88        12
89        12
90        12
91        12
92        12
93        12
94        12
95        12
96        12
97        12
98        12
99        12
100       12
101       12
102       12
103       12
104       12
105       12
106       12
107       12
108       12
109       12
110       12
111       12
112       12
113       12
114       12
115       12
116       12
117       12
118       12
119       12
120       12
121       12
122       12
123       12
124       12
125       12
126       12
127       12
128       12
129       12
130       12
131       12
132       12
133       12
134       12
135       12
136       12
137       12
138       12
139       12
140       12
141       12
142       12
143       12
144       12
145       12
146       12
147       12
148       12
149       12
150       12
151       12
152       12
153       12
154       12
155       12
156       12
157       12
158       12
159       12
160       12
161       12
162       12
163       12
164       12
165       12
166       12
167       12
168       12
169       12
170       12
171       12
172       12
173       12
174       12
175       12
176       12
177       12
178       12
179       12
180       12
181       12
182       12
183       12
184       12
185       12
186       12
187       12
188       12
189       12
190       12
191       12
192       12
193       12
194       12
195       12
196       12
197       12
198       12
199       12
200       12
201       12
202       12
203       12
204       12
205       12
206       12
207       12
208       12
209       12
210       12
211       12
212       12
213       12
214       12
215       12
216       12
217       12
218       12
219       12
220       12
221       12
222       12
223       12
224       12
225       12
226       12
227       12
228       12
229       12
230       12
231       12
232       12
233       12
234       12
235       12
236       12
237       12
238       12
239       12
240       12
241       12
242       12
243       12
244       12
245       12
246       12
247       12
248       12
249       12
          ..
128162    10
128163    10
128164    10
128165    10
128166    10
128167    10
128168    10
128169    10
128170    10
128171    10
128172    10
128173    10
128174    10
128175    10
128176    10
128177    10
128178    10
128179    10
128180    10
128181    10
128182    10
128183    10
128184    10
128185    10
128186    10
128187    10
128188    10
128189    10
128190    10
128191    10
128192    10
128193    10
128194    10
128195    10
128196    10
128197    10
128198    10
128199    10
128200    10
128201    10
128202    10
128203    10
128204    10
128205    10
128206    10
128207    10
128208    10
128209    10
128210    10
128211    10
128212    10
128213    10
128214    10
128215    10
128216    10
128217    10
128218    10
128219    10
128220    10
128221    10
128222    10
128223    10
128224    10
128225    10
128226    10
128227    10
128228    10
128229    10
128230    10
128231    10
128232    10
128233    10
128234    10
128235    10
128236    10
128237    10
128238    10
128239    10
128240    10
128241    10
128242    10
128243    10
128244    10
128245    10
128246    10
128247    10
128248    10
128249    10
128250    10
128251    10
128252    10
128253    10
128254    10
128255    10
128256    10
128257    10
128258    10
128259    10
128260    10
128261    10
128262    10
128263    10
128264    10
128265    10
128266    10
128267    10
128268    10
128269    10
128270    10
128271    10
128272    10
128273    10
128274    10
128275    10
128276    10
128277    10
128278    10
128279    10
128280    10
128281    10
128282    10
128283    10
128284    10
128285    10
128286    10
128287    10
128288    10
128289    10
128290    10
128291    10
128292    10
128293    10
128294    10
128295    10
128296    10
128297    10
128298    10
128299    10
128300    10
128301    10
128302    10
128303    10
128304    10
128305    10
128306    10
128307    10
128308    10
128309    10
128310    10
128311    10
128312    10
128313    10
128314    10
128315    10
128316    10
128317    10
128318    10
128319    10
128320    10
128321    10
128322    10
128323    10
128324    10
128325    10
128326    10
128327    10
128328    10
128329    10
128330    10
128331    10
128332    10
128333    10
128334    10
128335    10
128336    10
128337    10
128338    10
128339    10
128340    10
128341    10
128342    10
128343    10
128344    10
128345    10
128346    10
128347    10
128348    10
128349    10
128350    10
128351    10
128352    10
128353    10
128354    10
128355    10
128356    10
128357    10
128358    10
128359    10
128360    10
128361    10
128362    10
128363    10
128364    10
128365    10
128366    10
128367    10
128368    10
128369    10
128370    10
128371    10
128372    10
128373    10
128374    10
128375    10
128376    10
128377    10
128378    10
128379    10
128380    10
128381    10
128382    10
128383    10
128384    10
128385    10
128386    10
128387    10
128388    10
128389    10
128390    10
128391    10
128392    10
128393    10
128394    10
128395    10
128396    10
128397    10
128398    10
128399    10
128400    10
128401    10
128402    10
128403    10
128404    10
128405    10
128406    10
128407    10
128408    10
128409    10
128410    10
128411    10
Name: issue_d, Length: 128412, dtype: int64

In [0]:
df['issue_month'] = df['issue_d'].dt.month

In [56]:
df['issue_month'].value_counts()

10    46305
11    41973
12    40134
Name: issue_month, dtype: int64

In [57]:
df.dtypes

loan_amnt                                              int64
funded_amnt                                            int64
funded_amnt_inv                                      float64
term                                                  object
int_rate                                             float64
installment                                          float64
grade                                                 object
sub_grade                                             object
emp_title                                             object
emp_length                                            object
home_ownership                                        object
annual_inc                                           float64
verification_status                                   object
issue_d                                       datetime64[ns]
loan_status                                           object
pymnt_plan                                            object
purpose                                               object
title                                                 object
zip_code                                              object
addr_state                                            object
dti                                                  float64
delinq_2yrs                                            int64
earliest_cr_line                                      object
inq_last_6mths                                         int64
mths_since_last_delinq                               float64
mths_since_last_record                               float64
open_acc                                               int64
pub_rec                                                int64
revol_bal                                              int64
revol_util                                            object
total_acc                                              int64
initial_list_status                                   object
out_prncp                                            float64
out_prncp_inv                                        float64
total_pymnt                                          float64
total_pymnt_inv                                      float64
total_rec_prncp                                      float64
total_rec_int                                        float64
total_rec_late_fee                                   float64
recoveries                                           float64
collection_recovery_fee                              float64
last_pymnt_d                                          object
last_pymnt_amnt                                      float64
next_pymnt_d                                          object
last_credit_pull_d                                    object
collections_12_mths_ex_med                             int64
mths_since_last_major_derog                          float64
policy_code                                            int64
application_type                                      object
annual_inc_joint                                     float64
dti_joint                                            float64
verification_status_joint                             object
acc_now_delinq                                         int64
tot_coll_amt                                           int64
tot_cur_bal                                            int64
open_acc_6m                                            int64
open_act_il                                            int64
open_il_12m                                            int64
open_il_24m                                            int64
mths_since_rcnt_il                                   float64
total_bal_il                                           int64
il_util                                              float64
open_rv_12m                                            int64
open_rv_24m                                            int64
max_bal_bc                                             int64
all_util                                             float64
total_rev_hi_lim                                       int64
inq_fi                                                 int64
total_cu_tl                                            int64
inq_last_12m                                           int64
acc_open_past_24mths                                   int64
avg_cur_bal                                          float64
bc_open_to_buy                                       float64
bc_util                                              float64
chargeoff_within_12_mths                               int64
delinq_amnt                                            int64
mo_sin_old_il_acct                                   float64
mo_sin_old_rev_tl_op                                   int64
mo_sin_rcnt_rev_tl_op                                  int64
mo_sin_rcnt_tl                                         int64
mort_acc                                               int64
mths_since_recent_bc                                 float64
mths_since_recent_bc_dlq                             float64
mths_since_recent_inq                                float64
mths_since_recent_revol_delinq                       float64
num_accts_ever_120_pd                                  int64
num_actv_bc_tl                                         int64
num_actv_rev_tl                                        int64
num_bc_sats                                            int64
num_bc_tl                                              int64
num_il_tl                                              int64
num_op_rev_tl                                          int64
num_rev_accts                                          int64
num_rev_tl_bal_gt_0                                    int64
num_sats                                               int64
num_tl_120dpd_2m                                     float64
num_tl_30dpd                                           int64
num_tl_90g_dpd_24m                                     int64
num_tl_op_past_12m                                     int64
pct_tl_nvr_dlq                                       float64
percent_bc_gt_75                                     float64
pub_rec_bankruptcies                                   int64
tax_liens                                              int64
tot_hi_cred_lim                                        int64
total_bal_ex_mort                                      int64
total_bc_limit                                         int64
total_il_high_credit_limit                             int64
revol_bal_joint                                      float64
sec_app_earliest_cr_line                              object
sec_app_inq_last_6mths                               float64
sec_app_mort_acc                                     float64
sec_app_open_acc                                     float64
sec_app_revol_util                                   float64
sec_app_open_act_il                                  float64
sec_app_num_rev_accts                                float64
sec_app_chargeoff_within_12_mths                     float64
sec_app_collections_12_mths_ex_med                   float64
sec_app_mths_since_last_major_derog                  float64
hardship_flag                                         object
hardship_type                                         object
hardship_reason                                       object
hardship_status                                       object
deferral_term                                        float64
hardship_amount                                      float64
hardship_start_date                                   object
hardship_end_date                                     object
payment_plan_start_date                               object
hardship_length                                      float64
hardship_dpd                                         float64
hardship_loan_status                                  object
orig_projected_additional_accrued_interest           float64
hardship_payoff_balance_amount                       float64
hardship_last_payment_amount                         float64
debt_settlement_flag                                  object
debt_settlement_flag_date                             object
settlement_status                                     object
settlement_date                                       object
settlement_amount                                    float64
settlement_percentage                                float64
settlement_term                                      float64
emp_title_manager                                       bool
issue_year                                             int64
issue_month                                            int64
dtype: object

In [58]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [59]:
df['earliest_cr_line'].head()

0    Apr-2011
1    Jan-1997
2    Jan-1996
3    Sep-2006
4    Jul-1997
Name: earliest_cr_line, dtype: object

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [61]:
(df['issue_d'] - df['earliest_cr_line']).dt.days

0          2801
1          8004
2          8370
3          4474
4          7823
5          4079
6          6088
7          3713
8          5479
9          7093
10         6331
11         6635
12         1705
13        14428
14         3562
15         6453
16         4232
17         1736
18         5479
19         9192
20         4079
21         3743
22        11048
23         2648
24         4901
25         1979
26        10380
27         1764
28         5174
29         8339
30         5723
31         4201
32         5693
33         2983
34         4901
35         4079
36         5935
37         3075
38         4962
39         5782
40         5174
41         5023
42         4686
43         2435
44         1522
45         2679
46         3987
47         4201
48         4383
49         4474
50         4444
51         9953
52         5143
53         8645
54         3013
55         7001
56         5479
57         4321
58         4748
59         5782
60         2526
61         1522
62         3136
63         6970
64         5997
65         3378
66         3987
67         5327
68         5966
69         5143
70         7031
71         3774
72         5509
73         6453
74        11506
75         5113
76         3409
77         4232
78         5662
79         2282
80         2891
81        12144
82         4870
83         5143
84         4566
85         2070
86         6665
87        10836
88         1795
89         1279
90         5844
91         6178
92         7001
93         4870
94         5113
95         4992
96         5023
97         5235
98         3501
99         9406
100       11841
101        1491
102        8096
103       15920
104        1705
105        3075
106       10196
107        4870
108        7670
109        8735
110        7973
111        5113
112        4262
113        6239
114       10015
115       11201
116        4171
117        4079
118        4901
119        6270
120       12509
121        4171
122        8188
123        1491
124        4232
125        5174
126        7305
127        1856
128        7670
129        5540
130        6331
131        8766
132        4474
133        4262
134       10045
135        8157
136        4018
137        7184
138        2679
139        3044
140        7670
141        5570
142       12448
143        6818
144       10227
145        6849
146       10349
147        8584
148        4293
149        7215
150        3197
151        7700
152        7427
153        8827
154        3348
155       11476
156        5570
157        7396
158        2891
159        7519
160        4870
161        5357
162        8157
163        5570
164        6574
165        8126
166        4474
167        4686
168        6453
169        6818
170        3774
171       10137
172        5174
173        9253
174        3470
175       11018
176        5874
177        5051
178        8857
179        3713
180        4171
181        7580
182        7243
183        7731
184        3621
185        7580
186        8126
187        4383
188        1522
189        7731
190       11445
191        6696
192        4232
193        7215
194        5479
195        8554
196        2282
197        4992
198        5082
199        1310
200        4413
201        5601
202        4658
203        2801
204       11718
205        5448
206        4079
207       11048
208       10714
209        6270
210        7396
211        3621
212        2435
213        5235
214        1614
215        4444
216        4293
217        5113
218        4962
219        5935
220        7761
221        4809
222        7243
223        3287
224        6909
225        4627
226        7608
227        4717
228        9649
229        8645
230        4505
231        4413
232        6178
233        7427
234        7243
235       10957
236        9862
237        7062
238        6635
239       16346
240        3044
241        2618
242       10165
243        4048
244        4901
245       10592
246        3470
247        6512
248        5113
249        4140
          ...
128162    12632
128163     3348
128164     5418
128165     2618
128166     3105
128167     6027
128168     6117
128169     4232
128170     9649
128171    13210
128172     4717
128173     4840
128174     3805
128175     6970
128176     5296
128177     4901
128178     7032
128179     6239
128180     4505
128181    12387
128182     2922
128183     1249
128184     4079
128185     4260
128186     6788
128187    10684
128188     4232
128189     6940
128190     4110
128191     2618
128192     5235
128193     5327
128194     4079
128195     7305
128196     6178
128197     4625
128198    10561
128199     1675
128200     6270
128201     7032
128202     3652
128203     4748
128204     3774
128205     7366
128206     3866
128207     4079
128208     4444
128209     3529
128210     4931
128211     5296
128212     3682
128213     4840
128214     4444
128215     6696
128216     7912
128217    14214
128218     5601
128219     5966
128220     6543
128221     4505
128222     4291
128223     4536
128224     5356
128225     8249
128226     3744
128227     8218
128228     7244
128229     6909
128230     3075
128231    14671
128232     6148
128233    10227
128234     6239
128235     4717
128236     6086
128237     6574
128238     4140
128239     3256
128240     8035
128241     8157
128242     5693
128243     4809
128244     7670
128245     5143
128246     3866
128247     4232
128248    12326
128249     6848
128250    10745
128251     4140
128252     5387
128253     2679
128254    16375
128255     5509
128256     7943
128257     6117
128258     5052
128259     6574
128260     7001
128261     5783
128262    12295
128263     4444
128264     7609
128265     4110
128266     5693
128267     3744
128268    11841
128269     2830
128270     3591
128271     9526
128272     9801
128273     5540
128274     4990
128275     8858
128276     2587
128277     1887
128278     4840
128279     4809
128280     5540
128281     5721
128282     5479
128283     7274
128284     6178
128285     5082
128286    10410
128287     6543
128288     5601
128289     4140
128290     8004
128291     8705
128292     9070
128293     9710
128294    11596
128295     7700
128296    16254
128297     3195
128298     5082
128299     7305
128300     4778
128301     1369
128302     3591
128303     5721
128304     8401
128305     7274
128306    10745
128307     2434
128308    12723
128309     7700
128310     5418
128311     7335
128312     2374
128313     7032
128314     4990
128315     6086
128316     4656
128317     3164
128318     9223
128319     5113
128320     5509
128321     7943
128322     8584
128323     6848
128324     5235
128325     8309
128326     3195
128327     4352
128328     6970
128329     5174
128330     3529
128331     8218
128332     8523
128333     4778
128334     3774
128335     2891
128336     6940
128337     3713
128338     4444
128339     4840
128340     6909
128341     1675
128342     6788
128343     5752
128344     5540
128345    11657
128346    13422
128347     1310
128348     4597
128349     6513
128350     8004
128351     3744
128352     7792
128353    11231
128354     3226
128355    14275
128356     6331
128357     8278
128358     4383
128359     7001
128360     2130
128361     6482
128362     8766
128363     4110
128364     4566
128365     7912
128366     7823
128367     3560
128368     7213
128369     3195
128370     4870
128371     7274
128372    11506
128373     8431
128374     8401
128375     2313
128376     4962
128377    10622
128378     9923
128379     5448
128380     5540
128381     2557
128382     6178
128383     6848
128384     4048
128385     2861
128386     6757
128387     2952
128388     7032
128389     4990
128390     4505
128391     9070
128392     5327
128393     4505
128394     7853
128395     7062
128396     7123
128397    10045
128398     3987
128399     5601
128400     1279
128401     6209
128402     5418
128403     4748
128404    11506
128405     5448
128406     2252
128407    12114
128408    13241
128409     4505
128410     3652
128411     4413
Length: 128412, dtype: int64

In [62]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue
0,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,2011-04-01,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,2801
1,25000,25000,25000.0,60 months,14.47,587.82,C,C2,Teacher,10+ years,OWN,110000.0,Not Verified,2018-12-01,Current,n,credit_card,Credit card refinancing,117xx,NY,26.43,1,1997-01-01,0,7.0,NaN,23,0,39053,45.7%,49,w,23533.24,23533.24,2908.95,2908.95,1466.76,1442.19,0.0,0.0,0.0,May-2019,587.82,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,8004
2,10000,10000,10000.0,36 months,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,1996-01-01,0,18.0,NaN,14,0,9082,38%,23,w,8788.59,8788.59,1612.54,1612.54,1211.41,401.13,0.0,0.0,0.0,May-2019,324.23,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,8370
3,4000,4000,4000.0,36 months,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,2006-09-01,4,59.0,NaN,15,0,5199,19.2%,20,w,3596.15,3596.15,770.60,770.60,403.85,366.75,0.0,0.0,0.0,May-2019,155.68,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,4474
4,31450,31450,31450.0,36 months,7.56,979.16,A,A3,Construction Manager,7 years,MORTGAGE,130000.0,Verified,2018-12-01,Current,n,debt_consolidation,Debt consolidation,895xx,NV,9.29,0,1997-07-01,0,NaN,NaN,11,0,65911,63.1%,17,w,26689.41,26689.41,5802.32,5802.32,4760.59,1041.73,0.0,0.0,0.0,Jun-2019,979.16,Jul-2019,Jun-2019,0,NaN,1,Joint App,239000.0,12.77,Verified,0,0,422806,0,0,0,0,75.0,0,NaN,0,0,18962,63.0,104400,0,2,1,0,42281.0,29007.0,53.5,0,0,89.0,257,28,28,3,28.0,NaN,11.0,NaN,0,4,6,6,6,2,10,12,6,11,0.0,0,0,0,100.0,33.3,0,0,519900,65911,62400,0,64367.0,Jul-1997,0.0,3.0,14.0,60.9,1.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,2018,12,7823

In [63]:
df['years_from_earliest_credit_to_issue'] = (df['days_from_earliest_credit_to_issue'] / 365)
df.head().T

                                                              0                        1                    2                    3                     4
loan_amnt                                                  5000                    25000                10000                 4000                 31450
funded_amnt                                                5000                    25000                10000                 4000                 31450
funded_amnt_inv                                            5000                    25000                10000                 4000                 31450
term                                                  36 months                60 months            36 months            36 months             36 months
int_rate                                                  17.97                    14.47                10.33                 23.4                  7.56
installment                                              180.69                   587.82               324.23               155.68                979.16
grade                                                         D                        C                    B                    E                     A
sub_grade                                                    D1                       C2                   B1                   E1                    A3
emp_title                                        Administrative                  Teacher              Unknown             Security  Construction Manager
emp_length                                              6 years                10+ years             < 1 year              3 years               7 years
home_ownership                                         MORTGAGE                      OWN             MORTGAGE                 RENT              MORTGAGE
annual_inc                                                59280                   110000               280000                90000                130000
verification_status                             Source Verified             Not Verified         Not Verified      Source Verified              Verified
issue_d                                     2018-12-01 00:00:00      2018-12-01 00:00:00  2018-12-01 00:00:00  2018-12-01 00:00:00   2018-12-01 00:00:00
loan_status                                             Current                  Current              Current              Current               Current
pymnt_plan                                                    n                        n                    n                    n                     n
purpose                                      debt_consolidation              credit_card   debt_consolidation   debt_consolidation    debt_consolidation
title                                        Debt consolidation  Credit card refinancing   Debt consolidation   Debt consolidation    Debt consolidation
zip_code                                                  490xx                    117xx                974xx                070xx                 895xx
addr_state                                                   MI                       NY                   OR                   NJ                    NV
dti                                                       10.51                    26.43                 6.15                26.33                  9.29
delinq_2yrs                                                   0                        1                    2                    0                     0
earliest_cr_line                            2011-04-01 00:00:00      1997-01-01 00:00:00  1996-01-01 00:00:00  2006-09-01 00:00:00   1997-07-01 00:00:00
inq_last_6mths                                                0                        0                    0                    4                     0
mths_since_last_delinq                                      NaN                        7                   18                   59                   NaN
mths_since_last_record                                      NaN                      NaN                  NaN                  NaN                   NaN
open_acc                                                      8                       23                   14                   15                    11
pub_rec                                                       0                        0                    0                    0                     0
revol_bal                                                  4599                    39053                 9082                 5199                 65911
revol_util                                                19.1%                    45.7%                  38%                19.2%                 63.1%
total_acc                                                    13                       49                   23                   20                    17
initial_list_status                                           w                        w                    w                    w                     w
out_prncp                                               4456.17                  23533.2              8788.59              3596.15               26689.4
out_prncp_inv                                           4456.17                  23533.2              8788.59              3596.15               26689.4
total_pymnt                                              895.96                  2908.95              1612.54                770.6               5802.32
total_pymnt_inv                                          895.96                  2908.95              1612.54                770.6               5802.32
total_rec_prncp                                          543.83                  1466.76              1211.41               403.85               4760.59
total_rec_int                                            352.13                  1442.19               401.13               366.75               1041.73
total_rec_late_fee                                            0                        0                    0                    0                     0
recoveries                                                    0                        0                    0                    0                     0
collection_recovery_fee                                       0                        0                    0                    0                     0
last_pymnt_d                                           Jun-2019                 May-2019             May-2019             May-2019              Jun-2019
last_pymnt_amnt                                          180.69                   587.82               324.23               155.68                979.16
next_pymnt_d                                           Jul-2019                 Jul-2019             Jul-2019             Jul-2019              Jul-2019
last_credit_pull_d                                     Jun-2019                 Jun-2019             Jun-2019             Jun-2019              Jun-2019
collections_12_mths_ex_med                                    0                        0                    0                    0                     0
mths_since_last_major_derog                                 NaN                        7                  NaN                  NaN                   NaN
policy_code                                                   1                        1                    1                    1                     1
application_type                                     Individual               Individual           Individual           Individual             Joint App
annual_inc_joint                                            NaN                      NaN                  NaN                  NaN                239000
dti_joint                                                   NaN                      NaN                  NaN                  NaN                 12.77
verification_status_joint                                   NaN                      NaN                  NaN                  NaN              Verified
acc_now_delinq                                                0                        0                    0                    0                     0
tot_coll_amt                                                  0                        0                  671                    0                     0
tot_cur_bal                                              110299                    95648               246828                66926                422806
open_acc_6m                                                   0                        0                    1                    5                     0
open_act_il                                                   1                        3                    3                    4                     0
open_il_12m                                                   0                        0                    2                    3                     0
open_il_24m                                                   2                        0                    3                    4                     0
mths_since_rcnt_il                                           14                       35                    1                    5                    75
total_bal_il                                               7150                    54716                48552                61727                     0
il_util                                                      72                       23                   62                   86                   NaN
open_rv_12m                                                   0                        1                    1                    6                     0
open_rv_24m                                                   2                        2                    3                   11                     0
max_bal_bc                                                    0                     8422                 4923                 1353                 18962
all_util                                                     35                       39                   46                   68                    63
total_rev_hi_lim                                          24100                    85500                23900                27100                104400
inq_fi                                                        1                        0                    2                    4                     0
total_cu_tl                                                   5                        1                    7                    0                     2
inq_last_12m                                                  0                        0                    1                    4                     1
acc_open_past_24mths                                          4                        2                    7                   15                     0
avg_cur_bal                                               18383                     4159                17631                 4462                 42281
bc_open_to_buy                                            13800                    34837                11897                20174                 29007
bc_util                                                       0                     44.5                 43.1                  7.9                  53.5
chargeoff_within_12_mths                                      0                        0                    0                    0                     0
delinq_amnt                                                   0                        0                    0                    0                     0
mo_sin_old_il_acct                                           87                      263                  158                  147                    89
mo_sin_old_rev_tl_op                                         92                      246                  275                  118                   257
mo_sin_rcnt_rev_tl_op                                        15                       10                   11                    2                    28
mo_sin_rcnt_tl                                               14                       10                    1                    2                    28
mort_acc                                                      2                        0                    1                    0                     3
mths_since_recent_bc                                         77                       48                   11                    2                    28
mths_since_recent_bc_dlq                                    NaN                      NaN                  NaN                  NaN                   NaN
mths_since_recent_inq                                        14                      NaN                   11                    0                    11
mths_since_recent_revol_delinq                              NaN                      NaN                  NaN                  NaN                   NaN
num_accts_ever_120_pd                                         0                        0                    0                    0                     0
num_actv_bc_tl                                                0                        9                    3                    5                     4
num_actv_rev_tl                                               3                       13                    4                    7                     6
num_bc_sats                                                   3                       10                    7                    9                     6
num_bc_tl                                                     3                       14                    7                    9                     6
num_il_tl                                                     4                       21                   10                    8                     2
num_op_rev_tl                                                 6                       19                    9                   11                    10
num_rev_accts                                                 7                       27                   11                   12                    12
num_rev_tl_bal_gt_0                                           3                       13                    4                    7                     6
num_sats                                                      8                       23                   14                   15                    11
num_tl_120dpd_2m                                              0                        0                    0                    0                     0
num_tl_30dpd                                                  0                        0                    0                    0                     0
num_tl_90g_dpd_24m                                            0                        1                    0                    0                     0
num_tl_op_past_12m                                            0                        1                    4                    9                     0
pct_tl_nvr_dlq                                              100                       98                 91.3                   95                   100
percent_bc_gt_75                                              0                       10                 28.6                    0                  33.3
pub_rec_bankruptcies                                          0                        0                    0                    0                     0
tax_liens                                                     0                        0                    0                    0                     0
tot_hi_cred_lim                                          136927                   179321               367828                98655                519900
total_bal_ex_mort                                         11749                    95648                61364                66926                 65911
total_bc_limit                                            13800                    62800                20900                21900                 62400
total_il_high_credit_limit                                10000                    91424                54912                71555                     0
revol_bal_joint                                             NaN                      NaN                  NaN                  NaN                 64367
sec_app_earliest_cr_line                                    NaN                      NaN                  NaN                  NaN              Jul-1997
sec_app_inq_last_6mths                                      NaN                      NaN                  NaN                  NaN                     0
sec_app_mort_acc                                            NaN                      NaN                  NaN                  NaN                     3
sec_app_open_acc                                            NaN                      NaN                  NaN                  NaN                    14
sec_app_revol_util                                          NaN                      NaN                  NaN                  NaN                  60.9
sec_app_open_act_il                                         NaN                      NaN                  NaN                  NaN                     1
sec_app_num_rev_accts                                       NaN                      NaN                  NaN                  NaN                    19
sec_app_chargeoff_within_12_mths                            NaN                      NaN                  NaN                  NaN                     0
sec_app_collections_12_mths_ex_med                          NaN                      NaN                  NaN                  NaN                     0
sec_app_mths_since_last_major_derog                         NaN                      NaN                  NaN                  NaN                   NaN
hardship_flag                                                 N                        N                    N                    N                     N
hardship_type                                               NaN                      NaN                  NaN                  NaN                   NaN
hardship_reason                                             NaN                      NaN                  NaN                  NaN                   NaN
hardship_status                                             NaN                      NaN                  NaN                  NaN                   NaN
deferral_term                                               NaN                      NaN                  NaN                  NaN                   NaN
hardship_amount                                             NaN                      NaN                  NaN                  NaN                   NaN
hardship_start_date                                         NaN                      NaN                  NaN                  NaN                   NaN
hardship_end_date                                           NaN                      NaN                  NaN                  NaN                   NaN
payment_plan_start_date                                     NaN                      NaN                  NaN                  NaN                   NaN
hardship_length                                             NaN                      NaN                  NaN                  NaN                   NaN
hardship_dpd                                                NaN                      NaN                  NaN                  NaN                   NaN

In [0]:
type(np.NaN)

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [84]:
# 1. complete! 

# 2. lets take for example the int_rate that were in the data set.

type('10')

str

In [85]:
int('10')

10

In [0]:
#[remove_percent(string) for string in example]

In [93]:
# 3. 

df['loan_status'].replace('Current', 1, inplace=True)
df['loan_status'].replace('Current', 0, inplace=False)
df.head()
 # know this isnt fully correct, but im not sure on how to change the other values to 0.
  #a part of me thinks it should be in a if statement were if current inplace 1 else 0 just not sure on how to write it.

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,emp_title_manager,issue_year,issue_month,days_from_earliest_credit_to_issue,years_from_earliest_credit_to_issue
0,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,2011-04-01,0,NaN,NaN,8,0,4599,19.1%,13,w,4456.17,4456.17,895.96,895.96,543.83,352.13,0.0,0.0,0.0,Jun-2019,180.69,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,110299,0,1,0,2,14.0,7150,72.0,0,2,0,35.0,24100,1,5,0,4,18383.0,13800.0,0.0,0,0,87.0,92,15,14,2,77.0,NaN,14.0,NaN,0,0,3,3,3,4,6,7,3,8,0.0,0,0,0,100.0,0.0,0,0,136927,11749,13800,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,2801,7.673973
1,25000,25000,25000.0,60 months,14.47,587.82,C,C2,Teacher,10+ years,OWN,110000.0,Not Verified,2018-12-01,1,n,credit_card,Credit card refinancing,117xx,NY,26.43,1,1997-01-01,0,7.0,NaN,23,0,39053,45.7%,49,w,23533.24,23533.24,2908.95,2908.95,1466.76,1442.19,0.0,0.0,0.0,May-2019,587.82,Jul-2019,Jun-2019,0,7.0,1,Individual,NaN,NaN,NaN,0,0,95648,0,3,0,0,35.0,54716,23.0,1,2,8422,39.0,85500,0,1,0,2,4159.0,34837.0,44.5,0,0,263.0,246,10,10,0,48.0,NaN,NaN,NaN,0,9,13,10,14,21,19,27,13,23,0.0,0,1,1,98.0,10.0,0,0,179321,95648,62800,91424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,8004,21.928767
2,10000,10000,10000.0,36 months,10.33,324.23,B,B1,Unknown,< 1 year,MORTGAGE,280000.0,Not Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,974xx,OR,6.15,2,1996-01-01,0,18.0,NaN,14,0,9082,38%,23,w,8788.59,8788.59,1612.54,1612.54,1211.41,401.13,0.0,0.0,0.0,May-2019,324.23,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,671,246828,1,3,2,3,1.0,48552,62.0,1,3,4923,46.0,23900,2,7,1,7,17631.0,11897.0,43.1,0,0,158.0,275,11,1,1,11.0,NaN,11.0,NaN,0,3,4,7,7,10,9,11,4,14,0.0,0,0,4,91.3,28.6,0,0,367828,61364,20900,54912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,8370,22.931507
3,4000,4000,4000.0,36 months,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,070xx,NJ,26.33,0,2006-09-01,4,59.0,NaN,15,0,5199,19.2%,20,w,3596.15,3596.15,770.60,770.60,403.85,366.75,0.0,0.0,0.0,May-2019,155.68,Jul-2019,Jun-2019,0,NaN,1,Individual,NaN,NaN,NaN,0,0,66926,5,4,3,4,5.0,61727,86.0,6,11,1353,68.0,27100,4,0,4,15,4462.0,20174.0,7.9,0,0,147.0,118,2,2,0,2.0,NaN,0.0,NaN,0,5,7,9,9,8,11,12,7,15,0.0,0,0,9,95.0,0.0,0,0,98655,66926,21900,71555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,False,2018,12,4474,12.257534
4,31450,31450,31450.0,36 months,7.56,979.16,A,A3,Construction Manager,7 years,MORTGAGE,130000.0,Verified,2018-12-01,1,n,debt_consolidation,Debt consolidation,895xx,NV,9.29,0,1997-07-01,0,NaN,NaN,11,0,65911,63.1%,17,w,26689.41,26689.41,5802.32,5802.32,4760.59,1041.73,0.0,0.0,0.0,Jun-2019,979.16,Jul-2019,Jun-2019,0,NaN,1,Joint App,239000.0,12.77,Verified,0,0,422806,0,0,0,0,75.0,0,NaN,0,0,18962,63.0,104400,0,2,1,0,42281.0,29007.0,53.5,0,0,89.0,257,28,28,3,28.0,NaN,11.0,NaN,0,4,6,6,6,2,10,12,6,11,0.0,0,0,0,100.0,33.3,0,0,519900,65911,62400,0,64367.0,Jul-1997,0.0,3.0,14.0,60.9,1.0,19.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,True,2018,12,7823,21.432877

In [0]:
#4 ran out of time

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01