<a href="https://colab.research.google.com/github/alvinwalker314/AlvinWalker-DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Custom_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Taking from the top

In [0]:

!pip freeze
!pip install pandas==0.23.4
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
#Read Excel Info
from pandas import ExcelWriter
from pandas import ExcelFile
# Import Local Files from your Machine from Colab
from google.colab import files
#In a new cell follow with this to load the data
uploaded = files.upload()
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Filename.csv']))
# Dataset is now stored in a Pandas Dataframe

# Authenticate and create the PyDrive client
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#SOME COMMON BASH COMMANDS
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
!unzip LoanStats_2018Q4.csv.zip
!head LoanStats_2018Q4.csv
_____________________________________

DISPLAY SETTINGS
pd.set_option('display.max_columns', 50)


CLEANING

print(df.isna().sum().sort_values(ascending=False))
print(df.shape)
print(df.describe())
print(df.head())
print(df.keys())
print(df.value_counts())
print(df.drop)
print(df.dtypes)
df.replace(' ?', np.NaN)

df.loc[]based onthe order of the rows
df.iloc[]based on the index
df.loc[0] gives the first row
df.loc[0][5] gives the info in the 5th in of the row zero
df = df.fillna(method='ffill')


!pip freeze
!pip install pandas==0.23.4

Honorable Mentions:
  
from collections import namedtuple
random.seed(42)
df.isna().sum() or df.isna().sum().sum() or df.isna().any()
df.dtypes

In [0]:
#DATETIME
  
Date Times:
cast to datetime object
df['this one']= dr['another_one'].dt.year
                                  dt.month
df['column'] = pd.to_datetime(df['column'])

df['issue_d'] = pd.to_datetime(df['issue_d'],  infer_datetime_format=True)

#SELECT A DATE TIME INDEXED DATAFRAME ROW
newdf = df['2017-08-29']
#MAKE A NEW DATAFRAME WITH A TRUE CONDITIONAL
newdf_filtered = newdf[newdf['columnname'] == 'cell equalls']

COLUMN TRICKS

In [0]:
#makes a list of all the columns containing a certain word
columnsx = list(df.columns[df.columns.str.contains("xxxxx", regex=True)])
#make a new column from that list
df2 = pd.DataFrame(df, columns=[df[columnsx]])
#ITERATE OVER A COLUMN THEN APPLY A ALGO
for column in list(df2.columns):
  df2[column] = round(df2[column]/df2['tot']* 100)
#SAME RESULT DIFFERENT METHOD by rows
df2 = pd.crosstab(df['Year'], df['Occupation'], normalize='index')*100

In [0]:
#Using .apply and lambda to strip leading and lagging white space across a DF

df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [0]:
#using .mask to replace a value with NaN across a data frame
#in this case the value is '?'. The default replacement is NaN
df = df.mask(adult_data.values == '?')

In [0]:
#Filling NaNs Using Other Values in the Column
#This one forward fills from the nearest value above the NaN
df['column_name'] = df['column_name'].fillna(method='ffill')


#This one back fills from the nearest value below the NaN
df['column_name'] = df['column_name'].fillna(method='bfill')

#Fill NaNs with specific values:
#Fill with Mean
df.fillna(df.mean()['column_name':'another_column_name'])

Feature Making

In [0]:
#add accross rows and make a new column
df2['xxx'] = df2.sum(axis = 1, skipna = True)

# We can replace values in a dataframe
df['trt'].replace('a', 0).replace('b', 1)

# Can also do this with a mapping dictionary
df['trt'].map({'a': 0, 'b': 1})

# Can also use astype
(df['trt'] == 'b').astype(int)

#list the columns
df.columns.tolist()

#PIVOT TABLE
tidydf.pivot_table(index='name', columns='trt', values='result')

#WHERE BY
new_df = df.copy()

# .apply
DataFrame.apply(func, axis=0, broadcast=None, raw=False, reduce=None, result_type=None, args=(), **kwds)


#CONDITIONALS
condition = (orders['user_id'] == 1) & (orders['order_number'] <= 2)

#EXAMPLE2 Returns a new column with mapped binary conversion to strings
my_dict = {0: "Possible Dream Home", 1: "No Thanks"}
new_df['home_status'] = np.where((new_df['age'] < 20)  & (new_df['price'] <= 550000) 
& (new_df['num_bathrooms'] >= 2), my_dict[0], my_dict[1])

print(new_df.head())

ILOC & LOC

In [0]:
import pandas as pd

# Data Frame to practice .loc[] techniques on
df = pd.DataFrame({'index':[1, 2, 3, 4, 5],
                   'name_1':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_2':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_3':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_4':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_5':['entry1', 'entry2', 'entry3', 'entry4', 'entry5']})

In [0]:
# Set Index
#df.set_index('index', inplace=True)
df.head()

In [0]:
### Select by a Single Label
#1 Select and print the '1' Row
print(df.loc[1])
#2 Select and print Row 1 Label with Column 1 Label to get entry1
print(df.loc[[1],'name_1'])

In [0]:
### Select Multiple Rows Using LISTS
#1 Select and print Row Labels 1, 2
print(df.iloc[[1,2]])
#2 Select and print Row Labels 1, 3, 5
print(df.iloc[1:5:2])
# Now Rows WITH desired Columns
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
print(df.iloc[1:3])
#4 Select and print Row Labels 1, 3, 4, 5 with Column Labels 'name_1', 'name_3', 'name_4', 'name_5'
print(df.iloc[[0,2,3,4],[0,2,3,4]])

In [0]:
#Select 3rd position until end:
df.iloc[2:]

In [0]:
#Select 3rd position to end by 2:
df.iloc[3::2]

In [0]:
### Select Multiple Row & Column Labels Using SLICE
#1 Select and print Row Labels 1, 2
print(df.loc[1:2])
#2 Select and print Row Labels 1, 2, 3
print(df.loc[0:4])
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
print(df.loc[1:3, 'name_1':])
#4 Select and print Row Labels 3, 4, 5 with Column Labels 'name_3', 'name_4', 'name_5'
print(df.loc[3:5,['name_3', 'name_4', 'name_5']])

In [0]:

### Select Multiple Row & Column Labels Using Booleans
# Reminder the Boolean List MUST be the same length as the Row/Column Axis
#1 Select and print Row Labels 1, 2
print(df.loc[[True,True, False,False,False,]])
#2 Select and print Row Labels 1, 3, 5
print(df.loc[[True,False,True,False, True]])
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
print(df.loc[[True, True, True],[True, True, True]])
#4 Select and print Row Labels 1, 3, 4, 5 with Column Labels 'name_1', 'name_3', 'name_4', 'name_5'
print(df.loc[[True, False, True, True, True],[True, False, True, True, True]])

PLOTTING AND GRAPHS

In [0]:
#QUICK SCATTER
pd.plotting.scatter_matrix(df)

In [0]:
#PANDAS CROSSTAB PASS X,Y
pd.crosstab(user_data['purchased'], user_data['time_on_site'])
#BINNING
time_bins = pd.cut(user_data['time_on_site'], 5)
pd.qcut(DATAFRAME,10, duplicates='drop')# cuts by how many are in there
pd.cut(DATAFRAME,bins[this, tothis, tothis, tothis, etc ], right=False)

In [0]:
#thirtyfiveeightstylegraph with built in annotation
def thirtyfiveline(dataframe, title, subtitle,lineannotationlist,xlabel,ylabel):
  ax = dataframe.plot(legend=False)
  plt.style.use(['fivethirtyeight'])
  ax.text(x=1999, y=100, s= title,
          fontsize=18, fontweight='bold')
  ax.text(x=1999, y=95, s= subtitle,
          fontsize=11)
  #X LABEL AND Y LABEL
  plt.ylabel(ylabel, fontsize=9, fontweight='bold')
  plt.xlabel(xlabel, fontsize=9, fontweight='bold')
  #ADD ANNOTATION LINE AS NEEDED TO LENGTH OF LIST
  plt.grid(b=True, which='major', axis='both', color='grey', linestyle='-', linewidth=.5)
  plt.annotate(xy=[2000,80], fontweight=2,s=lineannotationlist[0], color='#4286f4')
  plt.annotate(xy=[2008,50], fontweight=2,s=lineannotationlist[1], color='orange')
  plt.annotate(xy=[2006,5], fontweight=2,s=lineannotationlist[2], color='#ad1a1a');

In [0]:
#thirtyfiveeightbargraph 
def thirtyfbar(dataframe,xlabel,ylabel, title,subtitle):
  plt.style.use('fivethirtyeight')
  fig = plt.figure()
  ax = dataframe.plot.bar(color='#ef7030', width=0.9)

  ax.set(yticks=range(0, 50, 10), facecolor='#f9f9f9')
  fig.patch.set_facecolor('#f9f9f9')

  plt.ylabel(ylabel, fontsize=9, fontweight='bold')
  plt.xlabel(xlabel, fontsize=9, fontweight='bold')
  ax.text(x=-2, y=46, s=title,
          fontsize=12, fontweight='bold')
  ax.text(x=-2, y=43, s=subtitle,
          fontsize=11)
  ax.tick_params(labelrotation=0)

In [0]:
#DAT HEAT
sns.heatmap(pd.crosstab(per['age'],  [per['exercise_time'], weight_bins] ),
            cmap="YlGnBu", annot=True, cbar=False);

In [0]:
#Matplot Scatter Plot
plt.scatter(xcolumnlabel,ycolumnlabel, c=colors, alpha=alphaflt, marker=markercode,
            label="Weight vs Exercise Time in Adults 18-80 yrs old", cmap='hsv')
plt.xlabel("Weight")
plt.ylabel("Excersise Time in min/wk")
plt.legend(loc='upper left')
plt.show();

In [0]:
#SEABORN DIST PLOT
from scipy.stats import norm
ax = sns.distplot(x, color="y",fit=norm, kde=False);

In [0]:
#SNS WITH GRADIENT
sns.lmplot( x='weight', y='exercise_time', data=per, hue='agebin', fit_reg=True, legend=True, palette='plasma', robust=True,markers='p',)
fig.suptitle("Exercise vs Weight of Age Groups", fontsize=12);

In [0]:
#SEABORN REPLOT
sns.relplot(x="total_bill", y="tip", data=df);
#SEABORN PAAIRPLOT
sns.pairplot(df, hue='smoker', palette= 'OrRd',height=2.5);
#SEABORN FACETGRID
g = sns.FacetGrid(df, col="sex", hue="time")#col category 
g.map(plt.scatter, "total_bill", "tip_pct", cmap = 'plasma', alpha=.7)
g.add_legend();
#SEABORN SCAT/DIST "WHITE"
with sns.axes_style('white'):
    sns.jointplot("tip_pct", "total_bill", data=df, cmap= "Spectral_r", kind='hex')

In [0]:
#STACKED BARS
cq = pd.crosstab(weight_bins, extime_bins)
cq.plot(kind='bar', stacked=True)

In [0]:
#PANDAS HISTORGRAM
df = pd.DataFrame({
     'length': [1.5, 0.5, 1.2, 0.9, 3],
     'width': [0.7, 0.2, 0.15, 0.2, 1.1]
     }, index= ['pig', 'rabbit', 'duck', 'chicken', 'horse'])
hist = df.hist(bins=3);

In [0]:
#Random Data Set with linear tendency
from sklearn.datasets import make_regression
from matplotlib import pyplot
# generate regression dataset
X, y = make_regression(n_samples=100, n_features=1, noise=10)
# plot regression dataset
pyplot.scatter(X,y)

In [0]:
#ax = plt.axes(projection='3d')

from mpl_toolkits.mplot3d import Axes3D
# Data for three-dimensional scattered points
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')
zdata = per['age']
xdata = per['weight']
ydata = per['exercise_time']
ax.set_xlabel('exercise_time')
ax.set_ylabel('weight')
ax.set_zlabel('age')
ax.scatter3D(xdata, ydata, zdata, c=zdata, cmap='plasma');

In [0]:
#LIST COMPREHENSION

FROM THIS -----> new_list = []
for i in old_list:
    if filter(i):
        new_list.append(expressions(i))
You can obtain the same thing using list comprehension:
new_list = [expression(i) for i in old_list if filter(i)]

In [0]:
g = df.groupby("city")
g
for city, data in g:
    print("city:",city)
    print("\n")
    print("data:",data)
g.get_group('mumbai')
g.describe()
def grouper(df, idx, col):
    if 80 <= df[col].loc[idx] <= 90:
        return '80-90'
    elif 50 <= df[col].loc[idx] <= 60:
        return '50-60'
    else:
        return 'others'
Group data using custom function: Let's say you want to group your data using custom function. Here the requirement is to create three groups
Days when temperature was between 80 and 90
Days when it was between 50 and 60
Days when it was anything else
For this you need to write custom grouping function and pass that to groupby

for key, d in g:
    print("Group by Key: {}\n".format(key))
    print(d)

In [0]:
#MAP FUNCTION
status = {'Current': 1, 'Fully Paid': 1, 'Late (31-120 days)': 0, 'In Grace Period' : 0, 'Late (16-30 days)': 0, 'Charged Off': 0}
 df['loan_status_great'] = df['loan_status_is_great'].map(status)

***Linear Regression***

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
x = df.drop('survival',axis=1)
y = df['survival']

logit = LogisticRegression().fit(x,y)

In [0]:
logit

In [0]:
logit.score(x,y)
logit.coef_ #coefficient for age,year, nodes

In [0]:
logit.predict_prod(p.array([50,64,0]).reshape(1,-1))

RANDOM FUNCTIONS

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

In [0]:
#DISPLAY IMAGE FROM HTTP
from IPython.display import display, Image
png = 'https://fivethirtyeight.com/wp-content/uploads/2015/08/hickey-datalab-dailyshow.png'
example = Image(png, width=500)
display(example)

In [0]:
# goes down label and checks in the cell contains whats in list and makes new 
#list with concatenated string from list
def get_occupation(group):
    if group in ['Acting', 'Comedy', 'Musician']:
        return 'Acting, Comedy & Music'
    elif group in ['Media', 'media']:
        return 'Media'
    elif group in ['Government', 'Politician', 'Political Aide']:
        return 'Government and Politics'
    else:
        return 'Other'
      
df['Occupation'] = df['Group'].apply(get_occupation)