<a href="https://colab.research.google.com/github/lineality/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/DS_General_Template_1_002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
cross tabs

#(Title) General Template for Date Science Code

(enter Overall Goal and description of code)

#Import Libraries

In [0]:
#library Imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests

###Settings and Adjustments

In [0]:
#so more head displays
#override display option
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#alt, put in length of DF collums
#?pd.set_option('display.max_rows',len(df.columns))
pd.set_option('display.max_columns',len(df.columns))

In [0]:
#tells you version of libraries and packages
pd.__version__

In [0]:
#installs earlier version software
#!pip install pandas==0.23.4

In [0]:
#check/set/recheck your local directory

import os
os.getcwd()
#os.chdir('C:\\Users\\linea\\DS8_LS\\edu')
#os.getcwd()

In [0]:
#shows all libraries and versions as preinstalled
#use pip freeze to view all of the 
#librarires/packages that are installed
#in our instance

#!pip freeze

##Import Data

In [0]:
#inspect file
#before loading file, check to see what the file is by loading it into a browser, text editor, or the following:
#inspect dataset
#e.g.
!curl https://...

In [0]:
#method1: "standard accepted method"
import requests
url1 = 'https://...'
response = requests.get(url1)
#check to see (validate) that it worked
response

In [0]:
#Import Method 2
!wget https://...

In [0]:
#to unzip a zipped file
#!unzip filename.csv.zip

In [0]:
#Check that file exists in local directory
!ls

##Load Data

In [0]:
#Loading data into Data Frame (df)

#Basic loading for csv,tsv,json
#CSV setting datasets to a 'df' variable:
df1 = pd.read_csv('file_name.csv')

#TSV
#df3 = pd.read_csv(('FastFmProfiles.tsv'), delimiter='\t')

#JSON
#df2 = pd.read_json('PeopleInSpaceNow.json')

#What would be the bracket method of doing this?


#future add
#xml

#future add
#rss

##Setting Header

In [0]:
#header=None (specifies that you will add your own header)

#e.g. from UCI site, headings may be listed in text on HTML page, cut and paste those...

df = pd.read_csv('URL', header=None, index_col=None, names=header_names)

header_names = header_names.split('\n')
header_names
#list comprehension
#
[name.split(':')[0] for name in header_name[1:-1]]

df.reset_index()


##Initial Data Inspection

In [0]:
#Basic Data Inspections

#(default) first five rows
print(df.head())

# shows footer if there is one
print (df.tail())

#alt method
#!head file.csv
#!tail file.csv

#checks for and summarizes missing data
print(df.isna().sum())

#prints a complete boolean of missing data (warning this may be long)
#df.isna()

#How many items are in each column
print(df.count())

#Gives basic statistics
print(df.describe())

#Rows and Columns
print(df.shape)

#look at datatypes
print(df.dtypes)

#view a list of df columns
list(df.columns)

### Advanced Inspection

In [0]:
# unique titles 
df['emp_title'].value_counts(dropna=False).reset_index().shape[0]

In [0]:
managers['int_rate'].mean()

In [0]:
df['issue_d'].head(5)

In [0]:
#returns array
df['issue_d'].head().values

##Missing Data

In [0]:
df.isnull().sum()
df.isnull().sum(). sort_values(ascending=False)

##Basic Cleaning and Preprocessing

1.2) handle atypical missing value indicators and replace them with NaN values, (typical are marked as Nan)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

https://colab.research.google.com/drive/1xqeB-Jk7LlsTV5KkHPwr0Jqpw6QHfMtd#scrollTo=OR80SCUoOl3i

In [0]:
#look at the data at the source: look at individual cells if need be
#df.iloc[14][13]

### get rid of floats amid strings

In [0]:
#replaces (float)"NaN" with (str)"unknown"
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"

df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()


###Repair Header / Footer

In [0]:
#there is a problem, so the dataframe has to be reset:
column_headers = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 
                 'marital-status', 'occupation', 'relationship', 'race', 'sex', 
                 'capital-gain', 'capital-loss', 'hours-per-week', 
                 'native-country', 'income']

df_adult = pd.read_csv('adult.data', names=column_headers)

In [0]:
#this will skip the header and footer from the files being imported
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, na_values=['n/a'], skipfooter=2)

In [0]:

#removes
skipfooter=2
 
# look for a footer to take out

In [0]:
# forward fill NaN
df.fillna(method='ffill')

In [0]:
#backfill NaN
df.fillna(method='backfill')

In [0]:
#check again
#checks for and summarizes missing data
print(df.isna().sum())

##Encoding (and Dummy variables?)



```
# This is formatted as code
```

In [0]:
https://docs.google.com/document/d/15hF87e25XniWek9ueiE-AuTLWUcmO0csTprlJXLOXeQ/edit?usp=sharing

##Time and Date

In [0]:
# converts from
# Dec-2018 form (or any form?)
# to
# 2018-12-01 
# form
#

df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [0]:
#creates a new column by taking just year out of date

df['issue_year'] = df['issue_d'].dt.year

In [0]:
#creates a new column by taking just month out of date
df['issue_month'] = df['issue_d'].dt.month

In [0]:
#returns difference between two dates
df['issue_d'] - df['earliest_cr_line']

##.Apply

s.apply(func, convert_dtype=True, args=())

In [0]:
# defining function to check price 
def function_name(item): 
        return item+2
  
# passing function to apply and storing returned series in new 
new = s.apply(fun)

In [0]:
# Write a function that will work on any given cell in a dataframe column
def remove_percent_to_float(string):
  return float(string.strip('%'))

remove_percent_to_float(int_rate)

apply function to column_name
remembmer to return a value!

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent_to_float)

##Feature Engineering

In [0]:
#use filter to fill a new column with boolean yes if contains X
df['emp_title_manager'] = df['emp_title'].str.contains('X')

##Training Set, Test Set, Splitting

##Cross Tables

https://colab.research.google.com/drive/19eUlRf1m1NGYP6IddyikG3OKB-IhIvE7

In [0]:
 #generate crosstable
 pd.crosstab(df.regiment, df.company, margins=True)


 # with headings!
 #Let's use crosstabulation to try to see what's going on
pd.crosstab(user_data['purchased'], user_data['time_on_site'])

##Filtering

https://chrisalbon.com/python/data_wrangling/filter_dataframes/

https://cmdlinetips.com/2018/02/how-to-subset-pandas-dataframe-based-on-values-of-a-column/

In [0]:
#doing computations or functions on each item in collum:
#.apply

def starts_with_m(item):
   return string[0]=='m'

df['sex'].apply(starts_with_m)

In [0]:
# get the number of unique employment titles
df['emp_title'].value_counts(dropna=False).reset_index().shape[0]

In [0]:
# empty slots
df['emp_title'].isnull().sum()

In [0]:
#returns boolean if contains x
df['emp_title'].str.contains('Manager')

In [0]:
#returns the whole df but only those parts that contain the boolean yes
new_variable = (df['emp_title_manager'] == True)
df[new_variable].head()

In [0]:
#returns part of df that contaions a given string XXX
new_variable = df[df['emp_title'].str.contains('XXX')]
print(new_variable.shape)
new_variable.head()

##Graphs

In [0]:
#Graphs

 
#Histogram 
plotA = df['age'].hist(bins=100);
plotA.set_ylabel('People Observed')
plotA.set_xlabel('Age')
plotA.set_title('Age By number of People')


#Scatterplot
plotae = df.plot.scatter('age', 'exercise_time');
plotae.set_ylabel('exercise_timeht')
plotae.set_xlabel('Age')
plotae.set_title('Age and exercise_time')


#Density Plot
plotdw = df['weight'].plot.density();
plotdw.set_xlabel('Weight')
plotdw.set_title('density plot of Weight')
dataset1['ethnicity'].plot.density();

Graph a single column...

In [0]:
#density plot
df['int_rate'].plot.density()

In [0]:
#hist
df['int_rate'].hist(bins=20);

##Quick Correlation Check

In [0]:
df.corr()

##Binning

In [0]:
#titanic dataset
#q cut in quantile sized bins
# 5 is arbitary
age_bins_cut = pd.cut(df['age'], 5)
age_bins_qcut = pd.qcut(df['age'], 5)

In [0]:
#equal size intervals
age_bins_cut.value_counts(sort=False)

In [0]:
#equal size intervals
age_bins_qcut.value_counts(sort=False)

In [0]:
control for:
g = sns.FacetGrid(df, col="age_bin", height=4)
g.map(sns.regplot, "exercise_time", "weight");