<a href="https://colab.research.google.com/github/will-cotton4/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/DS_Unit_1_Sprint_Challenge_2_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Data Wrangling

In this Sprint Challenge you will use data from [Gapminder](https://www.gapminder.org/about-gapminder/), a Swedish non-profit co-founded by Hans Rosling. "Gapminder produces free teaching resources making the world understandable based on reliable statistics."
- [Cell phones (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv)
- [Population (total), by country and year](https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv)
- [Geo country codes](https://github.com/open-numbers/ddf--gapminder--systema_globalis/blob/master/ddf--entities--geo--country.csv)

These two links have everything you need to successfully complete the Sprint Challenge!
- [Pandas documentation: Working with Text Data](https://pandas.pydata.org/pandas-docs/stable/text.html]) (one question)
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf) (everything else)

## Part 0. Load data

You don't need to add or change anything here. Just run this cell and it loads the data for you, into three dataframes.

In [0]:
import pandas as pd

cell_phones = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--cell_phones_total--by--geo--time.csv')

population = pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--datapoints--population_total--by--geo--time.csv')

geo_country_codes = (pd.read_csv('https://raw.githubusercontent.com/open-numbers/ddf--gapminder--systema_globalis/master/ddf--entities--geo--country.csv')
                       .rename(columns={'country': 'geo', 'name': 'country'}))

In [2]:
cell_phones.head()

   geo  time  cell_phones_total
0  abw  1960                0.0
1  abw  1965                0.0
2  abw  1970                0.0
3  abw  1975                0.0
4  abw  1976                0.0

In [3]:
population.head()

   geo  time  population_total
0  afg  1800           3280000
1  afg  1801           3280000
2  afg  1802           3280000
3  afg  1803           3280000
4  afg  1804           3280000

In [4]:
geo_country_codes.head()

,geo,alt_5,alternative_1,alternative_2,alternative_3,alternative_4_cdiac,arb1,arb2,arb3,arb4,...,latitude,longitude,main_religion_2008,country,pandg,un_state,unicode_region_subtag,upper_case_name,world_4region,world_6region
0,abkh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Abkhazia,NaN,False,NaN,NaN,europe,europe_central_asia
1,abw,NaN,NaN,NaN,NaN,Aruba,NaN,NaN,NaN,NaN,...,12.50000,-69.96667,christian,Aruba,NaN,False,AW,ARUBA,americas,america
2,afg,NaN,Islamic Republic of Afghanistan,NaN,NaN,Afghanistan,NaN,NaN,NaN,NaN,...,33.00000,66.00000,muslim,Afghanistan,AFGHANISTAN,True,AF,AFGHANISTAN,asia,south_asia
3,ago,NaN,NaN,NaN,NaN,Angola,NaN,NaN,NaN,NaN,...,-12.50000,18.50000,christian,Angola,ANGOLA,True,AO,ANGOLA,africa,sub_saharan_africa
4,aia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.21667,-63.05000,christian,Anguilla,NaN,False,AI,ANGUILLA,americas,america

## Part 1. Join data

First, join the `cell_phones` and `population` dataframes (with an inner join on `geo` and `time`).

The resulting dataframe's shape should be: (8590, 4)

In [6]:
cell_user_data = pd.merge(cell_phones, population, how='inner')
cell_user_data.shape

(8590, 4)

Then, select the `geo` and `country` columns from the `geo_country_codes` dataframe, and join with your population and cell phone data.

The resulting dataframe's shape should be: (8590, 5)

In [7]:
cell_user_data = pd.merge(cell_user_data,
                          geo_country_codes[['geo','country']],
                          how = 'inner')
cell_user_data.shape

(8590, 5)

## Part 2. Make features

Calculate the number of cell phones per person, and add this column onto your dataframe.

(You've calculated correctly if you get 1.220 cell phones per person in the United States in 2017.)

In [0]:
cell_user_data['cells_per_person'] = cell_user_data['cell_phones_total']/cell_user_data['population_total']

In [14]:
cell_user_data[cell_user_data['country']=='United States']

,geo,time,cell_phones_total,population_total,country,cells_per_person
8092,usa,1960,0.0,186808228,United States,0.000000
8093,usa,1965,0.0,199815540,United States,0.000000
8094,usa,1970,0.0,209588150,United States,0.000000
8095,usa,1975,0.0,219205296,United States,0.000000
8096,usa,1976,0.0,221239215,United States,0.000000
8097,usa,1977,0.0,223324042,United States,0.000000
8098,usa,1978,0.0,225449657,United States,0.000000
8099,usa,1979,0.0,227599878,United States,0.000000
8100,usa,1980,0.0,229763052,United States,0.000000
8101,usa,1984,91600.0,238573861,United States,0.000384
8102,usa,1985,340213.0,240824120,United States,0.001413
8103,usa,1986,681825.0,243098935,United States,0.002805
8104,usa,1987,1230855.0,245402864,United States,0.005016
8105,usa,1988,2069441.0,247739582,United States,0.008353
8106,usa,1989,3508944.0,250113187,United States,0.014029
8107,usa,1990,5283055.0,252529950,United States,0.020921
8108,usa,1991,7557148.0,254974819,United States,0.029639
8109,usa,1992,11032753.0,257454273,United States,0.042853
8110,usa,1993,16009461.0,260020186,United States,0.061570
8111,usa,1994,24134421.0,262741566,United States,0.091856
8112,usa,1995,33785661.0,265658849,United States,0.127177
8113,usa,1996,44042992.0,268803424,United States,0.163848
8114,usa,1997,55312293.0,272136551,United States,0.203252
8115,usa,1998,69209321.0,275542603,United States,0.251175
8116,usa,1999,86047003.0,278862277,United States,0.308565
8117,usa,2000,109478031.0,281982778,United States,0.388244
8118,usa,2001,128500000.0,284852391,United States,0.451111
8119,usa,2002,141800000.0,287506847,United States,0.493206
8120,usa,2003,160637000.0,290027624,United States,0.553868
8121,usa,2004,184819000.0,292539324,United States,0.631775
8122,usa,2005,203700000.0,295129501,United States,0.690205
8123,usa,2006,229600000.0,297827356,United States,0.770916
8124,usa,2007,249300000.0,300595175,United States,0.829355
8125,usa,2008,261300000.0,303374067,United States,0.861313
8126,usa,2009,274283000.0,306076362,United States,0.896126
8127,usa,2010,285118000.0,308641391,United States,0.923784
8128,usa,2011,297404000.0,311051373,United States,0.956125
8129,usa,2012,304838000.0,313335423,United States,0.972881
8130,usa,2013,310698000.0,315536676,United States,0.984665
8131,usa,2014,355500000.0,317718779,United States,1.118914
8132,usa,2015,382307000.0,319929162,United States,1.194974
8133,usa,2016,395881000.0,322179605,United States,1.228759
8134,usa,2017,395881000.0,324459463,United States,1.220125

** Looks good. **

Modify the `geo` column to make the geo codes uppercase instead of lowercase.

In [17]:
cell_user_data['geo'] = cell_user_data['geo'].apply(str.upper)
cell_user_data['geo'].head()

0    AFG
1    AFG
2    AFG
3    AFG
4    AFG
Name: geo, dtype: object

**Nice.**

## Part 3. Process data

Use the describe function, to describe your dataframe's numeric columns, and then its non-numeric columns.

(You'll see the time period ranges from 1960 to 2017, and there are 195 unique countries represented.)

In [18]:
import numpy as np
cell_user_data.describe(include=[np.number])

              time  cell_phones_total  population_total  cells_per_person
count  8590.000000       8.590000e+03      8.590000e+03       8590.000000
mean   1994.193481       9.004950e+06      2.983823e+07          0.279639
std      14.257975       5.573408e+07      1.161284e+08          0.454247
min    1960.000000       0.000000e+00      4.433000e+03          0.000000
25%    1983.000000       0.000000e+00      1.456148e+06          0.000000
50%    1995.000000       6.200000e+03      5.725062e+06          0.001564
75%    2006.000000       1.697652e+06      1.810581e+07          0.461149
max    2017.000000       1.474097e+09      1.409517e+09          2.490243

In [19]:
cell_user_data.describe(include=[np.object])

         geo   country
count   8590      8590
unique   195       195
top      MNG  Cambodia
freq      46        46

In 2017, what were the top 5 countries with the most cell phones total?

Your list of countries should have these totals:

| country | cell phones total |
|:-------:|:-----------------:|
|    ?    |     1,474,097,000 |
|    ?    |     1,168,902,277 |
|    ?    |       458,923,202 |
|    ?    |       395,881,000 |
|    ?    |       236,488,548 |

In [0]:
# This optional code formats float numbers with comma separators
pd.options.display.float_format = '{:,}'.format

In [38]:
cell_groups = cell_user_data[['country', 'cell_phones_total', 'time']][cell_user_data['time']==2017].groupby(by='country')

cell_groups.sum().reset_index().sort_values('cell_phones_total', ascending=False).head()

           country  cell_phones_total  time
31           China    1,474,097,000.0  2017
67           India    1,168,902,277.0  2017
68       Indonesia      458,923,202.0  2017
160  United States      395,881,000.0  2017
21          Brazil      236,488,548.0  2017

2017 was the first year that China had more cell phones than people.

What was the first year that the USA had more cell phones than people?

**First, make a dataframe containing only the times where number of cell phones exceeds people:

In [0]:
condition = cell_user_data['cell_phones_total'] > cell_user_data['population_total']
more_phones_than_people = cell_user_data[condition]

In [42]:
more_phones_than_people.shape

(1044, 6)

In [44]:
more_phones_than_people.head()

,geo,time,cell_phones_total,population_total,country,cells_per_person
131,ALB,2011,"3,100,000.0",2926659,Albania,1.0592282872722787
132,ALB,2012,"3,500,000.0",2920039,Albania,1.198614128098974
133,ALB,2013,"3,685,983.0",2918978,Albania,1.2627649129250031
134,ALB,2014,"3,359,654.0",2920775,Albania,1.150261146442297
135,ALB,2015,"3,400,955.0",2923352,Albania,1.1633751255408176

**Now we slice it to see just the US and sort by time:**

In [45]:
more_phones_than_people[more_phones_than_people['country']=='United States'].sort_values(by='time').head()

,geo,time,cell_phones_total,population_total,country,cells_per_person
8131,USA,2014,"355,500,000.0",317718779,United States,1.118914031833164
8132,USA,2015,"382,307,000.0",319929162,United States,1.1949739048796058
8133,USA,2016,"395,881,000.0",322179605,United States,1.228758722948959
8134,USA,2017,"395,881,000.0",324459463,United States,1.2201246847283354

** Looks like the first year was 2014. We could have also checked to see where `cells_per_person` exceeded one. As a sanity check, we'll take a look at the original DataFrame from 2000 to 2017 and see if that info matches this chart.**

In [46]:
us_after_2000 = (cell_user_data['country']=='United States') & (cell_user_data['time']>= 2000)
cell_user_data[us_after_2000].head(20)

,geo,time,cell_phones_total,population_total,country,cells_per_person
8117,USA,2000,"109,478,031.0",281982778,United States,0.3882436784845066
8118,USA,2001,"128,500,000.0",284852391,United States,0.45111083515532086
8119,USA,2002,"141,800,000.0",287506847,United States,0.4932056452902494
8120,USA,2003,"160,637,000.0",290027624,United States,0.5538679308699229
8121,USA,2004,"184,819,000.0",292539324,United States,0.6317748925952943
8122,USA,2005,"203,700,000.0",295129501,United States,0.6902054837276331
8123,USA,2006,"229,600,000.0",297827356,United States,0.7709164231374367
8124,USA,2007,"249,300,000.0",300595175,United States,0.8293546295279024
8125,USA,2008,"261,300,000.0",303374067,United States,0.8613129084629373
8126,USA,2009,"274,283,000.0",306076362,United States,0.8961260458264333
8127,USA,2010,"285,118,000.0",308641391,United States,0.9237840688710478
8128,USA,2011,"297,404,000.0",311051373,United States,0.9561250192584747
8129,USA,2012,"304,838,000.0",313335423,United States,0.9728807457559626
8130,USA,2013,"310,698,000.0",315536676,United States,0.9846652501340288
8131,USA,2014,"355,500,000.0",317718779,United States,1.118914031833164
8132,USA,2015,"382,307,000.0",319929162,United States,1.1949739048796058
8133,USA,2016,"395,881,000.0",322179605,United States,1.228758722948959
8134,USA,2017,"395,881,000.0",324459463,United States,1.2201246847283354

**Cool beans.**

## Part 4. Reshape data

Create a pivot table:
- Columns: Years 2007—2017
- Rows: China, India, United States, Indonesia, Brazil (order doesn't matter)
- Values: Cell Phones Total

The table's shape should be: (5, 11)

In [54]:
countries = ['China', 'India', 'United States', 'Indonesia', 'Brazil']
time_constraint = (cell_user_data['time'] >= 2007) & (cell_user_data['time'] <= 2017)
countries_in_time_range = (cell_user_data['country'].isin(countries))  & time_constraint
requested_pivot = pd.pivot_table(cell_user_data[countries_in_time_range], 
                                 values = 'cell_phones_total', 
                                 columns = 'time',
                                 index = ['country'])
requested_pivot.shape

(5, 11)

In [55]:
requested_pivot

time,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
country,,,,,,,,,,,
Brazil,"120,980,103.0","150,641,403.0","169,385,584.0","196,929,978.0","234,357,507.0","248,323,703.0","271,099,799.0","280,728,796.0","257,814,274.0","244,067,356.0","236,488,548.0"
China,"547,306,000.0","641,245,000.0","747,214,000.0","859,003,000.0","986,253,000.0","1,112,155,000.0","1,229,113,000.0","1,286,093,000.0","1,291,984,200.0","1,364,934,000.0","1,474,097,000.0"
India,"233,620,000.0","346,890,000.0","525,090,000.0","752,190,000.0","893,862,478.0","864,720,917.0","886,304,245.0","944,008,677.0","1,001,056,000.0","1,127,809,000.0","1,168,902,277.0"
Indonesia,"93,386,881.0","140,578,243.0","163,676,961.0","211,290,235.0","249,805,619.0","281,963,665.0","313,226,914.0","325,582,819.0","338,948,340.0","385,573,398.0","458,923,202.0"
United States,"249,300,000.0","261,300,000.0","274,283,000.0","285,118,000.0","297,404,000.0","304,838,000.0","310,698,000.0","355,500,000.0","382,307,000.0","395,881,000.0","395,881,000.0"

**Nice.**

#### OPTIONAL BONUS QUESTION!

Sort these 5 countries, by biggest increase in cell phones from 2007 to 2017.

Which country had 935,282,277 more cell phones in 2017 versus 2007?

**Not too bad. We'll just add a new feature: namely, the increase in cell phones from 2007 to 2017, then query the result to see when that number was 935,282,277.**

In [117]:
requested_pivot['increase'] = requested_pivot[2017]-requested_pivot[2007]
requested_pivot[requested_pivot['increase']==935282277]

time,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,increase
country,,,,,,,,,,,,
India,"233,620,000.0","346,890,000.0","525,090,000.0","752,190,000.0","893,862,478.0","864,720,917.0","886,304,245.0","944,008,677.0","1,001,056,000.0","1,127,809,000.0","1,168,902,277.0","935,282,277.0"

**Looks like it was India.**

If you have the time and curiosity, what other questions can you ask and answer with this data?