<a href="https://colab.research.google.com/github/qweliant/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/DS_Unit_1_Sprint_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 1

## Loading, cleaning, visualizing, and analyzing data

In this sprint challenge you will look at a dataset of the survival of patients who underwent surgery for breast cancer.

http://archive.ics.uci.edu/ml/datasets/Haberman%27s+Survival

Data Set Information:
The dataset contains cases from a study that was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on the survival of patients who had undergone surgery for breast cancer.

Attribute Information:
1. Age of patient at time of operation (numerical)
2. Patient's year of operation (year - 1900, numerical)
3. Number of positive axillary nodes detected (numerical)
4. Survival status (class attribute)
-- 1 = the patient survived 5 years or longer
-- 2 = the patient died within 5 year

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 0 - Revert your version of Pandas right from the start
I don't want any of you to get stuck because of Pandas bugs, so right from the get-go revert back to version `0.23.4`
- Run the cell below
- Then restart your runtime. Go to `Runtime`  ->  `Restart runtime...` in the top menu (or click the "RESTART RUNTIME" button that shows up in the output of the cell below).

In [1]:
!pip install pandas==0.23.4

Collecting pandas==0.23.4
  Downloading https://files.pythonhosted.org/packages/e1/d8/feeb346d41f181e83fba45224ab14a8d8af019b48af742e047f3845d8cff/pandas-0.23.4-cp36-cp36m-manylinux1_x86_64.whl (8.9MB)
     |████████████████████████████████| 8.9MB 4.8MB/s
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (2.5.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas==0.23.4) (1.16.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas==0.23.4) (1.12.0)
ERROR: google-colab 1.0.0 has requirement pandas~=0.24.0, but you'll have pandas 0.23.4 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 0.24.2
    Uninstalling pandas-0.24.2:
      Successfully uninstalled pandas-0.24.2
Successfully installed pandas-0.23.4

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- Validate that you have no missing values.
- Add informative names to the features.
- The survival variable is encoded as 1 for surviving >5 years and 2 for not - change this to be 0 for not surviving and 1 for surviving >5 years (0/1 is a more traditional encoding of binary variables)

At the end, print the first five rows of the dataset to demonstrate the above.

In [0]:
import pandas as pd
import numpy as np

In [0]:
# TODO

# Survival status (class attribute)
#   1 = the patient survived 5 years or longer
#   2 = the patient died within 5 year


# import url dtata and read into csv

url = "http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data"


df = pd.read_csv(url, header=None )

#columns need names tooo

df.columns = [

"Age of patient at time of operation (numerical)",
"Patient's year of operation (year - 1900, numerical)",
"Number of positive axillary nodes detected (numerical)",
"Survival status (class attribute)",

]

df.describe()

#copy of original datatset
dfc =df

In [31]:
dfc.head(10)

   Age of patient at time of operation (numerical)                ...                  Survival status (class attribute)
0                                               30                ...                                                  1
1                                               30                ...                                                  1
2                                               30                ...                                                  1
3                                               31                ...                                                  1
4                                               31                ...                                                  1
5                                               33                ...                                                  1
6                                               33                ...                                                  1
7                                               34                ...                                                  2
8                                               34                ...                                                  2
9                                               34                ...                                                  1

[10 rows x 4 columns]

In [19]:
df.shape # matches NOI: 306 and ATTRIB: 4

(306, 4)

In [21]:
# TODO
df.isna().sum()

Age of patient at time of operation (numerical)           0
Patient's year of operation (year - 1900, numerical)      0
Number of positive axillary nodes detected (numerical)    0
Survival status (class attribute)                         0
dtype: int64

In [0]:
df['Survival status (class attribute)'] = [ 1 if x == 1 else 0 for x in df['Survival status (class attribute)'] ] # list comp to create 1 or 0

In [35]:
dfc2 = df
df.head(10)

   Age of patient at time of operation (numerical)                ...                  Survival status (class attribute)
0                                               30                ...                                                  1
1                                               30                ...                                                  1
2                                               30                ...                                                  1
3                                               31                ...                                                  1
4                                               31                ...                                                  1
5                                               33                ...                                                  1
6                                               33                ...                                                  1
7                                               34                ...                                                  0
8                                               34                ...                                                  0
9                                               34                ...                                                  1

[10 rows x 4 columns]

## Part 2 - Examine the distribution and relationships of the features

Explore the data - create at least *2* tables (can be summary statistics or crosstabulations) and *2* plots illustrating the nature of the data.

This is open-ended, so to remind - first *complete* this task as a baseline, then go on to the remaining sections, and *then* as time allows revisit and explore further.

Hint - you may need to bin some variables depending on your chosen tables/plots.

## Part 3 - DataFrame Filtering

Use DataFrame filtering to subset the data into two smaller dataframes. You should make one dataframe for individuals who survived >5 years and a second dataframe for individuals who did not. 

Create a graph with each of the dataframes (can be the same graph type) to show the differences in Age and Number of Positive Axillary Nodes Detected between the two groups.

In [0]:
# TODO

## Part 4 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- What is at least one feature that looks to have a positive relationship with survival? (As that feature goes up in value rate of survival increases)
- What is at least one feature that looks to have a negative relationship with survival? (As that feature goes down in value rate of survival increases)
- How are those two features related with each other, and what might that mean?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

Your Text Answer Here

In [0]:
# Any Supplemental Code for Analysis Here