<a href="https://colab.research.google.com/github/ElisabethShah/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/DS_Unit_1_Sprint_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 1

## Loading, cleaning, visualizing, and analyzing data

In this sprint challenge you will look at a dataset of the survival of patients who underwent surgery for breast cancer.

http://archive.ics.uci.edu/ml/datasets/Haberman%27s+Survival

Data Set Information:
The dataset contains cases from a study that was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on the survival of patients who had undergone surgery for breast cancer.

Attribute Information:
1. Age of patient at time of operation (numerical)
2. Patient's year of operation (year - 1900, numerical)
3. Number of positive axillary nodes detected (numerical)
4. Survival status (class attribute)
-- 1 = the patient survived 5 years or longer
-- 2 = the patient died within 5 year

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- Validate that you have no missing values.
- Add informative names to the features.
- The survival variable is encoded as 1 for surviving >5 years and 2 for not - change this to be 0 for not surviving and 1 for surviving >5 years (0/1 is a more traditional encoding of binary variables)

At the end, print the first five rows of the dataset to demonstrate the above.

###Load the data as a `pandas` data frame.

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns

In [0]:
data_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data'
description_url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.names'

In [24]:
# Retrieve and print descriptive background for the dataset.
!curl $description_url

1. Title: Haberman's Survival Data

2. Sources:
   (a) Donor:   Tjen-Sien Lim (limt@stat.wisc.edu)
   (b) Date:    March 4, 1999

3. Past Usage:
   1. Haberman, S. J. (1976). Generalized Residuals for Log-Linear
      Models, Proceedings of the 9th International Biometrics
      Conference, Boston, pp. 104-122.
   2. Landwehr, J. M., Pregibon, D., and Shoemaker, A. C. (1984),
      Graphical Models for Assessing Logistic Regression Models (with
      discussion), Journal of the American Statistical Association 79:
      61-83.
   3. Lo, W.-D. (1993). Logistic Regression Trees, PhD thesis,
      Department of Statistics, University of Wisconsin, Madison, WI.

4. Relevant Information:
   The dataset contains cases from a study that was conducted between
   1958 and 1970 at the University of Chicago's Billings Hospital on
   the survival of patients who had undergone surgery for breast
   cancer.

5. Number of Instances: 306

6. Number of Attributes: 4 (including the class attribute)

7. Attribute Information:
   1. Age of patient at time of operation (numerical)
   2. Patient's year of operation (year - 1900, numerical)
   3. Number of positive axillary nodes detected (numerical)
   4. Survival status (class attribute)
         1 = the patient survived 5 years or longer
         2 = the patient died within 5 year

8. Missing Attribute Values: None

In [25]:
# Preview the first few rows of the data file.
df = pd.read_csv(data_url, nrows = 5)
df

   30  64   1  1.1
0  30  62   3    1
1  30  65   0    1
2  31  59   2    1
3  31  65   4    1
4  33  58  10    1

In [26]:
# Import full dataset; display first 5 rows.
df = pd.read_csv(data_url, header = None)
df.head()

    0   1  2  3
0  30  64  1  1
1  30  62  3  1
2  30  65  0  1
3  31  59  2  1
4  31  65  4  1

###Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).

In [27]:
# Check dimensions (rows, columns) of resulting dataframe.
df.shape

(306, 4)

###Add informative names to the features.

In [28]:
# Assign column names and redisplay first 5 rows.
df.columns = ['patient_age', 'operation_year', 'positive_nodes', 'survival']
df.head()

   patient_age  operation_year  positive_nodes  survival
0           30              64               1         1
1           30              62               3         1
2           30              65               0         1
3           31              59               2         1
4           31              65               4         1

###Validate that you have no missing values.

In [29]:
df.isnull().sum()

patient_age       0
operation_year    0
positive_nodes    0
survival          0
dtype: int64

In [30]:
df.describe()

       patient_age  operation_year  positive_nodes    survival
count   306.000000      306.000000      306.000000  306.000000
mean     52.457516       62.852941        4.026144    1.264706
std      10.803452        3.249405        7.189654    0.441899
min      30.000000       58.000000        0.000000    1.000000
25%      44.000000       60.000000        0.000000    1.000000
50%      52.000000       63.000000        1.000000    1.000000
75%      60.750000       65.750000        4.000000    2.000000
max      83.000000       69.000000       52.000000    2.000000

###Change the survival variable to be 0 for not surviving and 1 for surviving >5 years

In [33]:
# Print a count pre-change survival values for reference.
df['survival'].value_counts()

1    225
2     81
Name: survival, dtype: int64

In [35]:
# This works and amuses me, but is cryptic, so I won't do it.
# df.survival = abs(df.survival - 2)

# Here's a more reasonable way to update the variable.
df['survival'] = df['survival'].replace({2: 0})
df.survival.value_counts()

1    225
0     81
Name: survival, dtype: int64

## Part 2 - Examine the distribution and relationships of the features

Explore the data - create at least *2* tables (can be summary statistics or crosstabulations) and *2* plots illustrating the nature of the data.

This is open-ended, so to remind - first *complete* this task as a baseline, then go on to the remaining sections, and *then* as time allows revisit and explore further.

Hint - you may need to bin some variables depending on your chosen tables/plots.

In [0]:
# TODO

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- What is at least one feature that looks to have a positive relationship with survival?
- What is at least one feature that looks to have a negative relationship with survival?
- How are those two features related with each other, and what might that mean?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

###What is at least one feature that looks to have a positive relationship with survival?

###What is at least one feature that looks to have a negative relationship with survival?

###How are those two features related with each other, and what might that mean?