<a href="https://colab.research.google.com/github/lineality/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Geoffrey_Gordon_Ashbrook_of_Practice_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

share link

https://colab.research.google.com/drive/1fJA0E_3SZHZvP9AivuzTQZEBFgmOfduk


This coding challenge will walk you through the basics of Python 3 and Pandas library. 

Repl.it uses automatic unit tests to determine the correctness of your answer. On the left hand side you see the IDE and the console output windows. You execute your code by pressing the RUN button - you can do this as many times as you like. 

When you're ready, move on to the NEXT button to check your answers against the unit tests and submit your work for grading. Please make sure to submit your work (even if incomplete) before 8:45 PST so we can take attendance. Have fun!


Task 1: 
Your first task is to import the Pandas library, as we must install libraries (also called packages or modules) that support the functionality we need (in this case loading datasets in various formats). Remember the "iconic trio"?

Good detailed resource here: https://www.digitalocean.com/community/tutorials/how-to-import-modules-in-python-3


Task 2:
The second task is to load different file types for further processing and print out the first 5 rows. You will soon find that in data science, your datasets will come in various shapes and forms. Very frequently we use the .CSV (comma-separated values) format, however there are many others. 

Now let's test out loading and displaying a few different types in data. Load these three datasets and display the first five rows for each.

Hint: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

Dataset 1: 
https://raw.githubusercontent.com/pierretd/datasets-1/master/BlackFriday.csv

Dataset 2: 
https://raw.githubusercontent.com/pierretd/datasets-1/master/PeopleInSpaceNow.json

Dataset 3: 
https://raw.githubusercontent.com/pierretd/datasets-1/master/FastFmProfiles.tsv


Stretch Goals: 
Load the Dataset 1 into a colab notebook and answer the following questions. When you are finished, add a link to your Colab notebook to the top of the code challenge as a comment.

1) Clean the data set and drop the Null/NaN values. Rename  Product_Category_1-3 columns with an actual Product. 

2) How many unique user_ids does the data set contain?

3) How many unique age brackets are in the dataset. Which Age bracket has the most entries? Which has the least?

4) Transform the Gender categorical variable into a numerical variable. Then transform that numerical value into a Boolean.

5)What is the average Occupation score? What is the Standard Deviation? What is the maximum and minimum value?

7) Group Age by Gender and print out a cross tab with age as the y axis


Super Stretch Goals: 
Build a linear regression model to predict the purchase amount given the other features in the data set with scikit learn. Try to get the best accuracy score using this metric: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html

Share link for this doc 
https://colab.research.google.com/drive/1fJA0E_3SZHZvP9AivuzTQZEBFgmOfduk

In [0]:
# Task 1 - Pandas Library Import here: 
##Your Code Here

#Standard Library Imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [0]:
# Task 2 - Load three datasets and display 5 rows of data for each:
##Your Code Here

In [2]:
!wget https://raw.githubusercontent.com/pierretd/datasets-1/master/BlackFriday.csv

--2019-09-04 15:14:53--  https://raw.githubusercontent.com/pierretd/datasets-1/master/BlackFriday.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24956107 (24M) [text/plain]
Saving to: ‘BlackFriday.csv’

BlackFriday.csv     100%[===================>]  23.80M   119MB/s    in 0.2s

2019-09-04 15:14:53 (119 MB/s) - ‘BlackFriday.csv’ saved [24956107/24956107]

In [3]:
!wget https://raw.githubusercontent.com/pierretd/datasets-1/master/PeopleInSpaceNow.json

--2019-09-04 15:15:01--  https://raw.githubusercontent.com/pierretd/datasets-1/master/PeopleInSpaceNow.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 191 [text/plain]
Saving to: ‘PeopleInSpaceNow.json’

PeopleInSpaceNow.js 100%[===================>]     191  --.-KB/s    in 0s

2019-09-04 15:15:01 (44.1 MB/s) - ‘PeopleInSpaceNow.json’ saved [191/191]

In [4]:
!wget https://raw.githubusercontent.com/pierretd/datasets-1/master/FastFmProfiles.tsv

--2019-09-04 15:15:04--  https://raw.githubusercontent.com/pierretd/datasets-1/master/FastFmProfiles.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 37842 (37K) [text/plain]
Saving to: ‘FastFmProfiles.tsv’

FastFmProfiles.tsv  100%[===================>]  36.96K  --.-KB/s    in 0.01s

2019-09-04 15:15:04 (2.95 MB/s) - ‘FastFmProfiles.tsv’ saved [37842/37842]

In [5]:
#checking to see if files arrived
!ls

 adult.data	      PeopleInSpaceNow.json	   prek_dataset_csv3.csv.2
 adult.data.1	      persons.csv		   prek_dataset_csv3.csv.3
 adult.names	      persons.csv.1		   prek_dataset_csv3.csv.4
 adult.test	     'prek_dataset_csv3 (1).csv'   prek_dataset_csv3.csv.5
 BlackFriday.csv      prek_dataset_csv3.csv	   sample_data
 FastFmProfiles.tsv   prek_dataset_csv3.csv.1

In [0]:
#setting datasets to a 'df' variable:
df1 = pd.read_csv('BlackFriday.csv')

In [0]:
df2 = pd.read_json('PeopleInSpaceNow.json')

In [0]:
#https://stackoverflow.com/questions/9652832/how-to-load-a-tsv-file-into-a-pandas-dataframe
df3 = pd.read_csv(('FastFmProfiles.tsv'), delimiter='\t')

In [13]:
df1.head(5)

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

In [14]:
df2.head(5)

                                              people  message  number
0       {'name': 'Sergey Prokopyev', 'craft': 'ISS'}  success       3
1        {'name': 'Alexander Gerst', 'craft': 'ISS'}  success       3
2  {'name': 'Serena Aunon-Chancellor', 'craft': '...  success       3

In [15]:
df3.head(5)

           #id gender   age        country    registered
0  user_000001      m   NaN          Japan  Aug 13, 2006
1  user_000002      f   NaN           Peru  Feb 24, 2006
2  user_000003      m  22.0  United States  Oct 30, 2005
3  user_000004      f   NaN            NaN  Apr 26, 2006
4  user_000005      m   NaN       Bulgaria  Jun 29, 2006

In [0]:
#Stretch Goal
##Your Code Here

In [0]:
#Super Stretch Goal
##Your Code Here