<a href="https://colab.research.google.com/github/Hira63S/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Hira_LS_DS_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things

print("waiting for that change")

waiting for that change

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [30]:
# TODO - your code here
# Use what we did live in lecture as an example


%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import scale
import seaborn as sns
from sklearn.model_selection import train_test_split


df = sns.load_dataset('titanic')


df_train, df_test = train_test_split(sns.load_dataset('titanic'), random_state=0)
df_train = df.drop(['survived','pclass', 'sex', 'class', 'sibsp', 'parch', 'fare', 'embarked', 'who', 'adult_male', 'deck', 'embark_town', 'alone', 'alive'], axis='columns')
df_test = df.survived

df.head()

df_train.head()
#df_test.head()

#df_new = df.rename(index=str, columns = {"class": "level"})
#df_new.head()

    age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0

In [34]:
def sigmoid(x, derivative=False):
  if derivative:
    return x * (1-x)
  else:
    return 1/(1+np.exp(-x))
  
X=scale(df_train)
y=df['survived'].values
print(X.shape, y.shape)

df_train, df_test = train_test_split(sns.load_dataset('titanic'), random_state=0)

(891, 1) (891,)

In [39]:
weight = np.random.random(668, 668)
for i in range(1000):
  inp_layer = df_train
  
  out_layer = sigmoid(np.dot(inp_layer, weight))
  
  err = df_train - out_layer
  
  d_out = err * sigmoid(out_layer, derivative=True)
  weight += np.dot(inp_layer.T, d_out)
  
  
y_pred = sigmoid(np.dot(df_test, weight))

print(df_test.shape, y_pred.shape)

TypeError: ignored

In [27]:
#class_ranks = {'First':1, 'Second':2, 'Third':3}
#df_new.level = df_new.level.map(class_ranks)

#df_new.head()
  
#df_new.head()
#for

,survived,pclass,sex,age,sibsp,parch,fare,embarked,level,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,NaN,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,NaN,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,NaN,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,NaN,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,NaN,man,True,NaN,Southampton,no,True

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

2.  What was the most challenging part of what you did?

3.  What was the most interesting thing you learned?

4.  What area would you like to explore with more time?

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.