<a href="https://colab.research.google.com/github/donw385/DS-Sprint-01-Dealing-With-Data/blob/master/List_Comprehension_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#Make a function, power_list, that accepts a list of numbers and returns a new list that contains each number raised to the i-th power where i is the index of that number in the given list.

numbers =[1234,2434,3533,4655,5342]
list(enumerate(numbers))
powers = [n**i for i,n in enumerate(numbers)]
##for i,n in enumerate(numbers):
  #powers.append(n**i)
  
powers

[1, 2434, 12482089, 100869311375, 814358314337296]

In [33]:
#Make a function that accepts a list of names and returns a new list containing all names that start with a vowel.

names = ["Scott", "Arthur", "Jan", "Elizabeth"]

vowels =['A','E','I','O','U']

def vowel_names(names):
  return [name for name in names if name[0] in vowels]


vowel_names(names)

['Arthur', 'Elizabeth']

In [34]:
#Make a list of all numbers between 100 and 300 that are divisble by both 6 and 10.

numbers2 = range(100,300)
new_list = [n for n in numbers2 if n%6==0 if n%6==0]
new_list

[102,
 108,
 114,
 120,
 126,
 132,
 138,
 144,
 150,
 156,
 162,
 168,
 174,
 180,
 186,
 192,
 198,
 204,
 210,
 216,
 222,
 228,
 234,
 240,
 246,
 252,
 258,
 264,
 270,
 276,
 282,
 288,
 294]

In [35]:
#Create a function flatten, that will take a matrix (a list of lists) and return a flattened version of the matrix.

matrix = [[row * 3 + incr for incr in range(1, 4)] for row in range(4)]
print(matrix)
import itertools

merged = list(itertools.chain(*matrix))
print(merged)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [36]:
#Create a function that accepts a list of strings and returns a dictionary containing the strings as keys and a list of corresponding ASCII character codes as values.
words = ["hello", "bye", "yes", "no", "python"]

def get_ascii_codes(words):
  return {word: [ord(char)for char in word]for word in words}

get_ascii_codes(words)

{'bye': [98, 121, 101],
 'hello': [104, 101, 108, 108, 111],
 'no': [110, 111],
 'python': [112, 121, 116, 104, 111, 110],
 'yes': [121, 101, 115]}

In [37]:
#Make a function flip_dict, that flips dictionary keys and values
dictionary = {'Python': "2015-09-15", 'Java': "2015-09-14", 'C': "2015-09-13",'2015-09-13': 'C', '2015-09-15': 'Python', '2015-09-14': 'Java'}

def flip_dict(dictionary):
  return {v: k for k, v in dictionary.items()}

flip_dict(dictionary)

{'2015-09-13': 'C',
 '2015-09-14': 'Java',
 '2015-09-15': 'Python',
 'C': '2015-09-13',
 'Java': '2015-09-14',
 'Python': '2015-09-15'}

In [38]:
def get_factors(number):
    return [n for n in range(1, number + 1) if number % n == 0]
  
def get_all_factors(numbers):
  factors_by_number = {}
  for n in numbers:
    factors_by_number[n] = get_factors(n)
  return factors_by_number

get_all_factors(numbers)

{1234: [1, 2, 617, 1234],
 2434: [1, 2, 1217, 2434],
 3533: [1, 3533],
 4655: [1, 5, 7, 19, 35, 49, 95, 133, 245, 665, 931, 4655],
 5342: [1, 2, 2671, 5342]}