<a href="https://colab.research.google.com/github/npgeorge/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Nicholas_George_Copy_of_LS_DS_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [3]:
2 + 2

4

In [0]:
#grow mart example from module 1

grow_mart = { 'name': 'Grow Mart', 'year in business': (2019-1973), 'Annual Revenue': 265000, 'Annual Expenses': 183000, 'is_profitable': profitable }
plant_depot = { 'name': 'Plant Depot', 'years in business': (2019-1973), 'Annual Revenue': 302000, 'Annual Expenses': 240000, 'is_profitable': profitable  }
trees_r_us = { 'name': 'Trees R Us', 'years in business': (2019-1985), 'Annual Revenue': 123000, 'Annual Expenses': 130000, 'is_profitable': profitable  }
businesses = [grow_mart, plant_depot, trees_r_us]

def profitable(): 
  if 'Annual Revenue' > 'Annual Expenses'
  is_profitable = True
  else
  is_profitable = False

print(businesses)

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [1]:
# TODO - your code here
# Use what we did live in lecture as an example

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/tmdb_5000_movies.csv')

df.head() #spits out the first 5 rows

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [2]:
df.describe() #useful summary statistics

             budget             id  ...  vote_average    vote_count
count  4.803000e+03    4803.000000  ...   4803.000000   4803.000000
mean   2.904504e+07   57165.484281  ...      6.092172    690.217989
std    4.072239e+07   88694.614033  ...      1.194612   1234.585891
min    0.000000e+00       5.000000  ...      0.000000      0.000000
25%    7.900000e+05    9014.500000  ...      5.600000     54.000000
50%    1.500000e+07   14629.000000  ...      6.200000    235.000000
75%    4.000000e+07   58610.500000  ...      6.800000    737.000000
max    3.800000e+08  459488.000000  ...     10.000000  13752.000000

[8 rows x 7 columns]

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

2.  What was the most challenging part of what you did?

3.  What was the most interesting thing you learned?

4.  What area would you like to explore with more time?

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.