<a href="https://colab.research.google.com/github/llpk79/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Paul_K_Make_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [0]:
import numpy as np

In [314]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-04-25 23:06:15--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [               <=>  ]  21.37M   890KB/s    in 25s

2019-04-25 23:06:40 (875 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22408410]

In [315]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [316]:
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","disbursement_method","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 36 months"," 10.33%","324.23","B","B1","","< 1 year","MORTGAGE","280000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","974xx","OR","6.15","2","Jan-1996","0","18","","14","0","9082","38%","23","w","9521.66","9521.66","639.85","639.85","478.34","161.51","0.0","0.0","0.0","Feb-2019","324.23","Apr-2019","Mar-2019","0","","1","Individual","","","","0","671","246828","1","3","2","3","1","48552","62","1","3","4923","46","23900","2","7","1","7","17631","11897","43.1","0","0","158","275","11","1","1","11","","11","","0","3","4","7","7","10","9","11","4","14","0","0","0","4","91.3","28.6","0","0","367828","61364","20900","54912","","","","","","","","","","","","N","","","","","","","","","","","","","","","DirectPay","N","","","","","",""
"","","2500","2500","2500"," 36 months"," 13.56%","84.92","C","C1","Chef","10+ years","RENT","55000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","109xx","NY","18.24","0","Apr-2001","1","","45","9","1","4341","10.3%","34","w","2386.02","2386.02","167.02","167.02","113.98","53.04","0.0","0.0","0.0","Feb-2019","84.92","Apr-2019","Mar-2019","0","","1","Individual","","","","0","0","16901","2","2","1","2","2","12560","69","2","7","2137","28","42000","1","11","2","9","1878","34360","5.9","0","0","140","212","1","1","0","1","","2","","0","2","5","3","3","16","7","18","5","9","0","0","0","3","100","0","1","0","60124","16901","36500","18124","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","12000","12000","12000"," 60 months"," 13.56%","276.49","C","C1","","< 1 year","MORTGAGE","40000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","180xx","PA","19.23","0","Aug-2005","2","","","8","0","23195","55.5%","9","w","11716.63","11716.63","539.42","539.42","283.37","256.05","0.0","0.0","0.0","Feb-2019","276.49","Apr-2019","Mar-2019","0","","1","Individual","","","","0","0","32462","1","1","1","1","4","9267","103","2","2","9747","64","41800","1","0","3","3","4058","16601","54.9","0","0","4","149","9","4","1","10","","4","","0","5","6","5","5","1","7","7","6","8","0","0","0","3","100","60","0","0","50800","32462","36800","9000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","15000","15000","14975"," 60 months"," 14.47%","352.69","C","C2","","n/a","MORTGAGE","30000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","756xx","TX","41.6","0","Oct-1999","0","","","20","0","20049","37.2%","30","f","14654.57","14630.15","687.29","686.14","345.43","341.86","0.0","0.0","0.0","Feb-2019","352.69","Apr-2019","Mar-2019","0","","1","Joint App","55000","34.95","Source Verified","0","0","65496","1","1","0","1","16","4458","31","1","1","3616","36","53900","0","2","0","2","3275","2545","74.3","0","0","149","230","6","6","1","31","","","","0","4","13","4","5","8","18","21","13","20","0","0","0","1","100","50","0","0","118790","24507","9900","14490","29704","Oct-1999","0","0","16","48.8","0","15","0","0","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 17.97%","406.04","D","D1","Instructional Coordinator","5 years","MORTGAGE","51000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","284xx","NC","21.91","0","Oct-2005","1","52","","11","0","7326","24.8%","27","w","15664.63","15664.63","788.12","788.12","335.37","452.75","0.0","0.0","0.0","Feb-2019","406.04","Apr-2019","Mar-2019","0","52","1","Individual","","","","0","0","39339","3","8","2","2","2","32013","83","1","1","3881","58","29500","0","0","1","3","3576","22174","24.8","0","0","123","158","6","2","0","6","52","4","52","6","2","2","3","6","21","3","6","2","11","0","0","0","3","77.8","0","0","0","67924","39339","29500","38424","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","9600","9600","9600"," 36 months"," 23.40%","373.62","E","E1","driver coordinator ","9 years","RENT","65000","Not Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","265xx","WV","23.01","1","Sep-2003","0","16","","12","0","10678","37.5%","20","f","9223.52","9223.52","728.52","728.52","376.48","352.04","0.0","0.0","0.0","Feb-2019","373.62","Apr-2019","Mar-2019","0","","1","Individual","","","","0","66","24165","0","2","0","0","43","13487","33","1","1","2264","35","28500","0","0","0","1","2014","232","96.9","0","0","183","92","12","12","0","27","","15","30","0","7","9","7","8","8","10","12","9","12","0","0","0","1","90","85.7","0","0","68902","24165","7600","40402","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 23.40%","155.68","E","E1","Security","3 years","RENT","90000","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","070xx","NJ","26.33","0","Sep-2006","4","59","","15","0","5199","19.2%","20","w","3843.13","3843.13","303.56","303.56","156.87","146.69","0.0","0.0","0.0","Feb-2019","155.68","Apr-2019","Mar-2019","0","","1","Individual","","","","0","0","66926","5","4","3","4","5","61727","86","6","11","1353","68","27100","4","0","4","15","4462","20174","7.9","0","0","147","118","2","2","0","2","","0","","0","5","7","9","9","8","11","12","7","15","0","0","0","9","95","0","0","0","98655","66926","21900","71555","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","3500","3500","3500"," 36 months"," 20.89%","131.67","D","D4","gas attendant","10+ years","MORTGAGE","40000","Source Verified","Dec-2018","Current","n","","","car","Car financing","078xx","NJ","9.09","0","Oct-2004","1","24","","4","0","1944","33.5%","18","w","3357.29","3357.29","257.25","257.25","142.71","114.54","0.0","0.0","0.0","Feb-2019","131.67","Apr-2019","Mar-2019","0","48","1","Joint App","59500","10.59","Source Verified","0","0","189794","1","1","1","1","7","24958","100","2","2","1317","87","5800","1","0","3","3","47449","3683","26.3","0","0","150","170","1","1","4","8","48","1","48","2","1","2","1","8","3","2","11","2","4","0","0","0","3","38.9","0","0","0","217000","26902","5000","25000","6902","May-2003","0","3","6","47.9","0","21","0","0","46","N","","","","","","","","","","","","","","","Cash","N","","","","","",""

In [317]:
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","4950.84","4950.84","940.5","940.50","649.16","291.34","0.0","0.0","0.0","Mar-2019","190.21","Apr-2019","Mar-2019","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","8863.95","8863.95","1725.46","1725.46","1136.05","589.41","0.0","0.0","0.0","Mar-2019","346.76","Apr-2019","Mar-2019","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","4420.40","4420.40","845.38","845.38","579.60","265.78","0.0","0.0","0.0","Mar-2019","169.83","Apr-2019","Mar-2019","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","8800.53","8580.51","1623.04","1582.46","1199.47","423.57","0.0","0.0","0.0","Mar-2019","327.68","Apr-2019","Mar-2019","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","8893.43","8893.43","1771.01","1771.01","1106.57","664.44","0.0","0.0","0.0","Mar-2019","356.08","Apr-2019","Mar-2019","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","Cash","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [0]:
import pandas as pd

In [359]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df.head()

In [0]:
pd.options.display.max_rows = 500
pd.options.display.max_columns = 500

In [0]:
# View number of nan per column.
df.isnull().sum().sort_values(ascending=False)

## Work with strings

For machine learning, we usually want to replace strings with numbers.

We can get info about which columns have a datatype of "object" (strings)

In [0]:
df.dtypes

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [0]:
def strip_percent(string):
  # return float value of percentage.
  return float(str(string).strip('%'))

Apply the function to the `int_rate` column

In [0]:
df['int_rate'] = df['int_rate'].apply(strip_percent)

In [0]:
df['int_rate'].dtypes

But, I like regex. :)

In [0]:
# Look for numbers followed by '%' replace with number only.
df['int_rate'].replace(r'([0-9]+)%', r'\1', regex=True, inplace=True)

In [0]:
df['int_rate']

### Clean `emp_title`

Look at top 20 titles

In [0]:
# View job titles and counts including nan.
df['emp_title'].value_counts(dropna=False).head(20)

How often is `emp_title` null?

In [0]:
df['emp_title'].isnull().sum()

Clean the title and handle missing values

In [0]:
def make_title(title):
  if isinstance(title, str):
    # Remove any trailing whitespace and capitalize words.
    return title.strip().title()
  else: return 'Unknown'

In [0]:
df['emp_title'] = df['emp_title'].apply(make_title)

In [0]:
df['emp_title'].value_counts(dropna=False).head(20)

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
# Add a column indicating if emp is a manager.
df['is_manager'] = df['emp_title'].str.contains('Manager')

In [0]:
df['is_manager'].head()

In [0]:
managers = df[df['is_manager'] == True]
proles = df[df['is_manager'] == False]

In [0]:
print(managers['loan_amnt'].mean())
print(proles['loan_amnt'].mean())

In [0]:
print(managers['loan_amnt'].std())
print(proles['loan_amnt'].std())

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
columns = [column for column in df.columns if column[-2:] == '_d']

In [367]:
for column in columns:
  # Clean nans.
  df[column].replace(np.nan, 0, inplace=True)
  # Convert to datetime
  df[column] = pd.to_datetime(df[column], errors='raise')
  # Make sure no nan remains.
  print(column, df[column].isnull().sum())

issue_d 0
last_pymnt_d 0
next_pymnt_d 0
last_credit_pull_d 0

In [0]:
df['issue_year'] = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [330]:
df['issue_year'].dtypes

dtype('int64')

In [0]:
df.head()

In [331]:
df['earliest_cr_line'].head()

0    Jan-1996
1    Apr-2001
2    Aug-2005
3    Oct-1999
4    Oct-2005
Name: earliest_cr_line, dtype: object

In [0]:
# Clean nan and convert to datetime.
df['earliest_cr_line'] = df['earliest_cr_line'].fillna(0)
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format=True, errors='ignore')

In [361]:
df['earliest_cr_line'].tail()

128409    Jun-2006
128410    Oct-2008
128411    Sep-2006
128412           0
128413           0
Name: earliest_cr_line, dtype: object

In [369]:
df['issue_d'].dtypes

dtype('<M8[ns]')

In [0]:
# Create column of days between first line of credit and loan issue date.
df['first_cr_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [0]:
df['first_cr_to_issue'].head()

In [0]:
df['loan_status_is_great'] = ((df['loan_status'] == 'Current') | (df['loan_status'] == 'Fully Paid'))
df['loan_status_is_great'] = df['loan_status_is_great'].apply(lambda x: 1 if x == True else 0)

In [0]:
df['loan_status_is_great'].describe()

In [0]:
df['loan_status_is_great'].head()

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
df['term'].replace(np.nan, 0, inplace=True)
df['term'].replace(r'([0-9]+).*', r'\1', regex=True, inplace=True)
df['term'] = df['term'].map(lambda x: int(x))

In [0]:
df['term'].head()

In [372]:
df['loan_status_is_great'] = ((df['loan_status'] == 'Current') | (df['loan_status'] == 'Fully Paid'))
df['loan_status_is_great'] = df['loan_status_is_great'].apply(lambda x: 1 if x == True else 0)
df['loan_status_is_great'].describe()

count    128414.000000
mean          0.985749
std           0.118523
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: loan_status_is_great, dtype: float64

In [0]:
df['loan_status_is_great'].head()

In [0]:
df['last_pymnt_d'].head()

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [0]:
df = df.drop(columns='issue_yearss')

In [0]:
df.head()

In [0]:
grades = set(df['grade'].sort_values())

In [0]:
grade_ranks = {grade: rank for grade, rank in zip(grades, list(range(len(grades))))}

In [0]:
df['grade'] = df['grade'].map(grade_ranks)

In [0]:
own_ranks = {'OWN': 3, 'MORTGAGE': 2, 'RENT': 1, 'ANY': 0, np.nan: 0}

In [0]:
df['home_ownership'] = df['home_ownership'].map(own_ranks)

In [380]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,first_cr_to_issue,loan_status_is_great,last_pymnt_d_month,last_pymnt_d_year
0,NaN,NaN,10000.0,10000.0,10000.0,36,10.33%,324.23,7,B1,NaN,< 1 year,2,280000.0,Not Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,974xx,OR,6.15,2.0,1996-01-01,0.0,18.0,NaN,14.0,0.0,9082.0,38%,23.0,w,9521.66,9521.66,639.85,639.85,478.34,161.51,0.0,0.0,0.0,2019-02-01,324.23,2019-04-01,2019-03-01,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,671.0,246828.0,1.0,3.0,2.0,3.0,1.0,48552.0,62.0,1.0,3.0,4923.0,46.0,23900.0,2.0,7.0,1.0,7.0,17631.0,11897.0,43.1,0.0,0.0,158.0,275.0,11.0,1.0,1.0,11.0,NaN,11.0,NaN,0.0,3.0,4.0,7.0,7.0,10.0,9.0,11.0,4.0,14.0,0.0,0.0,0.0,4.0,91.3,28.6,0.0,0.0,367828.0,61364.0,20900.0,54912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN,8370,1,2,2019
1,NaN,NaN,2500.0,2500.0,2500.0,36,13.56%,84.92,1,C1,Chef,10+ years,1,55000.0,Not Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,0.0,2001-04-01,1.0,NaN,45.0,9.0,1.0,4341.0,10.3%,34.0,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,2019-02-01,84.92,2019-04-01,2019-03-01,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,16901.0,2.0,2.0,1.0,2.0,2.0,12560.0,69.0,2.0,7.0,2137.0,28.0,42000.0,1.0,11.0,2.0,9.0,1878.0,34360.0,5.9,0.0,0.0,140.0,212.0,1.0,1.0,0.0,1.0,NaN,2.0,NaN,0.0,2.0,5.0,3.0,3.0,16.0,7.0,18.0,5.0,9.0,0.0,0.0,0.0,3.0,100.0,0.0,1.0,0.0,60124.0,16901.0,36500.0,18124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,6453,1,2,2019
2,NaN,NaN,12000.0,12000.0,12000.0,60,13.56%,276.49,1,C1,NaN,< 1 year,2,40000.0,Not Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,180xx,PA,19.23,0.0,2005-08-01,2.0,NaN,NaN,8.0,0.0,23195.0,55.5%,9.0,w,11716.63,11716.63,539.42,539.42,283.37,256.05,0.0,0.0,0.0,2019-02-01,276.49,2019-04-01,2019-03-01,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,32462.0,1.0,1.0,1.0,1.0,4.0,9267.0,103.0,2.0,2.0,9747.0,64.0,41800.0,1.0,0.0,3.0,3.0,4058.0,16601.0,54.9,0.0,0.0,4.0,149.0,9.0,4.0,1.0,10.0,NaN,4.0,NaN,0.0,5.0,6.0,5.0,5.0,1.0,7.0,7.0,6.0,8.0,0.0,0.0,0.0,3.0,100.0,60.0,0.0,0.0,50800.0,32462.0,36800.0,9000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,4870,1,2,2019
3,NaN,NaN,15000.0,15000.0,14975.0,60,14.47%,352.69,1,C2,NaN,NaN,2,30000.0,Source Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,756xx,TX,41.60,0.0,1999-10-01,0.0,NaN,NaN,20.0,0.0,20049.0,37.2%,30.0,f,14654.57,14630.15,687.29,686.14,345.43,341.86,0.0,0.0,0.0,2019-02-01,352.69,2019-04-01,2019-03-01,0.0,NaN,1.0,Joint App,55000.0,34.95,Source Verified,0.0,0.0,65496.0,1.0,1.0,0.0,1.0,16.0,4458.0,31.0,1.0,1.0,3616.0,36.0,53900.0,0.0,2.0,0.0,2.0,3275.0,2545.0,74.3,0.0,0.0,149.0,230.0,6.0,6.0,1.0,31.0,NaN,NaN,NaN,0.0,4.0,13.0,4.0,5.0,8.0,18.0,21.0,13.0,20.0,0.0,0.0,0.0,1.0,100.0,50.0,0.0,0.0,118790.0,24507.0,9900.0,14490.0,29704.0,Oct-1999,0.0,0.0,16.0,48.8,0.0,15.0,0.0,0.0,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,7001,1,2,2019
4,NaN,NaN,16000.0,16000.0,16000.0,60,17.97%,406.04,6,D1,Instructional Coordinator,5 years,2,51000.0,Not Verified,2018-12-01,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,284xx,NC,21.91,0.0,2005-10-01,1.0,52.0,NaN,11.0,0.0,7326.0,24.8%,27.0,w,15664.63,15664.63,788.12,788.12,335.37,452.75,0.0,0.0,0.0,2019-02-01,406.04,2019-04-01,2019-03-01,0.0,52.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,39339.0,3.0,8.0,2.0,2.0,2.0,32013.0,83.0,1.0,1.0,3881.0,58.0,29500.0,0.0,0.0,1.0,3.0,3576.0,22174.0,24.8,0.0,0.0,123.0,158.0,6.0,2.0,0.0,6.0,52.0,4.0,52.0,6.0,2.0,2.0,3.0,6.0,21.0,3.0,6.0,2.0,11.0,0.0,0.0,0.0,3.0,77.8,0.0,0.0,0.0,67924.0,39339.0,29500.0,38424.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,4809,1,2,2019

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
%cd instacart_2017_05_01

In [0]:
df1 = pd.read_csv('orders.csv')

In [0]:
df1.shape

In [0]:
df1.isna().sum()

In [0]:
df1.head()

In [0]:
len(set(df1['user_id'].sort_values()))

In [0]:
# Replace nan in 'days_since_prior_order with -1 to aviod confusion with customers who ordered today'
df1.replace(np.nan, -1, inplace=True)