<a href="https://colab.research.google.com/github/Bhavani-Rajan/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/warm%20up%20on%20df.loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

# Data Frame to practice .loc[] techniques on
df = pd.DataFrame({'index':[1, 2, 3, 4, 5],
                   'name_1':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_2':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_3':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_4':['entry1', 'entry2', 'entry3', 'entry4', 'entry5'],
                   'name_5':['entry1', 'entry2', 'entry3', 'entry4', 'entry5']})

In [27]:
# Set Index
df.set_index('index', inplace=True)

### Select by a Single Label
print(df.head())

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2
3      entry3  entry3  entry3  entry3  entry3
4      entry4  entry4  entry4  entry4  entry4
5      entry5  entry5  entry5  entry5  entry5

In [28]:
#1 Select and print the '1' Row
print(df.loc[1])

name_1    entry1
name_2    entry1
name_3    entry1
name_4    entry1
name_5    entry1
Name: 1, dtype: object

In [29]:
#2 Select and print Row 1 Label with Column 1 Label to get entry1
print(df.loc[1,'name_1'])

entry1

In [30]:
### Select Multiple Rows Using LISTS
#1 Select and print Row Labels 1, 2
print(df.loc[[1,2]])

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2

In [31]:
#2 Select and print Row Labels 1, 3, 5
print(df.loc[[1,3,5]])

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3  entry3
5      entry5  entry5  entry5  entry5  entry5

In [32]:
# Now Rows WITH desired Columns
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
print(df.loc[[1,2,3],['name_1', 'name_2', 'name_3']])

       name_1  name_2  name_3
index
1      entry1  entry1  entry1
2      entry2  entry2  entry2
3      entry3  entry3  entry3

In [33]:
#4 Select and print Row Labels 1, 3, 4, 5 with Column Labels 'name_1', 'name_3', 'name_4', 'name_5'
print(df.loc[[1,3,4,5],['name_1', 'name_3', 'name_4','name_5']])

       name_1  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3
4      entry4  entry4  entry4  entry4
5      entry5  entry5  entry5  entry5

In [34]:
### Select Multiple Row & Column Labels Using SLICE
#1 Select and print Row Labels 1, 2
print(df.loc[1:2])

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2

In [35]:
#2 Select and print Row Labels 1, 2, 3
print(df.loc[1:3])

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2
3      entry3  entry3  entry3  entry3  entry3

In [36]:
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'

print(df.loc[1:3,'name_1':'name_3'])

       name_1  name_2  name_3
index
1      entry1  entry1  entry1
2      entry2  entry2  entry2
3      entry3  entry3  entry3

In [37]:
#4 Select and print Row Labels 3, 4, 5 with Column Labels 'name_3', 'name_4', 'name_5'

print(df.loc[3:5,'name_3':'name_5'])

       name_3  name_4  name_5
index
3      entry3  entry3  entry3
4      entry4  entry4  entry4
5      entry5  entry5  entry5

In [38]:
### Select Multiple Row & Column Labels Using Booleans
# Reminder the Boolean List MUST be the same length as the Row/Column Axis
#1 Select and print Row Labels 1, 2
print(df.loc[[True,True,False,False,False]])

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
2      entry2  entry2  entry2  entry2  entry2

In [39]:
#2 Select and print Row Labels 1, 3, 5
print(df.loc[[True,False,True,False,True]])

       name_1  name_2  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3  entry3
5      entry5  entry5  entry5  entry5  entry5

In [40]:
#3 Select and print Row Labels 1, 2, 3 with Column Labels 'name_1', 'name_2', 'name_3'
print(df.loc[[True,True,True,False,False],[True,True,True,False,False]])

       name_1  name_2  name_3
index
1      entry1  entry1  entry1
2      entry2  entry2  entry2
3      entry3  entry3  entry3

In [41]:
#4 Select and print Row Labels 1, 3, 4, 5 with Column Labels 'name_1', 'name_3', 'name_4', 'name_5'
print(df.loc[[True,False,True,True,True],[True,False,True,True,True]])

       name_1  name_3  name_4  name_5
index
1      entry1  entry1  entry1  entry1
3      entry3  entry3  entry3  entry3
4      entry4  entry4  entry4  entry4
5      entry5  entry5  entry5  entry5