<a href="https://colab.research.google.com/github/twiesenb/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Wiesenberg_LS_DS_112_Loading_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Loading, Cleaning and Visualizing Data

Objectives for today:
- Load data from multiple sources into a Python notebook 
 - !curl method
 - CSV upload method
- Create basic plots appropriate for different data types
 - Scatter Plot
 - Histogram
 - Density Plot
 - Pairplot
- "Clean" a dataset using common Python libraries
 - Removing NaN values "Interpolation"

# Part 1 - Loading Data

Data comes in many shapes and sizes - we'll start by loading tabular data, usually in csv format.

Data set sources:

- https://archive.ics.uci.edu/ml/datasets.html
- https://github.com/awesomedata/awesome-public-datasets
- https://registry.opendata.aws/ (beyond scope for now, but good to be aware of)

Let's start with an example - [data about flags](https://archive.ics.uci.edu/ml/datasets/Flags).

## Lecture example - flag data

In [2]:
# Step 1 - find the actual file to download

# From navigating the page, clicking "Data Folder"
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'

# You can "shell out" in a notebook for more powerful tools
# https://jakevdp.github.io/PythonDataScienceHandbook/01.05-ipython-and-shell-commands.html

# Funny extension, but on inspection looks like a csv
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.dataa

# Extensions are just a norm! You have to inspect to be sure what something is

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>404 Not Found</title>
</head><body>
<h1>Not Found</h1>
<p>The requested URL /ml/machine-learning-databases/flags/flag.dataa was not found on this server.</p>
<hr>
<address>Apache/2.4.6 (CentOS) OpenSSL/1.0.2k-fips SVN/1.7.14 Phusion_Passenger/4.0.53 mod_perl/2.0.10 Perl/v5.16.3 Server at archive.ics.uci.edu Port 443</address>
</body></html>

In [0]:
# Step 2 - load the data

# How to deal with a csv? üêº
import pandas as pd
flag_data = pd.read_csv(flag_data_url)

In [4]:
# Step 3 - verify we've got *something*
flag_data.head()

      Afghanistan  5  1   648  16  10  ...  0.8  1.7  0.9  0.10  black  green.1
0         Albania  3  1    29   3   6  ...    0    0    1     0    red      red
1         Algeria  4  1  2388  20   8  ...    0    0    0     0  green    white
2  American-Samoa  6  3     0   0   1  ...    1    1    1     0   blue      red
3         Andorra  3  1     0   0   6  ...    0    0    0     0   blue      red
4          Angola  4  2  1247   7  10  ...    0    1    0     0    red    black

[5 rows x 30 columns]

In [5]:
# Step 4 - Looks a bit odd - verify that it is what we want
flag_data.count()

Afghanistan    193
5              193
1              193
648            193
16             193
10             193
2              193
0              193
3              193
5.1            193
1.1            193
1.2            193
0.1            193
1.3            193
1.4            193
1.5            193
0.2            193
green          193
0.3            193
0.4            193
0.5            193
0.6            193
1.6            193
0.7            193
0.8            193
1.7            193
0.9            193
0.10           193
black          193
green.1        193
dtype: int64

In [6]:
!curl https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data | wc

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15240  100 15240    0     0  71886      0 --:--:-- --:--:-- --:--:-- 71886
    194     194   15240

In [7]:
# So we have 193 observations with funny names, file has 194 rows
# Looks like the file has no header row, but read_csv assumes it does
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [0]:
?pd.read_csv

In [0]:
??pd.read_csv

In [10]:
# Alright, we can pass header=None to fix this
flag_data = pd.read_csv(flag_data_url, header=None)
flag_data.head()

               0   1   2     3   4   5   6   ...  23  24  25  26  27     28     29
0     Afghanistan   5   1   648  16  10   2  ...   0   0   1   0   0  black  green
1         Albania   3   1    29   3   6   6  ...   0   0   0   1   0    red    red
2         Algeria   4   1  2388  20   8   2  ...   1   0   0   0   0  green  white
3  American-Samoa   6   3     0   0   1   1  ...   0   1   1   1   0   blue    red
4         Andorra   3   1     0   0   6   0  ...   0   0   0   0   0   blue    red

[5 rows x 30 columns]

In [11]:
flag_data.count()

0     194
1     194
2     194
3     194
4     194
5     194
6     194
7     194
8     194
9     194
10    194
11    194
12    194
13    194
14    194
15    194
16    194
17    194
18    194
19    194
20    194
21    194
22    194
23    194
24    194
25    194
26    194
27    194
28    194
29    194
dtype: int64

In [12]:
flag_data.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
dtype: int64

### Yes, but what does it *mean*?

This data is fairly nice - it was "donated" and is already "clean" (no missing values). But there are no variable names - so we have to look at the codebook (also from the site).

```
1. name: Name of the country concerned
2. landmass: 1=N.America, 2=S.America, 3=Europe, 4=Africa, 4=Asia, 6=Oceania
3. zone: Geographic quadrant, based on Greenwich and the Equator; 1=NE, 2=SE, 3=SW, 4=NW
4. area: in thousands of square km
5. population: in round millions
6. language: 1=English, 2=Spanish, 3=French, 4=German, 5=Slavic, 6=Other Indo-European, 7=Chinese, 8=Arabic, 9=Japanese/Turkish/Finnish/Magyar, 10=Others
7. religion: 0=Catholic, 1=Other Christian, 2=Muslim, 3=Buddhist, 4=Hindu, 5=Ethnic, 6=Marxist, 7=Others
8. bars: Number of vertical bars in the flag
9. stripes: Number of horizontal stripes in the flag
10. colours: Number of different colours in the flag
11. red: 0 if red absent, 1 if red present in the flag
12. green: same for green
13. blue: same for blue
14. gold: same for gold (also yellow)
15. white: same for white
16. black: same for black
17. orange: same for orange (also brown)
18. mainhue: predominant colour in the flag (tie-breaks decided by taking the topmost hue, if that fails then the most central hue, and if that fails the leftmost hue)
19. circles: Number of circles in the flag
20. crosses: Number of (upright) crosses
21. saltires: Number of diagonal crosses
22. quarters: Number of quartered sections
23. sunstars: Number of sun or star symbols
24. crescent: 1 if a crescent moon symbol present, else 0
25. triangle: 1 if any triangles present, 0 otherwise
26. icon: 1 if an inanimate image present (e.g., a boat), otherwise 0
27. animate: 1 if an animate image (e.g., an eagle, a tree, a human hand) present, 0 otherwise
28. text: 1 if any letters or writing on the flag (e.g., a motto or slogan), 0 otherwise
29. topleft: colour in the top-left corner (moving right to decide tie-breaks)
30. botright: Colour in the bottom-left corner (moving left to decide tie-breaks)
```

Exercise - read the help for `read_csv` and figure out how to load the data with the above variable names. One pitfall to note - with `header=None` pandas generated variable names starting from 0, but the above list starts from 1...

In [13]:
col_headers = ['name','landmass','zone','area','population','language','religion','bars','stripes','colours','red',
               'green','blue','gold','white','black','orange','mainhue','circles','crosses','saltires','quarters',
               'sunstars','crescent','triangle','icon','animate','text','topleft','botright']

flag_data = pd.read_csv(flag_data_url, header=None, names=col_headers)
flag_data.head()

             name  landmass  zone  area  ...  animate  text  topleft  botright
0     Afghanistan         5     1   648  ...        0     0    black     green
1         Albania         3     1    29  ...        1     0      red       red
2         Algeria         4     1  2388  ...        0     0    green     white
3  American-Samoa         6     3     0  ...        1     0     blue       red
4         Andorra         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [14]:
flag_data['language'] = flag_data['language'].map({1: 'English', 2:'Spanish', 3:'French', 4:'German', 5:'Slavic', 6:'Other Indo-European', 7:'Chinese', 8:'Arabic', 9:'Japanese/Turkish/Finnish/Magyar', 10:'Others'})
flag_data.head()

             name  landmass  zone  area  ...  animate text  topleft  botright
0     Afghanistan         5     1   648  ...        0    0    black     green
1         Albania         3     1    29  ...        1    0      red       red
2         Algeria         4     1  2388  ...        0    0    green     white
3  American-Samoa         6     3     0  ...        1    0     blue       red
4         Andorra         3     1     0  ...        0    0     blue       red

[5 rows x 30 columns]

In [15]:
flag_data.language.value_counts()

Others                             46
English                            43
Other Indo-European                30
Spanish                            21
Arabic                             19
French                             17
German                              6
Slavic                              4
Japanese/Turkish/Finnish/Magyar     4
Chinese                             4
Name: language, dtype: int64

## Reading other CSVs

In [16]:
link1 = 'https://raw.githubusercontent.com/BJanota11/DS-Unit-1-Sprint-1-Dealing-With-Data/master/module2-loadingdata/drinks_with_regions.csv'
link2 = 'https://raw.githubusercontent.com/BJanota11/DS-Unit-1-Sprint-1-Dealing-With-Data/master/module2-loadingdata/drinks_with_regions_index.csv'
link3 = 'https://raw.githubusercontent.com/BJanota11/DS-Unit-1-Sprint-1-Dealing-With-Data/master/module2-loadingdata/drinks_with_regions_header.csv'

df = pd.read_csv(link1)
print(df.shape)
df.head()

(193, 7)

       country  beer_servings  ...  region          sub-region
0  Afghanistan              0  ...    Asia       Southern Asia
1      Albania             89  ...  Europe     Southern Europe
2      Algeria             25  ...  Africa     Northern Africa
3      Andorra            245  ...  Europe     Southern Europe
4       Angola            217  ...  Africa  Sub-Saharan Africa

[5 rows x 7 columns]

In [0]:
df.to_csv('test.csv')

In [18]:
df.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'region', 'sub-region'],
      dtype='object')

In [19]:
df = pd.read_csv(link2)
#df = pd.read_csv(link2, usecols=range(1,8))
df = df.drop(['country', 'beer_servings', 'spirit_servings'], axis=1)
print(df.shape)
df.head()

(193, 5)

   Unnamed: 0  wine_servings  ...  region          sub-region
0           0              0  ...    Asia       Southern Asia
1           1             54  ...  Europe     Southern Europe
2           2             14  ...  Africa     Northern Africa
3           3            312  ...  Europe     Southern Europe
4           4             45  ...  Africa  Sub-Saharan Africa

[5 rows x 5 columns]

In [20]:
df = pd.read_csv(link3, skiprows=3)
print(df.shape)
df.head()

(193, 7)

       country  beer_servings  ...  region          sub-region
0  Afghanistan              0  ...    Asia       Southern Asia
1      Albania             89  ...  Europe     Southern Europe
2      Algeria             25  ...  Africa     Northern Africa
3      Andorra            245  ...  Europe     Southern Europe
4       Angola            217  ...  Africa  Sub-Saharan Africa

[5 rows x 7 columns]

In [21]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

## Loading from a local CSV to Google Colab

In [22]:
from google.colab import files
uploaded = files.upload()

In [23]:
df = pd.read_csv('drinks_with_regions_header.csv', skiprows=3)
df.head()

FileNotFoundError: ignored

# Part 2 - Basic Visualizations

## Basic Data Visualizations Using Matplotlib

In [0]:
import matplotlib.pyplot as plt

# Scatter Plot
plt.scatter(df.beer_servings, df.wine_servings)
plt.xlabel('beer_servings')
plt.ylabel('wine_servings')
plt.show()

In [0]:
df.plot.scatter('beer_servings','wine_servings');

In [0]:
plt.hist(df.total_litres_of_pure_alcohol, bins=20)
df.total_litres_of_pure_alcohol.hist(bins=20);

In [0]:
# Seaborn Density Plot

In [0]:
import seaborn as sns

sns.pairplot(df)

In [0]:
df.isna().sum()

## Create the same basic Visualizations using Pandas

In [0]:
# Pandas Histogram - Look familiar?

In [0]:
# Pandas Scatterplot

In [0]:
# Pandas Scatter Matrix - Usually doesn't look too great.

# Part 3 - Deal with Missing Values

## Diagnose Missing Values

Lets use the Adult Dataset from UCI. <https://github.com/ryanleeallred/datasets>

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/adult.csv', na_values=' ?')
print(df.shape)
df.head()

In [0]:
df.isna().sum()

In [0]:
df.country.value_counts()

In [0]:
df.workclass.value_counts()

In [0]:
df.dropna(subset=['country'],inplace=True)
df.shape

## Fill Missing Values

In [0]:
df.mode().iloc[0]

In [0]:
df = df.fillna(df.mode().iloc[0])
df.isna().sum()

## Your assignment - pick a dataset and do something like the above

This is purposely open-ended - you can pick any data set you wish. It is highly advised you pick a dataset from UCI or a similar semi-clean source. You don't want the data that you're working with for this assignment to have any bigger issues than maybe not having headers or including missing values, etc.

After you have chosen your dataset, do the following:

- Import the dataset using the method that you are least comfortable with (!curl or CSV upload).
 - Make sure that your dataset has the number of rows and columns that you expect.
 - Make sure that your dataset has appropriate column names, rename them if necessary.
 - If your dataset uses markers like "?" to indicate missing values, replace them with NaNs during import.
- Identify and fill missing values in your dataset (if any)
 - Don't worry about using methods more advanced than the `.fillna()` function for today.
- Create one of each of the following plots using your dataset
 - Scatterplot
 - Histogram
 - Density Plot
 - Pairplot (note that pairplots will take a long time to load with large datasets or datasets with many columns)

If you get that done and want to try more challenging or exotic things, go for it! Use documentation as illustrated above, and follow the 20-minute rule (that is - ask for help if you're stuck!).

If you have loaded a few traditional datasets, see the following section for suggested stretch goals.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
#read csv
taxi_2018 = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2018-01.csv')

In [3]:
print(taxi_2018.shape)
taxi_2018.head()

(8759874, 17)

   VendorID tpep_pickup_datetime  ... improvement_surcharge  total_amount
0         1  2018-01-01 00:21:05  ...                   0.3          5.80
1         1  2018-01-01 00:44:55  ...                   0.3         15.30
2         1  2018-01-01 00:08:26  ...                   0.3          8.30
3         1  2018-01-01 00:20:22  ...                   0.3         34.80
4         1  2018-01-01 00:09:18  ...                   0.3         16.55

[5 rows x 17 columns]

###There are some unclear categorical attributes, such as RatecodeID, payment_type, and pickup-dropoff location ID
###I'm going to convert each value into a string value for readability

In [0]:
#dictionaries for RatecodeID and payment type
taxi_2018['Ratecode'] = taxi_2018['RatecodeID'].map({1: 'Standard rate',
                                      2:'JFK',
                                      3:'Newark',
                                      4:'Nassau or Westchester',
                                      5:'Negotiated fare',
                                      6:'Group ride',})
taxi_2018['payment_type'] = taxi_2018['payment_type'].map({1: 'Credit card',
                                             2: 'Cash',
                                             3: 'No charge',
                                             4: 'Dispute',
                                             5: 'NaN',
                                             6: 'Voided trip',})

In [5]:
#opening a csv from NYC mapping the taxi codes
taxi_codes = pd.read_csv('https://data.cityofnewyork.us/api/views/755u-8jsi/rows.csv')
taxi_codes.shape

(263, 7)

In [6]:
taxi_codes.head()

   OBJECTID  Shape_Leng  ... LocationID        borough
0         1    0.116357  ...          1            EWR
1         2    0.433470  ...          2         Queens
2         3    0.084341  ...          3          Bronx
3         4    0.043567  ...          4      Manhattan
4         5    0.092146  ...          5  Staten Island

[5 rows x 7 columns]

In [0]:
#merging taxi location codes into january 2018 taxi data (pickup locations)
df = pd.merge(taxi_2018, taxi_codes[['zone', 'borough', 'LocationID']], left_on='PULocationID', right_on='LocationID')

In [8]:
#renaming zone and borough to pickup location
df.rename(columns={'zone': 'PUzone'})
df.rename(columns={'borough': 'PUborough'})
df.head()

   VendorID tpep_pickup_datetime  ...    borough  LocationID
0         1  2018-01-01 00:21:05  ...  Manhattan          41
1         2  2018-01-01 00:49:32  ...  Manhattan          41
2         1  2018-01-01 00:11:56  ...  Manhattan          41
3         1  2018-01-01 00:58:32  ...  Manhattan          41
4         2  2018-01-01 00:14:09  ...  Manhattan          41

[5 rows x 21 columns]

In [0]:
#merging location codes taxi codes into januarty 2018 taxi data (dropoff locations)
df = pd.merge(df, taxi_codes[['zone', 'borough', 'LocationID']], left_on='DOLocationID', right_on='LocationID')

In [10]:
#renaming zone and borough to dropoff location
df.rename(columns={'zone': 'DOzone'})
df.rename(columns={'borough': 'DOborough'})

         VendorID tpep_pickup_datetime  ...      borough_y  LocationID_y
0               1  2018-01-01 00:21:05  ...      Manhattan            24
1               2  2018-01-01 00:44:13  ...      Manhattan            24
2               1  2018-01-01 01:19:54  ...      Manhattan            24
3               2  2018-01-01 01:44:18  ...      Manhattan            24
4               2  2018-01-01 01:03:13  ...      Manhattan            24
5               2  2018-01-01 01:15:55  ...      Manhattan            24
6               1  2018-01-01 01:05:00  ...      Manhattan            24
7               1  2018-01-01 01:57:18  ...      Manhattan            24
8               2  2018-01-01 01:12:35  ...      Manhattan            24
9               2  2018-01-01 02:02:37  ...      Manhattan            24
10              1  2018-01-01 02:52:22  ...      Manhattan            24
11              1  2018-01-01 02:24:21  ...      Manhattan            24
12              2  2018-01-01 02:35:38  ...      Manhattan            24
13              2  2018-01-01 02:13:32  ...      Manhattan            24
14              2  2018-01-01 03:33:59  ...      Manhattan            24
15              2  2018-01-01 03:40:37  ...      Manhattan            24
16              2  2018-01-01 03:16:21  ...      Manhattan            24
17              1  2018-01-01 04:10:56  ...      Manhattan            24
18              2  2018-01-01 07:10:02  ...      Manhattan            24
19              2  2018-01-01 10:31:12  ...      Manhattan            24
20              2  2018-01-01 12:48:09  ...      Manhattan            24
21              2  2018-01-01 12:08:01  ...      Manhattan            24
22              2  2018-01-01 13:53:41  ...      Manhattan            24
23              1  2018-01-01 13:33:55  ...      Manhattan            24
24              1  2018-01-01 15:55:35  ...      Manhattan            24
25              2  2018-01-01 16:13:07  ...      Manhattan            24
26              1  2018-01-01 16:20:10  ...      Manhattan            24
27              1  2018-01-01 17:05:46  ...      Manhattan            24
28              2  2018-01-01 18:08:35  ...      Manhattan            24
29              1  2018-01-01 20:08:58  ...      Manhattan            24
...           ...                  ...  ...            ...           ...
8576999         2  2018-01-02 22:18:20  ...  Staten Island             5
8577000         2  2018-01-07 01:20:31  ...  Staten Island             5
8577001         2  2018-01-11 23:35:11  ...  Staten Island             5
8577002         1  2018-01-16 23:19:42  ...  Staten Island             5
8577003         1  2018-01-30 00:44:18  ...  Staten Island             5
8577004         2  2018-01-01 13:13:48  ...  Staten Island             5
8577005         2  2018-01-05 14:54:29  ...  Staten Island             5
8577006         2  2018-01-25 08:08:01  ...  Staten Island             5
8577007         2  2018-01-12 23:16:23  ...  Staten Island             5
8577008         2  2018-01-14 01:29:57  ...  Staten Island             5
8577009         1  2018-01-19 22:51:42  ...  Staten Island             5
8577010         2  2018-01-01 14:15:53  ...  Staten Island             5
8577011         2  2018-01-08 13:11:28  ...  Staten Island             5
8577012         2  2018-01-29 22:12:07  ...  Staten Island             5
8577013         1  2018-01-31 16:47:42  ...  Staten Island             5
8577014         2  2018-01-03 22:28:38  ...  Staten Island             5
8577015         1  2018-01-17 20:04:00  ...  Staten Island             5
8577016         2  2018-01-18 19:06:03  ...  Staten Island             5
8577017         2  2018-01-11 00:44:24  ...  Staten Island             5
8577018         2  2018-01-26 11:28:42  ...  Staten Island             5
8577019         1  2018-01-10 21:01:54  ...  Staten Island             5
8577020         2  2018-01-01 02:07:09  ...  Staten Island             5
8577021         2  2018-01-12 00:36:07  ...  Staten Island             5
8577022         2  2018-01-06 03:12:55  ...  Staten Island             5
8577023         2  2018-01-08 12:21:56  ...         Queens             2
8577024         2  2018-01-14 13:47:33  ...         Queens             2
8577025         2  2018-01-16 08:05:00  ...         Queens             2
8577026         2  2018-01-19 18:49:39  ...         Queens             2
8577027         2  2018-01-13 17:24:32  ...          Bronx           199
8577028         2  2018-01-13 13:12:33  ...          Bronx           199

[8577029 rows x 24 columns]

In [11]:
df.head()

   VendorID tpep_pickup_datetime  ...  borough_y  LocationID_y
0         1  2018-01-01 00:21:05  ...  Manhattan            24
1         2  2018-01-01 00:44:13  ...  Manhattan            24
2         1  2018-01-01 01:19:54  ...  Manhattan            24
3         2  2018-01-01 01:44:18  ...  Manhattan            24
4         2  2018-01-01 01:03:13  ...  Manhattan            24

[5 rows x 24 columns]

In [12]:
df.drop(columns=['LocationID_x', 'LocationID_y'])

         VendorID tpep_pickup_datetime  ...         zone_y      borough_y
0               1  2018-01-01 00:21:05  ...   Bloomingdale      Manhattan
1               2  2018-01-01 00:44:13  ...   Bloomingdale      Manhattan
2               1  2018-01-01 01:19:54  ...   Bloomingdale      Manhattan
3               2  2018-01-01 01:44:18  ...   Bloomingdale      Manhattan
4               2  2018-01-01 01:03:13  ...   Bloomingdale      Manhattan
5               2  2018-01-01 01:15:55  ...   Bloomingdale      Manhattan
6               1  2018-01-01 01:05:00  ...   Bloomingdale      Manhattan
7               1  2018-01-01 01:57:18  ...   Bloomingdale      Manhattan
8               2  2018-01-01 01:12:35  ...   Bloomingdale      Manhattan
9               2  2018-01-01 02:02:37  ...   Bloomingdale      Manhattan
10              1  2018-01-01 02:52:22  ...   Bloomingdale      Manhattan
11              1  2018-01-01 02:24:21  ...   Bloomingdale      Manhattan
12              2  2018-01-01 02:35:38  ...   Bloomingdale      Manhattan
13              2  2018-01-01 02:13:32  ...   Bloomingdale      Manhattan
14              2  2018-01-01 03:33:59  ...   Bloomingdale      Manhattan
15              2  2018-01-01 03:40:37  ...   Bloomingdale      Manhattan
16              2  2018-01-01 03:16:21  ...   Bloomingdale      Manhattan
17              1  2018-01-01 04:10:56  ...   Bloomingdale      Manhattan
18              2  2018-01-01 07:10:02  ...   Bloomingdale      Manhattan
19              2  2018-01-01 10:31:12  ...   Bloomingdale      Manhattan
20              2  2018-01-01 12:48:09  ...   Bloomingdale      Manhattan
21              2  2018-01-01 12:08:01  ...   Bloomingdale      Manhattan
22              2  2018-01-01 13:53:41  ...   Bloomingdale      Manhattan
23              1  2018-01-01 13:33:55  ...   Bloomingdale      Manhattan
24              1  2018-01-01 15:55:35  ...   Bloomingdale      Manhattan
25              2  2018-01-01 16:13:07  ...   Bloomingdale      Manhattan
26              1  2018-01-01 16:20:10  ...   Bloomingdale      Manhattan
27              1  2018-01-01 17:05:46  ...   Bloomingdale      Manhattan
28              2  2018-01-01 18:08:35  ...   Bloomingdale      Manhattan
29              1  2018-01-01 20:08:58  ...   Bloomingdale      Manhattan
...           ...                  ...  ...            ...            ...
8576999         2  2018-01-02 22:18:20  ...  Arden Heights  Staten Island
8577000         2  2018-01-07 01:20:31  ...  Arden Heights  Staten Island
8577001         2  2018-01-11 23:35:11  ...  Arden Heights  Staten Island
8577002         1  2018-01-16 23:19:42  ...  Arden Heights  Staten Island
8577003         1  2018-01-30 00:44:18  ...  Arden Heights  Staten Island
8577004         2  2018-01-01 13:13:48  ...  Arden Heights  Staten Island
8577005         2  2018-01-05 14:54:29  ...  Arden Heights  Staten Island
8577006         2  2018-01-25 08:08:01  ...  Arden Heights  Staten Island
8577007         2  2018-01-12 23:16:23  ...  Arden Heights  Staten Island
8577008         2  2018-01-14 01:29:57  ...  Arden Heights  Staten Island
8577009         1  2018-01-19 22:51:42  ...  Arden Heights  Staten Island
8577010         2  2018-01-01 14:15:53  ...  Arden Heights  Staten Island
8577011         2  2018-01-08 13:11:28  ...  Arden Heights  Staten Island
8577012         2  2018-01-29 22:12:07  ...  Arden Heights  Staten Island
8577013         1  2018-01-31 16:47:42  ...  Arden Heights  Staten Island
8577014         2  2018-01-03 22:28:38  ...  Arden Heights  Staten Island
8577015         1  2018-01-17 20:04:00  ...  Arden Heights  Staten Island
8577016         2  2018-01-18 19:06:03  ...  Arden Heights  Staten Island
8577017         2  2018-01-11 00:44:24  ...  Arden Heights  Staten Island
8577018         2  2018-01-26 11:28:42  ...  Arden Heights  Staten Island
8577019         1  2018-01-10 21:01:54  ...  Arden Heights  Staten Island
8577020         2  2018-01-01 02:07:09  ...  Arden Heights  Staten Island
8577021         2  2018-01-12 00:36:07  ...  Arden Heights  Staten Island
8577022         2  2018-01-06 03:12:55  ...  Arden Heights  Staten Island
8577023         2  2018-01-08 12:21:56  ...    Jamaica Bay         Queens
8577024         2  2018-01-14 13:47:33  ...    Jamaica Bay         Queens
8577025         2  2018-01-16 08:05:00  ...    Jamaica Bay         Queens
8577026         2  2018-01-19 18:49:39  ...    Jamaica Bay         Queens
8577027         2  2018-01-13 17:24:32  ...  Rikers Island          Bronx
8577028         2  2018-01-13 13:12:33  ...  Rikers Island          Bronx

[8577029 rows x 22 columns]

In [13]:
df.rename(columns={'borough':'DOborough'})

         VendorID tpep_pickup_datetime  ...      borough_y  LocationID_y
0               1  2018-01-01 00:21:05  ...      Manhattan            24
1               2  2018-01-01 00:44:13  ...      Manhattan            24
2               1  2018-01-01 01:19:54  ...      Manhattan            24
3               2  2018-01-01 01:44:18  ...      Manhattan            24
4               2  2018-01-01 01:03:13  ...      Manhattan            24
5               2  2018-01-01 01:15:55  ...      Manhattan            24
6               1  2018-01-01 01:05:00  ...      Manhattan            24
7               1  2018-01-01 01:57:18  ...      Manhattan            24
8               2  2018-01-01 01:12:35  ...      Manhattan            24
9               2  2018-01-01 02:02:37  ...      Manhattan            24
10              1  2018-01-01 02:52:22  ...      Manhattan            24
11              1  2018-01-01 02:24:21  ...      Manhattan            24
12              2  2018-01-01 02:35:38  ...      Manhattan            24
13              2  2018-01-01 02:13:32  ...      Manhattan            24
14              2  2018-01-01 03:33:59  ...      Manhattan            24
15              2  2018-01-01 03:40:37  ...      Manhattan            24
16              2  2018-01-01 03:16:21  ...      Manhattan            24
17              1  2018-01-01 04:10:56  ...      Manhattan            24
18              2  2018-01-01 07:10:02  ...      Manhattan            24
19              2  2018-01-01 10:31:12  ...      Manhattan            24
20              2  2018-01-01 12:48:09  ...      Manhattan            24
21              2  2018-01-01 12:08:01  ...      Manhattan            24
22              2  2018-01-01 13:53:41  ...      Manhattan            24
23              1  2018-01-01 13:33:55  ...      Manhattan            24
24              1  2018-01-01 15:55:35  ...      Manhattan            24
25              2  2018-01-01 16:13:07  ...      Manhattan            24
26              1  2018-01-01 16:20:10  ...      Manhattan            24
27              1  2018-01-01 17:05:46  ...      Manhattan            24
28              2  2018-01-01 18:08:35  ...      Manhattan            24
29              1  2018-01-01 20:08:58  ...      Manhattan            24
...           ...                  ...  ...            ...           ...
8576999         2  2018-01-02 22:18:20  ...  Staten Island             5
8577000         2  2018-01-07 01:20:31  ...  Staten Island             5
8577001         2  2018-01-11 23:35:11  ...  Staten Island             5
8577002         1  2018-01-16 23:19:42  ...  Staten Island             5
8577003         1  2018-01-30 00:44:18  ...  Staten Island             5
8577004         2  2018-01-01 13:13:48  ...  Staten Island             5
8577005         2  2018-01-05 14:54:29  ...  Staten Island             5
8577006         2  2018-01-25 08:08:01  ...  Staten Island             5
8577007         2  2018-01-12 23:16:23  ...  Staten Island             5
8577008         2  2018-01-14 01:29:57  ...  Staten Island             5
8577009         1  2018-01-19 22:51:42  ...  Staten Island             5
8577010         2  2018-01-01 14:15:53  ...  Staten Island             5
8577011         2  2018-01-08 13:11:28  ...  Staten Island             5
8577012         2  2018-01-29 22:12:07  ...  Staten Island             5
8577013         1  2018-01-31 16:47:42  ...  Staten Island             5
8577014         2  2018-01-03 22:28:38  ...  Staten Island             5
8577015         1  2018-01-17 20:04:00  ...  Staten Island             5
8577016         2  2018-01-18 19:06:03  ...  Staten Island             5
8577017         2  2018-01-11 00:44:24  ...  Staten Island             5
8577018         2  2018-01-26 11:28:42  ...  Staten Island             5
8577019         1  2018-01-10 21:01:54  ...  Staten Island             5
8577020         2  2018-01-01 02:07:09  ...  Staten Island             5
8577021         2  2018-01-12 00:36:07  ...  Staten Island             5
8577022         2  2018-01-06 03:12:55  ...  Staten Island             5
8577023         2  2018-01-08 12:21:56  ...         Queens             2
8577024         2  2018-01-14 13:47:33  ...         Queens             2
8577025         2  2018-01-16 08:05:00  ...         Queens             2
8577026         2  2018-01-19 18:49:39  ...         Queens             2
8577027         2  2018-01-13 17:24:32  ...          Bronx           199
8577028         2  2018-01-13 13:12:33  ...          Bronx           199

[8577029 rows x 24 columns]

##Impute time

In [1]:
from statistics import mode
df.isna().sum()
df.Ratecode.value_counts()
df = df.fillna(value=mode(df['Ratecode']))

NameError: ignored

In [0]:
df.isna().sum()

##Plots

In [0]:
# Scatterplot
df.plot.scatter(x=['fare_amount'], y=['tip_amount'])

In [2]:

# Histogram
plt.hist(df['total_amount'], range=(0, 80), bins=20)
plt.title('Distribution of NYC Yellow Taxi Fares, January 2018')
plt.xlabel('Fare in $')
plt.ylabel('Frequency')

# Pairplot

NameError: ignored

In [0]:
# Density Plot
df['tip_amount'].plot.density()

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.