<a href="https://colab.research.google.com/github/elcoreano/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module1-afirstlookatdata/LS_DSPT3_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [39]:
# TODO - your code here
# Use what we did live in lecture as an example

np.random.randint(0, 10, size=10)

array([9, 4, 9, 9, 6, 2, 2, 5, 0, 3])

In [40]:
np.random.randint(0, 10, size=10)

array([0, 5, 8, 8, 5, 2, 1, 0, 7, 9])

In [0]:
x = [9, 4, 9, 9, 6, 2, 2, 5, 0, 3]
y = [0, 5, 8, 8, 5, 2, 1, 0, 7, 9]

In [42]:
df = pd.DataFrame ({'set 1': x, "set 2": y})
df

   set 1  set 2
0      9      0
1      4      5
2      9      8
3      9      8
4      6      5
5      2      2
6      2      1
7      5      0
8      0      7
9      3      9

In [43]:
df['set 1']

0    9
1    4
2    9
3    9
4    6
5    2
6    2
7    5
8    0
9    3
Name: set 1, dtype: int64

In [44]:
df.shape

(10, 2)

In [45]:
df['set 3'] = df['set 1'] + 2*df['set 2']
df

   set 1  set 2  set 3
0      9      0      9
1      4      5     14
2      9      8     25
3      9      8     25
4      6      5     16
5      2      2      6
6      2      1      4
7      5      0      5
8      0      7     14
9      3      9     21

In [46]:
df.shape

(10, 3)

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

*# I tinkered with three of the most used libraries for python. A library is a group of tools that makes life easier for a user of any coding program.*

2.  What was the most challenging part of what you did?

*# The precourse helped in familiarizing me with the libraries and their hidden super powers, so, that wasn't too challenging. What was challenging was the lecture and getting used to Alex's teaching style, the Zoom/Slack environment, and using GitHub.*

3.  What was the most interesting thing you learned?

*# GitHub is pretty damn powerful.*

4.  What area would you like to explore with more time?

*# Everything covered in this lecture. However, with time, I'll become more fluent with all tools. Just a bit excited.*

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.