<a href="https://colab.research.google.com/github/rick1270/DS-Sprint-01-Dealing-With-Data/blob/master/module1-afirstlookatdata/LS_DS_111_A_First_Look_at_Data_Clayton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things

1+1

2

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [59]:
# TODO - your code here
# Use what we did live in lecture as an example
import pandas as pd
df_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/balloons/adult+stretch.data'
df = pd.read_csv(df_url, header = None)
ball = {'YELLOW' : 1, 'PURPLE' : 2,
'SMALL': 1, 'LARGE': 2, 'STRETCH' : 1, 'DIP' : 2,
'CHILD' : 1, 'ADULT' : 2, 'T': 1, 'F':0}
df.rename(inplace = True, index=str, columns={0: "colors", 1: "size", 2: "kind", 3: 'age', 4: 'inflated'})
df.replace(ball, inplace=True)

df

    colors  size  kind  age  inflated
0        1     1     1    2         1
1        1     1     1    2         1
2        1     1     1    1         0
3        1     1     2    2         0
4        1     1     2    1         0
5        1     2     1    2         1
6        1     2     1    2         1
7        1     2     1    1         0
8        1     2     2    2         0
9        1     2     2    1         0
10       2     1     1    2         1
11       2     1     1    2         1
12       2     1     1    1         0
13       2     1     2    2         0
14       2     1     2    1         0
15       2     2     1    2         1
16       2     2     1    2         1
17       2     2     1    1         0
18       2     2     2    2         0
19       2     2     2    1         0

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.  Initally, I added descriptive headers to each column.  Then, I replaced all of the variable lables (words) with coresponding numbers.  This will allow the data to be quantified and expressed graphically.

2.  What was the most challenging part of what you did?  Using dict to replace values

3.  What was the most interesting thing you learned? How to replace headers

4.  What area would you like to explore with more time? Quantifying and finding trends in big data

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about