<a href="https://colab.research.google.com/github/coding-ss/DS-Sprint-01-Dealing-With-Data/blob/master/module1-afirstlookatdata/LS_DS_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [0]:
# TODO - your code here
# Use what we did live in lecture as an example

In [0]:
%matplotlib inline
import pandas as pd

In [0]:
titles = [] # list of news titles
categories = [] # list of news categories
labels = [] # list of different categories (without repetitions)
nlabels = 4 # number of different categories
lnews = [] # list of dictionaries with two fields: one for the news and 
            # the other for its category

In [0]:
def import_data():
    global titles, labels, categories
    # importing news aggregator data via Pandas (Python Data Analysis Library)
    news = pd.read_csv("uci-news-aggregator.csv")
    # function 'head' shows the first 5 items in a column (or
    # the first 5 rows in the DataFrame)
    print(news.head())
    categories = news['CATEGORY']
    titles = news['TITLE']

In [0]:
# We don't actually have the data file!
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00359/NewsAggregatorDataset.zip

--2019-01-07 23:23:45--  https://archive.ics.uci.edu/ml/machine-learning-databases/00359/NewsAggregatorDataset.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 29224203 (28M) [application/zip]
Saving to: ‘NewsAggregatorDataset.zip’

NewsAggregatorDatas 100%[===================>]  27.87M  21.8MB/s    in 1.3s

2019-01-07 23:23:51 (21.8 MB/s) - ‘NewsAggregatorDataset.zip’ saved [29224203/29224203]

In [0]:
!unzip NewsAggregatorDataset.zip

Archive:  NewsAggregatorDataset.zip
  inflating: 2pageSessions.csv
   creating: __MACOSX/
  inflating: __MACOSX/._2pageSessions.csv
  inflating: newsCorpora.csv
  inflating: __MACOSX/._newsCorpora.csv
  inflating: readme.txt
  inflating: __MACOSX/._readme.txt

In [0]:
news_df = pd.read_table('newsCorpora.csv', header=None)
news_df.head()

,0,1,2,3,4,5,6,7
0,1,"Fed official says weak data caused by weather,...",http://www.latimes.com/business/money/la-fi-mo...,Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,1394470370698
1,2,Fed's Charles Plosser sees high bar for change...,http://www.livemint.com/Politics/H2EvwJSK2VE6O...,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,1394470371207
2,3,US open: Stocks fall after Fed official hints ...,http://www.ifamagazine.com/news/us-open-stocks...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371550
3,4,"Fed risks falling 'behind the curve', Charles ...",http://www.ifamagazine.com/news/fed-risks-fall...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371793
4,5,Fed's Plosser: Nasty Weather Has Curbed Job Gr...,http://www.moneynews.com/Economy/federal-reser...,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,1394470372027

In [0]:
!head newsCorpora.csv

1	Fed official says weak data caused by weather, should not slow taper	http://www.latimes.com/business/money/la-fi-mo-federal-reserve-plosser-stimulus-economy-20140310,0,1312750.story\?track=rss	Los Angeles Times	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	www.latimes.com	1394470370698
2	Fed's Charles Plosser sees high bar for change in pace of tapering	http://www.livemint.com/Politics/H2EvwJSK2VE6OF7iK1g3PP/Feds-Charles-Plosser-sees-high-bar-for-change-in-pace-of-ta.html	Livemint	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	www.livemint.com	1394470371207
3	US open: Stocks fall after Fed official hints at accelerated tapering	http://www.ifamagazine.com/news/us-open-stocks-fall-after-fed-official-hints-at-accelerated-tapering-294436	IFA Magazine	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	www.ifamagazine.com	1394470371550
4	Fed risks falling 'behind the curve', Charles Plosser says	http://www.ifamagazine.com/news/fed-risks-falling-behind-the-curve-charles-plosser-says-294430	IFA Magazine	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	www.ifamagazine.com	1394470371793
5	Fed's Plosser: Nasty Weather Has Curbed Job Growth	http://www.moneynews.com/Economy/federal-reserve-charles-plosser-weather-job-growth/2014/03/10/id/557011	Moneynews	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	www.moneynews.com	1394470372027
6	Plosser: Fed May Have to Accelerate Tapering Pace	http://www.nasdaq.com/article/plosser-fed-may-have-to-accelerate-tapering-pace-20140310-00371	NASDAQ	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	www.nasdaq.com	1394470372212
7	Fed's Plosser: Taper pace may be too slow	http://www.marketwatch.com/story/feds-plosser-taper-pace-may-be-too-slow-2014-03-10\?reflink=MW_news_stmp	MarketWatch	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	www.marketwatch.com	1394470372405
8	Fed's Plosser expects US unemployment to fall to 6.2% by the end of 2014	http://www.fxstreet.com/news/forex-news/article.aspx\?storyid=23285020-b1b5-47ed-a8c4-96124bb91a39	FXstreet.com	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	www.fxstreet.com	1394470372615
9	US jobs growth last month hit by weather:Fed President Charles Plosser	http://economictimes.indiatimes.com/news/international/business/us-jobs-growth-last-month-hit-by-weatherfed-president-charles-plosser/articleshow/31788000.cms	Economic Times	b	ddUyU0VZz0BRneMioxUPQVP6sIxvM	economictimes.indiatimes.com	1394470372792
10	ECB unlikely to end sterilisation of SMP purchases - traders	http://www.iii.co.uk/news-opinion/reuters/news/152615	Interactive Investor	b	dPhGU51DcrolUIMxbRm0InaHGA2XM	www.iii.co.uk	1394470501265

In [0]:
news_df.shape #number of rows and columns

(422419, 8)

In [0]:
news_df.isnull() #finding the NaN values

            0      1      2      3      4      5      6      7
0       False  False  False  False  False  False  False  False
1       False  False  False  False  False  False  False  False
2       False  False  False  False  False  False  False  False
3       False  False  False  False  False  False  False  False
4       False  False  False  False  False  False  False  False
5       False  False  False  False  False  False  False  False
6       False  False  False  False  False  False  False  False
7       False  False  False  False  False  False  False  False
8       False  False  False  False  False  False  False  False
9       False  False  False  False  False  False  False  False
10      False  False  False  False  False  False  False  False
11      False  False  False  False  False  False  False  False
12      False  False  False  False  False  False  False  False
13      False  False  False  False  False  False  False  False
14      False  False  False  False  False  False  False  False
15      False  False  False  False  False  False  False  False
16      False  False  False  False  False  False  False  False
17      False  False  False  False  False  False  False  False
18      False  False  False  False  False  False  False  False
19      False  False  False  False  False  False  False  False
20      False  False  False  False  False  False  False  False
21      False  False  False  False  False  False  False  False
22      False  False  False  False  False  False  False  False
23      False  False  False  False  False  False  False  False
24      False  False  False  False  False  False  False  False
25      False  False  False  False  False  False  False  False
26      False  False  False  False  False  False  False  False
27      False  False  False  False  False  False  False  False
28      False  False  False  False  False  False  False  False
29      False  False  False  False  False  False  False  False
...       ...    ...    ...    ...    ...    ...    ...    ...
422389  False  False  False  False  False  False  False  False
422390  False  False  False  False  False  False  False  False
422391  False  False  False  False  False  False  False  False
422392  False  False  False  False  False  False  False  False
422393  False  False  False  False  False  False  False  False
422394  False  False  False  False  False  False  False  False
422395  False  False  False  False  False  False  False  False
422396  False  False  False  False  False  False  False  False
422397  False  False  False  False  False  False  False  False
422398  False  False  False  False  False  False  False  False
422399  False  False  False  False  False  False  False  False
422400  False  False  False  False  False  False  False  False
422401  False  False  False  False  False  False  False  False
422402  False  False  False  False  False  False  False  False
422403  False  False  False  False  False  False  False  False
422404  False  False  False  False  False  False  False  False
422405  False  False  False  False  False  False  False  False
422406  False  False  False  False  False  False  False  False
422407  False  False  False  False  False  False  False  False
422408  False  False  False  False  False  False  False  False
422409  False  False  False  False  False  False  False  False
422410  False  False  False  False  False  False  False  False
422411  False  False  False  False  False  False  False  False
422412  False  False  False  False  False  False  False  False
422413  False  False  False  False  False  False  False  False
422414  False  False  False  False  False  False  False  False
422415  False  False  False  False  False  False  False  False
422416  False  False  False  False  False  False  False  False
422417  False  False  False  False  False  False  False  False
422418  False  False  False  False  False  False  False  False

[422419 rows x 8 columns]

In [0]:
news_df.describe()

                   0             7
count  422419.000000  4.224190e+05
mean   211536.764594  1.400445e+12
std    122102.839707  3.733088e+09
min         1.000000  1.394470e+12
25%    105801.500000  1.397349e+12
50%    211655.000000  1.399990e+12
75%    317273.500000  1.403775e+12
max    422937.000000  1.409229e+12

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

Ans: I worked with the DS library called Panda. I imported the data from a csv file and categorised the data into various categories and labels, unzipped the file and tried various panda functions.

Then, connected the colab file to github and created a pull request in the lambda school repository from my personal repo.

2.  What was the most challenging part of what you did?

Ans: Trying to read the data from the file and trying to figure out Github.

3.  What was the most interesting thing you learned?

Ans: Github.

4.  What area would you like to explore with more time?

Ans: Panda and Matplotlib.

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about