<a href="https://colab.research.google.com/github/tbradshaw91/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module1-afirstlookatdata/LS_DS_111_A_First_Look_at_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - A First Look at Data

## Lecture - let's explore Python DS libraries and examples!

The Python Data Science ecosystem is huge. You've seen some of the big pieces - pandas, scikit-learn, matplotlib. What parts do you want to see more of?

In [0]:
# TODO - we'll be doing this live, taking requests
# and reproducing what it is to look up and learn things
1 + 4

5

## Assignment - now it's your turn

Pick at least one Python DS library, and using documentation/examples reproduce in this notebook something cool. It's OK if you don't fully understand it or get it 100% working, but do put in effort and look things up.

In [4]:

%matplotlib inline
import numpy as np
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd



# Wine Data
from google.colab import files
uploaded = files.upload()

Saving winemag-data-130k-v2.csv to winemag-data-130k-v2.csv

In [5]:
wine_data = pd.read_csv('winemag-data-130k-v2.csv', low_memory=False)
wine_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [6]:
# Checking out the size of this dataset
wine_data.shape

(129971, 14)

In [7]:
# Total NaN Values 
wine_data.isnull().sum().sum()

204752

In [0]:
# Decided to drop the NaNs altogether to get a more accurate set
wine_clean = wine_data.dropna()

# New Size
#wine_clean.shape

In [11]:
wine_clean.describe()

          Unnamed: 0        points         price
count   22387.000000  22387.000000  22387.000000
mean    65656.944745     89.537812     41.465404
std     37566.725499      2.809306     29.379374
min         4.000000     80.000000      4.000000
25%     33404.000000     88.000000     25.000000
50%     66312.000000     90.000000     36.000000
75%     98460.500000     92.000000     50.000000
max    129950.000000    100.000000   2013.000000

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  Describe in a paragraph of text what you did and why, as if you were writing an email to somebody interested but nontechnical.

2.  What was the most challenging part of what you did?

3.  What was the most interesting thing you learned?

4.  What area would you like to explore with more time?

1. For this assignment, I found a dataset on Kaggle that represents Wine Reviews. The original purpose of this data was to create a model that would be able to predict the particular wine based on the description. Eventually, I will be able to create that model, but for now I began with the basics. I started by using the google colab feature to pull in my dataset that had been saved locally. From there, I took a look at my data. There were quite a bit of missing values, and I had to decide what to do with those. After weighing my options, I felt the dataset would be compromised if I had used .ffill or .fillna, so I decided to use drop.na. That took the amount of data down significantly. Now, it is ready to be used for a model. 

2. The most challenging part was reading in the dataset, I kept running into error messages. Plus, this file is so large things take some time to load.

3. The most interesting thing was seeing the dataset represented in many different ways. That is what drew me to this example. I am very excited to keep adjusting this as I progress. 

4. See previous.

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub (and since this is the first assignment of the sprint, open a PR as well).

- [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/)
- [scikit-learn documentation](http://scikit-learn.org/stable/documentation.html)
- [matplotlib documentation](https://matplotlib.org/contents.html)
- [Awesome Data Science](https://github.com/bulutyazilim/awesome-datascience) - a list of many types of DS resources

Stretch goals:

- Find and read blogs, walkthroughs, and other examples of people working through cool things with data science - and share with your classmates!
- Write a blog post (Medium is a popular place to publish) introducing yourself as somebody learning data science, and talking about what you've learned already and what you're excited to learn more about.