In [1]:
import pandas as pd

In [3]:
height = ['short','tall','tall','average','short','tall','average','average']
hair_color = ['blonde','brown','brown','brown','gray','blonde','brown','brown']
military_rank = ['major','private','private','captain','colonel','major','general','private']
smoker = [True, False, False, False, True, True, False, False]

In [13]:
df = pd.DataFrame(data=[height,hair_color,military_rank,smoker]).T
df.columns=['height','hair_color','rank','smoker']

In [14]:
df

    height hair_color     rank smoker
0    short     blonde    major   True
1     tall      brown  private  False
2     tall      brown  private  False
3  average      brown  captain  False
4    short       gray  colonel   True
5     tall     blonde    major   True
6  average      brown  general  False
7  average      brown  private  False