<a href="https://colab.research.google.com/github/zangell44/DS-Sprint-01-Dealing-With-Data/blob/master/module1-afirstlookatdata/ZA_FirstLookatData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exploratory notebook from DS01, Sprint 1, Module 1 https://learn.lambdaschool.com/ds/module/reccasf5wqyqo7fvm

In [0]:
joe = { 'name': 'Joe', 'is_female': False, 'age': 19 }
alice = { 'name': 'Alice', 'is_female': True, 'age': 20 }
sarah = { 'name': 'Sarah', 'is_female': True, 'age': 20 }
students = [joe, alice, sarah]

In [2]:
# print a dicitonary
print (joe)

{'name': 'Joe', 'is_female': False, 'age': 19}

In [3]:
# print a list of dictionaries
print (students)

[{'name': 'Joe', 'is_female': False, 'age': 19}, {'name': 'Alice', 'is_female': True, 'age': 20}, {'name': 'Sarah', 'is_female': True, 'age': 20}]

In [4]:
# print a subset of a list of dictionaries
print (students[1])

{'name': 'Alice', 'is_female': True, 'age': 20}

In [5]:
# print name and age from a dictionary
for student in students:
  print (student["name"], "is", student["age"])

Joe is 19
Alice is 20
Sarah is 20

In [6]:
# encoding company data
grow_mart = {'founded' : 1973, 'revenue' : 265, 'expenses' : 183}
plant_depot = {'founded' : 1973, 'revenue' : 302, 'expenses' : 240}
trees_r_us = {'founded' : 1985, 'revenue' : 123, 'expenses' : 130}

companies = [grow_mart, plant_depot, trees_r_us]

for company in companies:
  print (company)

{'founded': 1973, 'revenue': 265, 'expenses': 183}
{'founded': 1973, 'revenue': 302, 'expenses': 240}
{'founded': 1985, 'revenue': 123, 'expenses': 130}

In [7]:
# adding is_profitable feature
# profit = revenue - expenses
# is_profitable is a binary variable, 1 if revenue > expenses and zero otherwise

for company in companies:
  company["is_profitable"] = company["revenue"] > company["expenses"]
  
for company in companies:
  print (company)

{'founded': 1973, 'revenue': 265, 'expenses': 183, 'is_profitable': True}
{'founded': 1973, 'revenue': 302, 'expenses': 240, 'is_profitable': True}
{'founded': 1985, 'revenue': 123, 'expenses': 130, 'is_profitable': False}