<a href="https://colab.research.google.com/github/dunkelweizen/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module2-loadingdata/Cai_Nowicki_Dealing_With_Data_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading Datasets

This assignment is purposely semi-open-ended you will be asked to load datasets both from github and also from CSV files from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Remember that the UCI datasets may not have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally, on github, using the `!curl` shell command, or in some other way before you try and read it in as a dataframe, this will help you catch what would otherwise be unforseen problems.

## 1) Load a dataset from Github (via its *RAW* URL)

Pick a dataset from the following repository and load it into Google Colab. Make sure that the headers are what you would expect and check to see if missing values have been encoded as NaN values:

<https://github.com/ryanleeallred/datasets>

In [0]:
import pandas as pd
data_url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/messy-data.csv'

df = pd.read_csv(data_url)

df.head()

   alpha  beta  gamma  delta  epsilon zeta eta
0      2    48     12    240      3.0  Yes  AZ
1      3    46     18    230      5.0  NaN  VT
2      4    44     24    220      7.0   No  PA
3      5    42     30    210      9.0  Yes  OK
4      6    44     36    220     11.0  Yes  MD

In [0]:
df.isnull().sum()

alpha       0
beta        0
gamma       0
delta       0
epsilon    24
zeta       19
eta         0
dtype: int64

## 2) Load a dataset from your local machine
Download a dataset from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php) and then upload the file to Google Colab either using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

While you are free to try and load any dataset from the UCI repository, I strongly suggest starting with one of the most popular datasets like those that are featured on the right-hand side of the home page. 

Some datasets on UCI will have challenges associated with importing them far beyond what we have exposed you to in class today, so if you run into a dataset that you don't know how to deal with, struggle with it for a little bit, but ultimately feel free to simply choose a different one. 

- Make sure that your file has correct headers, and the same number of rows and columns as is specified on the UCI page. If your dataset doesn't have headers use the parameters of the `read_csv` function to add them. Likewise make sure that missing values are encoded as `NaN`.

In [0]:
import io
import pandas as pd
from google.colab import files
uploaded = files.upload()

In [0]:
df2 = pd.read_csv('poker-hand-testing.data')
col_names = ['S1', 'C1', 'S2', 'C2', 'S3', 'C3', 'S4', 'C4', 'S5', 'C5', 'Class']
df2.columns = col_names

FileNotFoundError: ignored

In [0]:
df2.head()

In [0]:
df2.describe().T

In [0]:
df2.isnull().sum()

In [0]:
df2 = df2.dropna()

In [0]:
df2.isnull().sum()

In [0]:
df2 = df2.astype(int)

In [0]:
df2.dtypes

## 3) Load a dataset from UCI using `!wget`

"Shell Out" and try loading a file directly into your google colab's memory using the `!wget` command and then read it in with `read_csv`.

With this file we'll do a bit more to it.

- Read it in, fix any problems with the header as make sure missing values are encoded as `NaN`.
- Use the `.fillna()` method to fill any missing values. 
 - [.fillna() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
- Create one of each of the following plots using the Pandas plotting functionality:
 - Scatterplot
 - Histogram
 - Density Plot

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00236/seeds_dataset.txt

In [0]:
df_seeds = pd.read_csv(r'seeds_dataset.txt', header=None, delim_whitespace=True)  #this dataset used / as sep, r removes it
                                                                                  #delim_whitespace makes the space the sep

In [0]:
df_seeds.head()
#column 7 seems to be superfluous

In [0]:
seed_cols = ['area', 'perimeter', 'compactness', 'length', 
             'width', 'asymmetry coefficient', 'length of groove']
df_seeds = df_seeds.drop(df_seeds.columns[7], axis=1)  #this drops column with index 7
df_seeds.columns = seed_cols

In [0]:
df_seeds.head()

In [0]:
df_seeds.isnull().sum()

In [0]:
df_seeds['area'].hist()

In [0]:

df_seeds['area'].plot.density()

In [0]:
df_seeds.plot.scatter('area', 'length of groove')

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.

In [83]:
!pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.16.5)
Requirement already satisfied: distro in /usr/local/lib/python3.6/dist-packages (from tabula-py) (1.4.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from tabula-py) (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->tabula-py) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->tabula-py) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas->tabula-py) (1.12.0)

In [0]:
from tabula import read_pdf
from tabula import convert_into

#data file from https://www.icpsr.umich.edu/icpsrweb/ICPSR/studies/31721/datadocumentation

In [0]:
convert_into('/content/31721-0001-Codebook.pdf', "data.json", output_format='json')  #It keeps making an empty list even though I know there is data in the PDF
!cat data.json

[]

In [0]:
!pip install PyPDF2

Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.6/dist-packages (1.26.0)

In [0]:
import PyPDF2

In [0]:
pdfFileObj = open('/content/31721-0001-Codebook.pdf', 'rb')
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)

In [0]:
pdfReader.numPages   #at least this is reading the PDF like it has data in it

286

In [0]:
pageObj = pdfReader.getPage(10)
pageObj.extractText()   #this does something but it's not useful

'ˆ\n6#\n2-˘\n()ˆ%˙\n7\n\n2˝˛\' "# !!˛˝!˜\n\nˇˆ\n\n9$\n\n\n\n;!!$\n˘\n˘ˇˆ\n\n\'\n ˜\n˜˜7\n2˛-)˛˝!#˛- ˛˝#˛ˇ\n\n.*!˚34#!5˛˝31\n\n#˚˛"˛#"\n˘˘ˇ˘\n\n$@A+%B˘%#%1\'ˆ!C,%C/%˝D%1˛\n=˚˛!˜-""˛#!˛˝?˚!#&˛#\'$"->0 "!#˛05"!#˛.2˝˛#\'1\nˆ\n6#\n2-˘\n()ˆ%˙\n7\n\n˝#\n\nˇˆ\n\n/˝#\n\n˘ˇˆ\n\n\'\n ˜\n˜˜7\n2˛-)˛˝!#˛- ˛˝#˛ˇ\n:\n;!!5-53ˇ\n:\n;˛<!5-53ˇ\n\n.*!˚34#!5˛˝31\n\n-5"!#\n$@A+%B˘%#%1\'ˆ!:˘˝ˆ%˛\n=˚˛!˜-""˛#!˛˝?˚!#&˛#\'$"->=˚!.D˛-#˛!˛1\nˆ\n6#\n2-˘\n()ˆ%˙\n7\n\n˝#\n\nˇ˘ˆ\n\n/˝#\n˘\n˘ˇˆ\n\n\'\n ˜\n˜˜7\n2˛-)˛˝!#˛- ˛˝#˛ˇ\n:\n;!!5-53ˇ\n:\n;˛<!5-53ˇ\n\n.*!˚34#!5˛˝31\n\n-5"!#\n$@A+%B˘%#%1\'ˆ!&%\'6\'B6\n=˚˛!˜-""˛#!˛˝?˚!#&˛#\'$"->@!˛!#"B˛!?B˛!˛\n\n\n\n\n'

In [0]:
pdfReader.isEncrypted   #so it's not encrypted, it's just not outputting anything useful

False

In [0]:
path = '/content/31721-0001-Codebook.pdf'   #I'm getting of typing this out each time

In [0]:
# I can try the method from this page https://stanford.edu/~mgorkove/cgi-bin/rpython_tutorials/Using_Python_to_Extract_Tables_From_PDFs.php

pg5 = pdfReader.getPage(4)
pg6 = pdfReader.getPage(5)   #these are pages with one specific table on them (pages 5 and 6 since it numbers from 0)

In [0]:
writer = PyPDF2.PdfFileWriter()
writer.addPage(pg5)
writer.addPage(pg6)    #this is creating a new PDF of just the table pages

In [0]:
new_PDF = "tables5_6.pdf"
with open(new_PDF, "wb") as outputStream:
  writer.write(outputStream)

In [81]:
print(read_pdf('/content/tables5_6.pdf'))   #there's the table I need! now I just need to get it out of here

                            Value Label  Unweighted\rFrequency      %
0   INQ-20051101111948-1522737567     -                      1  0.3 %
1   INQ-20051101174159-1453309489     -                      1  0.3 %
2    INQ-20051101191527-998252083     -                      1  0.3 %
3    INQ-20051102171341-628078871     -                      1  0.3 %
4   INQ-20051104070910-1964608808     -                      1  0.3 %
5   INQ-20051104075634-1753230228     -                      1  0.3 %
6    INQ-20051104082946-464914252     -                      1  0.3 %
7    INQ-20051104090807-337125672     -                      1  0.3 %
8    INQ-20051104110254-821322269     -                      1  0.3 %
9    INQ-20051108194802-733972296     -                      1  0.3 %
10  INQ-20051108200722-2088304293     -                      1  0.3 %
11  INQ-20051109220930-1406295260     -                      1  0.3 %
12   INQ-20051114105910-159180429     -                      1  0.3 %
13   INQ-20051114160111-308321983     -                      1  0.3 %
14   INQ-20051115084905-205349086     -                      1  0.3 %
15  INQ-20051115135231-1156277960     -                      1  0.3 %
16   INQ-20051117125147-360317794     -                      1  0.3 %
17  INQ-20051119104326-1111419112     -                      1  0.3 %
18  INQ-20051119120122-1138430253     -                      1  0.3 %
19   INQ-20051121065025-722954777     -                      1  0.3 %
20  INQ-20051121125600-1306627795     -                      1  0.3 %
21  INQ-20051121183556-1969457671     -                      1  0.3 %
22    INQ-20051121191036-61013930     -                      1  0.3 %
23   INQ-20051121192425-794613483     -                      1  0.3 %
24  INQ-20051121200521-2040867081     -                      1  0.3 %
25  INQ-20051122184154-1561315090     -                      1  0.3 %
26   INQ-20051122193450-666279540     -                      1  0.3 %
27  INQ-20051123054418-1251298818     -                      1  0.3 %
28  INQ-20051123063537-1054242721     -                      1  0.3 %
29  INQ-20051123100242-1409587835     -                      1  0.3 %
30   INQ-20051123104716-499597134     -                      1  0.3 %
31  INQ-20051123231511-1678836020     -                      1  0.3 %
32   INQ-20051124012029-866451188     -                      1  0.3 %
33  INQ-20051124031754-1021319911     -                      1  0.3 %

In [0]:
import tabula
tablepath = '/content/tables5_6.pdf'
df_stubborn = tabula.read_pdf(tablepath)

In [87]:
df_stubborn.head()

                           Value Label  Unweighted\rFrequency      %
0  INQ-20051101111948-1522737567     -                      1  0.3 %
1  INQ-20051101174159-1453309489     -                      1  0.3 %
2   INQ-20051101191527-998252083     -                      1  0.3 %
3   INQ-20051102171341-628078871     -                      1  0.3 %
4  INQ-20051104070910-1964608808     -                      1  0.3 %

In [88]:
df_stubborn.tail()

                            Value Label  Unweighted\rFrequency      %
29  INQ-20051123100242-1409587835     -                      1  0.3 %
30   INQ-20051123104716-499597134     -                      1  0.3 %
31  INQ-20051123231511-1678836020     -                      1  0.3 %
32   INQ-20051124012029-866451188     -                      1  0.3 %
33  INQ-20051124031754-1021319911     -                      1  0.3 %

In [0]:
del df_stubborn['Label']

In [0]:
pg9 = pdfReader.getPage(8)   #let's see if I can replicate it on a different page

writer = PyPDF2.PdfFileWriter()
writer.addPage(pg9)


new_PDF = "table_pg9.pdf"
with open(new_PDF, "wb") as outputStream:
  writer.write(outputStream)

In [0]:
df_new = tabula.read_pdf('/content/table_pg9.pdf')

In [94]:
df_new.head()   #it's working but it only lets me have the first table on a specific page

  Value        Label Unweighted\rFrequency       %
0     1          Man                    68  19.4 %
1     2        Woman                    89  25.4 %
2     3  Transgender                   146  41.7 %
3     4  Androgynous                    17   4.9 %
4     5  Questioning                     7   2.0 %

In [0]:
df_IDs = df_stubborn
df_gender = df_new

In [0]:
pg19 = pdfReader.getPage(18)
  

writer = PyPDF2.PdfFileWriter()
writer.addPage(pg19)


new_PDF = "table_pg19.pdf"
with open(new_PDF, "wb") as outputStream:
  writer.write(outputStream)

In [105]:
df_city_county = tabula.read_pdf('/content/table_pg19.pdf')
df_city_county.head()

  Value              Label Unweighted\rFrequency       %
0     1  Prefer not to say                     7   2.0 %
1     4    Alexandria City                    11   3.1 %
2     9   Arlington County                    20   5.7 %
3    27    Chesapeake City                     5   1.4 %
4    42     Fairfax County                    36  10.3 %

In [0]:
del df_city_county['Value']

In [0]:
#I wonder if I can put this into a function

def read_page(page):
  new_page = pdfReader.getPage(page)
  writer = PyPDF2.PdfFileWriter()
  writer.addPage(new_page)
  new_PDF = "new_PDF.pdf"
  with open(new_PDF, "wb") as outputStream:
    writer.write(outputStream)

In [0]:
read_page(22)
df_next = tabula.read_pdf('/content/new_PDF.pdf')

In [0]:
df_kids = df_next

In [0]:
read_page(48)
df_new = tabula.read_pdf('/content/new_PDF.pdf')

In [131]:
df_new.head()

  1 Extremely poor    9  Unnamed: 2   2.6 %
0           2 Poor    7         NaN   2.0 %
1           3 Fair   13         NaN   3.7 %
2           4 Good   45         NaN  12.9 %
3      5 Excellent  156         NaN  44.6 %
4     Missing Data  NaN         NaN     NaN

In [0]:
df_prov_sens = df_new

In [0]:
read_page(52)
df_gyn_care = tabula.read_pdf('/content/new_PDF.pdf')

In [144]:
df_gyn_care.head()

  1 Extremely Poor    6  1.7 %
0           2 Poor    4  1.1 %
1           3 Fair    8  2.3 %
2           4 Good   21  6.0 %
3      5 Excellent   31  8.9 %
4     Missing Data  NaN    NaN