<a href="https://colab.research.google.com/github/elcoreano/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module2-loadingdata/HANK_LS_DSPT3_112_Loading_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading Datasets

This assignment is purposely semi-open-ended you will be asked to load datasets both from github and also from CSV files from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Remember that the UCI datasets may not have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally, on github, using the `!curl` shell command, or in some other way before you try and read it in as a dataframe, this will help you catch what would otherwise be unforseen problems.

## 1) Load a dataset from Github (via its *RAW* URL)

Pick a dataset from the following repository and load it into Google Colab. Make sure that the headers are what you would expect and check to see if missing values have been encoded as NaN values:

<https://github.com/ryanleeallred/datasets>

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

import pandas as pd

In [2]:
dat_url = "https://raw.githubusercontent.com/ryanleeallred/datasets/master/car_regression.csv"
df = pd.read_csv(dat_url)
df.head()

   make    price  body  mileage  engV  engType  registration  year  drive
0    23  15500.0     0       68   2.5        1             1  2010      1
1    50  20500.0     3      173   1.8        1             1  2011      2
2    50  35000.0     2      135   5.5        3             1  2008      2
3    50  17800.0     5      162   1.8        0             1  2012      0
4    55  16600.0     0       83   2.0        3             1  2013      1

## 2) Load a dataset from your local machine
Download a dataset from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php) and then upload the file to Google Colab either using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

While you are free to try and load any dataset from the UCI repository, I strongly suggest starting with one of the most popular datasets like those that are featured on the right-hand side of the home page. 

Some datasets on UCI will have challenges associated with importing them far beyond what we have exposed you to in class today, so if you run into a dataset that you don't know how to deal with, struggle with it for a little bit, but ultimately feel free to simply choose a different one. 

- Make sure that your file has correct headers, and the same number of rows and columns as is specified on the UCI page. If your dataset doesn't have headers use the parameters of the `read_csv` function to add them. Likewise make sure that missing values are encoded as `NaN`.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving car.data to car.data

In [0]:
df2 = pd.read_csv('car.data', names = col_head)
col_head = ['BUYprice', 'MAINTprice', 'doors', 'peeps', 'boot', 'safe', 'class']
df2.head()

  BUYprice MAINTprice doors peeps   boot  safe  class
0    vhigh      vhigh     2     2  small   low  unacc
1    vhigh      vhigh     2     2  small   med  unacc
2    vhigh      vhigh     2     2  small  high  unacc
3    vhigh      vhigh     2     2    med   low  unacc
4    vhigh      vhigh     2     2    med   med  unacc

In [0]:
df2.describe()

       BUYprice MAINTprice doors peeps  boot  safe  class
count      1728       1728  1728  1728  1728  1728   1728
unique        4          4     4     3     3     3      4
top         med        med     2  more   med   med  unacc
freq        432        432   432   576   576   576   1210

In [0]:
df2.describe().T

           count unique    top  freq
BUYprice    1728      4    med   432
MAINTprice  1728      4    med   432
doors       1728      4      2   432
peeps       1728      3   more   576
boot        1728      3    med   576
safe        1728      3    med   576
class       1728      4  unacc  1210

In [0]:
df2.dtypes

BUYprice      object
MAINTprice    object
doors         object
peeps         object
boot          object
safe          object
class         object
dtype: object

## 3) Load a dataset from UCI using `!wget`

"Shell Out" and try loading a file directly into your google colab's memory using the `!wget` command and then read it in with `read_csv`.

With this file we'll do a bit more to it.

- Read it in, fix any problems with the header as make sure missing values are encoded as `NaN`.
- Use the `.fillna()` method to fill any missing values. 
 - [.fillna() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
- Create one of each of the following plots using the Pandas plotting functionality:
 - Scatterplot
 - Histogram
 - Density Plot

In [0]:
!wget https://raw.githubusercontent.com/ryanleeallred/datasets/master/car_regression.csv

--2019-09-09 14:50:12--  https://raw.githubusercontent.com/ryanleeallred/datasets/master/car_regression.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 263167 (257K) [text/plain]
Saving to: ‘car_regression.csv’

car_regression.csv  100%[===================>] 257.00K  --.-KB/s    in 0.03s

2019-09-09 14:50:13 (8.73 MB/s) - ‘car_regression.csv’ saved [263167/263167]

In [0]:
df.head()

   make    price  body  mileage  engV  engType  registration  year  drive
0    23  15500.0     0       68   2.5        1             1  2010      1
1    50  20500.0     3      173   1.8        1             1  2011      2
2    50  35000.0     2      135   5.5        3             1  2008      2
3    50  17800.0     5      162   1.8        0             1  2012      0
4    55  16600.0     0       83   2.0        3             1  2013      1

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.

In [14]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

# succefully loaded a tsv file. i thought it was a pretty straight forward
# process but i had to save as a csv, then corrected pd.read_tsv to pd.read_table.
# learned about delimiters, specifically sep. still not sure what it means or does
# but it is necessary for pandas to read different types of files.
# i think sep just states what's separating the data, in this case,
# the file was saved as a csv but in form, it's a tsv.

Saving urbanareas1_1.csv to urbanareas1_1 (1).csv

In [16]:
df3 = pd.read_table('urbanareas1_1.csv', sep='\t')
df3.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

          City City_Alternate   Country  ...  pop2020  pop2025 pop2050
0        Sofia            NaN  Bulgaria  ...   1230.0   1240.0    1236
1     Mandalay            NaN   Myanmar  ...   1170.0   1310.0    1446
2  Nay Pyi Taw            NaN   Myanmar  ...   1180.0   1320.0    1461
3       Yangon        Rangoon   Myanmar  ...   4840.0   5360.0    5869
4        Minsk            NaN   Belarus  ...   1880.0   1880.0    1883

[5 rows x 23 columns]

In [12]:
df3 = pd.read_csv('urbanareas1_1', sep='\t')

FileNotFoundError: ignored

In [7]:
df3 = pd.read_csv('urbanareas1_1', sep='\t')

UnicodeDecodeError: ignored

In [4]:
df3 = pd.read_tsv('urbanareas1_1')

AttributeError: ignored