<a href="https://colab.research.google.com/github/ezorigo/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module2-loadingdata/LS_DS_112_Loading_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading Datasets

This assignment is purposely semi-open-ended you will be asked to load datasets both from github and also from CSV files from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Remember that the UCI datasets may not have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally, on github, using the `!curl` shell command, or in some other way before you try and read it in as a dataframe, this will help you catch what would otherwise be unforseen problems.

## 1) Load a dataset from Github (via its *RAW* URL)

Pick a dataset from the following repository and load it into Google Colab. Make sure that the headers are what you would expect and check to see if missing values have been encoded as NaN values:

<https://github.com/ryanleeallred/datasets>

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment.csv')
print(df.shape)
df.head()

(2001, 2)

     0                                                  1
0  neg  @jamielewislewis i cant believe it, it really ...
1  pos  having a vodka tonic and looking forward to go...
2  pos  @ddlovatofans1neg1 Could you follow me please....
3  pos  @jordanknight for once.................. PLEAS...
4  neg  Had a dream about a walk in fast food resturau...

## 2) Load a dataset from your local machine
Download a dataset from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php) and then upload the file to Google Colab either using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

While you are free to try and load any dataset from the UCI repository, I strongly suggest starting with one of the most popular datasets like those that are featured on the right-hand side of the home page. 

Some datasets on UCI will have challenges associated with importing them far beyond what we have exposed you to in class today, so if you run into a dataset that you don't know how to deal with, struggle with it for a little bit, but ultimately feel free to simply choose a different one. 

- Make sure that your file has correct headers, and the same number of rows and columns as is specified on the UCI page. If your dataset doesn't have headers use the parameters of the `read_csv` function to add them. Likewise make sure that missing values are encoded as `NaN`.

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

from google.colab import files

uploaded = files.upload()

Saving winequality-red.csv to winequality-red.csv

In [0]:
?pd.read_csv()

In [0]:
df = pd.read_csv('winequality-red.csv', sep=';')
print(df.shape)
df.head(20)

(1599, 12)

    fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0             7.4             0.700         0.00  ...       0.56      9.4        5
1             7.8             0.880         0.00  ...       0.68      9.8        5
2             7.8             0.760         0.04  ...       0.65      9.8        5
3            11.2             0.280         0.56  ...       0.58      9.8        6
4             7.4             0.700         0.00  ...       0.56      9.4        5
5             7.4             0.660         0.00  ...       0.56      9.4        5
6             7.9             0.600         0.06  ...       0.46      9.4        5
7             7.3             0.650         0.00  ...       0.47     10.0        7
8             7.8             0.580         0.02  ...       0.57      9.5        7
9             7.5             0.500         0.36  ...       0.80     10.5        5
10            6.7             0.580         0.08  ...       0.54      9.2        5
11            7.5             0.500         0.36  ...       0.80     10.5        5
12            5.6             0.615         0.00  ...       0.52      9.9        5
13            7.8             0.610         0.29  ...       1.56      9.1        5
14            8.9             0.620         0.18  ...       0.88      9.2        5
15            8.9             0.620         0.19  ...       0.93      9.2        5
16            8.5             0.280         0.56  ...       0.75     10.5        7
17            8.1             0.560         0.28  ...       1.28      9.3        5
18            7.4             0.590         0.08  ...       0.50      9.0        4
19            7.9             0.320         0.51  ...       1.08      9.2        6

[20 rows x 12 columns]

In [0]:
df.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

## 3) Load a dataset from UCI using `!wget`

"Shell Out" and try loading a file directly into your google colab's memory using the `!wget` command and then read it in with `read_csv`.

With this file we'll do a bit more to it.

- Read it in, fix any problems with the header as make sure missing values are encoded as `NaN`.
- Use the `.fillna()` method to fill any missing values. 
 - [.fillna() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
- Create one of each of the following plots using the Pandas plotting functionality:
 - Scatterplot
 - Histogram
 - Density Plot

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

--2019-08-06 19:34:54--  https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84199 (82K) [application/x-httpd-php]
Saving to: ‘winequality-red.csv.1’

winequality-red.csv 100%[===================>]  82.23K  --.-KB/s    in 0.06s

2019-08-06 19:34:55 (1.36 MB/s) - ‘winequality-red.csv.1’ saved [84199/84199]

In [0]:
df = pd.read_csv('winequality-red.csv.1', sep=';')
print(df.shape)
df.head(20)

(1599, 12)

    fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0             7.4             0.700         0.00  ...       0.56      9.4        5
1             7.8             0.880         0.00  ...       0.68      9.8        5
2             7.8             0.760         0.04  ...       0.65      9.8        5
3            11.2             0.280         0.56  ...       0.58      9.8        6
4             7.4             0.700         0.00  ...       0.56      9.4        5
5             7.4             0.660         0.00  ...       0.56      9.4        5
6             7.9             0.600         0.06  ...       0.46      9.4        5
7             7.3             0.650         0.00  ...       0.47     10.0        7
8             7.8             0.580         0.02  ...       0.57      9.5        7
9             7.5             0.500         0.36  ...       0.80     10.5        5
10            6.7             0.580         0.08  ...       0.54      9.2        5
11            7.5             0.500         0.36  ...       0.80     10.5        5
12            5.6             0.615         0.00  ...       0.52      9.9        5
13            7.8             0.610         0.29  ...       1.56      9.1        5
14            8.9             0.620         0.18  ...       0.88      9.2        5
15            8.9             0.620         0.19  ...       0.93      9.2        5
16            8.5             0.280         0.56  ...       0.75     10.5        7
17            8.1             0.560         0.28  ...       1.28      9.3        5
18            7.4             0.590         0.08  ...       0.50      9.0        4
19            7.9             0.320         0.51  ...       1.08      9.2        6

[20 rows x 12 columns]

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.

In [0]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"ezorigo","key":"c6406f9874d16b5a0d1d79003b324a04"}'}

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle

kaggle.json

In [0]:
!ls -l ~/.kaggle
!cat ~/.kaggle/kaggle.json

total 4
-rw------- 1 root root 63 Aug  6 21:10 kaggle.json
{"username":"ezorigo","key":"c6406f9874d16b5a0d1d79003b324a04"}

In [0]:
!pip install -q kaggle
!pip install -q kaggle-cli

     |████████████████████████████████| 81kB 5.0MB/s
     |████████████████████████████████| 5.3MB 9.8MB/s
     |████████████████████████████████| 102kB 27.4MB/s
     |████████████████████████████████| 51kB 20.2MB/s
     |████████████████████████████████| 112kB 49.5MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done

In [0]:
!kaggle datasets list

ref                                                         title                                                size  lastUpdated          downloadCount
----------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------
new-york-state/nys-environmental-remediation-sites          NYS Environmental Remediation Sites                   7MB  2019-08-06 08:12:04           1880
google/google-landmarks-dataset                             Google-Landmarks Dataset                            107MB  2019-08-06 12:00:24          10575
new-york-city/new-york-city-current-job-postings            New York City Current Job Postings                    3MB  2019-08-04 22:04:44           5867
eliasdabbas/search-engine-results-flights-tickets-keywords  Search Engine Results - Flights & Tickets Keywords   22MB  2019-08-01 11:51:13           1383
AnalyzeBoston/crimes-in-boston                              Crimes in Boston                                     10MB  2018-09-04 17:56:03           6600
jealousleopard/goodreadsbooks                               Goodreads-books                                     632KB  2019-06-14 16:35:05           6802
sudalairajkumar/chennai-water-management                    Chennai Water Management                             75KB  2019-06-19 03:42:44           5092
wkirgsn/electric-motor-temperature                          Electric Motor Temperature                           47MB  2019-06-19 11:12:41           2631
matheusfreitag/gas-prices-in-brazil                         Gas Prices in Brazil                                  3MB  2019-07-12 16:23:52           3871
r3w0p4/recorded-crime-data-at-police-force-area-level       Recorded Crime Data at the Police Force Area Level  300KB  2019-06-21 15:16:46           1416
jolasa/waves-measuring-buoys-data-mooloolaba                Waves Measuring Buoys Data                          599KB  2019-07-07 16:59:44            688
doit-intl/autotel-shared-car-locations                      Shared Cars Locations                                78MB  2019-01-10 13:06:00            730
Madgrades/uw-madison-courses                                UW Madison Courses and Grades 2006-2017              90MB  2018-05-15 18:58:25           1151
r3w0p4/bournemouth-venues                                   Venues in Bournemouth                                 3KB  2019-07-08 14:26:48            518
datafiniti/womens-shoes-prices                              Women's Shoe Prices                                  12MB  2019-06-24 22:50:14           9504
university-of-edinburgh/peace-agreements-dataset            Peace Agreements Dataset                              1MB  2018-03-05 16:39:50            518
citizen-ds-ghana/health-facilities-gh                       Ghana Health Facilities                              84KB  2018-09-03 01:19:24            630
inIT-OWL/vega-shrinkwrapper-runtofailure-data               Vega shrink-wrapper component degradation           408KB  2018-11-12 13:03:43            223
datafiniti/pizza-restaurants-and-the-pizza-they-sell        Pizza Restaurants and the Pizza They Sell           850KB  2019-05-30 00:21:21           4318
citylines/city-lines                                        Transit systems of world                              3MB  2019-03-25 16:53:05           1550

In [0]:
!kaggle datasets download -d google/google-landmarks-dataset

google-landmarks-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
!unzip google-landmarks-dataset.zip

Archive:  google-landmarks-dataset.zip
  inflating: boxes_split1.csv
  inflating: boxes_split2.csv
  inflating: index.csv
  inflating: test.csv
  inflating: train.csv

In [0]:
df = pd.read_csv('boxes_split1.csv')
print(df.shape)
df.head(20)

(53755, 2)

                  id                  box
0   03b4355b047c94b4  0.12 0.16 0.74 1.00
1   435986fb31b5f4f3  0.37 0.35 0.52 0.40
2   a8e1490b5f8d37e2  0.22 0.00 0.87 1.00
3   1078a00bdf260dad  0.10 0.00 0.70 1.00
4   6335ea2d8c6a995a  0.19 0.26 0.94 0.88
5   021c49099d5c9c95  0.06 0.09 0.64 0.89
6   050bb2b066695481  0.01 0.09 0.90 0.94
7   3d2103498429fca9  0.01 0.06 0.93 0.72
8   3bcbf789096329a0  0.04 0.18 0.86 0.81
9   15ac1d484c9d73f1  0.34 0.38 0.90 1.00
10  70c35139c2106d7b  0.17 0.00 0.50 1.00
11  ba16164dc79c8d6b  0.30 0.04 0.78 0.90
12  cbf006315854de47  0.06 0.00 0.60 0.94
13  423d04d4fb145ba4  0.16 0.00 0.78 0.96
14  b95f3a34e84c0cbd  0.14 0.21 0.85 0.55
15  10511d373e1b3194  0.05 0.00 1.00 1.00
16  07649f4229c3386f  0.36 0.47 0.60 0.63
17  0d3468a0be19c4d9  0.00 0.07 0.34 0.64
18  0650df74125ebf63  0.39 0.42 0.53 0.47
19  1774a7c091094fe4  0.00 0.33 0.45 0.87