<a href="https://colab.research.google.com/github/ryanleeallred/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module2-loadingdata/LS_DS_112_Loading_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice Loading Datasets

This assignment is purposely semi-open-ended you will be asked to load datasets both from github and also from CSV files from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php). 

Remember that the UCI datasets may not have a file type of `.csv` so it's important that you learn as much as you can about the dataset before you try and load it. See if you can look at the raw text of the file either locally, on github, using the `!curl` shell command, or in some other way before you try and read it in as a dataframe, this will help you catch what would otherwise be unforseen problems.

## 1) Load a dataset from Github (via its *RAW* URL)

Pick a dataset from the following repository and load it into Google Colab. Make sure that the headers are what you would expect and check to see if missing values have been encoded as NaN values:

<https://github.com/ryanleeallred/datasets>

In [0]:
# TODO your work here!
# And note you should write comments, descriptions, and add new
# code and text blocks as needed

In [0]:
import pandas as pd

In [0]:
?pd.read_csv

In [4]:
# even though it ends in csv doesn't actually return a csv file, must get from githubusercontent
# pd.read_csv("https://github.com/ryanleeallred/datasets/blob/master/heart.csv")
heart = pd.read_csv("https://raw.githubusercontent.com/ryanleeallred/datasets/master/heart.csv")
# looks like no missing values have been encoded as NaN values
print(heart.describe())
print(heart.isna().sum()) 
print(heart.head(20))

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]
age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64
    age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0    63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1    37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2    41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3    56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4    57    0   0       120   354    0  ...      1      0.6      2   0     2       1
5    57    1   0       140   192    0  ...      0      0.4      1   0     1       1
6    56    0   1       140   294    0  ...      0      1.3      1   0     2       1
7    44    1   1       120   263    0  ...      0      0.0      2   0     3       1
8    52    1   2       172   199    1  ...      0      0.5      2   0     3       1
9    57    1   2       150   168    0  ...      0      1.6      2   0     2       1
10   54    1   0       140   239    0  ...      0      1.2      2   0     2       1
11   48    0   2       130   275    0  ...      0      0.2      2   0     2       1
12   49    1   1       130   266    0  ...      0      0.6      2   0     2       1
13   64    1   3       110   211    0  ...      1      1.8      1   0     2       1
14   58    0   3       150   283    1  ...      0      1.0      2   0     2       1
15   50    0   2       120   219    0  ...      0      1.6      1   0     2       1
16   58    0   2       120   340    0  ...      0      0.0      2   0     2       1
17   66    0   3       150   226    0  ...      0      2.6      0   0     2       1
18   43    1   0       150   247    0  ...      0      1.5      2   0     2       1
19   69    0   3       140   239    0  ...      0      1.8      2   2     2       1

[20 rows x 14 columns]

## 2) Load a dataset from your local machine
Download a dataset from the [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/index.php) and then upload the file to Google Colab either using the files tab in the left-hand sidebar or by importing `files` from `google.colab` The following link will be a useful resource if you can't remember the syntax: <https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92>

While you are free to try and load any dataset from the UCI repository, I strongly suggest starting with one of the most popular datasets like those that are featured on the right-hand side of the home page. 

Some datasets on UCI will have challenges associated with importing them far beyond what we have exposed you to in class today, so if you run into a dataset that you don't know how to deal with, struggle with it for a little bit, but ultimately feel free to simply choose a different one. 

- Make sure that your file has correct headers, and the same number of rows and columns as is specified on the UCI page. If your dataset doesn't have headers use the parameters of the `read_csv` function to add them. Likewise make sure that missing values are encoded as `NaN`.

In [5]:
# chose https://archive.ics.uci.edu/ml/datasets/Parkinson+Dataset+with+replicated+acoustic+features+
parkinson = pd.read_csv("/content/ReplicatedAcousticFeatures-ParkinsonDatabase.csv")
print(parkinson.describe())
print(parkinson.isna().sum()) 
print(parkinson.head(20))
# No NaN values for this one either

        Recording      Status      Gender  ...     Delta10     Delta11     Delta12
count  240.000000  240.000000  240.000000  ...  240.000000  240.000000  240.000000
mean     2.000000    0.500000    0.400000  ...    1.331433    1.346381    1.346144
std      0.818203    0.501045    0.490922  ...    0.211297    0.221484    0.208819
min      1.000000    0.000000    0.000000  ...    0.777012    0.643132    0.748411
25%      1.000000    0.000000    0.000000  ...    1.192397    1.202525    1.206559
50%      2.000000    0.500000    0.000000  ...    1.333345    1.347297    1.331212
75%      3.000000    1.000000    1.000000  ...    1.472589    1.506674    1.475235
max      3.000000    1.000000    1.000000  ...    1.949679    1.918392    1.930103

[8 rows x 47 columns]
ID            0
Recording     0
Status        0
Gender        0
Jitter_rel    0
Jitter_abs    0
Jitter_RAP    0
Jitter_PPQ    0
Shim_loc      0
Shim_dB       0
Shim_APQ3     0
Shim_APQ5     0
Shi_APQ11     0
HNR05         0
HNR15         0
HNR25         0
HNR35         0
HNR38         0
RPDE          0
DFA           0
PPE           0
GNE           0
MFCC0         0
MFCC1         0
MFCC2         0
MFCC3         0
MFCC4         0
MFCC5         0
MFCC6         0
MFCC7         0
MFCC8         0
MFCC9         0
MFCC10        0
MFCC11        0
MFCC12        0
Delta0        0
Delta1        0
Delta2        0
Delta3        0
Delta4        0
Delta5        0
Delta6        0
Delta7        0
Delta8        0
Delta9        0
Delta10       0
Delta11       0
Delta12       0
dtype: int64
         ID  Recording  Status  Gender  ...    Delta9   Delta10   Delta11   Delta12
0   CONT-01          1       0       1  ...  1.403678  1.405495  1.416705  1.354610
1   CONT-01          2       0       1  ...  1.322870  1.314549  1.318999  1.323508
2   CONT-01          3       0       1  ...  1.438053  1.388910  1.305469  1.305402
3   CONT-02          1       0       0  ...  1.551286  1.638346  1.604008  1.621456
4   CONT-02          2       0       0  ...  1.640088  1.533666  1.297536  1.382023
5   CONT-02          3       0       0  ...  1.625396  1.651655  1.652845  1.427623
6   CONT-03          1       0       1  ...  1.345959  1.741863  1.828781  1.655604
7   CONT-03          2       0       1  ...  1.526714  1.647910  1.662981  1.609652
8   CONT-03          3       0       1  ...  1.447470  1.354798  1.585025  1.334293
9   CONT-04          1       0       1  ...  1.579521  1.374581  1.550638  1.572821
10  CONT-04          2       0       1  ...  1.555589  1.195330  1.555142  1.695319
11  CONT-04          3       0       1  ...  1.773099  1.529496  1.760172  1.478536
12  CONT-05          1       0       0  ...  1.385665  1.426097  1.515076  1.305066
13  CONT-05          2       0       0  ...  1.464589  1.375371  1.358033  1.662816
14  CONT-05          3       0       0  ...  1.545591  1.316806  1.377798  1.687215
15  CONT-06          1       0       1  ...  1.429692  1.331124  1.408082  1.359682
16  CONT-06          2       0       1  ...  1.529541  1.409931  1.477325  1.433082
17  CONT-06          3       0       1  ...  1.385652  1.360055  1.347033  1.456393
18  CONT-07          1       0       0  ...  1.514977  1.612537  1.790012  1.649126
19  CONT-07          2       0       0  ...  1.538804  1.536038  1.534848  1.552188

[20 rows x 48 columns]

## 3) Load a dataset from UCI using `!wget`

"Shell Out" and try loading a file directly into your google colab's memory using the `!wget` command and then read it in with `read_csv`.

With this file we'll do a bit more to it.

- Read it in, fix any problems with the header as make sure missing values are encoded as `NaN`.
- Use the `.fillna()` method to fill any missing values. 
 - [.fillna() documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)
- Create one of each of the following plots using the Pandas plotting functionality:
 - Scatterplot
 - Histogram
 - Density Plot

In [6]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data

--2019-08-06 22:25:01--  https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 191873 (187K) [application/x-httpd-php]
Saving to: ‘abalone.data.2’

abalone.data.2      100%[===================>] 187.38K  --.-KB/s    in 0.09s

2019-08-06 22:25:01 (1.99 MB/s) - ‘abalone.data.2’ saved [191873/191873]

In [7]:
# show first 15 lines
!cat /content/abalone.data |head -n 15

M,0.455,0.365,0.095,0.514,0.2245,0.101,0.15,15
M,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07,7
F,0.53,0.42,0.135,0.677,0.2565,0.1415,0.21,9
M,0.44,0.365,0.125,0.516,0.2155,0.114,0.155,10
I,0.33,0.255,0.08,0.205,0.0895,0.0395,0.055,7
I,0.425,0.3,0.095,0.3515,0.141,0.0775,0.12,8
F,0.53,0.415,0.15,0.7775,0.237,0.1415,0.33,20
F,0.545,0.425,0.125,0.768,0.294,0.1495,0.26,16
M,0.475,0.37,0.125,0.5095,0.2165,0.1125,0.165,9
F,0.55,0.44,0.15,0.8945,0.3145,0.151,0.32,19
F,0.525,0.38,0.14,0.6065,0.194,0.1475,0.21,14
M,0.43,0.35,0.11,0.406,0.1675,0.081,0.135,10
M,0.49,0.38,0.135,0.5415,0.2175,0.095,0.19,11
F,0.535,0.405,0.145,0.6845,0.2725,0.171,0.205,10
F,0.47,0.355,0.1,0.4755,0.1675,0.0805,0.185,10

In [8]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.names
!cat /content/abalone.names

--2019-08-06 22:25:03--  https://archive.ics.uci.edu/ml/machine-learning-databases/abalone/abalone.names
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4319 (4.2K) [application/x-httpd-php]
Saving to: ‘abalone.names.1’

abalone.names.1     100%[===================>]   4.22K  --.-KB/s    in 0s

2019-08-06 22:25:03 (119 MB/s) - ‘abalone.names.1’ saved [4319/4319]

1. Title of Database: Abalone data

2. Sources:

   (a) Original owners of database:
	Marine Resources Division
	Marine Research Laboratories - Taroona
	Department of Primary Industry and Fisheries, Tasmania
	GPO Box 619F, Hobart, Tasmania 7001, Australia
	(contact: Warwick Nash +61 02 277277, wnash@dpi.tas.gov.au)

   (b) Donor of database:
	Sam Waugh (Sam.Waugh@cs.utas.edu.au)
	Department of Computer Science, University of Tasmania
	GPO Box 252C, Hobart, Tasmania 7001, Australia

   (c) Date received: December 1995


3. Past Usage:

   Sam Waugh (1995) "Extending and benchmarking Cascade-Correlation", PhD
   thesis, Computer Science Department, University of Tasmania.

   -- Test set performance (final 1044 examples, first 3133 used for training):
	24.86% Cascade-Correlation (no hidden nodes)
	26.25% Cascade-Correlation (5 hidden nodes)
	21.5%  C4.5
	 0.0%  Linear Discriminate Analysis
	 3.57% k=5 Nearest Neighbour
      (Problem encoded as a classification task)

   -- Data set samples are highly overlapped.  Further information is required
	to separate completely using affine combinations.  Other restrictions
	to data set examined.

   David Clark, Zoltan Schreter, Anthony Adams "A Quantitative Comparison of
   Dystal and Backpropagation", submitted to the Australian Conference on
   Neural Networks (ACNN'96). Data set treated as a 3-category classification
   problem (grouping ring classes 1-8, 9 and 10, and 11 on).

   -- Test set performance (3133 training, 1044 testing as above):
	64%    Backprop
	55%    Dystal
   -- Previous work (Waugh, 1995) on same data set:
	61.40% Cascade-Correlation (no hidden nodes)
	65.61% Cascade-Correlation (5 hidden nodes)
	59.2%  C4.5
	32.57% Linear Discriminate Analysis
	62.46% k=5 Nearest Neighbour


4. Relevant Information Paragraph:

   Predicting the age of abalone from physical measurements.  The age of
   abalone is determined by cutting the shell through the cone, staining it,
   and counting the number of rings through a microscope -- a boring and
   time-consuming task.  Other measurements, which are easier to obtain, are
   used to predict the age.  Further information, such as weather patterns
   and location (hence food availability) may be required to solve the problem.

   From the original data examples with missing values were removed (the
   majority having the predicted value missing), and the ranges of the
   continuous values have been scaled for use with an ANN (by dividing by 200).

   Data comes from an original (non-machine-learning) study:

	Warwick J Nash, Tracy L Sellers, Simon R Talbot, Andrew J Cawthorn and
	Wes B Ford (1994) "The Population Biology of Abalone (_Haliotis_
	species) in Tasmania. I. Blacklip Abalone (_H. rubra_) from the North
	Coast and Islands of Bass Strait", Sea Fisheries Division, Technical
	Report No. 48 (ISSN 1034-3288)


5. Number of Instances: 4177


6. Number of Attributes: 8


7. Attribute information:

   Given is the attribute name, attribute type, the measurement unit and a
   brief description.  The number of rings is the value to predict: either
   as a continuous value or as a classification problem.

	Name		Data Type	Meas.	Description
	----		---------	-----	-----------
	Sex		nominal			M, F, and I (infant)
	Length		continuous	mm	Longest shell measurement
	Diameter	continuous	mm	perpendicular to length
	Height		continuous	mm	with meat in shell
	Whole weight	continuous	grams	whole abalone
	Shucked weight	continuous	grams	weight of meat
	Viscera weight	continuous	grams	gut weight (after bleeding)
	Shell weight	continuous	grams	after being dried
	Rings		integer			+1.5 gives the age in years

   Statistics for numeric domains:

		Length	Diam	Height	Whole	Shucked	Viscera	Shell	Rings
	Min	0.075	0.055	0.000	0.002	0.001	0.001	0.002	    1
	Max	0.815	0.650	1.130	2.826	1.488	0.760	1.005	   29
	Mean	0.524	0.408	0.140	0.829	0.359	0.181	0.239	9.934
	SD	0.120	0.099	0.042	0.490	0.222	0.110	0.139	3.224
	Correl	0.557	0.575	0.557	0.540	0.421	0.504	0.628	  1.0


8. Missing Attribute Values: None


9. Class Distribution:

	Class	Examples
	-----	--------
	1	1
	2	1
	3	15
	4	57
	5	115
	6	259
	7	391
	8	568
	9	689
	10	634
	11	487
	12	267
	13	203
	14	126
	15	103
	16	67
	17	58
	18	42
	19	32
	20	26
	21	14
	22	6
	23	9
	24	2
	25	1
	26	1
	27	2
	29	1
	-----	----
	Total	4177

In [9]:
# grab the text between the two tokens (7. Attribute information and 8. Attribute Values) to look at the names
!cat abalone.names | sed -n "/7. Attribute information:/,/8. Missing Attribute Values/p" | head -n-1 | tail -n+2 > snip.txt
!cat --number snip.txt

     1
     2	   Given is the attribute name, attribute type, the measurement unit and a
     3	   brief description.  The number of rings is the value to predict: either
     4	   as a continuous value or as a classification problem.
     5
     6		Name		Data Type	Meas.	Description
     7		----		---------	-----	-----------
     8		Sex		nominal			M, F, and I (infant)
     9		Length		continuous	mm	Longest shell measurement
    10		Diameter	continuous	mm	perpendicular to length
    11		Height		continuous	mm	with meat in shell
    12		Whole weight	continuous	grams	whole abalone
    13		Shucked weight	continuous	grams	weight of meat
    14		Viscera weight	continuous	grams	gut weight (after bleeding)
    15		Shell weight	continuous	grams	after being dried
    16		Rings		integer			+1.5 gives the age in years
    17
    18	   Statistics for numeric domains:
    19
    20			Length	Diam	Height	Whole	Shucked	Viscera	Shell	Rings
    21		Min	0.075	0.055	0.000	0.002	0.001	0.001	0.002	    1
    22		Max	0.815	0.650	1.130	2.826	1.488	0.760	1.005	   29
    23		Mean	0.524	0.408	0.140	0.829	0.359	0.181	0.239	9.934
    24		SD	0.120	0.099	0.042	0.490	0.222	0.110	0.139	3.224
    25		Correl	0.557	0.575	0.557	0.540	0.421	0.504	0.628	  1.0
    26
    27

In [10]:
# want to grab first word of lines 8 through 16
!sed -n '8,16p' snip.txt > snip2.txt # sed -n '16224,16482p;16483q' filename > newfile
!cat snip2.txt # looks good

	Sex		nominal			M, F, and I (infant)
	Length		continuous	mm	Longest shell measurement
	Diameter	continuous	mm	perpendicular to length
	Height		continuous	mm	with meat in shell
	Whole weight	continuous	grams	whole abalone
	Shucked weight	continuous	grams	weight of meat
	Viscera weight	continuous	grams	gut weight (after bleeding)
	Shell weight	continuous	grams	after being dried
	Rings		integer			+1.5 gives the age in years

In [14]:
# grab first word from each line
!cat snip2.txt | awk '{print $1}' > features.txt
import numpy as np
features = np.loadtxt('features.txt', dtype=str)
print( features )
# have features and 
abalone_df = pd.read_csv('/content/abalone.data', names=features)
print( abalone_df.head(15) )

['Sex' 'Length' 'Diameter' 'Height' 'Whole' 'Shucked' 'Viscera' 'Shell'
 'Rings']
   Sex  Length  Diameter  Height   Whole  Shucked  Viscera  Shell  Rings
0    M   0.455     0.365   0.095  0.5140   0.2245   0.1010  0.150     15
1    M   0.350     0.265   0.090  0.2255   0.0995   0.0485  0.070      7
2    F   0.530     0.420   0.135  0.6770   0.2565   0.1415  0.210      9
3    M   0.440     0.365   0.125  0.5160   0.2155   0.1140  0.155     10
4    I   0.330     0.255   0.080  0.2050   0.0895   0.0395  0.055      7
5    I   0.425     0.300   0.095  0.3515   0.1410   0.0775  0.120      8
6    F   0.530     0.415   0.150  0.7775   0.2370   0.1415  0.330     20
7    F   0.545     0.425   0.125  0.7680   0.2940   0.1495  0.260     16
8    M   0.475     0.370   0.125  0.5095   0.2165   0.1125  0.165      9
9    F   0.550     0.440   0.150  0.8945   0.3145   0.1510  0.320     19
10   F   0.525     0.380   0.140  0.6065   0.1940   0.1475  0.210     14
11   M   0.430     0.350   0.110  0.4060   0.1675   0.0810  0.135     10
12   M   0.490     0.380   0.135  0.5415   0.2175   0.0950  0.190     11
13   F   0.535     0.405   0.145  0.6845   0.2725   0.1710  0.205     10
14   F   0.470     0.355   0.100  0.4755   0.1675   0.0805  0.185     10

In [12]:
print(abalone_df.describe())
print(abalone_df.isna().sum()) #everything seems good in this one too

            Length     Diameter  ...        Shell        Rings
count  4177.000000  4177.000000  ...  4177.000000  4177.000000
mean      0.523992     0.407881  ...     0.238831     9.933684
std       0.120093     0.099240  ...     0.139203     3.224169
min       0.075000     0.055000  ...     0.001500     1.000000
25%       0.450000     0.350000  ...     0.130000     8.000000
50%       0.545000     0.425000  ...     0.234000     9.000000
75%       0.615000     0.480000  ...     0.329000    11.000000
max       0.815000     0.650000  ...     1.005000    29.000000

[8 rows x 8 columns]
Sex         0
Length      0
Diameter    0
Height      0
Whole       0
Shucked     0
Viscera     0
Shell       0
Rings       0
dtype: int64

In [0]:
?np.array_split
?np.split

## Stretch Goals - Other types and sources of data

Not all data comes in a nice single file - for example, image classification involves handling lots of image files. You still will probably want labels for them, so you may have tabular data in addition to the image blobs - and the images may be reduced in resolution and even fit in a regular csv as a bunch of numbers.

If you're interested in natural language processing and analyzing text, that is another example where, while it can be put in a csv, you may end up loading much larger raw data and generating features that can then be thought of in a more standard tabular fashion.

Overall you will in the course of learning data science deal with loading data in a variety of ways. Another common way to get data is from a database - most modern applications are backed by one or more databases, which you can query to get data to analyze. We'll cover this more in our data engineering unit.

How does data get in the database? Most applications generate logs - text files with lots and lots of records of each use of the application. Databases are often populated based on these files, but in some situations you may directly analyze log files. The usual way to do this is with command line (Unix) tools - command lines are intimidating, so don't expect to learn them all at once, but depending on your interests it can be useful to practice.

One last major source of data is APIs: https://github.com/toddmotto/public-apis

API stands for Application Programming Interface, and while originally meant e.g. the way an application interfaced with the GUI or other aspects of an operating system, now it largely refers to online services that let you query and retrieve data. You can essentially think of most of them as "somebody else's database" - you have (usually limited) access.

*Stretch goal* - research one of the above extended forms of data/data loading. See if you can get a basic example working in a notebook. Image, text, or (public) APIs are probably more tractable - databases are interesting, but there aren't many publicly accessible and they require a great deal of setup.