<a href="https://colab.research.google.com/github/iesous-kurios/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module3-databackedassertions/GJW_LS_DS_113_Making_Data_backed_Assertions_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Making Data-backed Assertions

This is, for many, the main point of data science - to create and support reasoned arguments based on evidence. It's not a topic to master in a day, but it is worth some focused time thinking about and structuring your approach to it.

## Assignment - what's going on here?

Consider the data in `persons.csv` (already prepared for you, in the repo for the week). It has four columns - a unique id, followed by age (in years), weight (in lbs), and exercise time (in minutes/week) of 1200 (hypothetical) people.

Try to figure out which variables are possibly related to each other, and which may be confounding relationships.

Try and isolate the main relationships and then communicate them using crosstabs and graphs. Share any cool graphs that you make with the rest of the class in Slack!

In [112]:
# TODO - your code here
# Use what we did live in lecture as an example

# HINT - you can find the raw URL on GitHub and potentially use that
# to load the data with read_csv, or you can upload it yourself

# import pandas to play with data
# and matplotlib for cool graphing stuff
import pandas as pd
import matplotlib.pyplot as plt

# load url into a variable
url = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-1-Sprint-1-Dealing-With-Data/master/module3-databackedassertions/persons.csv'

# I decided to upload the actual file instead of pulling from github to make it easier to deal with header. 
# create dataframe with url variable

df = pd.read_csv('/content/persons.csv')

df.head(10)

   Unnamed: 0  age  weight  exercise_time
0           0   44     118            192
1           1   41     161             35
2           2   46     128            220
3           3   39     216             57
4           4   28     116            182
5           5   58     103            165
6           6   55     161            107
7           7   21     188             37
8           8   55     216             79
9           9   50     127            267

In [156]:
pd.pivot_table(df, index=['age', 'weight'], values='exercise_time', aggfunc='mean')

            exercise_time
age weight
18  102             224.0
    114             104.0
    115             243.0
    116             199.0
    120             161.0
    122             271.0
    126              79.0
    135             156.0
    138             224.0
    140              47.0
    141             122.0
    148             182.0
    150             119.0
    161              85.0
    171             217.0
    184             119.0
    188             128.0
    191               9.0
19  108             262.0
    119             216.0
    121             115.0
    123             211.0
    136             192.0
    140              28.0
    152             222.0
    157             145.5
    158             174.5
    163             182.0
    166             103.0
    172              78.0
...                   ...
79  117             110.0
    126              17.0
    135              69.0
    142              89.0
    147              75.0
    160              73.0
    165               2.0
    166               4.0
    189              38.0
    203              37.0
    218              55.0
    230              62.0
80  127              39.0
    130              51.0
    136              43.0
    153              26.0
    168              87.0
    170              61.0
    180              69.0
    182              15.0
    186              87.0
    197              38.0
    206              19.0
    212              16.0
    216              22.0
    221              67.0
    225              55.0
    229              27.0
    238              34.0
    239               8.0

[1105 rows x 1 columns]

In [0]:
age_bins = pd.cut(df['age'], 5)
weight_bins = pd.cut(df['weight'], 5)
ex_bins = pd.cut(df['exercise_time'], 5)

In [154]:
pd.crosstab(ex_bins, [weight_bins, age_bins])

weight         (99.854, 129.2]               ... (216.8, 246.0]
age             (17.938, 30.4] (30.4, 42.8]  ...   (55.2, 67.6] (67.6, 80.0]
exercise_time                                ...
(-0.3, 60.0]                10            8  ...              8           15
(60.0, 120.0]                9           19  ...              1            7
(120.0, 180.0]              17           19  ...              0            0
(180.0, 240.0]              19           25  ...              0            0
(240.0, 300.0]              25           33  ...              0            0

[5 rows x 25 columns]

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  What are the variable types in the data?

depending on how I was working with it, the types changed from objects to int to float.  

2.  What are the relationships between the variables?

The variables related to the code calling them.  When just printing a feature I had int, when I added up the totals with value_counts it turned into an object.  

3.  Which relationships are "real", and which spurious?

I would say that a majority of the relationships were spurious.  It is a stretch to say that any correlations I found were accurate, due to missing data.  We don't know height, nor diet, and without these things it is hard to calculate BMI and determine the connection between the data.  A person could workout a lot for strength training and be gaining weight, while another could be exercising just as much with running and toning and losing weight.  A diet or sickness could also cause a change in weight.  I wouldn't feel confident saying that ay of the relationships were 'real' without getting more data.

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub.

- [Spurious Correlations](http://tylervigen.com/spurious-correlations)
- [NIH on controlling for confounding variables](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4017459/)

Stretch goals:

- Produce your own plot inspired by the Spurious Correlation visualizations (and consider writing a blog post about it - both the content and how you made it)
- Pick one of the techniques that NIH highlights for confounding variables - we'll be going into many of them later, but see if you can find which Python modules may help (hint - check scikit-learn)