<a href="https://colab.research.google.com/github/DAVIDnHANG/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module3-databackedassertions/LS_DS_113_Making_Data_backed_Assertions_Assignment_TurnIn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science - Making Data-backed Assertions

This is, for many, the main point of data science - to create and support reasoned arguments based on evidence. It's not a topic to master in a day, but it is worth some focused time thinking about and structuring your approach to it.

## Assignment - what's going on here?

Consider the data in `persons.csv` (already prepared for you, in the repo for the week). It has four columns - a unique id, followed by age (in years), weight (in lbs), and exercise time (in minutes/week) of 1200 (hypothetical) people.

Try to figure out which variables are possibly related to each other, and which may be confounding relationships.

Try and isolate the main relationships and then communicate them using crosstabs and graphs. Share any cool graphs that you make with the rest of the class in Slack!

In [0]:
!pip install pandas==0.23.4

In [0]:
# TODO - your code here
# Use what we did live in lecture as an example

import pandas as pd
import matplotlib.pyplot as plt

URL_person = 'https://raw.githubusercontent.com/DAVIDnHANG/DS-Unit-1-Sprint-1-Dealing-With-Data/master/module3-databackedassertions/persons.csv'
columns_name_person=('age','weight','exercise_time')
Person_CSV = pd.read_csv(URL_person, names = columns_name_person, header=1)

In [62]:
Weight_class = pd.cut(Person_CSV['weight'], 5)
ExerciseDuration = pd.cut(Person_CSV['exercise_time'],5)
AgeGroup = pd.cut(Person_CSV['age'],4)
crosstab = pd.crosstab(ExerciseDuration,[Weight_class,AgeGroup])
crosstab
crosstab_final = crosstab.iloc[1:5, 0:16 ]
crosstab_final
#crosstab_final.plot(kind='bar',figsize=(13,13))

weight         (99.854, 129.2]      ...       (187.6, 216.8]
age             (17.938, 33.5]      ...         (64.5, 80.0]
exercise_time                       ...
(60.0, 120.0]               14      ...                   23
(120.0, 180.0]              21      ...                    8
(180.0, 240.0]              24      ...                    0
(240.0, 300.0]              34      ...                    0

[4 rows x 16 columns]

In [66]:
#split the weight into two class. 
Weight_class = pd.cut(Person_CSV['weight'], 3)
ExerciseDuration = pd.cut(Person_CSV['exercise_time'],5)
AgeGroup = pd.cut(Person_CSV['age'],4)
crosstab = pd.crosstab(ExerciseDuration,[Weight_class,AgeGroup])
crosstab
crosstab_final = crosstab.iloc[1:5, 0:16 ]
crosstab_final
#crosstab_final.plot(kind='bar',figsize=(13,13))

weight         (99.854, 148.667]       ...        (197.333, 246.0]
age               (17.938, 33.5]       ...            (64.5, 80.0]
exercise_time                          ...
(60.0, 120.0]                 21       ...                      23
(120.0, 180.0]                37       ...                       3
(180.0, 240.0]                43       ...                       0
(240.0, 300.0]                53       ...                       0

[4 rows x 12 columns]

In [0]:
#Weight will be the Y variable because one can control the weight but its an influence by weight maybe age
#Age and exercise time will be the independent variable. One can always control amount of time to exercise, but not age.
#age might be inpendent because its correlated with time. The older you are you are probably retires and have time in your hands.
#the 19-33 means you have time school, work, club, alcholo, 
#33-50 is like buying house, settling down, know what you want in life
#50-65 maybe i have grandkids? more structure and rigid. 

#almost
#I excluded people who worked less than 1 hour per week. I want to included people who does 20 minute runs or jogs 3 days a week. At least the person exercise more than 2 days per week.
#i exluded people who was beyond 216 pounds. You have to be not alive to exercise.

#The younger and less than 158 pounds you are, the longer you exercise. 
#The lighter and older(64) you are, you tend to work out maybe you have time to work out. If you are above 216, you wont live for so long. But this might be due to the simpson paradox because you might be dead if your older and and heavier
#if you are at 200 pounds or more you tend to not work out more than 180 minutes a week. These are not athletes thatn is around 230 pounds.
# 
#i think if you are 200+ pounds you do not exercise for more than 180 minutes seem spurious. These data is more accurate on average folkd and not athletes.

#i think the heavier you are the less likely you are working out seems real. if you are an athlete, then stop being an athlete, the person will have an eagerness to drop weight below 200.
# if you are heavy you are probably not exercising, unless you have the ambitions. 
# if you are old, heavy your body is probably dieing
#if i split data between less than 158 and more than 159 the less than 159 seem to work out more.

### Assignment questions

After you've worked on some code, answer the following questions in this text block:

1.  What are the variable types in the data?
2.  What are the relationships between the variables?
3.  Which relationships are "real", and which spurious?

## Stretch goals and resources

Following are *optional* things for you to take a look at. Focus on the above assignment first, and make sure to commit and push your changes to GitHub.

- [Spurious Correlations](http://tylervigen.com/spurious-correlations)
- [NIH on controlling for confounding variables](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4017459/)

Stretch goals:

- Produce your own plot inspired by the Spurious Correlation visualizations (and consider writing a blog post about it - both the content and how you made it)
- Pick one of the techniques that NIH highlights for confounding variables - we'll be going into many of them later, but see if you can find which Python modules may help (hint - check scikit-learn)